[2020-11-16 11:37] #1360 closed

[2020-11-16 11:42] aloctavodia commented on #1195
Closing as we agree this is generally not that useful in a realistic modeling workflow. Feel free to reopen if you disagree

[2020-11-16 11:42] #1195 closed

[2020-11-16 12:40] aloctavodia commented on #1145
Closing as the recommended workflow is to generate the idata object.

[2020-11-16 12:40] #1145 closed

[2020-11-17 16:15] jburos opened #1443 "Labelling posterior draws from Stan using dims & coords"
## Short Description

I'm creating an arviz `InferenceData` object from a cmdstanpy fit, providing both `coords` and `dims` in order to label vector and array parameters with their decode.

The goal is to approximate the workflow described in [the example given for az.plot_forest](https://arviz-devs.github.io/arviz/api/generated/arviz.plot_forest.html).

Something like:

[code]

However, when I at

[2020-11-17 16:20] ahartikainen commented on #1443
Hi, can you do

    pip install git+https://github.com/arviz-devs/arviz

and try again.

There was a change how cmdstanpy handles the parameters (and we have updated it, but not yet released)

[2020-11-17 16:33] jburos commented on #1443
@ahartikainen Thank you! That fixed it. 🎉

[2020-11-17 16:33] #1443 closed

[2020-11-18 12:43] #1441 closed

[2020-11-18 15:37] jburos opened #1445 "`from_cmdstanpy` doesn't capture log_likelihood when provided as a dict"
**Describe the bug**

When using `from_cmdstanpy(CmdStanMCMC, log_likelihood = {'output_name': 'log_lik_parameter_name'})`, the log_likelihood group isn't returned in the az.InferenceData object.

However, if I use `from_cmdstanpy(CmdStanMCMC, log_likelihood = ['log_lik_parameter_name'])`, the log_likelihood group is created correctly.

In both cases the log_likelihood is correctly filtered out fr

[2020-11-18 15:51] ahartikainen commented on #1445
log_likelihood accepts `str` or a `list of str`. (See docstring)

What would be the purpose of that dict?

[2020-11-18 15:55] jburos commented on #1445
Ah, interesting. I was looking at [this pystan schema example in the User Guide](https://arviz-devs.github.io/arviz/schema/PyStan_schema_example.html):

[code]

Which includes a `dict` for the scenario where there are multiple observed values, each with a different log_likelihood.

[2020-11-18 15:56] ahartikainen commented on #1445
Ok, yeah. There could an option to rename values.

[2020-11-19 02:47] canyon289 commented on #1268
Closing this issue as part of issue  cleanup

[2020-11-19 02:47] #1268 closed

[2020-11-20 14:00] #842 closed

[2020-11-23 11:14] #1178 closed

[2020-11-23 18:31] #659 closed

[2020-11-25 02:54] OriolAbril commented on #1436
Assigned it to you! Thanks for your interest, let us know if you have any questions about the contributing process :smile:

[2020-11-26 18:35] michaelosthege opened #1451 "Non np.array coords cause hard to diagnose shape error"
**Describe the bug**
When one of the `coords` has a `tuple` as its values, the conversion to an xarray variable fails.

**To Reproduce**
A simple PyMC3 model that someone might write:
[code]

The underlying problem is in `base.py/numpy_to_data_array`:
[code]

Unhelpful traceback:

[code]

**Expected behavior**
I think all kinds of iterables (arrays, lists, tuples) are perfectly valid inputs for `c

[2020-11-30 15:23] dfm opened #1454 "ContextualVersionConflict when using from_numpyro"
**Describe the bug**
This is the strangest thing and I haven't been able to entirely work out what's going on but perhaps y'all have thoughts!

When using Google colab, I install numpyro with `--no-deps` so that it doesn't try to update JAX to the CPU-only version. Then, everything runs fine (the sampler runs and I get my trace) until I execute `az.from_numpyro()`, at which point it blows up with

[2020-11-30 15:31] ahartikainen commented on #1454
I think numpyro is imported when needed, not at arviz import.

[2020-11-30 15:37] dfm commented on #1454
@ahartikainen: Interesting - but there's no issue importing it from my main code!

[2020-11-30 15:53] ColCarroll commented on #1454
Can you share exactly how you're installing stuff? This throws a more sane error, and has `jax` version 0.2.6, which looks like it matches yours.

![image](https://user-images.githubusercontent.com/2295568/100631735-090d2000-32fa-11eb-8ade-5653c17157b2.png)

[2020-11-30 16:04] dfm commented on #1454
@ColCarroll: Sure! I go to https://colab.research.google.com, create a new notebook, and then put *exactly* the code above into it.

![Screen Shot 2020-11-30 at 11 03 51 AM](https://user-images.githubusercontent.com/350282/100633223-d106dc80-32fb-11eb-950f-18e6be2c1881.png)

Ref: https://colab.research.google.com/drive/1F1NNJbOoQnJ5b4D7yGOun8yCUBVv8CSd?usp=sharing

[2020-11-30 16:19] ColCarroll commented on #1454
Wow! Can repro, and can confirm that the same behavior happens with PRNGKey 86074.

More seriously, [the bug happens here](https://github.com/arviz-devs/arviz/blob/master/arviz/data/base.py#L265), when trying to grab the library version to stamp the inference data. This definitely shouldn't raise, and indicates that we're doing something wrong with `pkg_resources`, and maybe with lazy-loading libr

[2020-11-30 17:25] dfm commented on #1454
I find that changing the order of the imports *doesn't* fix the issue, but it does change the specific jax it finds: `jax 0.2.6` instead of `jaxlib 0.1.57+cuda101`.

[2020-11-30 17:35] ColCarroll commented on #1454
Wow, here's something terrible, then. Restarting then running again fixes it, with the imports in either order.

[2020-11-30 17:42] ahartikainen commented on #1454
https://github.com/rasbt/watermark/issues/15

Apparently installing Jupyter fixes this --> colab is not Jupiter.

[2020-11-30 17:53] dfm commented on #1454
@ColCarroll: I find that the truth of your statement is somewhat stochastic :D, but yes, sometimes restarting and running again works (but not always)!

@ahartikainen: Agreed - I haven't tried this on other platforms. I do think it's worth trying to figure out what's going on though because colab is a pretty good place to test all these GPU-based MCMC samplers and it's unfortunate if trying to use

[2020-12-02 02:49] canyon289 opened #1455 "Master Branch CI build failing"
**Describe the bug**
Builds on master are failing because of Theano-pymc.

Trying to work through issue here
https://github.com/pymc-devs/Theano-PyMC/pull/207

**To Reproduce**
https://dev.azure.com/ArviZ/ArviZ/_build/results?buildId=3642&view=logs&j=af9a1d3a-ff8f-5483-6823-86518c773a9b&t=fd8e2ff6-2de2-5933-42ea-542f233b6a4d&l=97

**Expected behavior**
Tests are passing

[2020-12-02 02:51] canyon289 commented on #1331
@OriolAbril I think this is done right? Can we close this issue?

[2020-12-02 02:51] #1314 closed

[2020-12-02 03:35] canyon289 commented on #1455
Theano-pymc master works on 3.8. Trying to see if CI installs from master things work

[2020-12-02 03:55] canyon289 commented on #1455
Very confused whats going on in CI. Is there a cache somwhere? This step works locally but not in Azure for some reason

![image](https://user-images.githubusercontent.com/7213793/100826413-241d8400-340f-11eb-84cc-808933c446bb.png)

[2020-12-03 19:59] karink520 opened #1457 "Broken link in docs"
Hi folks! Thanks for making arviz awesome!

**Describe the bug**
The link to the quickstart from the usage page in the docs (https://arviz-devs.github.io/arviz/usage.html) is broken - it sends you to https://arviz-devs.github.io/arviz/notebooks/Introduction.html.

(Fun fact: If you try to keep navigating through the menus after going through this broken link, things only get more messed up!)

**To

[2020-12-03 20:41] ahartikainen commented on #1457
Hi, thanks for the issue.

I think the correct page is https://arviz-devs.github.io/arviz/getting_started/Introduction.html that we probably missed when we refactored the docs.

To fix this, you need to change the link found in https://github.com/arviz-devs/arviz/blob/master/doc/source/usage.rst

[2020-12-03 21:07] ahartikainen commented on #1457
Yep, we should use relative links here, not the html.

If you want, you can create the PR and add `[doc]` to the title so it will upload the compiled docs to CI (Artifacts)

[2020-12-03 21:12] OriolAbril commented on #1457
As Ari says, I think the ideal fix would be first adding an anchor to the quickstart notebook and then changing the text in `usage` page to link to the anchor.

As we are using [MyST](https://myst-parser.readthedocs.io/en/latest/), anchors can be created in notebooks too using the extensions that myst adds to markdown using:

    (anchor_name)=

the [cookbook](https://github.com/arviz-devs/arviz/b

[2020-12-03 21:17] OriolAbril commented on #1331
I would keep this open. Only part of what is described here has been done. I should probably create some more issues and add them to the documentation project to remind us to work on the developer guide, getting started...

[2020-12-09 07:55] sperezconesa opened #1461 "Posterior predictive check (plot_ppc) with dataframe encoding."
Hello everyone!

I have a model which has two cases enconded in df['membrane_enc'], so this should give two indepently modelled likelyhoods and posteriors. I train the model in this fashion:
[code]
The model converges nicely and gives reasonable posteriors for the two encodings. The problem comes when I try to plot the posterior predictive. I cannot find the way to plot the two distinct ppc's in t

[2020-12-09 09:02] jmaronas opened #1462 "Rhat documentation is not clear"
Hi all.

I have been going through the Arviz library. In particular, when looking at the Rhat I see the following in the documentation here
https://arviz-devs.github.io/arviz/api/generated/arviz.rhat.html

I see five options given but they don't specify which actual Rhat is computing. I can more or less infer it but I think the documentation could be improved at this point. The options are:

`Sele

[2020-12-09 11:43] jmaronas commented on #1462
I have been going through the code and I think I know how arviz is doing things under the hood. I think the documentation can be improved for easy understand. I would write something like:

`identity`: Original Rhat as proposed in Gelman 1992
`split`     : Split Rhat as proposed in Gelman 2013
`z_scale` : Rank normalized split Rhat as proposed in vehtari et al section 4.1 equation 14
`folded`    :

[2020-12-10 12:56] aloctavodia commented on #1462
Hi @jmaronas , thanks for your interest. Do you want to do a PR?

[2020-12-10 13:29] jmaronas commented on #1462
sure, I'll do it. Which branch?

[2020-12-10 13:50] #1457 closed

[2020-12-10 18:51] aloctavodia commented on #1462
Create a new feature branch. More details [here](https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md)

[2020-12-12 21:39] #827 closed

[2020-12-12 23:25] #1455 closed

[2020-12-14 21:44] canyon289 opened #1465 "Fix badge icons for CI and Coverage status in docs"
**Describe the bug**
Badge display in docs is not correct
![image](https://user-images.githubusercontent.com/7213793/102139117-3daccb80-3e12-11eb-9b82-cedffe461ca7.png)

**To Reproduce**
https://arviz-devs.github.io/arviz/

**Expected behavior**
We want nice badge images like this one in the README
https://github.com/arviz-devs/arviz
![image](https://user-images.githubusercontent.com/7213793/10213

[2020-12-16 17:58] jsevo commented on #437
This should be reopened. The referenced fix in #783 contains a dead link.

https://arviz-devs.github.io/arviz/generated/arviz.from_cmdstan.html#arviz.from_cmdstan

[2020-12-16 18:56] jsevo opened #1466 "from_cmdstan should accept observed_data in json or as variable"
The below fails when providing a path to the data in `.json` format used by `cmdstan` itself. Per docstring, only data in `Rdump` format can be used. `Rdump` is not an ideal default data format.

`from_cmdstan` is lacking documentation; I could not find a workaround.

[code]

[2020-12-16 20:00] ahartikainen commented on #437
Our docs have been updated

Correct link is

https://arviz-devs.github.io/arviz/getting_started/InferenceDataCookbook.html#from-cmdstan

[2020-12-16 20:10] elnjensen opened #1467 "Labeling forest plots with alternate names (and colors) for variables"
## Short Description

I'm using arviz to make plots from a trace generated with pymc3, and I'd like more descriptive labels on the plots than the variable names themselves.

## Code Example or link

For example, using `plot_forest` I created the ridgeplot shown below:
[code]

![example_ridgeplot](https://user-images.githubusercontent.com/2545845/102400338-c7de6680-3faf-11eb-8218-6751196d1f42.png)

[2020-12-16 20:36] ahartikainen commented on #1466
Hi, yes we should update our `from_cmdstan` functionality. Would you be interested in adding a json support?

For short term solution I recommend you get posterior with `from_cmdstan` and then add data manually.

    import json
    with open("data.json", "w") as f:
        data_dict = json.load(f)
    idata_data = az.from_dict(observed_data=data_dict)
    idata_cmdstan = az.from_cmdstan(posterior

[2020-12-20 09:54] vedantd commented on #1465
Hey, I would like to take up the issue. I'm new to opensource and see this as a good starting beginner issue.

[2020-12-21 01:29] canyon289 commented on #1465
@vedantd I appreciate you taking initiative and wanting to fix this issue. Unfortunately ( or fortunately maybe), I just checked and the issue seems to have resolved itself. As is such I'm closing this ticket. If you are still interested in contributing to ArviZ though let me know and I can find another ticket for you.

[2020-12-21 01:29] #1465 closed

[2020-12-22 14:21] vedantd commented on #1465
Hey, I do want to make contributions but would appreciate it if you can
assign me and guide me through some beginner level issues as I am a bit
inexperienced and have never made prior open source contributions but want
to begin somewhere.

On Mon, Dec 21, 2020 at 6:59 AM Ravin Kumar <notifications@github.com>
wrote:

[2020-12-22 18:58] AlexAndorra opened #1468 "Switch to `compact=True` by default in our plots"
I see a lot of people confused by `plot_trace` failing, because they have lots of parameters in their model but are expecting the old PyMC behavior (which was to plot compact by default). It's true that plotting more than ~10 parameters separately easily becomes cumbersome.

Switching to `compact=True` by default should be easy enough and be more user friendly. Feel free to comment if you want to

[2020-12-22 19:03] AlexAndorra opened #1469 "Add helper function to easily stack `chain` and `draws` dimensions"
Stacking chains and draws is often useful when one doesn't care about which chain a draw is coming from. This is currently possible by doing `idata.posterior.stack(sample=("chain", "draw"))`, but very few people seem to know that.

Adding a helper function to easily stack the `chain` and `draws` dimensions into a `sample` dimension would go a long way towards making users' life easier, as well as

[2020-12-22 19:12] AlexAndorra opened #1470 "Deprecate the use of `from_pymc3` outside the model context"
When people give PyMC's `MultiTrace` objects to ArviZ functions outside the model context, this raises a `FutureWarning` because it calls `az.from_pymc3` under the hood, which is supposed to stop working without a model context.

As this warning has been there for a while now, we should actually go ahead and deprecate this possibility, especially as [PyMC is going to switch](https://github.com/pym

[2020-12-22 23:04] canyon289 opened #1471 "Master Branch builds failing again due to installation problems"
**Describe the bug**
Master branch builds failing due to some change in downstream packages. Looks like something changed with TFP and/or PyMC3

**To Reproduce**
https://dev.azure.com/ArviZ/ArviZ/_build/results?buildId=3680&view=logs&j=af9a1d3a-ff8f-5483-6823-86518c773a9b&t=91d5999d-c3e7-502d-15b0-1abfa51eab6f&l=14

**Expected behavior**
CI Passes

[2020-12-22 23:29] canyon289 commented on #1471
Rerunning pipeline to see if PyMC3 install error persists. IT was some clone error so I hope its a one off.

https://dev.azure.com/ArviZ/ArviZ/_build/results?buildId=3681&view=results

[2020-12-23 05:35] ahartikainen commented on #1469
Is there a reason we can not add this when we create InferenceData? Would anything change or break? I think it would only add one more dimension, but everything else is same?

[2020-12-23 06:37] Justin-1993 commented on #1468
Hello, I would like to take on this Issue.  This would be my first open source contribute if that is ok

[2020-12-23 09:41] AlexAndorra commented on #1469
I don't think anything would break, as you can still access `chain` and `draw` after stacking, but I'm not sure I'd add it by default -- if another easy solution to add this feature exists I mean.
The reason is just that it adds yet another dimension, so it makes the ID heavier and, most importantly, can be confusing for people who don't need this. Generating it on-demand would be the best case sc

[2020-12-23 09:57] AlexAndorra commented on #1471
Thanks for dealing with this @canyon289 !
It seems like #1473 [encountered this error too](https://dev.azure.com/ArviZ/ArviZ/_build/results?buildId=3690&view=logs&j=c386d60b-d885-573f-0dc9-50acbfdb69a9&t=c10daa47-4c46-5692-7e81-5600bbd0e0b2&l=15) -- does this help a bit with the diagnosis?

[2020-12-23 15:43] canyon289 opened #1474 "TFP is pinned to 0.11.0"
A deprecation in Edward in TFP 0.12.0 is causing issues with our converter and CI.

**Expected Resolution**
We figure out if were going to have support new and old TFP, just one and then fix ArviZ appropriately

_Originally posted by @canyon289 in https://github.com/arviz-devs/arviz/issues/1472#issuecomment-749960630_

[2020-12-23 15:43] canyon289 commented on #1474
See https://github.com/arviz-devs/arviz/issues/1471 for more details

[2020-12-23 15:44] #1471 closed

[2020-12-23 15:44] canyon289 commented on #1471
@AlexAndorra I merged https://github.com/arviz-devs/arviz/issues/1471 which should fix. Rebase your PR and you should be good to go

[2020-12-24 09:26] #1468 closed

[2020-12-25 00:09] canyon289 opened #1479 "Add example to az.plot_hdi that shows how to plot hdi from InferenceData posterior or posterior predictive"
## Tell us about it
The `az.plot_hdi` docs only show how to plot the hdi from synthetic data. What would be nice is if it also shows users how to plot the hdi from an `az.InferenceData` as thats the standard data representation most people will be working with.

![image](https://user-images.githubusercontent.com/7213793/103111300-5d0cdb00-4600-11eb-973e-3c710b4a63cc.png)

## Thoughts on implementa

[2020-12-28 04:43] canyon289 commented on #1467
Hey @elnjensen, this is a workaround solution, for the names I modify them in the source object, in this case trace, and they'll be renamed in the plot. Not the most elegant but it works.

For the alternating colors, thats a neat idea. Off the top of my head I cant think of an api, but  I suppose the most natural thing to do would be to copy matplotlibs implementation. Thank you for the suggestion

[2020-12-28 04:45] canyon289 commented on #1301
Closing as this seems to have been addressed

[2020-12-28 04:45] #1301 closed

[2020-12-28 04:46] canyon289 commented on #1279
Im not sure but I feel like this issue has been resolved. Closing for now and if Im mistaken someone comment and we can reopn

[2020-12-28 04:46] #1279 closed

[2020-12-28 10:59] CloudChaoszero opened #1482 "Arviz Docs Website down?"
**Describe the bug**

* Is the Arviz Docs website down? https://arviz-devs.github.io

I tried both HTTPS & HTTP, and receive same results

![Screen Shot 2020-12-28 at 2 58 05 AM](https://user-images.githubusercontent.com/19514362/103209726-9ec7ab00-48b8-11eb-8c6c-27acbc95352b.png)

I can assume that maybe it wasn't fully rebuilt, but unsure.

[2020-12-28 13:04] ColCarroll commented on #1482
Can confirm that https://arviz-devs.github.io/arviz/ is down.

Here are [some logs](https://dev.azure.com/ArviZ/ArviZ/_build/results?buildId=3713&view=logs&j=5e60a62b-366f-55f7-ec2d-5209191ccb17&t=3b19a6af-f535-5ba4-1e9a-379fb7d07d81), and it looks like the most suspicious line is

[code]

[2020-12-28 13:48] ahartikainen commented on #1482
Site works for me?
'https://arviz-devs.github.io/arviz/

[2020-12-28 14:23] aloctavodia commented on #1482
It was down, I re-built the docs (or maybe some else did some magic) and it seems it is working again. Thanks @CloudChaoszero for the report.

[2020-12-28 14:24] #1482 closed

[2020-12-29 15:45] OriolAbril commented on #1301
It is probably worth it to tag #1469 to add even better ways to extract the draws combining chains, as simple chains... and to #641 to create a "Working with InferenceData" notebook that should probably show this

[2020-12-29 18:04] OriolAbril commented on #1466
We added an [`add_groups`](https://arviz-devs.github.io/arviz/api/generated/arviz.InferenceData.add_groups.html#arviz.InferenceData.add_groups) not long ago which I think will be convenient in this case.

Something like the code below should work.

[code]

[2020-12-29 18:30] OriolAbril commented on #1461
Hi!

Can you share the netcdf file or some code to generate fake data with the same/similar dims? I think I have a vague idea of the issue but I'd like to be sure before diving in.

[2020-12-30 16:58] vardaan-raj commented on #1436
Hello! I am very much interested and would like to start off. Is it open and if so ,can you assign it to me ?

[2021-01-01 17:44] canyon289 commented on #1436
@vardaan-raj It is open and I will assign it to you right now!

[2021-01-02 13:32] yanpanlau commented on #1279
I confirmed that using pm.Potential() works beautifully but not pm.DensityDist()

[2021-01-02 19:35] Jacques2101 opened #1483 "Error message with az.plot_trace(trace_)"
Hi, I tried the simple code but get an error message that I do not understand.

Any ideas ?
Thx

## Code
[code]

## Error message
[code]

## Versions and main components
* PyMC3 Version:  3.8
* Theano Version:  1.0.4
* Arviz: 0.10.0
* Python Version: 3.8.5
* Operating system: macOS Big Sur 1.1

[2021-01-02 20:49] OriolAbril commented on #1483
Hi @Jacques2101 the message you posted is only a warning, you should still get the plot generated, if you don't please share the whole error message as there may be something else happening.

When you call `plot_trace` with a `pm.MultiTrace` object, ArviZ first converts the data to [InferenceData](https://arviz-devs.github.io/arviz/getting_started/XarrayforArviZ.html) (see also this [blogpost](htt

[2021-01-03 13:15] Jacques2101 opened #1485 "ExecutableNotFound: failed to execute ['dot', '-Tsvg']"
Hi, any help needed. I get this error message with my code.
I found some site that try to solve this problem but not helping me solve this error message. I tried to add for example:
[code]
at the beginning of the packages import.

**Describe the bug**
got an error message with the code below
`ExecutableNotFound: failed to execute ['dot', '-Tsvg'], make sure the Graphviz executables are on your sys

[2021-01-03 13:27] OriolAbril commented on #1483
Closing as I see @Jacques2101 is now using `return_inferencedata=True` in #1485

[2021-01-03 13:27] #1483 closed

[2021-01-03 13:32] OriolAbril commented on #1485
I think this issue should be opened in graphviz, ArviZ does not have graphviz as dependency nor uses it anywhere. PyMC3 uses it in `pm.model_to_graphviz` which is what is triggering the error, but the root issue does not seem to be with this pymc function. It looks like an installation issue with graphviz. Maybe [this](https://github.com/conda-forge/graphviz-feedstock/issues/15#issuecomment-306341

[2021-01-03 13:32] #1485 closed

[2021-01-04 09:21] sperezconesa commented on #1461
Hello,
I think I narrowed down where the problem is. The problem is that in my_model_trace.observed_data and my_model_trace.posterior_predictive the data is 1d. plot_ppc does not know how to split it into chunks according to a label array. I made this quick hack but it is far from ideal:
[code]
for every label it generates a new 1-d data set in trace with values where the mask is true and NaN else

[2021-01-05 09:15] OriolAbril commented on #1461
Still not sure what is the structure of the data, sorry. I understand you want to get something like the 3rd and 4th examples in https://arviz-devs.github.io/arviz/api/generated/arviz.plot_ppc.html but `flatten=[]` nor other flatten combinations work. Is that right?

`flatten` should take care of these cases, but it's possible yours escapes its current capabilities and it needs to be improved. CAn

[2021-01-05 14:07] sperezconesa commented on #1461
Yes, like those examples. I have tried a lot of combinations and none seem to work.
Here is the output:
![image](https://user-images.githubusercontent.com/27727343/103655398-777f7680-4f67-11eb-98ef-1870e6b8e7ec.png)
Although I have changed a bit how I generate the data:
[code]

[2021-01-06 16:01] OriolAbril commented on #1461
Your `like_dim_0` in `observed_data` and your `like_dim_0` and `1` in `posterior predictive` are all ranges, unlike in the example in the docs, there is no information available to have ArviZ group the data the way you want it to be grouped. This is why to group the data in your manual plotting code you need to index using masks based on `label_array`, ArviZ however has no access to this informati

[2021-01-06 18:46] burnpanck commented on #1279
I did also run into this issue, also following PyMC3 tutorials to add a custom (black-box) likelihood instead. I don't know the relation between arviz and pymc3, but this definitely is still a bug in one of the two libraries.

[2021-01-07 16:09] sperezconesa commented on #1461
Thanks for the pointers, now the code looks like:
[code]
I have added labels to `like_dim_1' and renamed the coordinates that represent the encoding. Now I get the result I was looking for:
![image](https://user-images.githubusercontent.com/27727343/103910664-610f2180-5105-11eb-841a-7310ae5eb413.png)
Thanks a lot for your help!

[2021-01-07 16:09] #1461 closed

[2021-01-07 19:53] OriolAbril commented on #1461
Glad I could be of help!

[2021-01-08 01:26] OriolAbril opened #1486 "Write "Working with InferenceData" page"
## Tell us about it
As part of the documentation revamp described in #1331. We should add a page explaining how to work with `InferenceData` and show several common tasks. The guide should cover at least the following topics:

* [ ] modifying, transforming and/or creating a variable within an InferenceData group or groups. See #641
* [ ]  how to combine/merge/extend multiple InferenceData objects

[2021-01-08 01:26] OriolAbril commented on #641
Closing in favour of #1486

[2021-01-08 01:26] #641 closed

[2021-01-08 01:40] OriolAbril opened #1487 "Write installation guide"
## Tell us about it
Write a page about ArviZ installation that covers the basic pip and conda commands and extends with installation of optional dependencies, when should they be installed and a link to dedicated docs about using the capabilities of these optional dependencies (if necessary) for example to the [Numba](https://arviz-devs.github.io/arviz/user_guide/Numba.html) page. See #1331 for ex

[2021-01-08 02:03] OriolAbril opened #1488 "Write plotting with ArviZ guides"
## Tell us about it

Write a guide (one per backend) about plotting with ArviZ. It should not be about what to plot (what to plot would be in the educational resources) and focus on _how_. It should at least cover the following:

* [x] ~Sorting subplots. This [PyMC3 discourse topic](https://discourse.pymc.io/t/control-the-order-of-coordinates-in-arviz-inferencedata/4812?u=oriolabril) has many opti

[2021-01-08 02:19] OriolAbril opened #1489 "Write conversion guides"
## Tell us about it

Convert the cookbook into a collection of notebooks (one per PPL) with extended documentation on the respective converter function `from_xyz`. PPL tracker:

* [ ] PyMC3 (if the examples below are good enough it's only a matter of putting the notebook together)
* [ ] PyStan
* [ ] CmdStanPy
* [ ] Pyro
* [ ] NumPyro
* [ ] emcee (there are extensive examples in the [from_emcee](ht

[2021-01-08 02:20] OriolAbril commented on #1489
Tagging as Discussion for now until we agree on what kind of conversion tasks and models we want to use for our ArviZ rosetta stone

[2021-01-08 02:35] canyon289 opened #1490 "Add dataframe to InfData examples to cookbook"
## Tell us about it
Add dataframe to InfData examples to cookbook

https://arviz-devs.github.io/arviz/getting_started/InferenceDataCookbook.html?highlight=cookbook

[code]

[2021-01-08 02:59] ColCarroll commented on #1490
Note that this is reasonably also a recipe for csv -> InferenceData, which is reasonably a recipe for a (tidy) dataframe in R to turn into InferenceData.

By "tidy" I specifically mean, it would have a "draw" and "chain" column, and each row would correspond to a single draw from a single chain of an mcmc run.

[2021-01-11 03:35] ColCarroll opened #1496 "Enable type checking and adding typing_copilot to dev/CI environment"
This is to help track and discuss adding [typing_copilot](https://github.com/obi1kenobi/typing-copilot) as a dev dependency, and as part of the CI for arviz.

## TL;DR
We add type checking to pull request checks, and another tool to enforce that our type checking is only getting stronger.

## Slightly longer
This is a discussion over whether we want to do two things:
1. Add a type check step to CI

[2021-01-11 03:40] ColCarroll commented on #1496
My initial thought, for what it is worth, is that we aim to get this in after the next release, and give it a test run. If nothing else, I bet the experience of a maturing code base adding typing will be an interesting experiment, and we'll all learn something. It also seems easy to get rid of.

[2021-01-11 12:16] shivam5522 commented on #1490
I would like to contribute to this. Can someone exactly guide me what should I do in this?

[2021-01-13 08:18] OriolAbril commented on #1490
Hi @shivam5522, welcome!

The [cookbook page](https://arviz-devs.github.io/arviz/getting_started/InferenceDataCookbook.html) in the docs is generated from a jupyter notebook that you can find at https://github.com/arviz-devs/arviz/blob/master/doc/source/getting_started/InferenceDataCookbook.ipynb. The idea of this issue is to follow the pattern of `np.ndarray` and `dict` and add a couple cells to

[2021-01-15 00:18] orbidder opened #1499 "arviz.summary() indexes parameters from 0, instead of taking the index described in coordinates"
**Describe the bug**
Stan indexes from 1. When calling arviz.summary(), the parameters are indexed from 0, regardless of the coordinates specified in the arviz.from_pystan() call.

**To Reproduce**
[code]

**Expected behavior**
az.summary() should number the parameters 1-9, as is specified in the coords, in the same way that plot_forest does.

**Additional context**
I think this is particular to p

[2021-01-16 01:36] #1053 closed

[2021-01-19 02:17] canyon289 commented on #1496
Do it :D

[2021-01-19 06:31] canyon289 commented on #1499
This sounds very reasonable and I appreciate you pointing it out!

[2021-01-19 06:34] obi1kenobi commented on #1496
If #1498, #1503, and #1505 get merged, then `typing_copilot` is able to generate a minimal `mypy.ini` that will pass and can be used as a starting point for the type quality ratchet:
[code]

To reproduce the above, make sure you have `arviz` itself installed in your local venv (e.g. via `pip install -e .`) from which you are running the `typing_copilot` commands. The error message `typing_copilot`

[2021-01-19 07:05] OriolAbril commented on #1496
I am completely on board with using typing_copilot, my only concern is that as it has been shown in all the typing related PRs, I barely know anything about typing (thank you so much @obi1kenobi for all the explanations by the way) and will probably not be able to help contributors fix typing issues that come up.

I know it's still a work in progress at a very early stage, but could we also add/su

[2021-01-19 07:10] OriolAbril commented on #1499
I think #1201 would fix this. Maybe we should rebase and try to get it through the finish line.

[2021-01-19 21:57] canyon289 opened #1507 "Make exception consistent between plot_pair and plot_parallel"
## Tell us about it
Both `plot_pair` and `plot_parallel` require two variables. The warning message indicating so is inconsistent however. It would be nice if they could be made the same, both in Exception type and in verbiage.

https://github.com/arviz-devs/arviz/blob/master/arviz/plots/parallelplot.py#L119
https://github.com/arviz-devs/arviz/blob/master/arviz/plots/pairplot.py#L238

Screenshots

[2021-01-19 22:31] orbidder commented on #1499
No problem!

[2021-01-20 10:09] ricardoV94 opened #1509 "Add include_transformed option when computing ESS"
I am moving this old pymc3 issue https://github.com/pymc-devs/pymc3/issues/3626 here.

That issue asked for a flag to include/exclude transformed_variables when computing the ESS. My understanding is that Arviz does not really distinguish between those natively or does it? Also I am not sure how the ESS is computed, but wouldn't it be the same for transformed and the untransformed version?

Simila

[2021-01-20 11:29] AlexAndorra commented on #1509
Thanks for transferring the issue @ricardoV94 !

Yeah, I don't know how this relates to ESS either, but I can see that being quite useful when exploring a model with divergences, as it's usually better to examine the parameters in the space that the sampler uses.

We talked about that on the ArviZ Slack (cc @ahartikainen @aloctavodia and @ColCarroll), and a potentially nice way would be to store t

[2021-01-20 11:30] aloctavodia commented on #1509
The ESS and Rhat diagnostics should be the same for transformed and untransformed variables.

[2021-01-20 11:34] aloctavodia commented on #1509
BTW this meta-data could also help to identify circular variables

[2021-01-20 15:22] #416 closed

[2021-01-21 17:53] alex-ivanoff commented on #1507
Hi, I am a beginner. In the contributing guidelines it says to confirm that no one else is working on this. If no one is, I'd love to help.

[2021-01-21 18:48] OriolAbril commented on #1507
Hi @alex-ivanoff welcome to ArviZ!

Nobody is working on this yet, you are welcome to do so. I will assign the issue to you to make it clear. Don't hesitate to ask here or on gitter if you have any question

[2021-01-21 19:37] OriolAbril opened #1514 "Update from_xyz converters to follow schema conventions"
We recently merged #1063 after deciding on the "ArviZ name" for each of the parameters.

* [x] from_numpyro: @utkarsh-maheshwari updated it with #1525
* [x] from_pyro requires no extra work
* [x] from_emcee requires no extra work
* [x] from_cmdstan: @utkarsh-maheshwari updated it with #1541
* [x] from_pymc3: @madhucharan working on it
* [x] from_pystan: @madhucharan working on it
* [x] from_cmdsta

[2021-01-22 02:50] alex-ivanoff commented on #1507
Hi @OriolAbril!

Thank you! Just submitted my first pull, it probably has a (lot of) mistake(s) but I'm here to learn and contribute. When running tests, I received an Error message "ImportError: attempted relative import with no known parent package", so not completely confident.

[2021-01-22 09:43] ahartikainen opened #1516 "Link formatting wrong"
https://arviz-devs.github.io/arviz/usage.html

See

    If new to the library the best place to start is the :ref:`quickstart <quickstart>`_

[2021-01-22 17:39] OriolAbril commented on #1516
It looks like it's the ending underscore. I have deleted and managed to properly build docs locally with the link working.

[2021-01-22 18:08] OriolAbril commented on #1507
As you saw in the PR, all tests passed, so I am guessing that it is probably an issue with installing all the dependencies necessary to build the docs. These should be `requirements.txt`, `requirements-docs.txt`, `requirements-dev.txt` and `requirements-optional.txt` plus some extra dependencies (that cannot be installed with pip) to save bokeh images as png, see [step 4](https://arviz-devs.github

[2021-01-22 18:08] #1507 closed

[2021-01-23 08:21] #1516 closed

[2021-01-23 08:28] OriolAbril commented on #1424
I think this has been solved now, should we add a test to check it does not come up again before closing though?

[2021-01-23 11:31] michaelosthege commented on #1424
I don't think we'll need a test, because the fixed shape handling is tested thoroughly in PyMC3.

[2021-01-23 11:31] #1424 closed

[2021-01-23 20:03] utkarsh-maheshwari commented on #1514
Hello community,
I am a beginner in Open Source. I have been following all the issues related to this issue and read the whole discussion.

I maybe wrong, but shouldn't "potential energy" be matched to "model_logp" and not "lp" because pyMC3 uses "model_logp" to depict potential energy according to this [comment](https://github.com/arviz-devs/arviz/pull/1063#issuecomment-589771200) ?
![image](http

[2021-01-24 00:19] OriolAbril commented on #1514
Hi, welcome! This screenshot is actually a very good example to illustrate the issue and the motivation behind establishing this sample stats naming convention.

One of the goals of ArviZ is to be backend agnostic, thus, once converted to InferenceData, there should be no differences other than the attributes (where we store the date, libraries used to get the samples and versions...). However, ea

[2021-01-24 06:09] utkarsh-maheshwari commented on #1514
Thanks a lot. I got it now. I was confused because of that comment "# match PyMC3 stat names". It should be "# match arviZ stat names", right?

[2021-01-25 19:55] antreev-brar commented on #1490
I would like to contribute to this.

[2021-01-25 21:33] OriolAbril commented on #1490
Hi @antreev-brar as per our [contributing guide](https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md#if-the-issue-ticket-has-someone-assigned-to-it) it has been two weeks since the issue was assigned and there has been no further activity we can assign it anew to you. However, given it has been exactly two weeks, if you don't mind let's wait until tomorrow before you start to give @shi

[2021-01-26 19:56] OriolAbril opened #1523 "Renamed GitHub default branch: how to update your ArviZ repo"
## Short Description
We have just renamed the default branch for the ArviZ repo to `main`, the change has not affected open PRs nor git history, but forks and local repos can't be updated automatically. Here is some guidance on how to update your local repo and/or fork. GitHub will already warn you and show messages guiding you through the process, but in case someone needs it, here are the steps.

[2021-01-27 14:29] arungrace88 commented on #1487
Hello,
I would like to contribute on this issue. Just to let you know that I am a beginner in this open-source contribution journey.

[2021-01-27 18:08] OriolAbril commented on #1487
Hi! Welcome! Thanks for taking on this issue. Let us know if you need any help.

[2021-01-27 18:40] utkarsh-maheshwari commented on #1514
If no one is working on `from_numpyro`, may I start with it?

[2021-01-27 18:42] OriolAbril commented on #1514
That would be great, thanks!

[2021-01-27 19:12] fonnesbeck opened #1524 "Variable names in element labels for `plot_forest` should be optional"
Currently, creating a forest plot with `plot_forest` uses `<var name> <coordinate name>` as the scheme for labels on the y-axis. This creates a slew of repeated variable names in the labels, which I would guess is almost always undesirable (particularly when you have nice element labels as coordinates in the dataset):

<img width="508" alt="Screen Shot 2021-01-27 at 1 02 58 PM" src="https://user-i

[2021-01-27 20:00] utkarsh-maheshwari commented on #1514
Done. submitted my first pull request in any Organization. Thanks a lot @OriolAbril for helping with understanding the issue.

[2021-01-27 20:46] AlexAndorra commented on #1524
What would probably be even better is if we displayed the var_name + coords
only once and then only the coords. Not sure how much harder that would be
🤔

Le mer. 27 janv. 2021 à 20:12, Chris Fonnesbeck <notifications@github.com>
a écrit :

[2021-01-27 21:46] fonnesbeck commented on #1524
Yeah, that's what I meant by the second comment. If there is only one variable it should probably only use the coord names.

[2021-01-28 04:28] fonnesbeck commented on #1524
How about something like this (using the `mpl_plot_forest_ridge` example):

<img width="897" alt="Screen Shot 2021-01-27 at 10 23 03 PM" src="https://user-images.githubusercontent.com/81476/106089777-4ae5f700-60ee-11eb-8a84-5a343ff99827.png">

here is the current behavior:

![Figure_1](https://user-images.githubusercontent.com/81476/106090062-de1f2c80-60ee-11eb-80e8-20962e5db01a.png)

Got a PR rea

[2021-01-28 04:33] ColCarroll commented on #1524
I like it!

On Wed, Jan 27, 2021, 11:29 PM Chris Fonnesbeck <notifications@github.com>
wrote:

[2021-01-28 04:38] fonnesbeck commented on #1524
... and in Bokeh

<img width="562" alt="Screen Shot 2021-01-27 at 10 37 21 PM" src="https://user-images.githubusercontent.com/81476/106090662-55a18b80-60f0-11eb-8419-cc51bcddacda.png">

[2021-01-29 20:36] #1524 closed

[2021-01-31 09:53] chrhck opened #1529 "from_pyro fails when MCMC is run on GPU"
When MCMC is performed on a GPU, from_pyro fails, as the sites returned by
`trace = pyro.poutine.trace(self.model).get_trace(*self._args, **self._kwargs)` can be tensors that still live on the GPU.
This will cause this line to break:
https://github.com/arviz-devs/arviz/blob/1f3b8fd0eaafcf58aad09a80d309b2a4b40dd191/arviz/data/io_pyro.py#L231

Since there is currently no easy way of transferring a p

[2021-01-31 10:09] ahartikainen commented on #1529
That sounds ok solution.

Is there a way to see if the trace is on cpu or gpu? And should we unpack data from gpu in one step or one-by-one (when numpy array is creates)

[2021-02-01 15:10] aakhmetz opened #1530 "Posterior variable type is assigned to 'int' however it should be 'real'"
**Describe the bug**
I run cmdstan when I do generated quantities for, let's say, vector[D] Pr.
However, when I analyze the traces and load it with arviz.from_cmdstan I get integers for that vector, not reals. Please see example: https://nbviewer.jupyter.org/gist/aakhmetz/dfd4d7dd04f6b615bc5747630f89ffa0

**Expected behavior**
vector Pr should contain vectors

**Additional context**
It could be so

[2021-02-01 15:34] ahartikainen commented on #1530
Thanks for the issue.

We read data with pandas, I wonder if there is some bug, when we combine samples.

https://github.com/arviz-devs/arviz/blob/main/arviz/data/io_cmdstan.py

[2021-02-01 15:38] ahartikainen commented on #1530
Ok, the bug is here

        dtype = dfs[0][cols_locs[0][0]].dtype

We probably should chech this other way.

[2021-02-02 11:13] lhelleckes opened #1531 "plot_pair axis labels no longer include coords"
**Describe the bug**
Using `plot_pair` with a selection of `coords`, I got a plot where the axis labels only show `var_names`, so different `coords` get the same label.

**To Reproduce**
[code]

![grafik](https://user-images.githubusercontent.com/45510988/106592082-56527b80-654f-11eb-95ed-c9041188c4c0.png)

**Expected behavior**
Axis labels should also include the `coords` to be unique (in this ca

[2021-02-02 12:24] OriolAbril commented on #1531
I will look into it asap. This is completely unexpected :/. Does this already happen with 0.11 or on development version? (both will show 0.11 as version)

[2021-02-02 15:07] lhelleckes commented on #1531
I tested it with the 0.11 release. Thanks for looking into it!

[2021-02-03 20:10] utkarsh-maheshwari commented on #1514
I think nothing need to be changed in `from_pyro`.
It uses only 1 sample_stats `diverging` which is already mapped.
Group names need not be changed as they already follow arviz naming scema.

[2021-02-03 22:09] canyon289 opened #1532 "Inconsistent API when working with multiple models"
## Short Description
When passing multiple `az.infdata` object we have differing apis, at least between two methods. Should we unify them?

## Code Example or link
[code]
## Relevant documentation or public examples
![image](https://user-images.githubusercontent.com/7213793/106815918-6dfe3280-6629-11eb-8402-c26e0022ae9d.png)

[2021-02-04 07:48] OriolAbril commented on #1532
I also think we should unify the api, however, I think it would be great to allow either a list/tuple or a dict after merging #1357. Being lists/tuples only valid when all inferencedata used have a `name` attribute, therefore allowing to remove the `model_names` argument in `plot_forest` and the `data_labels` in `plot_density`. How does that sound?

[2021-02-04 07:52] OriolAbril commented on #1514
That is great then! Updating the issue description

Group names should already be right for all converters, except a couple hiccups in tfp case, see #812. Missmatches there would be a clear bug.

[2021-02-04 21:50] canyon289 commented on #1532
Sounds good to me!

[2021-02-04 22:59] kenkirito commented on #1486
can i work on this issue

[2021-02-04 22:59] kenkirito commented on #1479
can i work on this issue

[2021-02-04 23:07] OriolAbril commented on #1486
Great, thanks!

[2021-02-04 23:09] OriolAbril commented on #1479
Cool, what is your idea?

[2021-02-04 23:12] kenkirito commented on #1479
Using precomputed data set

[2021-02-04 23:39] OriolAbril commented on #1479
We can add more examples available from `load_arviz_data` if necessary, but only documentation of converter methods should have inferenc-library-specific code.

[2021-02-06 10:55] #1531 closed

[2021-02-06 11:05] OriolAbril commented on #1489
Extra pro of doing this (which can be done once the examples in from_emcee docstring are moved to a notebook). Doc generation won't need any inference library so we can have the doc job depend only on basetests and remove the externaltests dependency to speed-up CI time.

[2021-02-06 19:05] utkarsh-maheshwari commented on #1514
I see.

I would like to start updating `from_cmdstan` next if nobody else is working on it.

[2021-02-06 19:12] OriolAbril commented on #1514
Great, thanks!

[2021-02-06 20:08] MarcoGorelli opened #1540 "plot_ppc only plots one legend if there are multiple `observed`"
**To Reproduce**
[code]

![image](https://user-images.githubusercontent.com/33491632/107128606-f04f5680-68b6-11eb-80cd-0dc5ba7e86a7.png)

**Expected behavior**
I think I'd have expected both subplots to have a legend

**Additional context**
[code]

[2021-02-06 23:16] aloctavodia commented on #1540
We can change it to optionally have more than one legend, but I think this default makes sense at it reduces redundancy (and the data/ink ratio).

[2021-02-07 10:26] MarcoGorelli commented on #1540
Sure, but the second subplot is about versicolor (whilst the first one setosa), so is it really redundant to have an extra legend when the first one reads "observed setosa"?

[2021-02-07 12:39] aloctavodia commented on #1540
Yes, if you have that information on the x_label. Of  course the current behavior is problematic, because we have one legend that is supposed to work for both plots but is referring only to the first.  So I suggest to have as default one legend and remove from the legend the name of the variable.

[2021-02-07 13:18] MarcoGorelli commented on #1540
Agreed, that would be good - I'll work on a PR next week

[2021-02-07 18:37] Rishabh261998 commented on #1490
I would like to contribute to this issue if it's still isn't resolved. Thank You

[2021-02-08 11:14] aloctavodia commented on #1540
Thanks @MarcoGorelli!

[2021-02-08 17:45] mitzimorris opened #1546 "`from_cmdstanpy` - better use of metadata"
CmdStanPy PR https://github.com/stan-dev/cmdstanpy/pull/346 will add structured metatdata to the CmdStanMCMC object.  Investigate how to use this when importing the fit.

related to issue https://github.com/arviz-devs/arviz/issues/1445
also related to issue https://github.com/arviz-devs/arviz/issues/1489

[2021-02-08 18:57] madhucharan commented on #1514
Hi @OriolAbril, I would like to work on this issue. I followed the conversation. I would like to know what's the remaining part to be done and kindly provide me some information towards the same. Please guide me through it.

[2021-02-08 19:40] orbidder opened #1547 "Pass quantile specific fill_kwargs with plot_kde()"
I'm not sure if this feature is currently possible with some kind of work-around, but it would be a neat feature if you could pass quantile specific fill_kwargs when calling plot_kde. For example, at the moment I can use the 'alpha' kwargs to change the alpha level of a plot_kde;

[code]
Which produces;
![image](https://user-images.githubusercontent.com/31448169/107271628-5cd66c80-6a01-11eb-959c-e

[2021-02-08 20:50] OriolAbril commented on #1514
Hi @madhucharan! @utkarsh-maheshwari has already worked on a couple converters, I have linked the PRs in the description above but there are still some converters to edit (also edited the description to show that). Let me know which would you like to work on and I can give some extra specific guidance if needed.

[2021-02-08 20:58] OriolAbril commented on #1547
Hi, thanks for the suggestion, I really like the idea. I don't think it is possible right now however, and I think it won't be straighforward to add. It is not yet properly documented, but kwargs are generally passed down to matplotlib or bokeh functions, which as far as I know do not allow this behaviour with a single call (each region would have to have its own call to `fill_between` to do so).

[2021-02-08 21:18] OriolAbril commented on #1490
Hi @Rishabh261998 , thanks for your interest in contributing to ArviZ :)

This may feel like a _deja vu_ but I will repeat the same I said two weeks ago, now with the roles reversed:

[2021-02-08 21:26] OriolAbril commented on #1487
Similarly to what I said in #1490, let's wait a couple days to give @arungrace88 time to share any work done already on that, we want everyone to enjoy contributing to ArviZ and use their time profitably. We are all working together to build a cool library, not competing to see who works more or who works faster.

As always, either @arungrace88 or @Rishabh261998 let us know if you need any help wi

[2021-02-08 22:14] orbidder commented on #1547
Thanks, I see what you mean. I took a look at the calls to fill_between
(line 138;
https://github.com/arviz-devs/arviz/blob/main/arviz/plots/backends/matplotlib/kdeplot.py)
and I don't think it would be straight forward like you say. You could loop
over the regions, passing the different fill_x and fill_y coordinates of
each quantile for each call to fill_between, but you'd also need to map the
qu

[2021-02-09 03:24] madhucharan commented on #1514
Hi @OriolAbril , I would like to work on pymc3 or pystan.Could you please guide me further? Meanwhile I will look at the previous changes to numpyro and others to get some sense of it.

[2021-02-09 03:39] OriolAbril commented on #1514
I would recommend starting with PyMC3, which will be quite similar to numpyro. There already is a rename dict defined at https://github.com/arviz-devs/arviz/blob/main/arviz/data/io_pymc3.py#L277 which has to be updated to have all the renamed defined in https://github.com/arviz-devs/arviz/pull/1063#issuecomment-589771200.

PyStan will be somewhat similar to cmdstan, and will be a bit more convolut

[2021-02-09 03:47] madhucharan commented on #1514
Thank you for the clear explanation @OriolAbril .Will get started with my first contribution to get familiar with the codebase. Will reach out after working on pymc3

[2021-02-09 14:33] gdindi opened #1549 "plot_posterior and plot_density give a mode outside of the hdi"
## Short Description

I am plotting densities and I ask for a point estimate as 'mode'. The value of the mode is outside of the HDI.

## Code Example or link

az.plot_posterior(inference_data, point_estimate = 'mode', hdi_prob = 0.9, var_names = ('a', 'b', 'c', 'sigma_lai'), figsize=(10,5), grid=(2,2))

The result looks like this https://postimg.cc/K4RpK4gg

az.__version__
Out[88]: '0.11.1'

[2021-02-09 16:11] aloctavodia commented on #1549
HI @gdindi thanks for taking the time to report this issue.  I am not able to reproduce this error, could you share your data or share a minimal working example?

[2021-02-09 17:45] utkarsh-maheshwari commented on #1514
Can I start updating `from_cmdstanpy`? Since, It is much similar to `from_cmdstan`, it won't take much time to update it.

[2021-02-09 18:00] OriolAbril commented on #1514
Updated the description, now only from_pystan is unassigned, thanks :)

[2021-02-09 21:17] arungrace88 commented on #1487
Hi @OriolAbril,
Thanks for the time. I have documented the installation steps (pip & conda forge) along with the required and optional dependencies, and saved in .rst format. Is the output expected in any other format?. Thanks.

[2021-02-09 21:23] OriolAbril commented on #1487
Thanks, rst is great! Given our current sphinx configuration using myst, the source of our docs can be either rst or markdown, both formats get rendered nicely.

[2021-02-10 07:21] gdindi commented on #1549
Hi,

Here goes a minimal working example:

[code]

Thank you.

[2021-02-10 11:19] aloctavodia commented on #1549
Thanks. I find the problem and I will fix it later today.

[2021-02-10 15:51] gdindi commented on #1549
Thank you. I am using arviz from conda-forge. What is the recommended way to be able to use the fixed code?

[2021-02-10 17:05] #1549 closed

[2021-02-11 14:52] aloctavodia commented on #1549
@gdindi To install the version from master use `pip install git+https://github.com/arviz-devs/arviz`

[2021-02-11 20:22] Rishabh261998 commented on #1490
@OriolAbril as you have mentioned above that we need to add some code in this python notebook( https://github.com/arviz-devs/arviz/blob/master/doc/source/getting_started/InferenceDataCookbook.ipynb ), but I'm unable to access it.

[2021-02-11 20:24] OriolAbril commented on #1490
True, we renamed it recently: https://github.com/arviz-devs/arviz/blob/main/doc/source/getting_started/CreatingInferenceData.ipynb

[2021-02-12 11:11] teddygroves opened #1554 "to_netcdf error for InferenceData loaded with from_cmdstan"
**Describe the bug**
The method `to_netcdf` fails on my computer for InferenceData objects generated using `arviz.from_cmdstan`, with this error:

[code]

**To Reproduce**
Here's a python script which produces the error on my computer:

[code]
This gives the following output:

[code]

**Expected behavior**
When I use this line to load an InferenceData object

[code]
Everything seems to work as nor

[2021-02-12 11:35] ahartikainen commented on #1554
Hi, thanks for the info. I think there is missing `encode("utf-8")` somewhere.

[2021-02-12 12:11] ahartikainen commented on #1554
Nope, apparently there is a limitation what attrs can handle. (No None, no list of lists, no dictionaries?).

Easiest way to save to netCDF is to delete the attrs (if you don't need it)

    infd.posterior.attrs = {}
    infd.sample_stats.attrs = {}

cc. @OriolAbril

[2021-02-12 17:58] madhucharan commented on #1514
Hi @OriolAbril , I have changed the pymc3 rename dict and I tried a lot today to rebase the repo to sync my fork, but unable to do so Not sure why.

[code]
getting this error.Could you please guide me how to  fix this? or should I send a pr regardless of this but I think I will need to sync my fork with main repo in long run

[2021-02-12 18:10] utkarsh-maheshwari commented on #1514
Hi @madhucharan
I was having the same issue while rebasing. The following steps solved the issue.

https://docs.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent : Generating a new SSH key and adding it to the ssh-agent.

https://docs.github.com/en/github/authenticating-to-github/adding-a-new-ssh-key-to-your-github-account : Adding a new SSH key

[2021-02-12 18:57] madhucharan commented on #1514
I will be updating from_cmdstan

Thank you @utkarsh-maheshwari. @OriolAbril I resolved it by removing the git URL to HTTP URL of base repository. Is it fine to do so or do we need to follow above steps itself?

[2021-02-12 18:59] madhucharan commented on #1514
@OriolAbril , I have sent a PR for pymc3, please review. I would like to update pystan as well. Shall I start working on it?

[2021-02-12 19:07] madhucharan commented on #1487
Hi @OriolAbril , If it is still open to document a particular guide or something, please let me know. I am looking forward to working on it.

[2021-02-12 20:27] kenkirito commented on #1486
is there any discord server or any community chat or meetings to attain. I am done with the setup. just wanted to know more about the project

[2021-02-12 21:03] OriolAbril commented on #1514
There are multiple ways to authenticate, if you are now able to work without issues that is fine, no need for extra changes.

Okey, I will update the description

[2021-02-12 21:06] OriolAbril commented on #1486
We have a gitter chat available: https://gitter.im/arviz-devs/community, and there are also questions and discussions about the project at PyMC discourse: https://discourse.pymc.io/ and to a lesser extent at Stan discourse: https://discourse.mc-stan.org/

[2021-02-12 21:14] OriolAbril commented on #1487
@madhucharan take a look at https://github.com/arviz-devs/arviz/issues/1331, there are more ideas about guides and pages to add to the documentation. Let me know if some of the ideas there seem interesting to write.

Some of these like the developer guide pages will be really challenging though because the content that should be written there are unwritten tricks, things discussed in private chats

[2021-02-12 23:17] feynmanliang opened #1557 "InferenceData.from_posteriordb"
## Tell us about it

[posteriordb](https://github.com/stan-dev/posteriordb) provides a `reference_draws()` containing posterior samples I would like to visualize using Arviz. The data format, however, is not easily converted and at least one other person has done the dance to convert it to an `InferenceData` (see https://github.com/stan-dev/posteriordb/issues/225).

In detail, `reference_draws()`

[2021-02-13 08:31] Rishabh261998 commented on #1436
Hi @canyon289, as this issue is not active for more than 2 weeks so can it be assigned to me?. Thank You

[2021-02-13 12:57] ahartikainen commented on #1557
We could add a wrapper function to return InferenceData containing correct groups (data etc).

Not sure if this we need go through all the models/fits and manually check correct groups -> somekind of config db would be great.

There could a similar function as there is with `arviz_data` (or what was that name?)

[2021-02-13 18:15] utkarsh-maheshwari commented on #1499
Hey, I wanted to contribute.
Are the required changes done in #1201 to solve this issue?

[2021-02-13 18:16] utkarsh-maheshwari commented on #1499
Hey, I want to contibute.
Are the required changes done in #1201 to solve this issue?

[2021-02-13 19:41] rpgoldman opened #1560 "Debug print left in release version"
**Describe the bug**

While invoking `from_pymc3` I got unexpected output:

[code]

The strings after `dim:` are names of dimensions in the `InferenceData` object being created.

I find this in `arviz/data/base.py`:

    print(f"{i}, dim: {dim}, {dim_size} =? {len(coords.get(dim, []))}")

See https://github.com/arviz-devs/arviz/blob/718eb31ed844c3bb71d564736af54e203ca0dc3a/arviz/data/base.py#L116

[2021-02-13 21:34] OriolAbril commented on #1560
Extra info on `event_dim` in addition to the explanations in the PR (https://github.com/arviz-devs/arviz/pull/1429) that introduced the changes:

I took the naming from tensorflow probability, they define:

So for example, if we model our 50 observations as 3d multivariate normals, and took 4 chains, 200 draws from the posterior, then the shape of the posterior predictive would be (4, 200, 50, 3)

[2021-02-13 22:38] OriolAbril commented on #1436
I will assign it to you @Rishabh261998

[2021-02-13 22:54] OriolAbril commented on #1499
Let me see if I have time to finish #1201 in the next 1-2 weeks before working on that. As #1201 changes most of how labels work, if this issue is fixed only to have #1201 merged some weeks later the work done to fix this issue only would not be used at all

[2021-02-14 03:00] OriolAbril opened #1561 "Rope values are not rounded"
The following snippet:

[code]

generates:

![image](https://user-images.githubusercontent.com/23738400/107867192-178ac280-6e79-11eb-9d66-a5a4ef3bf4ff.png)

I think rope values should go through the same significant digits formatter as point values.

[2021-02-14 06:13] OriolAbril commented on #1560
This line should be deleted, it is a remnant of some debugging I did when adding the feature.

[2021-02-14 15:07] MgeeeeK commented on #1561
Hey, I am interested to take up this issue. If you can assign it to me that would be great!

[2021-02-14 18:21] OriolAbril commented on #1561
Great, let us know if you need any help!

[2021-02-14 18:29] MarcoGorelli opened #1563 "Show legend in ppc plot (backend bokeh)"
## Tell us about it

xref https://github.com/arviz-devs/arviz/pull/1559#issuecomment-778762939

The matplotlib plots have legend, making it clear what each line/colour type represents. The bokeh plots don't seem to have them, and adding them would make the meaning of the plot clearer

[2021-02-14 18:33] #1540 closed

[2021-02-14 18:50] #1490 closed

[2021-02-15 18:07] arc12 opened #1567 "Include estimate of probability within RoPE when plotting"
In cases such as `az.plot_posterior(inference_data, rope=(0.45, 0.55))`, it would be useful to include an estimate of the probability within the rope. (as an option, I suspect)

For Kruschke's version, see: http://doingbayesiandataanalysis.blogspot.com/2013/08/how-much-of-bayesian-posterior.html

we could extent this idea, in a similar way to how `ref_val` works to show probabilities for the Rope

[2021-02-15 18:08] arc12 commented on #1561
I just added another RoPE-related issue, if you are keen, @MgeeeeK
#1567

[2021-02-15 19:08] Rishabh261998 commented on #1567
Can I take this issue? Thank You

[2021-02-15 22:23] #1436 closed

[2021-02-17 19:17] fthames opened #1571 "Broadcast Input Array Error"
I ran this code, which worked perfectly yesterday.

fit_pz_hlm=pz_model_hlm.sampling(data=data_zip1_hlm, warmup=1000, iter=1000,
                                 chains=4, thin=4, control=dict(max_treedepth=18
                                                                , adapt_delta=0.999))
az_fit_pz_hlm=az.from_pystan(posterior=fit_pz_hlm, posterior_predictive=['y_rep'],

[2021-02-17 19:38] ahartikainen commented on #1571
Hmm, does that work with PyStan? What happens if you add `iter=1001`

[2021-02-17 20:08] fthames commented on #1571
Of course. I should have looked at the code again.  Changing the iter fixed it.  Thanks for your help.

[2021-02-17 21:11] ahartikainen commented on #1571
No problem, still a bug we need to fix in arviz.

[2021-02-18 11:44] #1561 closed

[2021-02-19 19:11] OriolAbril opened #1572 "Add interactive legend to bokeh forestplot"
## Tell us about it
plot_density with bokeh backend has a super cool legend that allows to hide lines by clicking on the corresponding element in the legend. plot_forest could do the same.

## Thoughts on implementation
I guess searching for the PR that added the legend for plot_density will be a good starting point. Will try to extend and add more info at some point, but if someone has time to br

[2021-02-19 19:19] ahartikainen commented on #1572
https://github.com/arviz-devs/arviz/blob/3d788cc7157b764130ee6f84bb2f42021e5ab258/arviz/plots/backends/bokeh/densityplot.py#L114

[2021-02-20 06:38] OriolAbril opened #1574 "Add tests to arviz.labels module"
#1201 has done a significant refactor of plotting functions to rewrite the labeling process. Part of the code added is tested in the sense that plots use it and tests for plots have passed, but there should be a `test_labels.py` in the base tests folders to test all bundled classes and test specifically the labellers.

[2021-02-20 07:09] OriolAbril opened #1575 "Add docstrings to arviz.labels"
I have set all docstrings to `wip` to trick pydocstyle into accepting the PR, they should be updated with actual info about the classes and methods.

Related to #1574

**Notes**
There is a label guide available at the docs.

[2021-02-20 10:41] Rishabh261998 commented on #1572
Would like to work on this @OriolAbril, can you assign it to me?

[2021-02-20 19:20] jburos opened #1576 "az.from_cmdstanpy fails from latest version of cmdstanpy (v0.9.68) for 2d params"
**Describe the bug**

After updating to the latest version of cmdstanpy, the `az.from_cmdstanpy` fails when dims provided had length > 1.

The error message is :

[code]

The stacktrace is provided below.

The problem appears to be that `az.data.io_cmdstanpy._unpack_fit` returns a flattened result for each parameter, rather than mirroring the shape of the parameter along the lines of what `cmdstan

[2021-02-20 20:24] OriolAbril commented on #1576
Is this with the latest release or with the development version?

[2021-02-20 20:35] OriolAbril commented on #1572
Done, thanks!

I don't know how complicated it will be to have the legend affect multiple lines at once (I think the one in density plot does not do that)

[2021-02-21 08:36] OriolAbril commented on #1572
Also, wait until #1201 is merged to start working on it, there is no legend yet in either bokeh nor matplotlib it will be added by #1201

[2021-02-21 11:23] ahartikainen commented on #1572
If I remember correctly plots need to use CDS/CDSview and legend needs to be handled correctly too.

https://github.com/arviz-devs/arviz/pull/976/files

There are also bokeh docs about this

[2021-02-21 18:11] OriolAbril opened #1578 "Enable pylint use-a-generator check"
I guess that latest pylint has added a `use-a-generator` check that did not use to exist. I disabled it in #1577 from `.pylintrc` but maybe we should enable the check and either fix the code or disable on a line per line basis.

Same for `consider-using-generator`

Steps to fix the issue:

1. Remove these two checks from the list of disabled checks in pylintrc: https://github.com/arviz-devs/arviz/

[2021-02-21 19:20] OriolAbril commented on #1576
I just released a new version to include the changes that update the cmdstanpy converter. Let us know if there are more issues.

I expect the new release to be available on pypi in 30-40 mins and on conda-forge in a few hours.

[2021-02-21 22:59] jburos commented on #1576
This was with the latest development version, as of yesterday. Today's development version now appears to work, thanks so much.

[2021-02-21 22:59] #984 closed

[2021-02-21 22:59] #1091 closed

[2021-02-21 22:59] #1499 closed

[2021-02-21 23:02] OriolAbril commented on #1576
Great! I will close the issue then, let us know if there are any other problems :smile:

[2021-02-21 23:08] jburos commented on #1576
Arg. I spoke too soon, I'm still seeing this behavior on `cmdstanpy` version 0.9.68 & `arviz` 0.11.2.

[code]

[2021-02-21 23:12] OriolAbril commented on #1554
I was thinking that we could add some `attrs_to_str` and `attrs_from_str` methods to inferencedata using json, nothing too fancy. Maybe there already is something like this in xarray :thinking: Ideally even a try except to catch this error and advise on how to solve it.

[2021-02-22 00:04] OriolAbril commented on #1499
Just merged the labeling restructure PR which fixes that and greatly extends the labeling options in ArviZ plots, docs are still wip but https://arviz-devs.github.io/arviz/user_guide/label_guide.html should be a good overview, let me know what you think.

Note that changes are only in development version for now, they have not been released yet

[2021-02-22 01:23] OriolAbril commented on #1576
Sent a new PR to fix this hopefully. I checked locally and it seemed to work properly. Can you also give it a try?

You can install the branch from which I have opened the PR with `pip install git+git://github.com/arviz-devs/arviz.git@cmdstanpy`

[2021-02-22 03:09] jburos commented on #1576
Works on my end as well. Thanks so much for resolving this.

[2021-02-22 06:05] ahartikainen commented on #1554
Currently everything in cmdstan attrs is a string. (Temp fix)

[2021-02-22 23:16] #1567 closed

[2021-02-22 23:19] #1560 closed

[2021-02-24 22:53] #1445 closed

[2021-02-24 22:53] #1576 closed

[2021-02-24 23:02] OriolAbril opened #1581 "Fix mypy errors"
The latest mypy version now checks more files, see https://github.com/arviz-devs/arviz/pull/1528#issuecomment-783115088. The errors listed in the comment should be fixed. The couple comments after the linked one explain how to do so.

[2021-02-25 14:42] utkarsh-maheshwari commented on #1581
I read the discussion.
So basically, what I understood is instead of passing `var_names` as a tuple in the functions, we need to convert to `sequence` data type.
Am I correct?

[2021-02-25 14:57] OriolAbril commented on #1581
The problem is not in the examples but in how the type hints are set. A tuple is a perfectly valid way to pass variable names, so would a numpy array be for example. However, the type hint says the input must be a list, instead of having a type hint saying anything of type `Sequence` is valid.

[2021-02-25 16:44] MgeeeeK commented on #1578
Hey @OriolAbril , I'd like to work on this issue... thanks, for the steps as well.

[2021-02-25 17:17] utkarsh-maheshwari commented on #1581
Okay.
I am not very familiar with type-hints. `typing_copilot` is new.
Can I still take the issue? I will learn about it.

[2021-02-25 17:18] OriolAbril commented on #1578
Great, just assigned you to the issue, as usual, let us know if you need any help

[2021-02-25 17:21] OriolAbril commented on #1581
You can still take the issue, I am not very familiar with type hints either. As we were saying on the issue, one of the goals of working on these issues (instead of just ignoring them because they don't affect the actual library) is precisely for all of us to get a bit more familiar with type hints.

[2021-02-26 18:04] madhucharan commented on #1574
Hi @OriolAbril, I went through the discussion and labels.py, So, According to my understanding, the `test_labels.py` testing function should test the labeller functions/classes to check whether the labels are displayed according to the requirements or not? something like asserting them and checking ? If I am right, I would like to work on it, or please explain the requirement of this issue so that

[2021-02-26 18:10] madhucharan commented on #1575
Hi @OriolAbril , I have commented my view on #1574 , If it got assigned , I would like to update the information about the functions in the docstrings by referring to the documentation, and please let me know if this is a straight updation or anything else need to keep in mind if I got assigned with #1574

[2021-02-26 20:24] OriolAbril commented on #1574
Yes, that sound about right. How familiar are you with pytest? Have you checked some of the other test files?

I was planning on adding the skeleton of the test file or at least sharing a template here to suggest how to structure the tests and which fixtures to use, not sure what level of detail would be best

[2021-02-26 20:41] OriolAbril commented on #1575
I don't think I understand, sorry. You can work on the docstrings too if you want to work on both tests and docstrings.

The way to go about updating the docstrings would be to start by reading the [label guide](https://arviz-devs.github.io/arviz/user_guide/label_guide.html), and then start with the docstrings. The first one should be the docstrings for the class and methods of `BaseLabeller`, thi

[2021-02-27 16:26] Rishabh261998 commented on #1572
Hey @OriolAbril can I start working on this issue? as #1201 is merged. Thanks

[2021-02-27 17:32] OriolAbril commented on #1572
Yes, you can work on this issue, thank you! Having interactive legend with forestplot would be great

[2021-02-28 12:48] madhucharan commented on #1571
@ahartikainen , would you guide me on how to proceed in solving this bug.

[2021-02-28 12:53] ahartikainen commented on #1571
We need to figure out the components here

[code]

[code]

or

[code]
fails.

We probably need to add 0 size check somewhere there.

[2021-02-28 13:01] madhucharan commented on #1571
Is there a test to check this function already or we need to add them to check how it is working?

[2021-02-28 13:16] madhucharan commented on #1574
@OriolAbril , I have spent some time on the label class , I have some familiarity in writing tests by assertion, checking some particular words,or checking for some files(may be useful for doc string check not here). If there is any template to follow as you mentioned, I will follow the guideline and learn from other tests and implement them.Kindly share the template or some structure of tests

[2021-02-28 13:26] ahartikainen commented on #1571
I don't think there is a test for this.

Not sure if we need to add a test for this. It depends how we implement this.

[2021-02-28 15:55] OriolAbril commented on #1574
test should be added on a new test file inside the `base_tests` folder, and I would recommend using a couple module level fixtures that can be used by test functions to ease test writing. There should be some test functions on `mix_labellers` and then a class (mostly for structuring the code but also to define class level fixtures initializing the labellers) with test functions about the labellers

[2021-03-01 09:06] richardARPANET opened #1589 "Breaking change in version 0.11.2"
It looks like there has been a breaking change introduced in version 0.11.2. Is this project following [semver](https://semver.org/) or something else?

[code]

[2021-03-01 13:19] OriolAbril commented on #1589
We are following semver, but this is still a beta package. We try to distinguish between patch and non-patch releases anyways, but it's not a guarantee, neither on our side nor on semver's side.

We also don't have the resources to maintain multiple versions of ArviZ (there is no backporting of any kind) nor to maintain compatibility with muliple versions of the supported inference libraries (agai

[2021-03-01 15:47] Rishabh261998 commented on #1572
@OriolAbril I was looking into this but I found that currently Bokeh does not support interactive legends on multiple glyph. They explicitly mentioned it here https://docs.bokeh.org/en/latest/docs/user_guide/interaction/legends.html

[2021-03-01 15:59] OriolAbril commented on #1572
Oh, then it's probably not worth it to make the legend interactive at all, plain legend is enough.

[2021-03-02 17:17] Rishabh261998 commented on #1563
Hey can I take this issue? Thanks

[2021-03-02 20:27] OriolAbril commented on #1563
yep, assigning it to you

[2021-03-03 23:02] #1578 closed

[2021-03-04 16:44] jburos opened #1594 "from_cmdstanpy uses posterior in place of prior when both provided"
**Describe the bug**
I'm seeing some odd behavior on a branch of arviz when using `from_cmdstanpy`. Basically, if I fit a model twice using cmdstanpy & construct the az.InferenceData object using both the prior & the posterior samples, I see that the posterior draws are in both the prior & posterior groups.

In other words, say I construct my arviz InferenceData object as follows:

[code]

The dra

[2021-03-04 17:14] ahartikainen commented on #1594
Thanks for the info. There were couple of typos.

https://github.com/arviz-devs/arviz/pull/1595

[2021-03-04 17:56] OriolAbril opened #1596 "Fix ess/rhat plotting in plot_forest"
Due to the new labelling capabilities, labels don't need to be unique anymore. This is generally not an issue, but it can be in some cases such as with plot_forest. `BaseLabeller` does always generate unique labels, so I suggest using `BaseLabeller` to generate keys of dict/sets that track the objects that have already been plotted and use the user provided labeller to generate the actual plot lab

[2021-03-04 17:57] #1572 closed

[2021-03-04 18:03] Rishabh261998 commented on #1596
Thanks @OriolAbril will start working on this, btw we also need to align the ess/rhat dots with the hdi plot in Bokeh

[2021-03-04 18:07] OriolAbril commented on #1596
true, @ahartikainen may know how to align multiple bokeh axes, all other plots have their axes aligned, it could be a typo in the current code or having the height and width swapped. I don't expect significant changes to be needed regarging subplot alignment

[2021-03-04 18:08] ahartikainen commented on #1596
We can share the limits

[2021-03-04 20:02] rpgoldman opened #1597 "Possible bad loop in arviz.utils._subset_list()"
Reading this function to try to understand the filtering, I see this:

       if excluded_items:
            if filter_items in ("like", "regex"):
                for pattern in excluded_items[:]:
                    excluded_items.remove(pattern)
                    if filter_items == "like":
                        real_items = [real_item for real_item in whole_list if pattern in real_item]

[2021-03-04 20:13] OriolAbril commented on #1597
I think it iterates over a copy (`excluded_items[:]` is a copy iiuc) and modifies the base object for posterior use.

[2021-03-04 20:45] OriolAbril commented on #1597
It iterates over a copy, here are some experiments:

[code]

[2021-03-04 20:54] jburos commented on #1594
Linking to a [comment on the PR](https://github.com/arviz-devs/arviz/pull/1595#issuecomment-790933424), i'm still seeing this bug on a fit from the `main` branch. I'm on cmdstanpy v 0.9.68.

There is one more typo that needs to be resolved.

[2021-03-04 20:56] abhisht51 commented on #1581
Hello @OriolAbril, are there more changes to be done to this issue?

[2021-03-04 21:13] OriolAbril commented on #1594
Thanks for double checking!

[2021-03-04 22:41] rpgoldman commented on #1597
Got it -- I didn't realize the slicing did that.  In another life, I would rewrite that as

   for i in copy(l):

... since that makes the meaning quite clear -- it says what it is doing, whereas the slicing ... less obvious to the reader.

[2021-03-04 22:41] #1597 closed

[2021-03-05 06:44] OriolAbril commented on #1581
As per my comment on #1587: https://github.com/arviz-devs/arviz/pull/1586#issuecomment-787580759

So if you know about type hints, it would be great to go over the type hints that are currently in use and make sure they are indeed correct and not too restrictive like this `List` instead of `Sequence` example. I am relabeling the issue however because we are no longer targetting some specific issue

[2021-03-05 07:01] ahartikainen opened #1600 "AttributeError: module 'aesara.tensor.nlinalg' has no attribute 'diag'"
[code]

[2021-03-05 07:01] ahartikainen commented on #1600
Is this PyMC3 error?

[2021-03-05 07:06] ahartikainen commented on #1600
This will be fixed after https://github.com/pymc-devs/pymc3/pull/4501 is merged.

[2021-03-05 07:15] #1589 closed

[2021-03-05 13:45] #1600 closed

[2021-03-05 14:04] OriolAbril commented on #1523
I think the issue has been pinned long enough as a warning. Closing it

[2021-03-05 14:04] #1523 closed

[2021-03-05 14:13] OriolAbril commented on #580
Hi @rosgori, you can now customize the labels shown by ArviZ at will. See the [label guide](https://arviz-devs.github.io/arviz/user_guide/label_guide.html) for examples and usage. We have kept same default, plots use two lines for the variable name plus coordinate values, but you could use a custom labeller to have always the same labels you could use something like:

[code]

[2021-03-05 14:13] #580 closed

[2021-03-05 14:15] OriolAbril commented on #792
Closing this, we can add new issues for any rcparam we might want to discuss

[2021-03-05 14:15] #792 closed

[2021-03-05 14:17] #869 closed

[2021-03-05 14:17] #870 closed

[2021-03-05 14:18] #871 closed

[2021-03-05 14:22] #1128 closed

[2021-03-05 14:28] OriolAbril commented on #1235
I think we can consider this fixed now. To begin with, plot_forest now avoids repeating the variable name in multidimensional cases, it is only shown for the first appereance. Moreover, you can use the new [labellers](https://arviz-devs.github.io/arviz/user_guide/label_guide.html) to customize labels, which allows things like avoiding both model and variable name while encoding the model info in t

[2021-03-05 14:28] #1235 closed

[2021-03-05 14:30] #1594 closed

[2021-03-07 23:10] Hossein-1990 opened #1603 "errors in importing some functions"
## Short Description

I am using arviz for the calculation of HDI intervals.  There are two main functions for this purpose: 1) arviz.hdi 2) arviz.plot_hdi. When I've applied these functions in my codes in Jupyter, it shows an error which is: 'module 'arviz' has no attribute 'hdi''. But these are available on the site!! What is the problem??!

## Code Example or link

with pm.Model():
    m = pm.U

[2021-03-07 23:57] OriolAbril commented on #1603
Can you share your arviz version? You can see which one is it with `az.__version__`

[2021-03-08 08:30] Hossein-1990 commented on #1603
it's 0.7.0. Apparently the latest version is 0.11.2!
How can I update that?

[2021-03-08 08:51] ahartikainen commented on #1603
`python -m pip install arviz -U`

[2021-03-08 10:13] Hossein-1990 commented on #1603
I've updated my arviz with pip command (in Command Prompt) and it is now 0.11.2
But in my anaconda environment, it's still 0.7.2!! How shoud I fix that?!!

[2021-03-08 10:21] ahartikainen commented on #1603
You need to first activate your anaconda environment if you use command prompt. (check if there is anaconda prompt)

If you use jupyter notebooks (or ipython) you can do the following

    !python -m pip install arviz -U

[2021-03-08 18:09] Hossein-1990 commented on #1603
Thank you very much. It has worked

[2021-03-08 18:26] #1603 closed

[2021-03-08 18:29] OriolAbril opened #1604 "Remove compare warning"
I think we can already remove the following warning from `az.compare`:

[code]

[2021-03-09 05:28] madhucharan commented on #1604
Hi @OriolAbril, I went through the function, is it because users get used to the new default method so that no need to specifically mention it? and just for clarifying, we just need to remove the warning right? do we need to update anything else?

[2021-03-09 08:02] OriolAbril commented on #1604
exactly, it has been around for a while and is no longer needed. It should be removed and nothing else.

[2021-03-09 21:34] Rishabh261998 commented on #956
@OriolAbril would like to work on this. Thanks

[2021-03-10 05:22] obi1kenobi opened #1609 "Upgrade to mypy>=0.800"
#1528 was unable to use the latest `mypy` version due to what appears to be a bug in handling of `mypy.ini` configuration: https://github.com/python/mypy/issues/10192

Once that issue is resolved, upgrade to the latest `mypy` and run `typing_copilot init --overwrite` to create a new `mypy.ini` file suitable for the new `mypy` version. We'd use `typing_copilot`'s `init` command rather than `tighten

[2021-03-10 07:15] obi1kenobi commented on #1609
Based on discussion in python/mypy#10192 I think the change in `mypy` 0.800 is intentional and here to stay, and `typing_copilot` will sadly just have to work around it by making its config generation algorithm more complex.

[2021-03-10 08:11] OriolAbril commented on #956
I have assigned it to you. I have to confess I have not followed this for a while so I don't really know which plots use this and which don't, you'll have to first check where it's needed and then make the changes.

[2021-03-10 08:11] #1563 closed

[2021-03-10 08:12] #1604 closed

[2021-03-10 10:53] OriolAbril commented on #1514
yeah, let's keep track of everything tfp related in #812

[2021-03-10 10:53] #1514 closed

[2021-03-11 11:32] ricardoV94 opened #1610 "Horizontal forest plot?"
My forest plots tend to run very long.

It would be great (personally) to have the option to have the forest plot extend horizontally instead of vertically.

[2021-03-11 17:44] Rishabh261998 commented on #1479
This issue looks inactive, can I take it @OriolAbril ?

[2021-03-11 18:30] OriolAbril commented on #1479
yes, assigning it to you

[2021-03-12 16:59] utkarsh-maheshwari commented on #512
Just a thought.
Inspite of asking for `y_model`, can't we calculate `m` abd `b` inside the function `plot_lm`?
Though it will increase the complexity of the function but would reduce the complexity at the input end and make it more user-friendly.

[2021-03-12 22:04] gibsramen opened #1613 "az.loo fails when "sample" already exists as a dimension"
**Describe the bug**

`az.loo` fails if there is a dimension named `sample` in the `log_likelihood` data variable. It looks like the `log_likelihood.stack(sample=("chain", "draw"))` line is the culprit.

**To Reproduce**

[code]

<details>
  <summary>Error</summary>

[code]
</details>

**Expected behavior**

I expected that the computation would proceed as in the [documentation page](https://arviz

[2021-03-12 22:19] OriolAbril commented on #1613
we could use `sample__` or something less probable to be used. It is true it is not returned but it is used to indicate xarray which dimension should be summed over: https://github.com/arviz-devs/arviz/blob/main/arviz/stats/stats.py#L662

[2021-03-12 23:12] ahartikainen commented on #1613
`__sample__`?

[2021-03-13 12:40] dfm commented on #230
I just came across this because I often find myself wanting access to the transformed variables in a PyMC3 trace. I often need this in order to evaluate model components after sampling (for example, I often want to plot the model prediction on a fine grid that is too large/memory intensive to save as a deterministic, but is fine to compute at a few points in a thinned chain). Right now, it looks l

[2021-03-14 15:27] utkarsh-maheshwari commented on #313
I believe line plots are good representation but the best representation would obviously depend on the type of data. I propose that in short term, we should focus on integrating line plots for time series analysis and later we can add more plots to the library. I would love to work on this feature.

[2021-03-14 16:23] OriolAbril commented on #512
The problem is that there is no way to know what `y_model` is in ArviZ (it could be possible at a higher level like in bambi, but not in ArviZ), it depends on the model, it can be a `y ~ b1*x+b0` but it could have multiple covariates, higher order terms, splines...

[2021-03-14 16:33] OriolAbril commented on #313
I think that the best way to begin is probably by creating a small database of regression and timeseries models, maybe take examples from ROS https://avehtari.github.io/ROS-Examples/examples.html (it whould not be too much work to port to cmdstanpy or pystan) or using https://github.com/bambinos/Bambi_resources/tree/master/ROS and then see how they could be reproduced from ArviZ and InferenceData

[2021-03-15 00:26] rpgoldman commented on #974
I'm going to close this, because it's based on old versions of the code, and me using a sub-optimal way to install PyMC3 and ArviZ.

[2021-03-15 00:26] #974 closed

[2021-03-15 00:49] rpgoldman opened #1614 "Error comparing PyMC3 models with multiple observed variables"
**Describe the bug**
I have a set of PyMC3 models with multiple observed variables that I would like to compare with ArviZ.  When I try to invoke the comparison as follows:

[code]

I get this error:

[code]

This is unfortunate for at least two reasons:

1. I'd like to be able to compare these models.
2. The error message is unhelpful -- there is no `var_name` argument for `compare`.  IIRC, the r

[2021-03-15 01:32] OriolAbril commented on #1614
Luckily, this is actually only a matter of me messing up and not exposing `var_name` in `compare` :smile:

ArviZ does already support model comparison when there are multiple variables stored in the log likelihood group, hence the error, it simply can't be done automatically, it needs the `var_name` as extra user input. Take a look at https://nbviewer.jupyter.org/github/OriolAbril/Exploratory-Anal

[2021-03-15 15:11] rpgoldman commented on #1614
@OriolAbril Thanks for that explanation.  I will see about making an MR for this.

BTW, do you know if I'm correct in my conjecture that for this special case (where the variables in question are essentially sub-ranges of a single vector), I could simply add together the individual log-likelihood terms?

[2021-03-15 17:33] utkarsh-maheshwari commented on #313
Sure.
By now, I am not very familiar with R. I'll try to re-implement some examples of bambi.

[2021-03-15 18:12] OriolAbril commented on #313
You probably won't need to reimplement them, bambi already uses ArviZ, it is more than anything to get an idea of the different possibilities regarding regression and timeseries plots and to get familiar with ArviZ+xarray usage which can be quite different from ArviZ development where xarray does not play such an important role

[2021-03-15 18:36] OriolAbril commented on #1614
I don't have enough information about the model to see if they should be added or concatenated, it does sound like adding makes more sense but I am not sure. The notebook I linked above however does cover this exact same case with the rugby data, and it also has some cool diagrams. After reading that you should not have doubts about which is the one that makes sense for your model and question, if

[2021-03-16 15:00] utkarsh-maheshwari commented on #313
Okay. I saw some examples of ROS examples too. I think it's not that hard to understand them. I am going through the examples tring to get familiar with the plots and ArviZ+xarray usage. I will keep in mind that we need to create a small database to get started.

[2021-03-16 17:53] utkarsh-maheshwari commented on #313
I have gone through examples in https://github.com/bambinos/Bambi_resources/tree/master/ROS. I can see that many examples generate fake data. I think the database generated/used in these 2 examples are good for time series/regression analysis
https://github.com/bambinos/Bambi_resources/blob/master/ROS/Unemployment/unemployment.ipynb
https://github.com/bambinos/Bambi_resources/tree/master/ROS/Elect

[2021-03-17 14:27] ColCarroll commented on #230
hey dan! I think I'm generally on team option 3 still, but also on team "lets help out science". So I'm totally on board with you adding a little backdoor option to allow this on pymc3, and if you do, maybe I can open a second issue requesting help to add it to various other backends (or even rethinking the design)?

[2021-03-17 15:15] ahartikainen commented on #230
Do we want transformed vars into the main idata or a new idata containing transformed data?

Or new groups?

[2021-03-17 15:38] OriolAbril commented on #230
I think if present they should be in the posterior, I have done this for now whenever I need to transform variables, and we have some examples on idata methods like `map` that transform variables post sampling and store them in the same group the original variable was (some transforms are also rescaling observations+posterior predictive at the same time, not only posterior vars)

[2021-03-17 15:52] utkarsh-maheshwari commented on #313
What are the things we need to keep in mind while creating.
For univariate linear regression, 2 fields( For example, date/year and unemployment) are enough to demonstrate the example. But for multi-variate regression, we need more fields. Do we need consider it? Are there other such points to be considered?

[2021-03-17 17:56] OriolAbril commented on #313
Of the top of my head (I'll try to get back here and keep adding things that may come to me later) these are some of the things to consider for the design:

* Predictors/predictions: we can have one or many of either of predictors and predictions, not only multiple predictors.
* hierarchies: there could be group level predictions in addition to observation level ones
* interpolation/extrapolation

[2021-03-17 18:03] OriolAbril opened #1617 "Check for InferenceData input on from_pymc3"
`pymc3.sample` has a keyword argument that makes the function return an InferenceData object, `from_pymc3` is called under the hood by pymc3. This can generate confusion when doing also posterior predictive checks or similar postprocessing, and it is common to end up calling `from_pymc3` manually again but using the `InferenceData` as `trace` argument, which does not work nor should it work.

We s

[2021-03-17 18:21] MgeeeeK commented on #1617
Hi @OriolAbril I'd like to work on this... can you assign this to me?

[2021-03-17 20:14] utkarsh-maheshwari commented on #313
Speaking of time series analysis, one compulsory field is date/years ( let say 100 years ). We can have single or multiple monitored variables( monitored over 100 years). These could be generated or taken from real databases. I think generating them would be better idea as then we could cross-validate the model. Do we need more fields?

[2021-03-18 15:22] OriolAbril commented on #313
I don't think it matters the origin of the data, the goal is to visualize the results of the models, we don't need to check the model is correct as the visualization should work either way, after all, one of its goals it to check the models and see if they are working.

What were you thinking when you mentioned cross validation? I may be missing something. We also have another project about refitt

[2021-03-18 16:42] utkarsh-maheshwari commented on #313
By cross validation, I meant, for example we generate y like this
`x = np.arange(1, 21)`
`n = x.shape`
`a = .2`
`b = .3`
`sigma = .5`
`y = a + b*x + sigma*stats.norm().rvs(n)`

Then, in the example, we'll probably find distribution of a_hat and b_hat. We can then crossvalidate with original values (that are .2 and .3 here).
Nevermind, I realize I went off the track. Sorry for that. That cross-vali

[2021-03-18 16:53] OriolAbril commented on #313
Don't worry about going off track, I am just trying to keep the eye on the price, especially this year with the reduced coding period, it is crucial to define what is part of the project and what is not (even when useful and interesting too).

I am not sure we have the same idea in mind when thinking about database. My proposal was to have a "database" of inferencedata objects (local files is fine

[2021-03-18 16:53] kpj opened #1618 "`az.from_numpyro` crashes when running MCMC with `thinning != 1`"
**Describe the bug**
When using `az.from_numpyro` to import an MCMC run from `numpyro`, a `ValueError` is thrown if the MCMC was run with, e.g., `thinning=2`.

**To Reproduce**
Running
[code]
will crash with
[code]

Setting `thinning=1` will prevent the crash.

**Expected behavior**
I would expect `az.from_numpyro(mcmc)` to not crash.

**Additional context**
I am using arviz `0.11.2` and numpyro `

[2021-03-18 17:02] OriolAbril commented on #1618
Thanks for reporting, it looks like the culprit is this line:

https://github.com/arviz-devs/arviz/blob/59575274a5921acae24930733b7125c96ff8e97b/arviz/data/io_numpyro.py#L94

which gathers info from the numpyro object in order to be able to reshape the samples accordingly afterwards (which is where the error is triggered). Taking thinning into account when defining `self.ndraws` should fix the iss

[2021-03-18 17:10] kpj commented on #1618
Thanks for the information! I'd be happy to submit a PR.

Would the fix be as easy as dividing `self.ndraws` by `posterior.thinning` in the line after https://github.com/arviz-devs/arviz/blob/59575274a5921acae24930733b7125c96ff8e97b/arviz/data/io_numpyro.py#L94?

[2021-03-18 17:20] OriolAbril commented on #1618
I think so

[2021-03-18 19:00] utkarsh-maheshwari commented on #313
Can we take some dicts/dataframes defined in ROS examples, convert them to inferencedata using `az.convert_to_inference_data`?

[2021-03-18 19:01] kpj commented on #1618
It seems to work for me, I submitted a [PR](https://github.com/arviz-devs/arviz/pull/1619).

[2021-03-18 21:27] OriolAbril commented on #313
I guess so, it depends on what the data inside the dicts is, is the whole posterior stored as dict? posterior+observations?

[2021-03-18 23:15] ahartikainen commented on #313
Maybe we could take data from `posteriordb`?

[2021-03-19 14:53] #1618 closed

[2021-03-19 15:29] rachelstephlee opened #1621 "Plot warmup samples in traceplot"
I'm working with a fit from Pystan. When converting to InferenceData, I can use the flag 'save_warmup', but even if I do that, I don't understand what the significance of that would do.

I'm trying to get a traceplot that is similar to how R would plot it-- giving me a choice to visualize the warmup samples as well. Am I missing something?

[2021-03-19 15:35] rachelstephlee commented on #1621
OK, I figured out that given some Inference data 'data', I can get the warmup posterior by calling 'data.warmup_posterior'. But is there a way to plot the warmup AND the regular samples together?

[2021-03-19 15:49] ahartikainen commented on #1621
Hi, there is no "build in" way to do that, but I think you can achieve similar plot with couple of different ways

Manually combine values with `az.concat` -> not the best solution, no difference between warmup and non-warmup.

Change coordinate values for `draws` as (-nwarmup + index) and plot traceplot for both groups using same axis.

cc. @OriolAbril or @percygautam do you have time to test thi

[2021-03-19 16:05] rachelstephlee commented on #1621
Thank you Ari. Yes, I think i have hacked together something that looks like that using `az.concat`. Can you let me know about the coordinate values? If I can have that figured out, I should be all set.

[2021-03-19 16:57] OriolAbril commented on #1621
Yes, `plot_trace` uses the values of the draw coordinate as x values. I'd recommend the 2nd option Ari suggested, you can also use inferencedata level functions to update all warmup groups at the same time, the code could look like:

[code]

hopefully the code won't have some hardcoded xlims (which we should probably remove if they are), if there are you'd have to loop over the 2nd colum of `ax` t

[2021-03-19 20:48] #1596 closed

[2021-03-19 20:54] OriolAbril opened #1623 "invert the order of links in sampling wrapper docstrings"
https://arviz-devs.github.io/arviz/api/generated/arviz.SamplingWrapper.html#arviz.SamplingWrapper has a link to the api section corresponding to all the wrappers and a link to the user guide section about the wrappers. The temptation to click on the first link and be done with it is strong, so I think I'd be better to invert the order and get the readers to the user guide by "default" instead of t

[2021-03-19 21:42] Grasin98 commented on #1623
I would like to contribute here but since I am new to this, could you guide me?

[2021-03-19 21:46] Grasin98 commented on #1487
Hi @OriolAbril I would like to take on this on going issue and implement few ideas about guides and pages. Also, I am new to this, so would be great if you could guide me.

[2021-03-19 22:11] OriolAbril commented on #1487
Hi @Grasin98 definitely, if you don't mind, let's move the conversation to #1331 so we can close this (same goes for @madhucharan), the installation guide has already been added and the discussion on other guides to add to the docs is at #1331

[2021-03-19 22:32] OriolAbril commented on #1331
@Grasin98 and @madhucharan, above we have a bit of an overview on the sections of the docs now that we have already reorganized it, and some proposals about what pages and guides are missing. I am also keeping track of all the guide related PRs here, so you'll see many issues and PRs linked.

Two pages that I think are badly needed are the "plotting with ArviZ guides": see #1488. I think we should

[2021-03-19 22:34] OriolAbril commented on #1623
Yes, have you read the [contributing guide](https://github.com/arviz-devs/arviz/blob/main/CONTRIBUTING.md)? There is an step by step guide to set up your fork and getting started editing the source code. Let me know if any of the steps are not clear enough.

[2021-03-19 22:36] #1487 closed

[2021-03-22 00:50] pscicluna opened #1627 "coords for pairs of variables."
## Short Description

HI! I'm trying to understand how I can make the coords keyword of many arviz plotting routines to behave in a certain way. I hope explain the problem well enough, I'll gladly try to clarify if not.

To outline my problem, I'm inferring the contents of a correlation matrix with PyMC3. Now, because the matrix is symmetrical, I only want to use the upper (or lower, if it makes a

[2021-03-22 08:01] OriolAbril commented on #1627
Pointwise or non-slice selection with xarray is something that always feels very complicated to me, with very obscure docs. You should be able to perform pointwise selection using DataArrays whose dimension is not present in the xarray object you want to index. Here is an example.

Our dataset has 4 dimensions, and we want to perform pointwise selection with values over 2 of them (I think it shoul

[2021-03-22 08:35] pscicluna commented on #1627
Thanks, that's awesome! I'll give that a try

Any idea if it's possible to hack some sort of custom labelling in v0.11.0? I'm stuck with that to make arviz play nice with PyMC3...

[2021-03-22 08:43] OriolAbril commented on #1627
I don't think it's possible :/.

What may be easier is to get latest ArviZ to play nice with old PyMC3 if you are interested in submitting a PR for that. I think that the only breaking incompatibility is that we removed `geweke` from `arviz/stats/diagnostics.py`, it had been basically broken for a while, it only worked on 1d arrays which little to no arviz data are, nobody complained about this wh

[2021-03-22 17:41] jburos opened #1628 "Example using multidimensional coordinates to label a dimension for a parameter?"
## Short Description

I'm trying to fit a time-series model which my observed data are in a ragged-array or denormalized format (one row per subject-time), and I would like to label certain dimensions with additional information: not only an observation_id, but also subject_id and time. This would apply to predicted quantities, some parameters (depending on use case), and the observed data.

I am

[2021-03-22 18:25] OriolAbril commented on #1628
disclaimer: I started writing before seeing the edit, will try to come back later and be more specific.

I think there are no examples for now, and I think we don't even have example inferencedata objects available that have more more than 3 dims (counting chain and draw), which would be great to show this kind of things in the documentation. Do you have (and can share) or know of some public exam

[2021-03-22 18:53] jburos commented on #1628
On this topic:

Yes. Thank you ..  I noticed this, but I haven't carried through all the implications of it just yet [i saw from issues that you are working on the doc for this]. I wanted to note that the [xarray.swap_dims](http://xarray.pydata.org/en/stable/generated/xarray.Dataset.swap_dims.html#xarray.Dataset.swap_dims) operation made it pretty easy to switch from one set of coordinates to anot

[2021-03-22 21:36] MgeeeeK commented on #1617
Hey @OriolAbril , sorry for the delay, I got stuck somewhere else.

Anyways, even though you described it perfectly I just wanted to make sure that I need to enable type checking for `io_pymc3`'s input and if in case it's of type `InferenceData`, it should raise the error as you mentioned... Am I missing anything here?

[2021-03-22 21:51] OriolAbril commented on #1617
That is all.

[2021-03-22 22:45] OriolAbril commented on #1613
To fix this issue, one has to rename the `sample` dim created when stacking in `loo` and `loo_pit` to `__sample__` to avoid name collisions.

[2021-03-22 22:48] OriolAbril commented on #1574
@madhucharan any news on this? Do you know roughly when will you have time to work on this?

Right now it's not an immediate concern but this should be done before our next release. I'd have no problem working on this now or in a while, but the earlier I know if I'll have to do it the better I can plan around my other commitments

[2021-03-24 06:52] pscicluna commented on #1627
Ah, okay, thanks for explaining that. If I get the chance, I will attempt the PR, but seeing as this is quite a new package I might as well also force an update to the latest versions of pymc and arviz once the custom labellers are available and I have figured out how to use them :)

Thanks for all the help!

[2021-03-24 17:57] OriolAbril opened #1630 "dtypes with cmdstanpy"
We should take a look at how we handle dtypes in `from_cmdstanpy` (or directly on cmdstanpy). See https://github.com/teddygroves/figure_skating/pull/1 for an example.

Note this is more of an issue _candidate_ for now. I will try to play around a bit and see where things are going wrong, but I am posting anyways because 1) someone may already know the answer and I will not need to look into this a

[2021-03-24 19:44] ahartikainen commented on #1630
io_cmdstan uses explicit dict

https://github.com/arviz-devs/arviz/blob/main/arviz/data/io_cmdstan.py

io_pystan access model_code to infer dtypes.

[2021-03-24 19:45] ahartikainen commented on #1630
CmdStanPy does not handle dtypes.

[2021-03-25 12:09] MgeeeeK commented on #1613
Thanks for the suggestion... I would like to work on the fix, can you assign it to me?

[2021-03-25 12:47] MgeeeeK opened #1631 "[DOC] Add docs to showcase existing `Dask` support."
## Tell us about it

As @OriolAbril has pointed out in the gitter room, Arviz lacks on the documentation side for showing the current `Dask` capabilities in the stats module which was recently added in #1229 .

[Computation](https://arviz-devs.github.io/arviz/user_guide/computation.html) page mentions about this as well.

## Thoughts on implementation

Just like [Numba - an overview](https://arviz

[2021-03-25 13:01] MgeeeeK commented on #1631
Since, I plan to work on the [`Speed-up, parallelize and distribute ArviZ`](https://github.com/arviz-devs/arviz/wiki/GSoC-2021-projects#speed-up-parallelize-and-distribute-arviz-python) project this summer... I would like to work on this issue.

Any suggestions/feedbacks is appreciated.

[2021-03-25 17:50] PHJT003 opened #1633 "Error with plot_joint: number of rows must be a positive integer, not 0"
**Describe the bug**
The `az.plot_joint()` function does not display any plot.

**To Reproduce**
I uploaded a Jupyter Notebook with the error [here](https://github.com/PHJT003/sos/blob/dc7baff3d2d186921d90d46d7f264b280996139e/arviz/az.plot_joint.ipynb).

Alternatively, the error can be reproduced using one of the examples on the [ArviZ site](https://arviz-devs.github.io/arviz/api/generated/arviz.p

[2021-03-25 19:12] OriolAbril commented on #1633
Hi, thanks for reporting, arviz 0.3.1 is very old, and a lot has changed since then. I am afraid I can't help with that and no fixes will be added to this version. From this line:

[code]

it looks like the error is this `0, 0` hardcoded in arviz, which used to work and was probably deprecated by matplotlib at some point. As I was saying, arviz 0.3.1 is old, yet you are using the latest matplotlib

[2021-03-25 20:24] utkarsh-maheshwari commented on #313
I saw posteriordb. There are lots of models. I filter out some which have "time series" in keywords. for example -  https://github.com/stan-dev/posteriordb/blob/master/posterior_database/posteriors/rstan_downloads-prophet.json

I also took a quick look of prophet library developed by facebook. I think we can take an idea of time series plots from there too. Can we?

[2021-03-26 00:59] #1617 closed

[2021-03-26 05:15] OriolAbril commented on #1627
I have added a PR to extend the label guide and show how to keep the right labels #1635

[2021-03-26 09:54] AnimeshRy commented on #1623
Hey, I did the changes as described in this issue. I'm new to open source and would like feedback on anything I did wrong.
Here is the [PR](https://github.com/arviz-devs/arviz/pull/1636). Thanks

[2021-03-26 09:55] ferrine commented on #987
[`az.loo`](https://github.com/arviz-devs/arviz/blob/main/arviz/stats/stats.py#L550) is used in many places and some times raises an exception in those functions. For example:[ `az.compare`](https://github.com/arviz-devs/arviz/blob/59575274a5921acae24930733b7125c96ff8e97b/arviz/stats/stats.py#L160) does not work with multiple observed variables and fails when called on a model with multiple observe

[2021-03-26 12:24] OriolAbril commented on #987
#1616 will take care of some immediate fixes,  the end goal however should be to allow computing loo outside compare and pass the result to compare instead of being forced to pass inferencedata to it

[2021-03-26 13:21] OriolAbril commented on #1623
Hi @AnimeshRy, welcome to ArviZ!

Thanks for the PR, and I am happy to see you taking initiative, however, you have to keep in mind that we are a lot of people working on ArviZ which is why we have defined some rules and guidelines on our [contributing guide](https://github.com/arviz-devs/arviz/blob/main/CONTRIBUTING.md#steps-before-starting-work) to ensure smooth collaboration between all contrib

[2021-03-28 01:23] rpgoldman opened #1638 "Fix issues with python 3.6/3.7 support and typing"
When we drop support for these, we should go back and clear away logic for dealing with `typing.get_args()`, which they don't support even when importing `typing_extensions`.

cf. #1616

/cc @OriolAbril

[2021-03-28 12:09] OriolAbril opened #1639 "have get_bins distinguish between float and int data"
[get_bins](https://github.com/arviz-devs/arviz/blob/main/arviz/stats/density_utils.py#L923) currently assumes that `values` passed to it are always integer values, it therefore enforces a minimum bin width of 1. There are some cases however where we may want to use a histogram for continuous data and we do have a `kind` argument in order to override the default continuous->kde, discrete->hist, so

[2021-03-28 12:47] ahartikainen commented on #1639
We probably want higher bin count than auto gives.

rcparams could work? Then a few examples with rccontext?

[2021-03-28 14:47] OriolAbril commented on #1639
I think our custom way to get the bins that we currently use for int data will do that (provided we remove the bin_width>=1 constraint)

[2021-03-28 15:37] PHJT003 commented on #1633
Hi @OriolAbril !
Thanks for your help.

I used `az.plot_pair()` and it worked.!

However, I still could not include the marginal distributions in the figure. When I use the argument `marginals = True`, I get:

[code]

I reproduced this error in the same Jupyter Notebook I linked in my first post.

Best wishes,
Valerio

[2021-03-28 17:15] ahartikainen commented on #1633
Hi, did you update your arviz?

In notebook

    !python -m pip install arviz -U

(And remember to restart notebook)

[2021-03-28 17:37] twiecki opened #1640 "Make summary() less verbose"
I think the default output of `az.summary()` is too verbose. I don't even know what `mcse_mean` means and why I should look at it. I think just having `mean`, `sd`, and the `hdi`s is enough for most people and produces output that's easier to read and less daunting. For people who want more maybe `az.summary(x, sampler_stats=True)` could be added.

[2021-03-28 18:14] PHJT003 commented on #1633
Hi @ahartikainen
I decided to start from scratch with a fresh Anaconda environment: I installed all the dependencies, including the latest version of ArviZ.

Now, everything works fine, thank you a lot!
Also, thanks for developing and maintaining such an amazing library!

Best wishes,
Valerio

[2021-03-28 18:14] #1633 closed

[2021-03-28 20:02] OriolAbril commented on #1640
It looks like you want `az.summary(idata, kind="stats")`

[2021-03-28 20:31] twiecki commented on #1640
Thoughts on making that the default?

[2021-03-28 22:20] OriolAbril commented on #1640
I personally use summary more for its diagnostics than for its stats, so I'd argue against changing the default. Do you think better documentation so it's easier to know about `kind="stats"` would be enough?

Other options that come to mind are adding an `rcParam` for that, or even a `summary_stats` what wraps `summary` setting the default to `kind="stats"`

[2021-03-29 08:26] AlexAndorra commented on #1640
Agree with @OriolAbril, I use the diagnostics a lot in `summary`, especially `r_hat` and `ess`. A wrapper could be interesting because it makes people aware that they are only looking at a subset of the info

[2021-03-29 10:23] twiecki commented on #1640
What about dropping `mcse_mean` and `mcse_sd`?

[2021-03-29 11:52] AlexAndorra commented on #1640
I indeed rarely use that (but maybe that's on me). If it's not that important, we could make that optional?

[2021-03-29 11:57] twiecki commented on #1640
I think that's more old-school, I can't find that recommended in any recent
texts.

On Mon, Mar 29, 2021 at 1:52 PM Alexandre ANDORRA ***@***.***>
wrote:

[2021-03-29 12:20] ahartikainen commented on #1640
I think our summary follows more or less R `posterior` package.

@avehtari @jgabry @paul-buerkner

FWIW mcse is good when estimating the mcmc accuracy for the parameter (did I get my terminology wrong here)

[2021-03-29 12:23] michaelosthege opened #1642 "Coord can't have the same name as a model variable (xarray limitation)"
**Describe the bug**
This is a [known limitation of xarray](https://github.com/pydata/xarray/issues?q=is%3Aissue+and+the+same+name+as+one+of+its+dimensions).

I'm creating this issue to track it, and for others to find the information easier.

**To Reproduce**

[code]

**Expected behavior**
ArviZ should be able to deal with random variables and their dimensions having the same name.

**Additional

[2021-03-29 12:35] OriolAbril commented on #1642
This I am actually not sure it will be fixed at all on xarray side, from my understanding, the limitation comes from the fact that coordinates and variables are basically the same and are mostly separated for convenience. For example, coords can be accessed both as `dataset.coords["coord_name"]` _and_ `dataset["coord_name"]`, for variables to have the same name as coords, the 2nd can't work as it

[2021-03-29 12:38] OriolAbril commented on #1640
The default method to compute `mcse` shown in `summary` are the ones in https://arxiv.org/abs/1903.08008, which also recommends checking it's small enough.

[2021-03-29 12:42] michaelosthege commented on #1642
I thought about proposing `f"dim_{original}"` in the issue description, but then I realized that the users interact directly with the xarray objects.
We could, however, think about printing a `UserWarning` in PyMC3 even before starting the costly MCMCs.

It's clear that we need a workaround from the PyMC3/ArviZ side - it'd be best if we can agree on a best practice naming scheme..
* `f"_{original}

[2021-03-29 12:45] OriolAbril commented on #1642
Our default is `{original}_dim_0`, `{original}_dim_1`... so I'd probably go with `{original}_dim` without number whenever this happens while printing a warning.

[2021-03-29 12:51] michaelosthege commented on #1642
Right. That sounds good. I will adopt the `{original}_dim` pattern myself and will watch out for opportunities to warn/raise a `UserWarning` early on the PyMC3 side.
Then ArviZ can implement the automatic conversion + warning as a fallback against loosing precious samples.

[2021-03-29 13:16] twiecki commented on #1640
OK, sounds like people see good reasons to keep it, just wanted to open the discussion.

[2021-03-29 13:16] #1640 closed

[2021-03-29 19:19] OriolAbril opened #1643 "Unify model comparison api"
model comparison functions like `compare` and `plot_elpd` take a dictionary of inferencedata objects but both should also allow either a dict of inferencedata objects or a dict of elpddata objects (like plot_elpd already does). This will allow users to compute loo/waic outside the call to compare and store the result as elpddata, and then analyze the elpd data, use compare, plot_khat, plot_elpd, w

[2021-03-30 01:24] OriolAbril opened #1644 "Expose skip_dims/flatten argument"
All density plots (except plot_ppc) reduce the chain and draw dimensions, some have a combined argument to avoid reducing the chain dimension,  but in some cases this is not enough, and similarly to plot_ppc behaviour, we would like to choose at will which dimensions to reduce. I think we should support that.

## Thoughts on implementation
Exposing skip_dims argument from xarray_var_iter should do

[2021-03-30 01:37] OriolAbril opened #1645 "Add a coords/dims guide"
This guide should cover the following topics. 1) coords and dims definition in ArviZ (complementary to the conversion guides) 2) basic xarray selection and how this relates to the coords argument (also could be a good idea to cover var_names and filter_vars), 3) diving deeper into xarray. ArviZ itself uses a relatively small subset of xarray, even from a pure data storage prespective. In ArviZ eac

[2021-03-30 12:21] AnimeshRy commented on #1623
I think you can close the issue now @OriolAbril

[2021-03-30 14:20] OriolAbril commented on #1623
I have been a bit busy lately and have not had time to merge all the finished PRs, I'll do so now, and in doing so, the issue will be closed automatically when merging the PR, this is the reason why I edited your initial PR description. Thanks for the remainder anyways :smile: and thanks a lot for the PR

[2021-03-30 14:39] #1479 closed

[2021-03-30 14:39] #1614 closed

[2021-03-30 14:40] #1623 closed

[2021-03-30 15:43] #1628 closed

[2021-03-30 15:53] jburos opened #1646 "add test for from_cmdstanpy to distinguish between vectors of length 1 and scalars"
**EDIT (@OriolAbril): See https://github.com/arviz-devs/arviz/issues/1646#issuecomment-1125464400 for an up to date description of the issue.**

---

**Describe the bug**
When fitting a model using cmdstanpy and reading it into an arviz.InferenceData object, I sometimes end up with a vector parameter with length 1.

When this happens, the io_cmdstanpy code incorrectly ignores the last dimension, c

[2021-03-30 16:45] jburos commented on #1646
FWIW, this example works fine if these lines are removed:  https://github.com/arviz-devs/arviz/blob/main/arviz/data/io_cmdstanpy.py#L594-L595

I can make a quick PR ..

[2021-03-30 16:49] ahartikainen commented on #1646
There was probably some reason for the logic.

code should check if the variable is 'scalar' or nD object.

@mitzimorris @OriolAbril

[2021-03-30 17:02] OriolAbril commented on #1646
I think we added that to distinguish between multidimensional arrays and vectors to fix the previous issue where everything was flattened. We need some tests to check all possible cases, scalar, 1d array of lenght 1, 1d array of length n and nd array to make sure removing this doesn't break anything.

[2021-03-30 17:02] OriolAbril commented on #1646
And we should probably test on length 0 arrays for sampling wrappers and reloo

[2021-04-01 03:31] Tsai-Ni commented on #1610
Hi, I'm a first-time contributor, can I be assigned this issue?

[2021-04-01 03:32] ericch99 commented on #1644
@OriolAbril Hi, this is my first contribution -- how difficult do you anticipate this issue being? If it's not too difficult, I'd like to take a stab at it. Thanks!

[2021-04-01 07:20] OriolAbril commented on #1644
Hi @ericch99, this should be a good first contribution, it's mostly a matter of adding this argument and making sure it gets passed downstream to the right `xarray_var_iter`, `xarray_to_ndarray` (the function in `sel_utils` called by the plotting function.

The main question on that is on our side actually, before that we should define the _name_ of this argument! Give us ~1 day to think about thi

[2021-04-01 07:48] OriolAbril commented on #1610
Hi @Tsai-Ni ! Welcome to ArviZ!

I will assign this issue to you. Let us know if you need any help with this. We are here to help.

I personally have a love/hate relation with forestplot and I don't really know how complicated it will be. The times I have worked on it I did a very bad job at predicting how much time it would take me to get the job done; things I expected to be easy became complica

[2021-04-01 15:15] utkarsh-maheshwari commented on #313
Do we need a seperate function to tackle regression which does not include time series analysis?

[2021-04-01 17:23] Rishabh261998 commented on #1574
HI @OriolAbril I would like to work on this, as I am new to pytest this would help me get familiar with it. Can I be assigned to it, but it would take some time as I am completely new to it. Thanks!

[2021-04-01 18:07] OriolAbril commented on #1574
Sounds good, let me know if you need any help

[2021-04-03 19:17] almostmeenal commented on #1486
This sounds good, I recently went through InferenceData docs and they do seem ambiguous and all over the place, the entire issue seems like something that would probably be done over multiple PRs, but I guess to begin with I can take care of this part, I'd like to take it up if noone is working on it at the moment.

[2021-04-03 19:19] almostmeenal commented on #1645
I might take some time, but I wanna play around more with xarrays so I guess if I work on this, it'll probably give me a tangible roadmap to learn a bit and then write it down. I understand this isn't marked beginner friendly or something, so I get it if it's not an appropriate issue for me, but I'd like to work on it.

[2021-04-03 23:42] OriolAbril commented on #1644
@ericch99 you should use `combine_dims` for the argument name, even if it's eventually passed to `skip_dims` in `xarray_var_iter`. I am assigning the issue to you now, thanks for reaching out :smile:

[2021-04-04 07:22] OriolAbril commented on #1486
Great, note that you have to extend the currently existing notebook at https://github.com/arviz-devs/arviz/blob/main/doc/source/getting_started/WorkingWithInferenceData.ipynb

There are some examples on how to combine inferencedata objects at https://arviz-devs.github.io/arviz/api/generated/arviz.concat.html#arviz.concat.

Using the documentation system outlined in https://documentation.divio.com/

[2021-04-04 07:29] OriolAbril commented on #1530
I think https://github.com/arviz-devs/arviz/pull/1632 will fix this

[2021-04-04 07:31] OriolAbril commented on #1496
This is done already :smile: so I'll close the issue

[2021-04-04 07:31] #1496 closed

[2021-04-04 07:38] OriolAbril commented on #1645
Thanks! I actually forgot to link some issues in the original description with questions about slicing and coords  usage that can be helpful.

* https://github.com/arviz-devs/arviz/issues/1628 (for "section" 3)
* https://github.com/arviz-devs/arviz/issues/1627 (for "section" 2 advanced)

[2021-04-04 09:32] Piyushagg19 commented on #1643
Hi, I'd like to work on this issue.

[2021-04-04 19:10] OriolAbril commented on #1643
Done! Thanks for your interest in ArviZ, let us know if you have any doubts or there is something not clear enough on the contributing guide

[2021-04-04 19:17] almostmeenal commented on #1645
I'll have a look at these and get to it once I'm done making the inferencedata documentation PR. thanks!!

[2021-04-05 12:37] ahartikainen opened #1649 "docutils 0.17 fails docs"
0.16 works.

Description TBD

[2021-04-05 19:08] Hossein-1990 opened #1651 "contour plot"
Hi everybody
I’m going to plot a 95% probability contours using Arviz. I know that plot_pair is for constructing contours, but there isn't any option to adjust the HDI interval. Is there any other function to approach this problem?

Thanks

[2021-04-05 19:33] ahartikainen commented on #1651
Our plot_pair basically calculates density with `_fast_kde_2d` function and then pushes that density on a grid to matplotlib contour function.

https://github.com/arviz-devs/arviz/blob/d10e5b3f1d71152f06e6d138807118c36cbd122b/arviz/stats/density_utils.py#L852

I'm not sure if there is a way to set specific values for contours, but if there is, then it should be possible through `kde_kwargs` -> `co

[2021-04-06 02:43] MgeeeeK opened #1652 "Geweke diagnostic used inside numba user guide"
Numba [user guide](https://arviz-devs.github.io/arviz/user_guide/Numba.html) imports geweke diagnostic even though its removed from arviz (#1545), this results in an `ImportError`.

[code]

[2021-04-06 15:44] OriolAbril commented on #1651
I guess it is possible provided you trust the kde and don't mind computing things only within the grid it's defined in. As Ari suggested, you can choose which levels to plot when calling matplotlib contour function, but I don't think this is of any use in practice. There are too many things to check and that will probably depend on each specific pair of variables (kwargs are common for all of them

[2021-04-06 16:06] ahartikainen commented on #1651
One more thing to consider, you can probably calculate the area with the calculated contour (see bokeh code for calculating the contour locations with mpl functions manually).

[2021-04-06 18:33] Hossein-1990 commented on #1651
In my opinion, it isn't logical too (to specify certain contour), but apparently this is common in some areas! this is the one of those:
![jj](https://user-images.githubusercontent.com/79316338/113760744-d94ca980-972b-11eb-8c36-9ad51f330b61.png)

Note that, the original programming language for this graph is R!  (maybe its code in R is easier than python!)

[2021-04-06 18:40] Hossein-1990 commented on #1651
Thank you. For being more clarified, I added an image to show the case which I'm going to plot. But as I mentioned above, seemingly in R it is more common to plot those kinds of plots (and easy to write too)

[2021-04-06 18:59] OriolAbril commented on #1651
You should take a look at the actual source code for the plot if you can, the idea should be the same, and the main problem is conceptual.

I also remembered that [corner.py](https://corner.readthedocs.io/en/latest/pages/arviz.html) supports this already and also supports InferenceData inputs. It uses a similar apporach to the idea I outlined in the sub-bullet point on how to compute it, in this c

[2021-04-07 07:11] aloctavodia commented on #1651
I will try to implement a general solution, unless someone else is interested.

[2021-04-07 12:10] #1613 closed

[2021-04-07 22:11] Hossein-1990 commented on #1651
Thanks to all replies, I could solve the problem by corner. These are my codes:
1) a simple example:
`import corner
a = np.random.normal(loc= 2 , scale = 1 , size = 2000)
b = np.random.gamma(shape = 4 , scale = 3 , size = 2000)
c = np.array([a ,b]).T
fig = corner.corner(c, levels=(0.68,))
plt.show()`

2) an example with pymc3:
Note that the chemical shift data is available here: [https://github.co

[2021-04-07 22:15] Hossein-1990 commented on #1651
Thanks to all responses, I could solve the problem. These are codes for an artificial example:
![4](https://user-images.githubusercontent.com/79316338/113941444-55bab780-9814-11eb-9ce4-7f679cdb2dbd.png)
you can extend the method to any function.

[2021-04-08 09:14] lucianopaz opened #1654 "Add a way to plot credible intervals with plot_ppc"
## Tell us about it

`plot_ppc` is very nice, you can control the `kind` of plot and also the number of posterior predictive lines to draw with `num_pp_samples`. I would like to ask if it would be possible to add an option to plot credible intervals instead of single draws from the posterior predictive. Consider the following example:

[code]

The resulting plot is something like this
![image](htt

[2021-04-08 15:58] OriolAbril commented on #1654
I think the ideal situation here would be to implement https://arxiv.org/abs/2103.10522 to compare several (or all) of the posterior predictive distributions to the observed one. The hdi of kde lines looks nice, but I don't think there is any guarantee that kde lines of the same distribution will lie completely inside the shaded region with 95% probability.

We can definitely add the option for th

[2021-04-09 13:28] lucianopaz commented on #1654
I agree that the paper's method is a great posterior predictive check in itself. My proposal was much more mundane.

Regarding the problem about the kde lines not being in the region of 95% probability, I think that it should happen only 5% of the time. What I thought could be an issue is that the hdi region could be artificially large due to multimodality, for example consider this graph:

![imag

[2021-04-09 14:39] OriolAbril commented on #1654
I would bet against this actually, we are calculating the hdi on a per gridpoint basis, so while we can say tht 5% of the lines will be outside the hdi region _at a given point_, I don't think we can say anything about whole lines being outside the hdi region at any point of the grid. I think that for us to say that the shaded area is the 95% hdi region, it should be interpreted that kdes will be

[2021-04-09 19:36] OriolAbril commented on #1654
It looks like the coverage on whole kde lines is indeed far from the "nominal" hdi when generating areas with this method.

[code]

[2021-04-09 23:58] OriolAbril opened #1657 "Bokeh deprecation warnings"
I saw

[code]

in the docs build. We should search for all occurrences of these in the codebase and update them.

[2021-04-10 00:18] Closed-Limelike-Curves commented on #1654
I think this code is testing whether the whole graph falls inside the HDI, which isn't an especially useful diagnostic (if the KDE is mostly inside the HDI, it's probably good and the bits of it sticking out are probably random chance). My intuitive understanding of what an HDI for a PPC looks like is that if I have a 94% HDI, 94% of my KDE should fall inside the HDI on average if my model is soli

[2021-04-10 01:23] ghost opened #1658 "Unable to Plot Posterior Predictive Check"
I get a weird bug when I try to run the following code, which just fits a model and then (should) plot the posterior predictive check:

[code]

Returned error:

[code]

[2021-04-10 01:24] OriolAbril commented on #1654
Yes, I am testing that the whole kde line is inside the hdi shaded area, which is what I believe should be considered and the only clear and interpretable diagnostic. Again, in my opinion the ideal solution to this is using https://arxiv.org/abs/2103.10522.

I do believe it could be useful to add this, but we have to be careful on that because it is no clear at all what exactly does the hdi shaded

[2021-04-10 01:27] OriolAbril commented on #1658
Can you share the output of printing `trace.posterior_predictive`?

It could be an issue with data conversion, and how ArviZ interprets what dimensions are chains, draws and other variable dimensions. If so, I believe that using `keep_size=True` in `fast_sample_posterior_predictive` will solve the problem.

[2021-04-10 14:46] migunasekera commented on #1657
Hi @OriolAbril, I'd be interested in contributing, could I be assigned to this?

[2021-04-10 15:54] OriolAbril commented on #1657
Done, thanks! Let us know if you have any doubts

[2021-04-10 18:15] Closed-Limelike-Curves commented on #1658
Here's the output:
[code]
`keep_size = True` does not seem to make a difference. I suspect it's related to #982 since I have missing data that was imputed in PyMC3.

[2021-04-10 19:22] fonnesbeck commented on #1529
Calling the `cpu()` method on data that's already on the `cpu()` will just be ignored, so no need to check. I will submit a PR for this now.

[2021-04-10 19:55] OriolAbril commented on #1658
Sounds related yes. What is the output of `trace.observed_data`? Maybe it's possible to subset one to match the other so it can be plotted (I assume that using `plot_ppc(..., observed=False)` does work)

[2021-04-14 09:52] wm1995 commented on #1651
I actually also had this issue, and had been in the process of writing a pull request to fix it. I've never written a pull request before, but I do think I have working code to solve this, if it would be helpful.

The algorithm I used was to take the grid output by `_fast_kde_2d`, flatten and sort it, and then take the cumulative sum. I could then calculate the HPD thresholds from that and pass th

[2021-04-14 10:14] almostmeenal commented on #1486
this is the explanation for? (sorry for getting back so late in this issue)

[2021-04-14 10:53] OriolAbril commented on #1651
I'll let @aloctavodia guide you on this as he may have already done some work on that.

We do have contributing guidelines at [CONTRIBUTING.md](https://github.com/arviz-devs/arviz/blob/main/CONTRIBUTING.md).

[2021-04-14 11:04] wm1995 commented on #1651
Thank you for the guidance! I'll wait to hear from @aloctavodia before doing anything further.

[2021-04-14 11:12] OriolAbril commented on #1486
Following the documentation system in https://diataxis.fr/ (they just changed the url, but it's the same content I linked to above), docs are not supposed to be all over the place but should be separate at least into 4 different pages. `InferenceData` docs are actually close to getting there, but we need to also make sure each page is clear on what is explained in them and has links to the other p

[2021-04-14 19:31] derekpowell opened #1661 "Weird `plot_ppc()` for numpyro model with custom mixture distribution"
## Short Description

I'm trying to estimate a finite mixture beta regression model using numpyro. The actual model I'm trying to fit is more complex, but I've reproduced my issue with a simpler model. `y_obs` is produced by two mixture components: one related to another variable `x` and another just centered at .50. This is roughly meant to represent how lots of human probability judgments look,

[2021-04-14 21:34] ahartikainen commented on #1661
What is the shape for the yhat? Is it a vector?

I think our ppc does some kind of flattening which causes your draws to be plot under the same var. If you check ppc (solid blue line) you can see that there are two distinct groups (in densities). This is probably due to flattening your mixture model.

cc @OriolAbril might have an idea what to do

[2021-04-14 23:49] OriolAbril commented on #1661
I ran the code to see what was going on, and it looks like the draws either sample from one of the mixture components or from the other, is that what should happen?

The mean therefore looks a bit closer to the observed kde, but the other kde which are done will the pp samples for a single draw are completely different.

[code]

![image](https://user-images.githubusercontent.com/23738400/114794322

[2021-04-15 03:45] nrakocz opened #1662 "bug in r2_score implementation"
**Describe the bug**
there is a bug in implementing the **_Bayesian R-square_** as described by Aki Vehtari.

In his description:

<a href="https://www.codecogs.com/eqnedit.php?latex=R^2&space;=&space;\frac{\mathrm{Var}_{\mu}}{\mathrm{Var}_{\mu}&plus;\mathrm{Var}_\mathrm{res}}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?R^2&space;=&space;\frac{\mathrm{Var}_{\mu}}{\mathrm{Var}_{

[2021-04-15 07:33] aloctavodia commented on #1662
Hi @nrakocz thanks for taking the time to report this.

It seems to me that the current implementation is correct. var_y_est is the variance over the expected value of y. that is you first compute the mean for each observation and then the variance over the N observations.

Also with the current implementations something like:

[code]

will give you a value of r2 around 0.5 while the current imple

[2021-04-15 07:43] #1652 closed

[2021-04-15 07:47] aloctavodia commented on #1651
Thanks @wm1995 for your offer to solve this. Let me know if you need help. If possible I would recommend you make a PR and then we can discuss over that, but let me know if you need help prior to that.

[2021-04-15 09:35] aloctavodia opened #1663 "Implement simultaneous confidence bands for ECDF of PIT"
This is related to the paper https://arxiv.org/abs/2103.10522 and the R code is https://github.com/TeemuSailynoja/simultaneous-confidence-bands

[2021-04-15 09:38] aloctavodia opened #1664 "Implement ECDF difference plot for convergence diagnostics"
This is related to the paper https://arxiv.org/abs/2103.10522 and the R code is https://github.com/TeemuSailynoja/simultaneous-confidence-bands

[2021-04-15 10:42] OriolAbril commented on #1663
cc @Rishabh261998

[2021-04-15 10:42] OriolAbril commented on #1664
cc @Rishabh261998

[2021-04-15 12:09] Random-coder123 commented on #1657
Hi, I would like to contribute to this, could I please be assigned? Thank you

[2021-04-15 12:11] Rishabh261998 commented on #1663
@OriolAbril should I start working on this now? as I have included this in the GSoC timeline. As of now, I was thinking of looking into this #1574, as it has been idle for a long time.

[2021-04-15 12:18] OriolAbril commented on #1663
No need to work on this now, just wanted you to be aware of all the relevant issues.

[2021-04-15 13:59] OriolAbril commented on #1657
Hi @Random-coder123, the issue is already assigned to @migunasekera and per [our contributing guidelines](https://github.com/arviz-devs/arviz/blob/main/CONTRIBUTING.md) would only be available if in 10 days there were to be no updates at all or @migunasekera commented here to unassign from the issue.

There are many other tasks to work on though, would https://github.com/arviz-devs/arviz/issues/11

[2021-04-15 16:34] derekpowell commented on #1661
Thanks @ahartikainen and @OriolAbril for the replies: Yes the yhat should be a vector drawn from the mixture distribution not just its individual components. Your diagnosis of what's happening seems exactly right but I can't figure out why it's happening. For comparison I also wrote a model using a mixture of normals and it has no problem with the pp checks.

[code]

And doing inference just like

[2021-04-15 16:58] nrakocz commented on #1662
Hi @aloctavodia! Thank you for replying so quickly!

I understand where the confusion comes from. The notation Var_mu from the link is a little confusing.

The book, however, has it written more clearly:
![Bayes_r2](https://user-images.githubusercontent.com/39495768/114906867-597baa80-9dcf-11eb-8ecf-eda223900765.jpg)

Notice that there is an R2 score for each posterior simulated sample s.

Also, y

[2021-04-15 18:16] OriolAbril commented on #1661
@fehiepsi can probably help more on that. I don't really know why it's not working.

[2021-04-15 22:49] ahartikainen commented on #1662
For

    y (100,)
    yhat (2000,100)

We should get

    r2 (2000,)

[2021-04-15 23:01] nrakocz commented on #1662
Thank you, @ahartikainen, for your comment. That supports my suggestion.

I would also suggest `Arviz.r2_score` return all samples of R2 instead of just the mean and std (as in current implementation) to provide the entire distribution and let the user decide what to do with it. But that might be another issue.

I don't mind submitting pull requests if it helps.

[2021-04-15 23:06] ahartikainen commented on #1662
Sorry, I deleted my comment

There was a mention that y (100,) + that (2000,100) -> r2 (2000,)

I would like to mention that our help docs is not really helpful.

[code]

We probably would like to have 1 function that returns the array of r2 values and then r2_score will call it and return mean and std. Now we are unable to draw histogram from the r2 values.

[2021-04-15 23:31] ahartikainen commented on #1662
https://github.com/jgabry/bayes_R2/blob/master/bayes_R2.R

[code]

[2021-04-16 04:16] ericch99 commented on #1644
Hi @OriolAbril, sorry for the late response -- school's been a little busy! That said, I have a couple of comprehension-type questions to make sure I'm on the right track.

1) I suppose that `ppcplot` already has the functionality we want -- in that case, am I correct in assuming that `combine_dims` will be analogous to / the same thing as `flatten`? (i.e., a list)

2) The correct approach is to s

[2021-04-16 06:01] ericch99 commented on #1644
As a follow-up, I am a little confused as to which plots are supposed to implement this functionality; I'd assume that the plotting functions that don't call `xarray_var_iter` or `xarray_to_ndarray` can be left alone, but `plot_dist_comparison` does call `xarray_var_iter`, and it's not obvious to me what we are reducing over -- in the example given in the documentation, would the desired behavior

[2021-04-16 10:42] aloctavodia commented on #1662
@nrakocz You are right, sorry that i bring noise to the discussion. Thanks for noticing this and offering to do a PR. I agree it will be nice to have an option to return all the values. I think it can be the same function with an argument to return the entire posterior distributions or a summary.

[2021-04-16 10:50] OriolAbril commented on #1644
Yes, list, tuple, array, set... It needs to be converted to a set down the line, so as long as this is possible it should probably work.

Yes, all functions using `xarray_var_iter` or `xarray_to_ndarray` should have this `combine_dims` added and pass it to `xarray_...` as `skip_dims`. The goal is that users will then be able to choose what gets plotted in a given axes. In the rugby case, using `co

[2021-04-16 11:57] almostmeenal commented on #1486
@OriolAbril got this, um what about az.concat. that works on two inference datasets and we have one, so should i import another one? or create another one from the original one

[2021-04-16 13:36] OriolAbril commented on #1486
Depending on what you want to do you can create a fake/synthetic idata or simply use a copy/subset. To show how to extend an inferencedata with more draws, a copy or a subset (i.e. chains 0 and 1 only) is already fine. There is no difference in  how to operate with two real and different idata and that.

[2021-04-16 14:27] #1529 closed

[2021-04-17 09:00] ahartikainen opened #1668 "Bayesian variable (one-object mode)"
I think we could wrap our mcmc parameters in a custom class that would make it easier to work with the mcmc results (in the spirit of rval (?) in posterior package).

In mcmc world (samples)

Scalar -> shape=chain,draw
Vector -> shape=chain,draw,vector_dim
Matrix -> shape=chain,draw,*matrix_dims

# example

When we want to do `matrix * vector` product with mcmc results, we need to be careful that

[2021-04-17 11:52] OriolAbril commented on #1668
I have a lot of ideas on operations, with correctly labeled objects I think we can do a lot of magic

[2021-04-18 01:28] fehiepsi commented on #1661
@derekpowell Here are some lines that might cause the issue:
+ The mixing probability should have shape `batch_shape + (num_mixtures,)`
[code]
+ This line does not respect `sample_shape`. You need to make sure that `mixing_logits` is broadcasted to have shape `sample_shape + self.batch_shape + (num_mixtures,)`
[code]
+ Those lines do not respect broadcasting
[code]
[code]
[code]

[2021-04-18 02:35] fehiepsi commented on #1661
@derekpowell I just address the above issues and it seems to return the expected result. Could you double-check?
[code]

I think the takeaways here is to make sure that the implementation follows [tensor shape senmatics](http://pyro.ai/examples/tensor_shapes.html): tensor/numpy arrays broadcast by aligning on the right. By the way, the above code can be generalized to more general patterns like
[c

[2021-04-19 09:52] rlouf commented on #1662
I cam here to suggest the exact same thing as @nrakocz : `r2_score` should provide the entire distribution of `R2` values.

[2021-04-19 16:33] derekpowell commented on #1661
@fehiepsi Thank you! Works perfectly in both the example and my actual application. I figured I was botching up the tensor shapes but couldn't write the tests to figure out where I was going wrong. I'll see if I can wrap my head around your code well enough to attempt a generalization for a PR myself, but otherwise will try to draft up a clear FR.

Thanks to all for your help, closing this as it w

[2021-04-19 16:33] #1661 closed

[2021-04-19 19:25] fehiepsi commented on #1661
Thanks! FYI, PyTorch has [MixtureSameFamily](https://github.com/pytorch/pytorch/blob/master/torch/distributions/mixture_same_family.py) that you can use as an API reference (the implementation there is a bit complicated to follow).

[2021-04-20 05:09] grburgess opened #1670 "warmup samples not being properly split between posterior and warmup posterior"
**Describe the bug**
when using save warmup in cmdstanpy and then passing to arviz InferenceData object, the entire chain(s) are passed to the warmup posterior instead of being split between the posterior and the warmup posterior.

Though, the posterior shows the dimension of the entire chain... but having an empty array.

**To Reproduce**

versions:

[code]

sample with cmdstanpy and set:

```ite

[2021-04-20 05:16] grburgess commented on #1668
I like this idea. I've worked on similar things in the past and will be willing to help.

[2021-04-20 06:24] ahartikainen commented on #1670
This looks like a bug in our end. Probably some typo in the splitting procedure. Let's see, I try to replicate the results.

[2021-04-20 07:59] ahartikainen commented on #1670
Weird. I could not reproduce the error.

[2021-04-20 08:26] grburgess commented on #1670
@ahartikainen hmm, I will make a very simple example myself and see if I can provide a full example. I have *not* noticed this in the past, so perhaps there something strange in my setup... I'll report back in a bit.

[2021-04-20 08:35] grburgess commented on #1670
@ahartikainen however, for the moment, I attach the file that has this issue:

[fit_plaw_sim.h5.zip](https://github.com/arviz-devs/arviz/files/6342013/fit_plaw_sim.h5.zip)

[2021-04-20 08:48] ahartikainen commented on #1670
Yeah, there is not posterior samples in that file.

[2021-04-20 09:11] ahartikainen commented on #1670
Ok, I was able reproduce this. The error is in the ArviZ version in PyPI. This has already been fixed with github main.

We need create a new release at some point.

In a mean time you can do

    pip install git+https://github.com/arviz-devs/arviz

[2021-04-20 09:12] grburgess commented on #1670
Aha... thanks. In the past I have been using the main and this was a fresh install for a new project.

Thanks for checking on this!

[2021-04-20 16:16] Tsai-Ni commented on #1644
Hi @OriolAbril! I'm currently working on this issue with @ericch99. I noticed that unlike `xarray_var_iter`, which already has a `skip_dims` argument, `xarray_to_ndarray` does not have any variables that can be assigned `combine_dims`. However, would implementing a `skip_dims` in `xarray_to_ndarray` be out of scope?

[2021-04-20 17:14] OriolAbril commented on #1644
Ideally, that would be in scope and a great addition, I actually missed completely that `xarray_to_ndarray` doesn't have this capability when writing the issue.

Now that you say it, it does make sense that it doesn't. There can be repeated labels, in which case, the number of samples for each "column" of the ndarray would not be the same for all columns. I think the code would have to be updated

[2021-04-20 23:49] OriolAbril commented on #1668
I think one of the options is having a one or two layer minimal library on top of xarray to help with that.

The one layer option would be basing everything on ArviZ and its conventions, mostly the reserved dims `chain, draw` but we could add more info to our objects like some metadata, using `dim` and `dim_bis` or something like that for square matrices...

The two layer option (I think this woul

[2021-04-21 00:28] OriolAbril opened #1671 "Track citations in InferenceData"
AFAIK, there is no clear extended/good system to track citations in python (I hope I'm wrong though), I propose using the attributes in InferenceData to track this. If possible, converters could add the relevant citations for their library (in addition to name and version) as well as the citation(s) for the sampling algorithms used. Base ArviZ, xarray, numpy, netcdf4? citation could also be added

[2021-04-21 04:16] aloctavodia commented on #1671
We could populate a list with unique two character identifiers, to keep it short, or using name-year (or name-year-letter to disambiguate), to make it more human-friendly. We then ensure the list is not redundant and then get the bibtex from a dictionary. That should be fine when the worflow is creating a bibtex file for each project  . But it will not help if the worflow is getting access to a bi

[2021-04-21 05:23] grburgess commented on #1668
Would the idea also extend to being able to pop samples into functions for easier propagation?

It might also be nice to have a convenient flatten command over chains.

[2021-04-21 08:14] OriolAbril commented on #1668
Yes to everything, we already had https://github.com/arviz-devs/arviz/issues/1469 too

[2021-04-21 14:07] canyon289 opened #1672 "Tutorial showing best practices for interacting with the returned matplotlib objects"
## Short Description
Copied from twitter

https://twitter.com/teddygroves/status/1384852735296671744

## Ideas
Perhaps better documentation in function documentation, or maybe in exploratory analysis. This one is open ended for ideas

[2021-04-21 14:12] OriolAbril commented on #1672
Maybe this could be the last section of the matplotlib plotting guide? See #1488

[2021-04-21 22:16] ericch99 commented on #1644
@OriolAbril just wanted to confirm Tsai-Ni's comment!

I also have an additional question about scope -- I noticed in the original description of the issue, it specified that density plots in particular (such as `distcomparisonplot`) needed this functionality. Should we also implement this for other plots like `autocorrplot`? In that case, implementation is not as straightforward, since it looks l

[2021-04-21 23:16] OriolAbril commented on #1644
Indeed, we should probably have defined the scope better, sorry about that. Not all plots should have this `combine_dims` argument. I copied all the plotting functions from the docs and tried to organize them below.

some of these are for the parameters, others are for observations/predictions, diagnostics and others like model comparison related plots. Moreover there are some lower level plots th

[2021-04-22 04:25] Tsai-Ni commented on #1644
@OriolAbril We are working on the straightforward plots you listed. As for unique coordinate values case, can you please elaborate on what you mean?

[2021-04-22 04:31] grburgess commented on #1670
Just confirming that this is fixed with a pip install from the master.

[2021-04-22 04:31] #1670 closed

[2021-04-22 05:05] Tsai-Ni commented on #1644
As a followup,

FOLLOWUP:
1. Pair Plot: We are running into errors because adding `combine_dims` results in a `ValueError` where 2 arrays cannot be concatenated -- specifically, for the centered_eight data given in the documentation.
2. Forest Plot: Given that this file does not use any xarray functions, how would you suggest we go about adding the `combine_dims` functionality?
3. Testing: How do

[2021-04-22 10:57] wm1995 opened #1673 "Setting levels for 2D KDE contour plot returns errors for Bokeh backend"
**Describe the bug**
Setting the `levels` parameter for either `contour_kwargs` or `contourf_kwargs` in `plot_kde` returns errors for the Bokeh backend.

**To Reproduce**
[code]
returns the error
[code]

If instead `levels` is set to an integer specifying the number of contours desired (e.g. `levels=3`), a different error is thrown.

[code]

**Expected behavior**
In both cases, I'd expect plots to

[2021-04-22 11:10] ahartikainen commented on #1673
Yeah, bokeh calculates those levels manually, so we don't probably propagate that kw to correct function

[2021-04-22 11:14] ahartikainen commented on #1673
Ok, we just probably need to pop levels from contour_dict and use `np.asarray`

[2021-04-22 14:18] wm1995 commented on #1673
I think I've got a fix for this - shall I open a PR?

[2021-04-22 15:14] ahartikainen commented on #1673
I actually just did a PR about this.

Can you compare our solutions?

[2021-04-22 15:23] wm1995 commented on #1673
Oh, sorry, I should have checked back before submitting my PR

[2021-04-22 15:24] OriolAbril commented on #1644
I have now realized that this is already an issue, so adding the `combine_dims` won't introduce this problem (it won't solve it either but this is fine). Here is what I mean:

[code]

Which is expected behaviour, values with the same label are added to the same "pack". So while `xarray_var_iter` works in this case and therefore most plots do work with that, `xarray_to_ndarray` does not, the shapes

[2021-04-23 07:05] #1673 closed

[2021-04-23 07:07] ahartikainen commented on #995
Reason is that contour function returns one continuous line for area (which goes to .patch). Fixed by changing line_color to same as fill_color.

Best option would be using multi_polygon, but currently we don't have functionality to do this (considering multiple modes problem)

[2021-04-23 07:07] #995 closed

[2021-04-23 16:29] mike-lawrence commented on #499
FYI I'll be working shortly on translating cmdstan CSVs to InferenceData (netcdf4) from R. I'll be posting my work [here](https://github.com/mike-lawrence/aria), but will propose a PR when I have something arviz users might find useful.

[2021-04-23 16:59] ericch99 commented on #1644
Hi @OriolAbril, thanks -- that was incredibly helpful input! Per your suggestion, we have opened a preliminary pull request as that may be easier to comment on. Please let us know if you have any questions on what we did, and we're looking forward to your feedback!

[2021-04-24 17:18] OriolAbril commented on #1668
Look into easy interfacing with scipy.stats module too as ufuncs.

[2021-04-25 16:51] wm1995 opened #1677 "Pylint 2.8.1 fails arviz/stats/density_utils.py"
**Describe the bug**
Pylint 2.8.1 has added some new checks, one of which (`R1731: consider-using-max-builtin`) fails on the existing [`arviz/stats/density_utils.py`](https://github.com/arviz-devs/arviz/blob/79a9fd78cdca90bf401397c47ed1fe737e957606/arviz/stats/density_utils.py#L404)

**To Reproduce**
Run the linting checks with the latest version of Pylint (I ran mine in the Docker container)
[cod

[2021-04-25 18:39] ColCarroll commented on #1677
Thanks for the catch!

Do you want to submit the patch, or it is easy enough for me to.

[2021-04-25 21:24] wm1995 commented on #1677
I've put it in #1665 but it may be more appropriate in a standalone PR? Happy to be guided by you on this - please let me know if I can do anything else to help

[2021-04-25 21:39] OriolAbril commented on #1677
#1665 is already ready to merge so I think it's not necessary to split that into another PR.

[2021-04-26 05:59] grburgess commented on #1668
btw, we have done something like this in another package and perhaps it s useful to look here (https://github.com/threeML/threeML/blob/master/threeML/random_variates.py) though this is with numpy and not xarray. we could prt some of this if useful.

[2021-04-27 13:52] OriolAbril opened #1680 "plot_dist_comparison has no warning when max_subplots goes over the max"

[2021-04-27 20:15] ahartikainen commented on #1677
Hi, didn't remember that there was discussion about this, I fixed this issue today (because I want to keep main branch working)

[2021-04-27 20:15] #1677 closed

[2021-04-28 15:19] almostmeenal commented on #1486
@OriolAbril Hi! I'm sorry for replying so late, I'm alright mentally and physically now so I'm free to get back to contributing!!! Um I think I'll make a draft PR with very basic changes and whatever I feel might work, and from thereon you can suggest redirections or changes, does that sound good?

[2021-04-28 16:05] OriolAbril commented on #1486
Sounds great! :smile:

[2021-04-29 01:38] vikramnagashoka commented on #1657
Hi,
I would like to pick up this task. Can I please be assigned to this ?
Thanks

[2021-04-29 15:36] OriolAbril commented on #1657
As it has been already two weeks since the last comment there has been no activity I have assigned it to you. As always, let us know if you have any doubts.

[2021-04-29 17:57] aseyboldt opened #1682 "Compute test statistic for distribution of divergences vs non-diverging samples"
I often use `plot_parallel` for finding clues about why divergences might be happening, there seem to be two problems with this however. First, it plots *the accepted point of a trajectory that diverged*, not the point of divergence itself. This adds noise, and makes it less usefull. Second, if the model is large, there might just be way too many variables to plot, so it takes a lot of guessing or

[2021-04-29 20:49] OriolAbril commented on #1682
For the first point, I think those samples could be added to `sample_stats` as `diverging_samples` or `diverging_points` or something like that, maybe with `diverging_{var_name}` to avoid having to flatten multidim variables? We should also `__sample__` dimension to avoid nans/ragged data.

For the second point, we could add a function to ArviZ that does that. As it uses ks_2samp from scipy it can

[2021-04-29 20:52] vikramnagashoka commented on #1657
Thanks for assigning it to me. I have created a pull request for the same here.
[https://github.com/arviz-devs/arviz/pull/1683](url)

[2021-04-30 09:49] javipus opened #1684 "Upgrade stan code in docs to 3.0.2"
**Describe the bug**
The stan code in [this example notebook](https://github.com/arviz-devs/arviz/blob/main/doc/source/getting_started/CreatingInferenceData.ipynb) included in the docs does not work with v3.0.2 for several reasons:

1. The library should now be imported as `import stan`.
2. The class `StanModel` has been deprecated.

**To Reproduce**
Run the notebook.

**Expected behavior**
The co

[2021-04-30 10:15] ahartikainen commented on #1684
We might want to keep also example for pystan 2.x, but also add a new example for 3.x.

[2021-04-30 15:01] Tsai-Ni commented on #1610
Hi @OriolAbril,

Thank you for giving me the opportunity to see whether this would be doable for a beginner, as well as all your help on the other issue I worked on. However, I do not believe I will have time to work on this issue anymore. Thank you for your understanding!

[2021-04-30 16:50] OriolAbril commented on #1470
Closing this as we moved the converter to pymc3 codebase and the model context is already required in the v4 version

[2021-04-30 16:50] #1470 closed

[2021-04-30 16:55] #1439 closed

[2021-04-30 17:07] OriolAbril opened #1685 "Get kde to fail gracefully when given constant data"
In some cases kde gets arrays that represent a constant value, all samples have the exact same value. AFAIK, this currently works (it may print a warning but it definitely works) but as expected it generates very tall spikes _a la_ dirac delta. It would be great to have it return nans or something like that, mostly for `plot_trace` in compact mode.

See discussion in https://github.com/arviz-devs/

[2021-04-30 17:07] #1639 closed

[2021-04-30 17:24] OriolAbril commented on #1248
I kind of remember @sethaxen fixing this but would like confirmation before closing.

[2021-04-30 17:49] sethaxen commented on #1248
I believe this was fixed in #1407.

[2021-04-30 19:02] #1248 closed

[2021-05-01 03:53] Closed-Limelike-Curves commented on #1658
Here's the output of `trace.observed_data`:

[code]

Prior predictive checks do work (`observed=False`).

Also notable is that `plot_loo_pit` doesn't work with missing data:
[code]

The LOO-PIT works when I drop the missing data, and also for variables with no missing data, suggesting this is the problem again. What's the intended behavior for missing data? Plotting posterior means/medians, droppi

[2021-05-02 20:11] alexisperakis commented on #1680
Hi, first-time contributor here, can I be assigned to this issue? Is there any further info?
Thanks

[2021-05-02 20:20] ColCarroll commented on #1680
Welcome! Happy to assign to you.

You can check out [here](https://github.com/arviz-devs/arviz/blob/main/arviz/plots/traceplot.py#L200-L212) in traceplot, there are 12 lines that get the "plotters", and check that against the maximum number of subplots. I think this would be fixed by:

1. Putting some very similar code [here](https://github.com/arviz-devs/arviz/blob/main/arviz/plots/distcomparison

[2021-05-03 01:38] Closed-Limelike-Curves commented on #1658
@OriolAbril

[2021-05-03 16:18] sushmit86 commented on #1467
@canyon289 Can you help me how can I rename variables for multivariate distribution

[code]

In the above k=3 instead of theta[0], theta[1], theta[2] I am looking for something
like A,B and C

[2021-05-04 11:23] OriolAbril commented on #1658
So the issue here is that the kde/hist of the posterior predictive will include the missing (and therefore imputed data) as part of the distribution, which won't allow to do posterior predictive checks because the observed kde/hist won't and can therefore be completely different distributions. One example, imagine a linear regression where we have `y` values for low and high `x` values, but not fo

[2021-05-04 11:47] OriolAbril commented on #1467
To rename what is shown permanently for multidimensional variables, you need to modify the coordinate values of the xarray dataset. For changes that affect plotting but not the inferencedata itself (so label based indexing stays the same) you should take a look at https://arviz-devs.github.io/arviz/user_guide/label_guide.html (and use [ArviZ development version](https://arviz-devs.github.io/arviz/

[2021-05-05 01:12] Closed-Limelike-Curves commented on #1658
I mean, I think it makes sense to allow plotting these both with and without imputation, so that you can see how imputation affects your data. In cases where it's only necessary to plot a kde and not specific points, it makes sense to plot the weighted mixture of the kde and the posterior distribution imputed for a specific point. It's definitely useful to be able to see where your imputations are

[2021-05-05 10:32] OriolAbril commented on #1658
I am not sure I understand your point, do you have some example to clarify? Are you saying in some cases it could make sense to have a ppc that compares the posterior predictive with imputed data to observations without imputed data? But not for loo_pit/bpv right?

Also @junpenglao may be able to help as he is much more knowledgeable on missing data and imputation and how they work on pymc.

[2021-05-05 19:36] alexisperakis commented on #1680
Hi, I would like to ask you a question.
We want to check if `dc_plotters` goes over the limit.
If I understood correctly, is the maximum number of plots that arviz allows to be displayed the variable `len_plots`? If this is the case, I need to compare it with this variable

[2021-05-05 20:44] OriolAbril commented on #1680
The behaviour is already correct, we want to cut `dc_plotters` to have at most `len_plots`. The issue is that when `dc_plotters` is actually truncated, a warning must be shown, like it's done in the code example linked above by Colin. If `dc_plotters` is short enough that it doesn't need to be truncated, then there should be no warning.

[2021-05-05 21:37] alexisperakis commented on #1680
Thank you

[2021-05-06 14:54] OriolAbril commented on #1469
Proposal for this, a `get_dataset` or `extract_dataset` function, something like:

[code]

I believe this will handle most practical cases and be quite flexible while still being very little code as everything is reused from other functions/externalized.

[2021-05-06 19:02] galexopoulos commented on #1643
Hello ArviZ team,
Is it possible I can be assigned to this issue?
Thank you!

[2021-05-06 20:17] OriolAbril commented on #1643
Hi, yes, as it has been more than 2 weeks without any activity since the last comment I am assigning the issue to you as indicated in our [contributing guidelines](https://github.com/arviz-devs/arviz/blob/main/CONTRIBUTING.md#if-the-issue-ticket-has-someone-assigned-to-it)

[2021-05-07 11:56] galexopoulos commented on #1643
Hello, I have some questions regarding this issue:

What is the difference between the values in  `compare_dict`  (https://github.com/alexisperakis/arviz/blob/9998758b75f657b676fcfd70b11410847ed5d030/arviz/plots/elpdplot.py#L34 )
and  `dataset_dict` ?(https://github.com/alexisperakis/arviz/blob/9998758b75f657b676fcfd70b11410847ed5d030/arviz/stats/stats.py#L52)

Also, in the `compare` function, is

[2021-05-07 12:17] chiral-carbon commented on #1469
Hi! I recently submitted a PR for updating [GLM poisson regression](https://github.com/pymc-devs/pymc-examples/pull/154) to best practices, and on executing cell 18 I get this RuntimeWarning:
[code]
when I try to call `az.summary` on trace created using model based on `pymc.glm.GLM.from_formula`

@OriolAbril suggested that this might be relevant to the discussion here.

[2021-05-07 12:18] chiral-carbon commented on #1469
Hi! I recently submitted a PR for updating [GLM poisson regression](https://github.com/pymc-devs/pymc-examples/pull/154) to best practices, and on executing cell 18 in that notebook I get this RuntimeWarning:
[code]
when I try to call `az.summary` on trace created using model based on `pymc.glm.GLM.from_formula`

@OriolAbril suggested that this might be relevant to the discussion here.

[2021-05-07 12:21] chiral-carbon commented on #1469
Hi! I recently submitted a PR for updating [GLM poisson regression](https://github.com/pymc-devs/pymc-examples/pull/154) to best practices, and on executing cell 18 in that notebook

``` az.summary(np.exp(inf_fish_alt.posterior), kind="stats")```

I get this RuntimeWarning:
[code]
Here, `inf_fish_alt` is the trace created using model based on `pymc.glm.GLM.from_formula`

@OriolAbril suggested that

[2021-05-07 15:23] OriolAbril commented on #1469
yeah, here we basically want to exponentiate all varibles _except_ mu because `mu` has alredy been exponentiated in the model code and doing so again results in overflow. If the proposed funciton were available, we'd be able to get the right subset quite easily and then exponentiate this and pass it to summary.

[2021-05-07 15:44] ahartikainen commented on #1643
ELPD repr should list all keywords it can access... right? I think it currently does not show these

[2021-05-09 00:12] Closed-Limelike-Curves commented on #1658
For both cases, I'm saying that it should be possible to plot both with and without imputed data using some option like `inc_missing = True`. This way, it would be possible to see whether your posterior predictive check or LOO-PIT plots look different when missing data is included. If objects are plotted on the kde plot using the point-cloud method (drawing a Gaussian or other pdf for each observa

[2021-05-10 07:23] almostmeenal commented on #1486
@OriolAbril I was looking for sample arviz data to use. I realised we could really use a page that describes the qualitative meaning of the sample arviz datasets that we load; else, understanding context WHY we perform inference data operations is tricky. We want to add real-time usage on top of xarrays. let me know if that makes any sense Since We want to add perspective on real-time

[2021-05-10 07:44] OriolAbril commented on #1486
I am not sure I understand, but it sounds similar to https://arviz-devs.github.io/arviz/api/generated/arviz.list_datasets.html#arviz.list_datasets, maybe we could generate a page from all the info listed there?

As a general comment, there shouldn't be many context explanations in "Working with InferenceData" page. The goal is to guide users with common idata operations, we use the example data no

[2021-05-10 07:49] almostmeenal commented on #1486
Got it!! also, thanks for pointing to az.list_datasets() I was looking for this and couldn't find the function; yeah, a page generated from it would make sense. Just adding print(az.list_datasets()) in the source code would be good enough, I guess. And, I'll keep the non-contextual usage function thingy, thanks!

[2021-05-10 10:18] Xamoutsa opened #1692 "Using Arviz with Pymc3 and Tkinter"
Hi!
I am using pymc3 for MCMC( pmx.sample() ) and then az.summary(trace).In Jupyter notebook everything works fine,but when i use Tkinter (I am making a GUI) ,and press the button I assigned for arviz summary command,nothing happends(in the command line of notebook doesnt appear error or something similar).The rest of the GUI runs without problems.

## Code Example

import arviz as az

def Summary

[2021-05-10 11:43] ahartikainen commented on #1692
Not sure, but where should you see it?

Also, I think you need to return something in that function or edit some pre-existing variable.

[2021-05-10 12:14] Xamoutsa commented on #1692
In the GUI every plot appears as pop-up(matplotlib and corner),so i expected the same from az.summary(as in notebook).

I tried `print(az.summ..)` but it prints the summary in the command line of  Jupyter while the GUI is running.Is there a way to be pop-up as well? Maybe is there a command like `plt.show()` is used for matplotlib in pycharm?

[2021-05-10 14:16] canyon289 commented on #1692
@Xamoutsa Closing is just us trying to keep things organized. Feel free to keep asking for help but do know none of us are tkinter experts so frankly speaking their docs and sites may be more helpful. However we are happy to share any knowledge we do have!

[2021-05-10 17:07] Xamoutsa commented on #1692
Actually i found two solutions..The first one is just assign the dataframe to a string variable and print it in GUI using Label function and the second is using pandastable library with Frame from Tkinter.

Maybe they are a little sloppy solutions,but they get you the information you want.

Thanks both for your time!

[2021-05-10 23:26] OriolAbril commented on #1658
I think that there are several different things to take into account in this discussion, so I'll try to separate those in different paragraphs.

The first thing to take into account is the type of imputation. If missing data is imputed before sampling, then everything should work the same as with no missing data at a code level, but the conceptual implications need to be weighed carefully. Everyth

[2021-05-13 14:53] sethaxen opened #1693 "Ensure dimension order can be anything"
Currently all examples I have seen order the dimensions for samples as `(chain, draw, shape...)`, where `shape` is the shape of a single draw of the variable. This particular ordering shouldn't be necessary, and allowing alternative orderings might enable samples from PPLs to be used without copying. e.g. Turing stores variables as `(draw, shape..., chain)`.

This might already be supported. If so

[2021-05-13 15:06] sethaxen opened #1694 "Posterior plot errors with boolean array"
When passed a boolean array, `plot_posterior` fails with the following error because `np.histogram` assumes that subtraction is defined on the array:
[code]

This example reproduces the error:

[code]

[2021-05-13 15:11] junpenglao commented on #1693
+1. TFP mcmc currently output variables as `(draw, chain, shape, ...)`
I think an option to pass an indication or mapping of where the `draw` and `chain` is would be sufficient

[2021-05-13 16:37] OriolAbril commented on #1693
There are two things to take into account for this to work, luckily with xarray the second is already taken care of.

The first thing is conversion from ppl data to inferencedata. ppls use a given ordering but so far none uses named dimensions, so we need to know the ordering for things to work. Currently all converters end up calling `dict_to_dataset` which assumes the input are dicts with var na

[2021-05-13 16:40] OriolAbril commented on #1694
Just to be clear, the expected output would be a histogram with two bins, one around 0 and another around 1 (in which case we can add an `astype(int)` before the histogram and be done with it)? Or should the labels be `True` and `False`?

[2021-05-13 16:44] #1651 closed

[2021-05-13 16:46] sethaxen commented on #1694
I'd expect the second, even though the first option is easier.

[2021-05-13 16:55] OriolAbril commented on #1694
Then I think it should be something like:

1. Evaluate and store condition of whether or not the dtype is boolean
2. If True, do the `astype(int)` for histogram to work
3. (plotting should not require changes, just here for completeness)
4. If True, change the plot labels from 0 and 1 to False and True. Then reset the variable storing the condition

[2021-05-13 16:55] junpenglao commented on #1693
Expanding on the first case, how about an API like:
[code]
which default being `draw_axis=1`, `chain_axis=0`

[2021-05-13 16:57] junpenglao commented on #1693
Oh it also makes supporting single chain and MAP easier:
[code]

[2021-05-13 17:42] ahartikainen commented on #1694
We should use bar graph with counts for bool data, not hist.

[2021-05-16 10:46] serdarsemih opened #1698 "Reformatting the Highest Density Interval (HDI) result on the posterior plot from percentage to float"
I conducted a Bayesian mean difference test and obtained the posterior plot of the parameter estimation. I adjusted the HDI probability to 0.995; however, the plot_posterior function of Arviz rounds the probability value to 100% when displaying on the plot, as seen in the following figure. I need that plot to display 99.5%, which is the exact value of credible interval. Although the "round_to" arg

[2021-05-16 15:05] #1630 closed

[2021-05-16 23:18] OriolAbril commented on #1698
Should we have `round_to` and `format_sig_figures` and other number formatting functions be provided by the labeller? And then allow different rounding options for every value/type of value?

[2021-05-18 16:36] serdarsemih commented on #1698
In my case, when I set the ‘hdi_prob’ parameter of the plot_posterior function as equal to 0.995, the plot should display 99.5% instead of 100%. I think the percentage is the best display to concise the credible interval, so there might be no need for other value types. The ‘round_to’ parameter also works well.

[2021-05-18 20:40] OriolAbril commented on #1698
We currently have only one `round_to` argument, which is used by the hdi endpoints and for the point estimate but not for the hdi percentage, and I think this is good, we can easily need 3-5 digits for point estimates and hdi limits, but we'll generally need 0-1 decimal places for the hdi percentage. Having the decimal places of the hdi percentage hardcoded to 0 is not good, and we should change i

[2021-05-18 21:11] serdarsemih commented on #1698
That would be great if labeller provides those options. Many thanks.

[2021-05-22 12:10] OriolAbril opened #1702 "LOO PIT documentation/warnings and user experience in general"
`loo_pit` and `plot_loo_pit` have had several issues for a while, both in terms of code/design and in terms of documentation. This aims to be a bit of a brainstorming to first gather all problematic points related to those and suggest fixes. cc @avehtari @aloctavodia

* `plot_loo_pit` doesn't take the output from `loo_pit`, every plot must recompute loo pit currently. This should be changed, eithe

[2021-05-22 12:37] OriolAbril opened #1703 "plot_posterior doesn' accept label as kwarg"
I think this is related to how we pass kwargs downstream to plot_dist or plot_kde... will look into it at some point unless someone beats me to it. My hunch is that plot_dist and plot_kde have a `label` argument and pass it explicitly to matplotlib instead of doing `setdefault` so if a label is passed via kwargs too it becomes a duplicated argument and errors out

Fixing this would allow using plo

[2021-05-22 19:17] avehtari commented on #1702
The probability integral transformation for discrete data is discussed in Czado, Claudia, Tilmann Gneiting, and Leonhard Held (2009). “Predictive Model Assessment for Count Data”. In: Biometrics 65.4, pp. 1254–1261. Direct use of PIT gives biased results. That paper discuss randomized and deterministic approach for correcting the issue. For a large number of distinct states the bias is smaller. I

[2021-05-25 02:37] torfjelde opened #1704 "NumPyroConverter makes too many assumptions about the model"
The following code is not always runnable:

https://github.com/arviz-devs/arviz/blob/7ebedd2d1494f07513bc7b9ea21962bc11399a94/arviz/data/io_numpyro.py#L126-L133

This will fail for a model involving `ImproperUniform`, as sampling for it is not defined.

Would it be possible to add a keyword argument that specifies whether this automatic extraction of observations should be attempt or not, e.g. `ex

[2021-05-25 09:07] OriolAbril commented on #1704
I think adding an extra argument to skip this sounds fine, as would probably be adding a try except or even both. cc @fehiepsi

[2021-05-25 10:38] utkarsh-maheshwari commented on #1694
I guess this means plots/posteriorplot.py need to be edited and not plots/backends/matplotlib/posteriorplot.py .. ?

[2021-05-25 12:52] ahartikainen commented on #1694
User api should not change. Feel free to edit backend files.

[2021-05-25 19:52] utkarsh-maheshwari commented on #1694
Do we need `**bar_kwargs` plot bar plots?

[2021-05-26 10:04] utkarsh-maheshwari commented on #1694
@OriolAbril Can you please assign this issue to me?
I have added some lines of code and submitting a pr to discuss the problems.

[2021-05-26 12:01] OriolAbril commented on #1694
done, in practice, especially with gsoc coming, you can already consider yourself assigned if you are the first to comment on the issue that you'll work on it, even if we take some time to assign you via the gitub assign feature. We already have a couple lines on that on the [contributing guide](https://github.com/arviz-devs/arviz/blob/main/CONTRIBUTING.md#if-an-issue-ticket-exists) for agility wh

[2021-05-26 14:42] Rishabh261998 opened #1706 "Adding plot_forest example for multiple datasets"
I was thinking that we could add an example of how to use `plot_forest` for multiple datasets. It would help newcomers and also the example would help us demonstrate the feature of legends as it is only valid for multiple datasets

[2021-05-27 15:27] brandonwillard opened #1708 "Update PyMC3 version string parsing"
We're seeing [an issue](https://github.com/pymc-devs/pymc3/pull/4726/checks?check_run_id=2683532131#step:7:305) with version strings of the form `"4.0.0.dev0"` in `_monkey_patch_pymc3`.:
[code]

[2021-05-27 16:00] ahartikainen commented on #1708
from packaging import version
    packaging.version.parse(pm.__version__) < packaging.version.parse("3.9")

[2021-05-27 16:04] OriolAbril commented on #1708
We should probably finish and merge #1660 instead of working on `io_pymc3.py`. pymc3 4.x already has the converter in the pymc codebase which does not need monkeypatching anymore and should not have this issue to begin with. The converter we still have at ArviZ should only be kept here for backwards compatibility and be imported at runtime only if pymc3 < 4.0 is installed.

[2021-05-27 18:35] utkarsh-maheshwari commented on #1703
https://github.com/arviz-devs/arviz/blob/bd0b786e6ab6ea5767110cf46fe0650c869d02f2/arviz/plots/backends/matplotlib/posteriorplot.py#L311-L321

As label is not added here, it will be considering default value of label (i.e. None).
Would None value of label still be conflicting with label passed via kwargs?

[2021-05-27 19:14] OriolAbril commented on #1703
`plot_posterior` does not set the label but `plot_kde` does:

https://github.com/arviz-devs/arviz/blob/1997afe0cf92d32e6ee71a94226fc458ace22313/arviz/plots/backends/matplotlib/kdeplot.py#L147

it should be set as `setdefault` to `plot_kwargs` or `fill_kwargs` or the corresponding kwargs (which one may depend on the type of plot so be careful here). Otherwise, if label is passed via kwargs, matplot

[2021-05-28 01:05] hectormz commented on #662
@aloctavodia I'm back on it! Just catching up with all that has changed in the meantime.

[2021-05-28 15:30] OriolAbril opened #1709 "label guide is broken"
The code in https://arviz-devs.github.io/arviz/user_guide/label_guide.html has not executed properly. It looks like an indentation issue in the first code cell.

[2021-05-28 19:38] utkarsh-maheshwari commented on #1703
Done, Thank you so much 🙇🏼‍♂️

[2021-05-28 21:00] fehiepsi commented on #1704
Because this just requires a valid trace, I believe we can just use some sort of init_to_uniform strategy. I'll push a PR shortly.

[2021-05-28 21:27] nk3843 commented on #1709
I want to help fix this? Please guide. This will be my first attempt at open source contribution. Thanks!

[2021-05-28 21:51] torfjelde commented on #1704
True, but even so, as a user, I'd prefer not always inferring this, i.e. at least allow me to turn it off. E.g. the observations might be not be present because I'm "observing" using a factor, in which case the automatically inferred observations can be misleading.

[2021-05-28 22:20] OriolAbril commented on #1709
Hi, welcome! You have to follow the steps described on the contributing guide to fork the repo, edit and send a PR, there is no need to build the documentation locally though, it can be generated by Azure from the PR so you can download it as a zip and see how it looks.

As for the changes themselves, there are two to be done:

1. Move the ipython directive https://github.com/arviz-devs/arviz/blob

[2021-05-28 22:23] fehiepsi commented on #1704
That's a good point! I think you can set `observations = None` or delete some of its keys if you want. It will give you some flexibility in extracting `log_likelihood` or something like that.

[2021-05-29 00:20] torfjelde commented on #1704
How about adding a kwarg `observations=None` and then do `if observations is None and self.model is not None` or something along those lines? This way you can choose not to extract the observations by setting `observations={}` or any empty collection.

[2021-05-29 03:30] canyon289 opened #1711 "Council restatement of commitment"
Per our governance doc the council needs to restate their commitment each year on April 7th. We collectively forgot about this deadline so are carrying out this restatement today.

@OriolAbril
@ColCarroll
@AlexAndorra
@sethaxen
@ahartikainen
@aloctavodia

Please reconfirm you'll lead the community and uphold what we've laid out in the governance document for another year. In the event we don't get

[2021-05-29 03:31] canyon289 commented on #1711
Since I'm a council member here's my affirmation. Happy to lead ArviZ for another year! Thrilled we've made it one year with this governance process and everyone seems happy!

[2021-05-29 06:19] ahartikainen commented on #1711
Yes

[2021-05-29 08:39] sethaxen commented on #1711
I also affirm! (has it already been 1 year?)

[2021-05-29 09:58] OriolAbril commented on #1711
Also happy to continue one more year

[2021-05-29 11:32] ColCarroll commented on #1711
I'm still committed!

[2021-05-29 12:27] AlexAndorra commented on #1711
I also affirm Sir!

[2021-05-29 16:00] aloctavodia commented on #1711
Aye!

[2021-05-29 16:14] ColCarroll commented on #1711
Closing for 2021.

[2021-05-29 16:14] #1711 closed

[2021-05-29 22:25] nk3843 commented on #1709
Hi,

Resolved the issues and sent a pull request. Please review.

Best,
Nikhil

[2021-05-31 04:59] #1709 closed

[2021-05-31 08:07] Srijha09 commented on #1188
Hi, I would like to work on this issue. Can I work plot_hdi and hdi if its not taken by anyone?

[2021-05-31 16:29] OriolAbril commented on #1188
That would be great @Srijha09

[2021-05-31 17:29] Srijha09 commented on #1188
Thanks for updating the link. Just a clarification before I do a PR, I am supposed to add external references on backend_kwargs to bokeh and matplotlib methods, right?
Also, I went through the InferenceData.sel/InferenceData.isel, it looks like all the references and the see also section has been  added referencing to each other.
https://arviz-devs.github.io/arviz/api/generated/arviz.InferenceData

[2021-05-31 17:51] OriolAbril commented on #1188
Yes, you'll have to check the source code to see to which function/method they are passed and add a link there using intersphinx.

https://arviz-devs.github.io/arviz/api/generated/arviz.InferenceData.isel.html
https://arviz-devs.github.io/arviz/api/generated/arviz.InferenceData.sel.html

Thanks! I must have forgotten to update the description, I'll do it now

[2021-05-31 18:12] Srijha09 commented on #1188
Okay thanks. I'll do that.

[2021-05-31 18:40] Srijha09 commented on #1188
Hey, also I see you have added other functions as well. Would it be better if I add all the references to the functions and create a single pull request?

[2021-05-31 19:32] OriolAbril commented on #1188
yes, I figure the last point about _all_ other functions in the library wasn't clear enough so I tried to be more explicit. I would suggest making several PRs modifying 1-3 files each, otherwise the single PR touching nearly all the library is doomed to have multiple git conflicts and need to be rebased a few times which in the long run will be more work than multiple PRs.

[2021-06-01 04:42] Srijha09 commented on #1188
Alright thanks.

[2021-06-01 05:28] fehiepsi commented on #1704
Sounds reasonable to me. Do you want to submit a PR? :)

What do you think @OriolAbril? We can filter out `factor` variables (those variables contain log probabilities, which plays the role of `target += ...` in [Stan](https://mc-stan.org/docs/2_26/stan-users-guide/examples.html#triangle-distribution)) but I'm not sure if arviz's log_likelihood will include those terms (in Stan, PyMC3,...?) In my

[2021-06-01 16:16] OriolAbril commented on #1704
Yeah, it does sound great, some other converters already have an argument for the observed data. I think that for coherence with those converters, the argument should be `oberved_data`, then for what it should take, I think a boolean to keep or disable the current behaviour makes sense, not sure if taking a dict of "extra" variables to add or override in the `observed_data` would make sense too.

[2021-06-02 02:25] fehiepsi commented on #1704
Oh, that's a good point! I forgot that `factor` can be used this way. ;)

[2021-06-02 18:09] utkarsh-maheshwari commented on #512
@ahartikainen
What are the assumptions we make about the data groups that should be present in `infernecData` passed as input??

This is an example `kidiq` that I am taking from posteriordb but there is no posterior predictive here, just the posterior. Can it be used as an example?
![image](https://user-images.githubusercontent.com/32706356/120530664-6bef8900-c3fb-11eb-8699-804f19fd0355.png)

[2021-06-03 05:34] ahartikainen commented on #512
good question. I think we need to calculate the posterior predictive with python.

[2021-06-04 21:05] hectormz opened #1715 "Plot multiple coordinates of a posterior variable's dimension on the same axis"
## Tell us about it

I think it should be possible with Arviz to plot multiple coordinates of a posterior variable on the same graph, for simple comparison. I have not seen an example that achieves this.

Basically, I would like to create select plots from `az.plot_trace()` for select variables/coords/dims, without the actual traces, etc:

[code]

![image](https://user-images.githubusercontent.com

[2021-06-04 21:33] OriolAbril commented on #1715
We have https://github.com/arviz-devs/arviz/pull/1676 to combine multiple coords into a single KDE. For what you ask, my opinon changes regularly, but I currently think the best way to do this is with a helper function that generates axes arrays cleverly. For example:

[code]

[2021-06-05 21:06] canyon289 opened #1716 "Remove testing dependency on http download for radon dataset"
**Describe the bug**
Loading radon dataset is causing network failures in tests. We should remove this dependency anyway since we want our tests to be as isolated as possible.

https://github.com/arviz-devs/arviz/blob/main/arviz/tests/base_tests/test_stats.py#L607

**To Reproduce**
See CI pipeline here
https://dev.azure.com/ArviZ/ArviZ/_build/results?buildId=4434&view=logs&j=e9e5789a-ef7e-54d7-c52

[2021-06-05 21:13] canyon289 commented on #1716
@utkarsh-maheshwari assigning this to you for now so you have first right of refusal

[2021-06-06 11:44] utkarsh-maheshwari commented on #1716
I think task is to create `inferencedata` with multiple log_likelihood variables, without using any external datasets.
However, internal datsets like https://github.com/arviz-devs/arviz/blob/4d9caca88a9a3b4043062609cb9a401e3f08804d/arviz/tests/helpers.py#L181 can be called inside `test_loo_pit_multi_lik()` and then adding to it an extra `log_likelihood` variable with random values would do our wor

[2021-06-06 11:46] utkarsh-maheshwari commented on #1716
Also, size of the new variable doesn't matter. It could be anything.

[2021-06-06 18:03] utkarsh-maheshwari commented on #1716
But I didn't actually understand the significance of this test.

[2021-06-06 20:40] utkarsh-maheshwari commented on #512
https://gist.github.com/utkarsh-maheshwari/8d4cd2fd84c763bf85291c3f0881d588

Here is my initial try for visualization of linear regression models inspired by `plot_posterior_predictive_glm` from pymc3. There are still lots of things that need to be considered though.

[2021-06-06 21:04] OriolAbril commented on #512
Use

[code]

so `mom_iq` gets automaticaly stored as constant data. Moreover, we should definitely *not* convert to dataframe:

[code]

will work with xarray out of the box and avoid the need to loop for computation, Ari's function above has an example with stacking to get a random subsample.

Also bit of a side note, `eval` is a reserved word in python, it's not a good idea to use as variable nam

[2021-06-06 22:32] OriolAbril commented on #1715
I do think it's useful, but I would not make that a "responsibility" of `plot_posterior` because as shown, it kind of already supports that. IMO, this would ideally be a helper function that given an inferencedata/posterior dataset and some arguments (not sure how to indicate how should kdes be overlayed) it returns one of these "clever" axes array with repeated references so that when passed to p

[2021-06-07 18:03] utkarsh-maheshwari commented on #512
@OriolAbril  Thank you for the suggestions. Made the suggested changes.
I think, here, visualizing uncertainty in y points is insignificant because points are closely packed. (Should we include an option to show it ?)

Now there are many points that are needed to be considered for the function `plot_lm`:

- Other input parameters
- Initial checks on the input data
- Fill area of uncertainty?
-

[2021-06-07 18:13] #1716 closed

[2021-06-08 18:08] utkarsh-maheshwari commented on #512
I guess, using `plot_hdi`, as suggested by @aloctavodia would make it look great.

@ahartikainen, about the y_model, I think we can do it like [this](https://gist.github.com/utkarsh-maheshwari/8d4cd2fd84c763bf85291c3f0881d588)?

Should I open a new issue to discuss particularly `plot_lm` and it's visualization. Otherwise, this issue will stretch very long.

[2021-06-09 12:59] Srijha09 commented on #1188
Hi just to clarify, since this issue has been closed shall I update the other functions as well by doing some PRs?
Let me know

[2021-06-09 13:13] OriolAbril commented on #1188
Yes, the issue is not fixed yet, only partially

[2021-06-09 19:04] utkarsh-maheshwari commented on #512
![image](https://user-images.githubusercontent.com/32706356/121412787-b3898e00-c982-11eb-8f30-b1fed28c14cd.png)

[2021-06-09 19:04] utkarsh-maheshwari commented on #512
![image](https://user-images.githubusercontent.com/32706356/121412599-8341ef80-c982-11eb-9cfd-20eaa10c5a1b.png)

[2021-06-09 19:05] utkarsh-maheshwari commented on #512
![image](https://user-images.githubusercontent.com/32706356/121413170-0e22ea00-c983-11eb-9b65-af2461779b61.png)

[2021-06-09 19:05] utkarsh-maheshwari commented on #512
![image](https://user-images.githubusercontent.com/32706356/121413575-707bea80-c983-11eb-8e09-913fcad82d4d.png)

[2021-06-09 19:24] hectormz opened #1721 "`chain_prop` docstring entry missing in `matplotlib` `plot_trace()`"
**Describe the bug**
`chain_prop` argument  entry in `matplotlib` backend of `plot_trace()` docstring is missing.

It exists downstream at https://github.com/arviz-devs/arviz/blob/57aeded2fff88a646939fc36e5b2a86a0cf718b0/arviz/plots/traceplot.py and could be reproduced. But I'd like more information about valid properties that can be cycled. Can linestyle, color, lw, alpha, etc be used?

Also, som

[2021-06-09 19:46] OriolAbril commented on #1721
I'm not sure backend files should have docstring with parameters at all :thinking: . Even backend specific things have to be documented on the main function so it would be purely duplicated content. It might come from the original backend split and it has drifted away from there as only the main file has been updated.

I like the style change.

[2021-06-09 20:30] hectormz commented on #1721
By now (for me), I think it makes sense to have high-level docstrings only. I currently end up looking at the backends only to see how things are actually implemented, or to try to figure out what valid inputs are for certain parameters.

For heavily plot-specific parameters, the high-level docstrings might need to be more detailed. In the case of `chain_props` I'd like to know all the valid prope

[2021-06-09 21:14] OriolAbril commented on #1721
Yes, I think the best way to do that is to use interphinx and link to the function they are eventually passed to instead of trying to document this on our side, like we should do for kwargs too, see #1188

[2021-06-09 22:49] hectormz commented on #1721
Right, basically anything on this [matplotlib page](https://matplotlib.org/stable/api/_as_gen/matplotlib.lines.Line2D.html#matplotlib.lines.Line2D) is valid:

[code]
I realize that the high-level docstring should be updated to describe it as a `dict` instead of `tuple`:
[code]
and maybe `compact_prop` needs to be updated, too

[2021-06-10 00:03] hectormz commented on #1721
And the docstring examples need to be updated since `compact=True` is the default now.

Examples 2 and 5 (https://arviz-devs.github.io/arviz/api/generated/arviz.plot_trace.html) should be updated.

Example 2 should be (to illustrate what changing `compact` achieves):
[code]

and Example 5 should be
[code]

or

[code]

and maybe consider whether the function should actually be changed to accommodat

[2021-06-10 16:46] utkarsh-maheshwari commented on #512
I think data could be in constant_data as well.

[2021-06-11 19:15] #1703 closed

[2021-06-11 19:29] utkarsh-maheshwari commented on #512
Can we use pm.sample_posterior_predective() to calculate it?

[2021-06-11 19:35] michaelquinn32 opened #1724 "`from_tfp()` now using no-longer-supported TF indioms"
**Describe the bug**
Hi team!

There have been some updates to tfp/ edward2 that break the data from tfp converter .

1. edward2 is no longer a tfp module. It can be imported with `import edward2 as ed`. See https://github.com/google/edward2
2. edward2 no longer has the interceptor context manager
3. It looks like a lot of the approach to generating data still relies on tf v1 concepts, and this wo

[2021-06-11 19:35] michaelquinn32 commented on #1724
cc @junpenglao

[2021-06-11 19:56] OriolAbril commented on #1724
Cc @ColCarroll too who I think is already working on it

[2021-06-14 08:01] ahartikainen commented on #512
It depends what PPL you use for the model

[2021-06-14 15:32] #1657 closed

[2021-06-14 21:05] #1278 closed

[2021-06-22 08:48] impact27 opened #1732 "az.summary ignores the parameter coords"
**Describe the bug**
I have a `arviz.data.inference_data.InferenceData` object with several `'chain'`. I want to select some of them. I use:

`results_summary = az.summary(trace, coords={"chain": [0, 1, 2]})`

But it looks like the `coords` parameter doesn't do anything.

**To Reproduce**
Sample a model with
[code]

**Expected behavior**
I would expect only the chains 0, 1, 2 to be used for `resul

[2021-06-22 08:55] ahartikainen commented on #1732
Until we fix this, for now I think `.sel` methods could be used to select the chains and then you can call summary.

[2021-06-22 09:42] OriolAbril commented on #1732
It's already fixed in main branch. Was fixed by #1201 iirc

[2021-06-23 01:50] hcp4715 opened #1733 "az.waic returns nan for manually converted InferenceData"
## Short Description

I am trying to convert a [HDDM](http://ski.clps.brown.edu/hddm_docs/index.html) model object, a object generated by `pymc 2.3.8`, into az's InferenceData. After getting the point-wise loglikelihood, it seemed to me that I can get an InferenceData by using `xr.Dataset.from_datafrom` and `az.InferenceData`. However, when I tested the `az.waic` or `az.loo` function, I only got `

[2021-06-25 18:38] mattiasthalen opened #1734 "PermissionError when using `arviz.InferenceData.to_netcdf()` to overwrite existing file."
**Describe the bug**
Exits with PermissionError when trying to use `arviz.InferenceData.to_netcdf()` to overwrite an existing file.

**To Reproduce**
Generate inference data.
Export using `to_netcdf()`.
Export again and get error.

**Expected behavior**
Existing file is overwritten.

**Additional context**
Arviz 0.11.2
Google Colaboratory using TPU.

**Error message**
PermissionError: [Errno 13] P

[2021-06-25 19:39] ahartikainen commented on #1734
I wonder if we leave file open?

[2021-06-25 20:18] mattiasthalen commented on #1734
Well, the source shows that the final step, before return, is `data.close()`.

[2021-06-26 09:09] hcp4715 commented on #1733
I found that this issue was not from `arviz` but because the `wfpt`'s pdf function return zero for some data points, which will results nan because log(0) give nan.

The `NoneType is not callable` error is irrelevant to this problem.

[2021-06-26 09:10] #1733 closed

[2021-06-26 09:10] hcp4715 commented on #1733
This issue was solved.

[2021-06-26 10:15] hcp4715 commented on #987
Dear all,

This conversation is very relevant to the problem I am trying to solve, so I joined in and seek some help.

I am trying to convert [HDDM](http://ski.clps.brown.edu/hddm_docs/index.html#) model data into `arivz` Inference data so that we can use arviz's functions. HDDM is based on `pymc 2.3.8`. I tried to do this because HDDM is widely used in our field and the attempt to [use pymc3 to d

[2021-07-02 03:51] canyon289 opened #1735 "Add a diagnostic comparing ESS with all iterations and ESS with half of the iterations #173"
## Tell us about it
Basically do what it says in this issue ticket in the stan-dev posterior repo https://github.com/stan-dev/posterior/issues/173

[2021-07-02 05:45] ahartikainen commented on #1735
Pseudocode

[code]

[2021-07-02 07:48] avehtari commented on #1735
Instead of ess_half1 and ess_half2 separately, I would return for this diagnostic ess_full/mean(ess_half1, ess_half2)
The name of the diagnostic could be something like _empirical convergence rate_
After writing that name, I think the function could return
(ess_full-mean(ess_half1, ess_half2))/mean(ess_half1, ess_half2)
If all is well, the estimate convergence rate is close to 1 (relative to the u

[2021-07-02 18:25] WardBrian opened #1736 "Allow creation of InferenceData from CmdStanGQ objects"
CmdStanPy allows you to run a [standalone generated quantities run](https://cmdstanpy.readthedocs.io/en/stable-0.9.65/generate_quantities.html) which returns a different data object than the standard `.sample()` method. That said, I believe it contains everything you'd need for a posterior-group-only InferenceData object.

This would be great for doing posterior predictive plotting - currently if

[2021-07-02 20:17] ahartikainen commented on #1736
I need to check my code, I think I have this implemented somewhere.

[2021-07-03 14:10] fonnesbeck opened #1737 "Improve docs for `lines` argument in `plot_trace`"
The docstring and the supporting documentation for the `lines` argument in `plot_trace` does not fully explain what the arguments are. Even after reading [Oriol's blog post on the subject](https://oriolabril.github.io/oriol_unraveled/python/arviz/matplotlib/2020/06/20/plot-trace.html#The-lines-argument) I am not able to add simple lines to a traceplot myself.  In particular,  the `{‘coord’: select