[2020-02-20 21:24] OriolAbril commented on #597
I think we can close this now

[2020-02-21 10:14] amukh18 commented on #956
@OriolAbril  I have a question. If I were to add the to_hex function to plot_khat as follows:
`if hlines_kwargs is None:
        hlines_kwargs = {}
    hlines_kwargs.setdefault("linestyle", [":", "-.", "--", "-"])
    hlines_kwargs.setdefault("alpha", 0.7)
    hlines_kwargs.setdefault("zorder", -1)
    hlines_kwargs.setdefault("color", to_hex("C1"))

    if coords is None:
        coords = {}

[2020-02-21 16:26] OriolAbril commented on #956
I think this should work for this case

[2020-02-21 17:00] OriolAbril opened #1083 "Sampler settings"
Following on #220  and #1053. It would be great to have inference data store the arguments used to run the sampler.

[2020-02-21 17:51] amukh18 commented on #956
Hmm, pytest returned some errors. I will see what the unit tests on the pipeline say on committing.

[2020-02-21 22:50] #1060 closed

[2020-02-21 22:50] #1061 closed

[2020-02-24 14:07] percygautam commented on #749
This is to keep my progress in check ( https://github.com/percygautam/arviz-examples/blob/master/Prior_Posterior_plot.ipynb ). Please free to review along the way.

[2020-02-24 15:32] maktukmak opened #1087 "Key error 'y' for from_pystan function"
Hello,

I am new to Arviz. I was just trying to import PyStan model to Arviz by using "from_pystan" function but I get key error for 'y'. I could not pass this initial step. Excuse me for this naive question.

[code]

[2020-02-24 15:39] OriolAbril commented on #1087
Hi, could you share the stan code used (or is it the one in the cookbook?), the arviz and pystan versions and the whole error message?

You can use three ``` ` ````characters to indicate block pieces of code to format the error trace.

[2020-02-24 16:09] ahartikainen commented on #1087
Does bare `az.from_pystan(fit)` work?

[2020-02-24 20:02] maktukmak commented on #1087
Stan code is the same with cookbook. Arviz (0.6.1), pystan('2.19.1.1').

Whole error code:

[code]

```az.from_pystan(fit)``` works. I can try to go with it. Thank you.

[2020-02-24 20:16] OriolAbril commented on #1087
I think I know what is happening, the docs are for development version, not for latest release, and the option to use a dict as log_likelihood arg is only available in development version, there are two possible solutions.

I'd recommend installing the [development version](https://github.com/arviz-devs/arviz/blob/master/README.md#development). The code should work, and log_likelihood group will b

[2020-02-25 10:27] nitishp25 commented on #1030
Thanks to the Pyro forum I was able to figure out how to make out-of-sample predictions. Here's [the notebook](https://github.com/nitishp25/arviz-playground/blob/master/arviz-pyro-example.ipynb).

I'm thinking of implementing this data similar to PyMC3 by creating a ```from_pyro_predictions``` API.
And for ```constant_data``` I'm thinking of adding a ```constant_data``` argument to ```from_pyro```

[2020-02-25 14:53] maktukmak commented on #1087
Hi Oriol, your solution for the latest release worked for me. Thanks.

[2020-02-25 14:53] #1087 closed

[2020-02-25 18:11] OriolAbril commented on #1030
I am not sure about following pymc3 or pystan approach. PyMC3 needs a different function, because the information stored in the model is needed for the conversion, and to obtain predictions, the model changes, so a single function would not be able to access both the old and new instances of the model.

It is probably better to follow pystan converter, because then both options become possible; us

[2020-02-26 08:01] nitishp25 commented on #1030
Yes that makes more sense.

Also note that currently there seems to be no way to store constant data directly in Pyro, there exists [```pyro.determinictics```](http://docs.pyro.ai/en/stable/primitives.html#pyro.deterministic) but it samples the constant data with the rest of the data. So, the only way for the user is to manually pass the dict of `constant_data` and `predictions_constant_data` cont

[2020-02-26 14:31] OriolAbril commented on #1030
I'd say it is useful to include the group because it let's users keep track of how where the predictions generated. For example, in the model you are working with, if you only get the inference data without the constant data groups you are missing quite some information as you would not have the times used to generate the posterior predictive samples.

[2020-02-26 14:34] ahartikainen commented on #1030
Why it (group input) can not be a dictionary that user provides?

[2020-02-26 14:38] OriolAbril commented on #1030
I _think_ this was the idea? @nitishp25

[2020-02-26 14:53] nitishp25 commented on #1030
It can be. I was just trying to find an easier way from the user's perspective like if Pyro had an option like `pymc3.data` or `pym3.deterministics` then all the user would have to do would be to declare the constant data in the model and ArviZ would convert these automatically to inference data (like in PyMC3) without having to pass an argument separately for them.

But since this is not yet poss

[2020-02-26 18:20] ianmtaylor1 opened #1091 "Use coordinate names in posterior summary()"
Plotting functions such as `plot_posterior()` and `plot_trace()` identify coordinates in variables by their coordinate names. But `summary()` does not. Using coordinate names in the summary() method would result in clearer output.

### Code to demonstrate:
[code]

### Output
`0.6.1`
![Figure_1](https://user-images.githubusercontent.com/2293284/75373058-c3ad5500-5886-11ea-943f-528eb6533632.png)
![F

[2020-02-26 20:05] ahartikainen commented on #1091
Would extra column work? Multi-index is harder to handle than normal index.

[2020-02-26 20:44] ianmtaylor1 commented on #1091
I think an extra column would be perfectly fine.

If changing the structure of the data frame would cause unwanted side effects, then I think the simplest approach could be the first alternate output, replacing "0", "1", etc with the coordinate names in the text of the index. No extra columns or multiindex would be needed in that case.

[2020-02-26 20:46] #1077 closed

[2020-02-26 20:55] OriolAbril commented on #690
Could you confirm this is solved in ArviZ master?

Running code right away should print a warning. Converting explicitely with `az.from_pymc3(trace, log_likelihood=False)` should work fine and without warnings.

[2020-02-26 20:57] OriolAbril commented on #395
@mfansler Bug should be fixed in ArviZ master!

[code]

Seems to work fine for me. Can you confirm?

[2020-02-27 02:43] mfansler commented on #395
@OriolAbril Confirmed!

[2020-02-27 02:43] #395 closed

[2020-02-28 11:58] astoeriko opened #1093 "`plot_density` does not work for models with different variables"
**Describe the bug**
When passing data of several models to `plot_density`, it throws an error if both models contain parameters that the other model does not have.
As long the the variables in the one model are a subset of the the variables of the other model it works.
I think that the problem lies in how `plot_density` determines the number of plots to create. It calculates the number of paramet

[2020-02-28 12:07] OriolAbril commented on #1093
Thanks for reporting! Also feel free to reach out if you'd like to make a PR to fix it an need some guidance

[2020-02-29 10:40] liseeocean opened #1095 ""az.plot_trace" doesn't work"
I run the pyro example and find "az.plot_trace(pyro_data) " doesn't work:

UserWarning: Argument backend_kwargs has not effect in matplotlib.plot_distSupplied value won't be used
  "Argument backend_kwargs has not effect in matplotlib.plot_dist"

[2020-02-29 11:59] OriolAbril commented on #1095
Hi! Thanks for reporting. Could you share the error message (the message you shared only has warnings) and the ArviZ version used? We currently don't have enough info to suggest a workaround nor attempt a fix.

The warnings should not be there though. They have been fixed but the fix has not been released yet, using the [development version](https://github.com/arviz-devs/arviz/blob/master/README.m

[2020-02-29 15:41] #1093 closed

[2020-02-29 22:34] OriolAbril commented on #1093
@astoeriko issue should be solved already in [development version](https://github.com/arviz-devs/arviz/blob/master/README.md#development).

[2020-02-29 22:40] liseeocean commented on #1095
Thank you for your quick reply. I try it again and add the "plt.show()". This time the figure can be showed.  Just like as follows:
pyro_data = az.from_pyro(mcmc, prior=prior, posterior_predictive=posterior_predictive,
                         coords={'school': np.arange(eight_school_data['J'])},
                         dims={'theta': ['school']})
pyro_data
az.plot_trace(pyro_data)
plt.show()

[2020-02-29 22:49] liseeocean commented on #1095
How can I compute log-likelihood in pyro using arviz ?

[2020-03-01 09:22] sethaxen opened #1097 "Add a backend that just returns plotting data"
The general pattern I'm seeing in most (all?) plotting functions is:
1. Read inputs, process, make plot kwargs dict.
2. Modify plot kwargs dict for the current backend
3. Plot and optionally show using the backend

If the output of Step 1 was accessible, then users could pass the data to some other plotting package (of course with the heavy work of implementing the same plotting routine for that p

[2020-03-01 11:06] ahartikainen commented on #1097
It is doable. Our backend args are wild, really wild

[2020-03-01 12:45] OriolAbril commented on #1095
I think `from_pyro` automatically stores log likelihood values for posterios samples _if possible_, in some cases there are issues with vectorization and it is not possible though.

(assuming you are using ArviZ development version) If you do not have a log_likelihood group in your `pyro_data`, thebest place to ask for help is probably [Pyro forums](https://forum.pyro.ai/)

[2020-03-01 18:48] OriolAbril commented on #384
@sidravi1 @mfansler @ColCarroll  I was checking the state of this issue, and found out that latest release does not raise an error as it used to happen. There is no observed data though. I tried to modify io_pymc3 to retrieve this kind of data but I am not sure this is the right approach, I am not eve sure it would be helpful to have this kind of data stored. It would be great if somebody could tr

[2020-03-01 18:50] #837 closed

[2020-03-01 21:22] #952 closed

[2020-03-01 21:52] percygautam commented on #1066
Regarding specific inference data method : InferenceData html repr

I have been working on this for some time. The possible implementation is https://dfm.io/nbview/?url=https%3A%2F%2Fraw.githubusercontent.com%2Fpercygautam%2Farviz-examples%2Fmaster%2FHTML%2520repr.ipynb . I used xarray's implementation as reference.

[2020-03-01 22:14] ahartikainen commented on #1066
Looks great.

Do you think we should Add any extra information there? Like number of variables in each group? (not sure if this is a good idea or not)

[2020-03-01 22:38] OriolAbril commented on #1066
This got me thinking, should inference data objects have a name attribute?

[2020-03-02 06:42] sethaxen commented on #1097
Yeah, from a brief survey, it doesn't look like a difficult refactor; but the implementation of the plotting logic for e.g. Plots.jl using those arguments is quite a daunting task, and I don't think I'll be able to devote the time to it just yet, so I'd call this low priority for now.

[2020-03-02 19:22] #1041 closed

[2020-03-02 20:55] percygautam commented on #1066
Maybe, we could add dimensions for each group (when not checked). But personally, I like the minimalistic repr better.

[2020-03-02 23:01] OriolAbril opened #1100 "logger shows duplicated messages"
**Describe the bug**
Logger messages are duplicated (I think it is not always, it may depend on the environment used, I haven't checked too thoroughly though). One example in [cookbook](https://arviz-devs.github.io/arviz/notebooks/InferenceDataCookbook.html#CmdStan-helpers)

![image](https://user-images.githubusercontent.com/23738400/75725995-cde5ae00-5ce1-11ea-92e1-ba06dfd2d6e7.png)

and another

[2020-03-02 23:53] OriolAbril commented on #415
I think we can close this after #1065

[2020-03-02 23:53] #415 closed

[2020-03-02 23:56] #597 closed

[2020-03-02 23:58] rpgoldman commented on #597
I agree: we can look at the model and the trace(s) and figure out how to allocate the information between the two groups ourselves, instead of asking the users to.

[2020-03-03 05:41] canyon289 commented on #1078
@ahartikainen this happened right?

[2020-03-03 05:49] daeh opened #1102 "from_pyro() does not correctly parse batch_size dimensions"
**Describe the bug**
`arviz.from_pyro()` does not correctly parse `batch_size` dimensions.

**To Reproduce**
[code]

The call to `az.from_pyro(posterior_batch)` raises the error:
`ValueError: Shape mismatch inside plate('_num_predictive_samples') at site A dim -1, 10 vs 5`.

**Expected behavior**
Arviz should parse sample_size, batch_size, and event_size correctly. Possibly related to #488 but I'm

[2020-03-03 09:40] ahartikainen commented on #1078
https://dev.azure.com/ArviZ/ArviZ/_build/results?buildId=2037&view=artifacts&type=publishedArtifacts

[2020-03-03 13:34] jeffpollock9 opened #1103 "plot_ppc for discrete data"
Hi, firstly thanks for a great package!

I _think_ arviz doesn't currently support posterior predictive checks for discrete data - is that correct? Assuming that is correct - is there any interest in it? I think something along the same lines as https://mc-stan.org/bayesplot/reference/PPC-discrete.html would be great.

Cheers!

[2020-03-03 17:07] rpgoldman opened #1104 "Histogram distribution plot fails on hist, succeeds on KDE"
**Describe the bug**
I was plotting posterior data from an InferenceData object, and the KDE worked fine.  But I was interested to see more exactly what the samples looked like, so I tried plotting with a histogram instead.  This errored out, with the backtrace below.

To the extent I can tell, it looks like Arviz grabbed up a multi-dimensional array (`chains` x `samples` x `inputs`, 4 x 500 x 4)

[2020-03-03 17:42] OriolAbril commented on #1104
A flatten is missing. To get 4 plots, `plot_posterior` should be used (with `point_estimate=None` and `credible_interval=None` to get a `plot_dist` look).

However, I have just seen that `credible_interval=None` used to be no black line indicating credible interval but became using value in rcParams, so 2 things to get fixed, the flatten in plot_dist and making `"auto"` the default to use rcParams

[2020-03-03 17:59] rpgoldman commented on #1104
@OriolAbril Thanks.  That helped.  BTW, I tried using `plot_posterior` instead, and passed it axes, because I wanted to stack the four plots (with `sharex`) for easier comparison.

I find that the Arviz plots put their suptitles way up high, which means it's hard to stack them without them overlapping.  Presumably using `Figure.adjust_subplots()` can fix this, but I haven't been able to figure out

[2020-03-03 20:02] agustinaarroyuelo opened #1105 "New example pairplots"
Example plots for `plot_pair` function are outdated due to changes done in #1079.

[2020-03-04 09:00] daeh commented on #1102
I updated what I thought were unrelated packages and everything seems to work now. Closing.

[2020-03-04 09:00] #1102 closed

[2020-03-04 15:12] canyon289 commented on #1078
Closing

[2020-03-04 15:12] #1078 closed

[2020-03-04 22:28] hectormz opened #1108 "Add `Matplotlib` framework classifier to `setup.py`"
`Matplotlib` now has a [trove classifier on pypi](https://twitter.com/matplotlib/status/1235216347925286913). We can add:

[code]
to `arviz`'s `setup.py` to acknowledge that it is part of `Matplotlib` ecosystem.

I believe that `arviz` currently doesn't have any classifiers ([there are many!](https://pypi.org/classifiers/)). We could add something like the following to `setup.py`:

[code]

I'm not

[2020-03-04 22:47] OriolAbril commented on #1108
We are definitely still beta!

Also, we are not as strict as [NEP 29 recommends](https://numpy.org/neps/nep-0029-deprecation_policy.html) but python versions should be 3.6, 3.7 and 3.8

Possible ideas, `Intended Audience :: Education`? I'm not really sure about the scope of the classifiers

[2020-03-04 23:07] hectormz commented on #1108
@OriolAbril I figured beta, but thought it'd be best for a maintainer to say so!

I realized I wasn't sure which versions `arviz` supports but I grabbed this from `README`:

Should that be updated to 3.6, 3.7, 3.8 as well?

I don't see why  `arviz` couldn't be filed as Education. There's quite a lot of options if someone is motivated to read through them all. 😀

[2020-03-04 23:12] OriolAbril commented on #1108
Yes, we recently updated CI builds, we don't run tests on 3.5 anymore

[2020-03-04 23:33] hectormz commented on #659
@aloctavodia @OriolAbril I forgot I brought this up! Since the introduction of `rcParam`, would updating the documentation be as simple as adding an inline comment in `arvizrc.template` for `stats.credible_interval` stating that it is just an arbitrarily selected value? If not set by the user, this value would be propagated to many functions, but if they went looking for the source, they might fin

[2020-03-05 09:18] OriolAbril commented on #659
I think rcparams template is a good place for the comment. We should probably also make sure docstrings of functions using credible interval say that default comes from rcParams, and maybe also find a way to add rcparams in the documentation.

[2020-03-06 00:53] liseeocean commented on #1095
Hi, I find that the pyrodata will automatically stores log-likelihood using "8 school" example in arviz(pyro) but using my code doesn't have. My code is as follows:
`import matplotlib.pyplot as plt
import numpy as np
#import matplotlib as mpl
import pyro.distributions as pdist
import pyro
import torch
# Initialize random number generator

np.random.seed(123)
plt.style.use('ggplot')

pyro.enable_va

[2020-03-06 01:41] OriolAbril commented on #1095
It looks like there are some issues when trying to retrieve the trace. `from_pyro` tries to access the values, but in many cases it is not possible, in which case the try except catches the error and omits log_likelihood group. Would it be more clear if a warning was shown when this happens?

I am not a pyro expert, it can probably be optimized further, the code below seems to do the trick and all

[2020-03-06 02:02] liseeocean commented on #1095
Thank you very much. Actually, don't have any warning running previous codes.  I have running your improved codes and it works.
Thank you again!

[2020-03-06 02:07] OriolAbril commented on #1095
There is no warning currently, but we could add it if it would have reduced your confusion as to why there was no likelihood data, hence the question. Glad to hear it works fine now

[2020-03-06 02:55] liseeocean commented on #1095
Hi, I find the log_likelihood that stores in pyro_data is a big array [num_iteraton,num_datalength] with your improved codes. I think it return logp(xi|theta) for a log_likelihood for each observed xi not L=log[p(x1|theta)*p(x2|theta)...p(xn|theta)]. I am not sure I have understood it rightly but it is a problem.

[2020-03-06 03:51] hectormz commented on #662
I was _finally_ returning to this issue this week, and saw that #1079 is similar. Is this issue still alive or are there still outstanding items to address?

@OriolAbril @aloctavodia @ahartikainen @agustinaarroyuelo

[2020-03-06 11:54] OriolAbril commented on #1095
AtviZ stores the pointwise log likelihood, to get the log likelihood for all observations you have to sum over the observation axis.

[2020-03-06 13:13] OriolAbril commented on #662
I think the issue is still live, the usecase of adding the marginals on the diagonal, but the idea discussed here covers an even wider range of options. I think it would be a great addition to ArviZ. If [plot hierarchy](https://github.com/arviz-devs/arviz/wiki/Plot-hierarchy) was already in place this would be much easier to handle i think, I am not sure if the rewrite will happen in the near futu

[2020-03-06 14:41] agustinaarroyuelo commented on #1105
I will start working on this

[2020-03-06 15:03] hectormz commented on #662
Okay great, I'll come back with an update this weekend!

[2020-03-08 06:31] hectormz commented on #662
I've been working on this, and either some things have changed in the ten months since I raised this issue, or I'm thinking about it differently. As part of this issue/PR, I think that `pair_plot_extended` (or whatever this function ends up being named) will be a really flexible plot with any combination of upper/lower triangles with or without diagonal, with standard or custom plot types. When @O

[2020-03-08 16:58] OriolAbril commented on #662
At least for now I'd keep plot pair and plot pair extended as completely independent. I would be open to the merge eventually once plot pair extended is up and running, we can be sure it will handle all plot_pair options and we have run some benchmarks. plot pair is an extremely common plot, with not much but some level of optimization to its specific case, and plot pair extended may have to renou

[2020-03-08 19:27] hectormz commented on #662
Sure that sounds good @OriolAbril . We'll see what it looks like in the end. Just wanted to pass along the thought before I got too deep

[2020-03-08 19:51] hectormz opened #1112 "Skip tests relying on absent optional/external libaries"
**Describe the issue**
`Arviz` is meant to use/interact with external libraries that are optional, found in `requirements-external.txt`, `requirements-optional.txt`, with tests found in `/tests/external-tests/`. I'd propose making these tests optional when the other libraries aren't installed, so someone not touching those areas could run tests locally without installing all the packages.

**Sugge

[2020-03-08 20:22] ahartikainen commented on #1112
We could probably do that.

I currently run only the testfile. It might be a bit inconvenient.

    pytest arviz/.../pystan_tests_file.py

[2020-03-08 22:07] OriolAbril commented on #1112
I also like the idea, it'd be great if you can make a PR, in the meantime, another alternative is to use the `k` flag, something like `pytest arviz/tests/ -k "not bokeh and not pyro" ` would skip all tests with bokeh or pyro in name.

[2020-03-08 23:05] hectormz commented on #1112
@OriolAbril  I wasn't aware of that skip, is that built into `pytest`? nice!

I was looking into the `pytest.mark.skipif` documentation and found there is an option to skip tests based on missing a dependency: [`pytest.importorskip`](https://docs.pytest.org/en/latest/skipping.html?highlight=skipping#skipping-on-a-missing-import-dependency)

Assuming that our tests for external libraries are in sep

[2020-03-09 00:17] hectormz commented on #1112
I have a working solution for almost all tests. One hiccup is `numba`. Is it unreasonable to move it from `requirements-optional.txt` to `requirements-dev.txt`? It's embedded in 20+ tests across different files. The items in `requirements-dev.txt` are about linting and formatting, but it might be reasonable to include `numba` there as part of developing. Otherwise, we could add decorators to each

[2020-03-10 20:29] smit-s commented on #1104
Hi, there  @OriolAbril  @rpgoldman . I am new here and would like to take up this issue. I have already solved half of it locally .I would like to solve it.  Will you assign me this issue please?

[2020-03-10 20:39] OriolAbril commented on #1104
No need to be assigned, with issues with nobody working on them just say you'll work on it in order to avoid duplicated work. We have a more detailed description on the [contributing guide](https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md#steps-before-starting-work).

We count you are working on it now, do not hesitate to ask for guidance if you were to need any.

[2020-03-11 15:31] smit-s commented on #1104
Yes @OriolAbril , I have started working on it.  I have already added the "flatten" and it seems to work fine.
Can you please explain what do you mean by 'making "auto" the default to use rcParams credible interval'. Here, what does 'making "auto" the default' mean?

[2020-03-11 15:39] OriolAbril commented on #1104
Currently the [`credible_interval` default](https://github.com/arviz-devs/arviz/blob/master/arviz/plots/posteriorplot.py#L25) is `None`, in which case, the value stored in [`rcParams` is used](https://github.com/arviz-devs/arviz/blob/master/arviz/plots/posteriorplot.py#L192). However, this should not be the behaviour, what should happen is:

* `credible_interval="auto"` -> use value in rcParams (d

[2020-03-11 18:09] smit-s commented on #1104
@OriolAbril  , I have made the required changes but, I would like to highlight another possible problem related to this issue as follows-
`import arviz as az
idata = az.from_netcdf('arviz-hist-bug.nc')
idata=az.convert_to_inference_data(idata)
az.plot_posterior(idata.posterior['err_sd'],point_estimate=None,credible_interval=None)
`
When we run above code we get following error:

**Trace**
Tracebac

[2020-03-11 18:23] ahartikainen commented on #1104
It is not supported for now.

There are "problems" for assuming do we have draws + shape or chain + draws +shape.

Does Dataarray contain axis names? And coordinates? I mean if we have a good way handle these, then we should implement these.

[2020-03-11 18:35] OriolAbril commented on #1104
It would be a good idea to add dataarray case to convert to inference data. It'd be great if you could make a PR for each feature.

I have two comments on the code above. To plot only err_sd, you should use `plot_posterior(idata, var_names="err_sd",...)` which will give the same result.

The second comment is that even though credible interval is None, the line is still there :thinking:

[2020-03-11 19:31] smit-s commented on #1104
@ahartikainen  Yes, Dataarray has all these information. You can refer following text which shows structure of dataarray for the data used in this issue.:-
**<xarray.DataArray 'err_sd' (chain: 4, draw: 500, inputs: 4)>
array([[[0.349232, 0.397905, 0.305724, 0.462783],
        [0.351129, 0.355431, 0.321792, 0.45228 ],
        ...,
        [0.341998, 0.380817, 0.327994, 0.457156],
        [0.341984,

[2020-03-11 19:38] ahartikainen commented on #1104
You can create another PR for Dataarray

[2020-03-11 19:43] smit-s commented on #1104
Ok, I will create another PR.

[2020-03-15 08:32] #1104 closed

[2020-03-22 14:24] smit-s commented on #1057
@canyon289  This issue doesn't seem to have been addressed. Can I work on this?

[2020-03-25 19:25] smit-s commented on #339
@aloctavodia  If this issue is still open, can I work on it please?

[2020-03-26 20:54] aloctavodia commented on #1057
@smit-s I think you can work on this. Thanks in advance!

[2020-03-26 22:28] aloctavodia commented on #339
Is still open, I think @agustinaarroyuelo  was planning to work on this as part of the GSoC (but she also is proposing many other tasks).

[2020-03-26 22:33] smit-s commented on #339
No problem at all. I will pick up regression plot and time-series.

[2020-03-26 23:26] smit-s commented on #1057
@aloctavodia  Inline example does not exist for r2_score. Shall I add an example for it as well?

[2020-03-26 23:32] OriolAbril commented on #1057
Yes! We created independent issues for some functions to make the tasks more accessible, but all functions missing it would welcome an example in the docstring, see #491. (exceptions would probably be `from_xyz` methods if compiling and running the model takes a lot of time as it would slow doc generation)

[2020-03-30 19:39] andersdot opened #1128 "Plotting prior distribution from pyro model"
I want to plot the kde of my prior in a matrix plot but I'm not sure how to extract prior information from my pyro model. You give examples for the posterior predictive and prior predictive in the Inference Data Cookbook (shown below), is there a similar function for the prior? The `PyroConverter` class suggests there is but I can't figure it out. Cheers

[code]

[2020-03-30 22:38] OriolAbril commented on #1128
The example in the [cookbook](https://arviz-devs.github.io/arviz/notebooks/InferenceDataCookbook.html#From-pyro) is a somewhat complete overview of the `from_pyro` capabilities, some more details can be found in the [API reference](https://arviz-devs.github.io/arviz/generated/arviz.from_pyro.html#arviz.from_pyro). We know the documentation on converter functions can be improved and we are [working

[2020-03-31 04:47] ahartikainen commented on #1128
Also, if plot is still missing group argument you can manually plot the group

    az.plot_trace(idata.prior)

[2020-03-31 06:40] hectormz commented on #1108
@OriolAbril @canyon289 @ahartikainen @aloctavodia and any others, do you have any additional thoughts on other itemz worth adding here?

Otherwise I can make a PR with additions @OriolAbril and I have discussed.

[2020-03-31 07:19] ahartikainen commented on #1108
https://pypi.org/search/?c=Topic+%3A%3A+Scientific%2FEngineering+%3A%3A+Mathematics
https://pypi.org/search/?c=Topic+%3A%3A+Scientific%2FEngineering+%3A%3A+Visualization

?

ref. https://pypi.org/classifiers/

[2020-03-31 16:54] andersdot opened #1130 "Overplotting pair_plots"
**Describe the bug**
I want to plot the posterior and prior on the same `pair_plot` matrix. I thought I could do something like `axes=az.pair_plot()` and then `ax.pair_plot(ax=axes)` but get the following error

[code]

**To Reproduce**
For plotting the posterior on top of the prior in a matrix plot, I tried returning the axes from the prior `axes = plot_pair()` and feeding it to the posterior `pl

[2020-03-31 16:58] andersdot opened #1131 "True values in pair_plot"
During testing of a model, it would be nice to be able to over plot the true values in the plot_pair matrix, similar to the over plotting of the point estimates of the samples. This could be a dictionary the user feeds into a keyword argument like `true_values={'var1':0.1, 'var2':5.0}`

[2020-03-31 16:58] OriolAbril commented on #1130
Thanks for reporting the issue, could you share also what is `pyro_data`? Is ti already an InferenceData object? Two different datasets? If it is inference data, what does `pyro_data.posterior` and `pyro_data.prior` print?

[2020-03-31 17:06] andersdot commented on #1130
Ah yes, it is an InferenceData object of a single dataset, which I created with
[code]

pyro_data.posterior prints
[code]
and pyro_data.prior prints
[code]

[2020-03-31 17:17] OriolAbril commented on #1130
I think this is due to trying to call `axes.remove()` multiple times. It should be fixed with something like:

[code]

as opposed to calling remove straight away as it is done now. I'll try to send a PR whenever I have time, if someone has time before I start the PR go for it.

[2020-03-31 17:32] andersdot commented on #1130
Which file is the `ax.remove()` calls in?

[2020-03-31 17:36] OriolAbril commented on #1130
I found 3 calls, all of them should be updated:
* https://github.com/arviz-devs/arviz/blob/master/arviz/plots/backends/matplotlib/pairplot.py#L101
* https://github.com/arviz-devs/arviz/blob/master/arviz/plots/backends/matplotlib/pairplot.py#L174
* https://github.com/arviz-devs/arviz/blob/master/arviz/plots/backends/matplotlib/pairplot.py#L183

[2020-03-31 18:55] OriolAbril opened #1132 "Update ArviZ data examples"
## Tell us about it

inference data objects loaded with `load_arviz_data` have to be updated to move log likelihood data to `log_likelihood` group, add `constant_data` where relevant (i.e. x in regression, sigma in eight schools), maybe also add a couple of examples having predictions and warmup data? And an example from PyStan with different names in observed_data and posterior predictive?

[2020-04-01 11:43] aloctavodia commented on #1108
About the topic, I guess we can have the generic one, and then two specifics

Topic :: Scientific/Engineering
Topic :: Scientific/Engineering   ::  Mathematics
Topic :: Scientific/Engineering   ::  Visualization

[2020-04-01 16:31] hectormz commented on #1108
Sure I can draft a PR and see if it's satisfactory

[2020-04-01 21:25] OriolAbril commented on #1112
Did #1113 completely fix the issue?

[2020-04-01 21:26] hectormz commented on #1112
Yes it did (from my perspective). You can close this now if it works for you.

[2020-04-01 21:27] OriolAbril commented on #1103
I think there is limited support for ppc checks with discrete data, however, it would be great to extend its capabilities. cc @aloctavodia @agustinaarroyuelo

[2020-04-01 21:27] #1112 closed

[2020-04-01 23:10] aloctavodia commented on #1103
Hi @jeffpollock9, as Oriol said the support is limited.

We have a Google Summer of code project that will address this and other issues related to support for discrete variables.

[2020-04-02 08:22] jeffpollock9 commented on #1103
Thanks for getting back to me. @OriolAbril and @aloctavodia. Looking forward to seeing the results of the google summer of code project!

[2020-04-02 13:34] #1108 closed

[2020-04-02 17:14] #855 closed

[2020-04-06 13:13] agustinaarroyuelo commented on #1131
Hello! Tank you for opening this issue. Here is an example of what you suggested:
![true_values_example](https://user-images.githubusercontent.com/8028618/78562013-08fe6400-77ef-11ea-9090-f5f8613b0e1f.png)

The red dots are the `true_values`. I'm working on the details right now :)

[2020-04-06 16:26] smit-s commented on #1132
If no one is working on it I would like to work on it.
Also, I would like to get a more elaborate explanation please.

[2020-04-07 05:30] JSenta opened #1141 "Just updated arviz to 0.7.0 and now traceplot doesn't seem to work?"
**Describe the bug**
I was having the same issue described in arviz #988, with spurious warnings "Argument backend_kwargs has not effect in matplotlib.plot_dist" showing up when I tried to trace plot. (The traceplots would still appear, but the warnings were getting unwieldy).

In an effort to fix this, I reinstalled Anaconda from scratch, then used pip to update to the latest arviz 0.7.0.  Now I

[2020-04-07 05:44] ahartikainen commented on #1141
Hi, what does this say

    import arviz as az
    print(az.__version__)

[2020-04-07 10:12] #1130 closed

[2020-04-07 10:34] OriolAbril commented on #1132
ArviZ has several inference data objects that can be loaded with `load_arviz_data`. These are useful for examples documentation, testing, showcasing ArviZ capabilities and best practices. They can also be used by prospective new users to experiment with ArviZ without having to invest too much learning about converters nor running simulations to visualize.

Some examples come from the Cookbook and

[2020-04-07 16:43] JSenta commented on #1141
Hi, currently that says 0.7.0. I may force a pip reinstall back to 0.6.1 in the meantime so I can use pm.traceplot though.

[2020-04-07 16:59] OriolAbril commented on #1141
Does installing ArviZ with: `pip install git+git://github.com/arviz-devs/arviz.git` fix the issue?

[2020-04-07 17:25] JSenta commented on #1141
Hi, thanks! I just did a fresh install using pip install git+git://github.com/arviz-devs/arviz.git and that appears to have fixed the problem!

[2020-04-07 20:57] smit-s commented on #1132
Thanks for the explanation @OriolAbril . To be honest, I might take some time to get familiar to PyMC3 and PyStan so, if this issue is suppose to be solved urgently, maybe I would not consider myself best choice for solving it otherwise I would like to give it a try.

[2020-04-08 12:21] #1141 closed

[2020-04-08 12:22] #1105 closed

[2020-04-08 12:24] #1095 closed

[2020-04-08 13:00] #1057 closed

[2020-04-08 16:47] canyon289 opened #1143 "Unify verb tense in az.traceplot (compact and combined)"
## Tell us about it
compact is present tense. Combine is past tense. I think api should pick one of the tenses, probably present cause its shorter, preferable `compact` and `combine`

## Thoughts on implementation

Not required, but if you have thoughts on how to implement the feature, that can be helpful! In case there are academic references, we welcome those here too.

[2020-04-09 03:36] canyon289 commented on #1143
@rpgoldman brought up a good argument that if compact and conbined are adjective things make sense. So we have a "compact" distribution or we have a "combined" distribution the wording is consistent. As is such closing this issue.

[2020-04-09 03:36] #1143 closed

[2020-04-10 19:45] parksj10 opened #1145 "plot_density function doesn't work for predictive prior unless credible interval is specified as 1"
**Describe the bug**
When attempt to plot prior predictive distributions using plot_density function, plots show nothin unless credible interval is defined as 1

**To Reproduce**
`az.plot_density(prior,credible_interval=1)`
![image](https://user-images.githubusercontent.com/28692761/79018495-ce673500-7b28-11ea-8976-d726bda23483.png)

`az.plot_density(prior)`
![image](https://user-images.githubuser

[2020-04-11 10:30] michaelosthege opened #1146 "Automatically handle warmup draws and sampling metadata from_pymc3"
## Tell us about it

The `trace.report` in PyMC3 now has attributes `n_tune`, `n_draws` and `t_sampling` (see https://github.com/pymc-devs/pymc3/pull/3827).

I have this snippet to store those metadata with the trace:

[code]

Using `n_draws`, one can now slice a trace that contains warmup iterations:

[code]

## Thoughts on implementation

I suppose both snippets should find their place in the [P

[2020-04-11 15:35] aakhmetz opened #1147 "negative values WAIC and ranking of the models"
Dear all,

Recently I have recalculated the WAIC values for one of my model and I obtained negatives. I assume it could be Ok, but I also obtained negative WAIC values in another model and it looks a bit strange, because it is supposed to be rare.

When I ran the same model several months ago, I obtained positive values, because I recorded them.

**To Reproduce**
The model looks simple
[code]

Whe

[2020-04-11 16:00] OriolAbril commented on #1147
Hi, in version 0.7.0 we modified the default scale of `waic` and `loo` from `deviance` to `log`, you can see the scale used for in the rightmost column of the result. There are 3 possibilities for scale in ArviZ, as described in the [docs](https://arviz-devs.github.io/arviz/generated/arviz.waic.html#arviz.waic).

The default was previously set to deviance (-2 * log) for historical reasons. The -2

[2020-04-12 15:20] aakhmetz commented on #1147
Hi @OriolAbril - many thanks for your response! You saved my soul yesterday!

About question for staking, I will try ask about it on discource

[2020-04-12 15:20] #1147 closed

[2020-04-12 20:03] #782 closed

[2020-04-13 12:55] aloctavodia commented on #1145
Hi @parksj10 thanks for taking the time to report this issue. I an not able to reproduce the problem. Could you post a reproducible example? I think you are trying to reproduce some code from statistical rethinking, is that right? Notice that the default credible interval in ArviZ is 0.94

[2020-04-13 16:25] parksj10 commented on #1145
Hi @aloctavodia

No problem, sorry for the incomplete report, I'm still getting the hang of this :), anyways here's an ipynb with the data that should be runnable, I've also included a pip freeze in case you're interested

[Archive 2.zip](https://github.com/arviz-devs/arviz/files/4470464/Archive.2.zip)

[2020-04-13 16:56] aloctavodia commented on #1145
Thanks for the example. Now I can confirm the issue. I will work on this and keep you posted. In the meantime you can do this:

`data = az.from_pymc3(posterior_1, prior=prior, posterior_predictive=posterior_pred_1)`

data will be an [ArviZ's InferenceData](https://arviz-devs.github.io/arviz/notebooks/InferenceDataCookbook.html) object

you can then pass it to arviz functions, for example.

`az.sum

[2020-04-13 17:23] parksj10 commented on #1145
Thanks for all the awesome help! Implementing all of that I perhaps see why you weren't reproducing the issue initially, will use the InferenceData object for now... :)

[2020-04-15 19:27] OriolAbril commented on #987
I wrote one example on handling multiple observed data i PyMC discourse.

https://discourse.pymc.io/t/calculating-waic-for-models-with-multiple-likelihood-functions/4834/3

It is built on top of a PyMC3 model, but the main focus is on ArviZ usage and how to handle the datasets in `log_likelihood` group to get a single array, taking into account different possibilities. Thus, it aims to help align

[2020-04-16 00:12] #1030 closed

[2020-04-17 17:16] avehtari commented on #987
Somehow I had missed this question, but got email from the last comment. PSIS-LOO and WAIC fail if the posterior changes a lot. If we remove all observations directly related to some parameter then the posterior of that parameter is the same as the prior which is likely to much different to the posterior.

[2020-04-19 02:14] canyon289 commented on #1132
Doesnt need to be solved urgently! Take your time. I'll assign this issue to you to ensure folks know its being addressed.

Thanks in advance @smit-s

[2020-04-19 02:15] canyon289 opened #1153 "Animations in Plot PPC seem to be broken"
**Describe the bug**
`animated=True` in `plot_ppc` with mpl backend raises an Exception and no animation can be sene

![image](https://user-images.githubusercontent.com/7213793/79677700-09acd800-81a9-11ea-8a84-32272dce1689.png)

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Arviz Version '0.7.0'

[2020-04-19 18:51] canyon289 opened #1155 "Fix commented line from posterior predictive docs"
**Describe the bug**
Commented line in docs does not belong
https://arviz-devs.github.io/arviz/generated/arviz.plot_ppc.html#arviz.plot_ppc
![image](https://user-images.githubusercontent.com/7213793/79696862-0f9bcb00-8234-11ea-9d08-948660a657fd.png)

**Expected behavior**
Determine what sensible doc would be that does not include a commented line (See aris comment below)

[2020-04-19 18:55] ahartikainen commented on #1155
Maybe we can add a bit more text there or change it.

It is there to remind Stan (and other) users about the data_pairs

[2020-04-19 19:02] canyon289 commented on #1103
@jeffpollock9 thanks for making an issue. It's usable but looking at the bayesplot one ours could be nicer.

[code]

[2020-04-19 22:11] OriolAbril commented on #1155
Once #1132 is fixed we should have an example dataset from pystan  to then add an example of data pairs usage in the code, not only in a comment

[2020-04-20 04:20] rpgoldman opened #1157 "Best practices with plot_kde"
## Short Description

I was trying to redo some of the plot_kde plots for the "rat tumor" example of Chapter 5 BDA3, building on the notebooks in [the PyMC3 resources repo](https://github.com/pymc-devs/resources/tree/master/BDA3).  I had a couple of problems, that may be more documentation issues than anything else:

1. It seems that one must label the x and y axes in a separate call -- there does

[2020-04-20 13:26] aloctavodia commented on #1157
Hi @Robert, thanks for the report.

The grayscale is weird because Matplotlib's default cmap is viridis, I guess you change it somewhere and thus you are seeing a gray scale.

Below there are a few examples of customizing the plots. Probably we should add a few to the gallery and/or docstring.

[code]

[code]

![00](https://user-images.githubusercontent.com/1338958/79755907-391a2c80-82f0-11ea-81d6

[2020-04-20 13:57] canyon289 commented on #1131
Thanks for the contribution @agustinaarroyuelo

[2020-04-20 13:57] #1131 closed

[2020-04-20 15:39] rpgoldman opened #1159 "Add cmap argument to pairplot"
## Tell us about it

The coloring of a `hexbin` plot is controlled (at least with the matplotlib backend) by a `cmap` argument.  This argument is not exposed to the programmer through the pairplot parameter set, and the backend plotting function ignores the `backend_kwargs` argument, so the programmer cannot control this except through setting the `cmap` parameters of the backend, potentially brea

[2020-04-20 15:43] OriolAbril commented on #1159
Similarly to the `contour` case, it should be passed via `hexbin_kwargs={"cmap": "plasma"}`.

[2020-04-20 17:03] aloctavodia commented on #1159
The reason we do not expose all argument is that the number easily explodes, instead we use `kwargs` to allow user customization. I know this could be a little weird at first. Oriol is right `hexbin_kwargs={"cmap": "plasma"}`should do the trick.

[2020-04-20 17:11] rpgoldman commented on #1159
Per comments on the PR (#1158), I think it would be a good idea for ArviZ to specify a sensible default choice of `cmap` so that novice users don't have to worry about it. It's unfortunate that what you get for a colormap depends unpredictably on what other plotting has been done in the same environment.

If it's possible, it might be best to supply a choice that is sensitive to the current style

[2020-04-20 19:10] aloctavodia commented on #1159
The problem you are seeing is because you are combining two styles by first calling `seaborn-darkdrid` and then `arviz-darkgrid`. Styles are applied globally unless they are defined inside a with statement https://matplotlib.org/3.1.1/api/style_api.html

[2020-04-20 19:17] rpgoldman commented on #1159
Is there a style we expect our Arviz styles to be applied on top of? I guess just the default matplotlib style?

[2020-04-20 20:05] smit-s commented on #1132
Thanks @canyon289 . Is [this](https://github.com/arviz-devs/arviz/blob/8106891e3bb73a6d8ab31554d02d2501a23e684b/arviz/data/inference_data.py#L169) the correct place where I should add logic for adding `log_likelihood` data to log_likelihood group and add `constant_data` group for data objects that require it...?

[2020-04-20 21:04] OriolAbril commented on #1132
Nearly no code has to be modified, see #715 for an example of updating the schools datasets. The other datasets were added by @ColCarroll I believe and I am not sure about the code used.

Also completely new example datasets have to be added, if you have any specific idea of a model to add you can share it here too

[2020-04-21 18:07] aloctavodia commented on #1153
You need to set `%matplotlib notebook` I will add this to the docstring and see if we can raise a more useful error.

[2020-04-21 18:40] smit-s commented on #1132
Well, now I think I get it. Earlier I thought that I am suppose to add these groups programmatically. Thanks for clarification and reference @OriolAbril . I will start working on it.

[2020-04-22 03:28] canyon289 opened #1163 "Fix Typo in arviz.hpd docs"
**Describe the bug**
Maximum is spelled incorrectly
https://arviz-devs.github.io/arviz/generated/arviz.hpd.html#arviz.hpd
![image](https://user-images.githubusercontent.com/7213793/79937387-94424100-840e-11ea-8f08-ff6a68f5b5a4.png)

[2020-04-22 07:54] AlexAndorra commented on #1163
I'm currently working on [a PR modifying this file](https://github.com/arviz-devs/arviz/pull/1154) -- I'll take care of this typo

[2020-04-23 09:04] FrederikWarburg opened #1165 "Cannot get log-likelihood from Logistic Regression in Pyro"
I'm trying to get log-likelihood estimates via arviz from my logistic regression model

My model looks like this:

`
def logistic_regression(X, obs=None):
    alpha = pyro.sample("alpha", dist.Normal(0, 5.)) # Prior for the bias/intercept
    beta  = pyro.sample("beta", dist.Normal(torch.zeros(X.shape[1]),
                                            5.*torch.ones(X.shape[1]))) # Priors for the reg

[2020-04-23 09:32] OriolAbril commented on #1165
Hi! Thanks for reporting.

`az.from_pyro` uses [`pp¡yro.Predictive.get_vectorized_trace()`](http://docs.pyro.ai/en/stable/inference_algos.html#pyro.infer.predictive.Predictive.get_vectorized_trace) to automatically retrieve and store pointwise log likelihood samples. To get the `log_likelihood` group populated, ArviZ must be able to execute this function, which as stated in Pyro docs:

In your cas

[2020-04-24 12:40] AlexAndorra opened #1166 "Can't customize marker point size in plot_pair"
**Describe the bug**
Can't adjust the size of the point marker in `plot_pair`.

**To Reproduce**
[code]

**Expected behavior**
Should be able to customize the size of the marker point. Using the `s` kwarg raises `TypeError: scatter() got multiple values for keyword argument 's'` and it seems that the point size is already determined under the hood and can't be actually be changed. Here is the full

[2020-04-26 16:40] gauraws commented on #1163
Hi, I am beginner, can I work on this issue?

[2020-04-26 17:04] OriolAbril commented on #1163
Yes, we have a [contributing guide](https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md) that should guide you through the process, and if it were not the case, please let us know, ask here or on [gitter](https://gitter.im/arviz-devs/community) and we'll try to help.

[2020-04-26 17:28] AlexAndorra commented on #1163
Hi,
I already took care of this issue in #1154 but you can look at the other beginner-friendly issues on this repo, like #1166 for instance.
Oriol already pointed to the useful references. Thanks and good luck :)

[2020-04-27 13:05] agustinaarroyuelo commented on #1166
Hi! I will start working in this issue.

[2020-04-29 12:33] agustinaarroyuelo opened #1169 "plot_pair displays a blank plot when plotting two variables with bokeh"
**Describe the bug**
I came across this bug while working on #1167 (related to #1166).

**To Reproduce**
`centered = az.load_arviz_data('centered_eight')
coords = {'school': ['Choate', 'Deerfield']}`

`az.plot_pair(
    centered,
    var_names=['theta'],
    coords=coords,
    kind='scatter',
    point_estimate="mean",
    backend='bokeh'
)`

**Expected behavior**
A bokeh pair plot for the two var

[2020-04-29 14:37] AlexAndorra commented on #1163
This can be closed thanks to #1154

[2020-04-29 15:42] canyon289 commented on #1163
Closing as this is fixed

[2020-04-29 15:42] #1163 closed

[2020-04-30 14:34] nitishp25 opened #1170 "No Numba speed-up for `_fast_kde_2d`"
**Describe the bug**
There seems to be no speed-up provided by Numba in `_fast_kde_2d` function. Maybe @Ban-zee can provide some help with this?

**To Reproduce**
Here are the [benchmark results.](https://dev.azure.com/ArviZ/ArviZ/_build/results?buildId=2365&view=logs&j=273a7ac9-cc40-5d2f-3776-d61d22a0ef9c&t=3ee339fd-ea8f-5fdb-a978-d302f07043b3&l=44)

[2020-05-04 22:59] #1166 closed

[2020-05-06 21:33] #1146 closed

[2020-05-07 05:02] canyon289 opened #1175 "Fix the word usage of "plot" in az.summary docs"
**Describe the bug**
`az.summary` says

but `az.summary` does not plotting so this word is the wrong one to use.
https://arviz-devs.github.io/arviz/generated/arviz.summary.html#arviz.summary
![image](https://user-images.githubusercontent.com/7213793/81256302-ef665d00-8fe4-11ea-881b-e55c919bf621.png)

**Expected behavior**
We pick better words to describe things

[2020-05-08 13:07] canyon289 commented on #1175
Fixing as part of https://github.com/arviz-devs/arviz/pull/1176

[2020-05-08 20:59] golmschenk opened #1177 "Import fails when run using a Bokeh server"
**Description of bug**
The import of `arviz` errors when running with a [Bokeh server](https://docs.bokeh.org/en/latest/docs/user_guide/server.html).

The resulting error is:
[code]

**To Reproduce**

1. Have `bokeh` and `arviz` installed.
2. Create a Python file which only contains `import arviz`.
3. From the terminal, run `bokeh serve <file_name>.py`.
4. Open the localhost server link in a brows

[2020-05-09 16:17] oscarbranson opened #1178 "arviz.summary fails with boolean array"
**Describe the bug**
`arviz.summary` fails if one of the inputs is a boolean array.

**To Reproduce**
[code]
[code]

**Expected behavior**
Should provide an output as if the boolean array is of type int (0/1)

**Additional context**
arviz 0.7.0

[2020-05-09 16:53] OriolAbril commented on #1178
Hi, from the error trace, it looks like it fails trying to call `hpd`, can you confirm that `az.rhat` and `az.ess` do work and it is only `az.hpd` what fails?

[2020-05-10 10:10] oscarbranson commented on #1178
Sure. You're correct that it errors on `hpd`, although the output of `rhat` is also all nan... not sure if it should be? Outputs below for clarity:

[code]
[code]
[code]
[code]
[code]
[code]

[2020-05-10 13:38] OriolAbril commented on #1178
Thanks @oscarbranson, this gives a detailed picture of the different possibilities. I think I have a clear idea of what has to be done in order to fix the issue.

Regarding rhat, as there is only one chain present, it cannot be calculated, thus, in order to avoid erroring out `summary` or other functions like end of sampling report that call it behind the scenes, it logs a warning and returns nan.

[2020-05-10 19:35] OriolAbril commented on #956
There is now a converter function available (added by #1084), however, is is not used in all plots yet. I am reopening the issue as a remainder to use the converter in all plots

[2020-05-11 02:59] canyon289 commented on #1159
@rpgoldman can you confirm this is fixed?

[2020-05-11 02:59] canyon289 commented on #1157
@rpgoldman is this closed?

[2020-05-11 03:05] canyon289 opened #1181 "Using grayscale style raises exception"
**Describe the bug**
Trying to use grayscale colormap is causing an exception

**To Reproduce**
[code]

**Expected behavior**
No exception occurs
![image](https://user-images.githubusercontent.com/7213793/81520579-97d43400-92f9-11ea-860c-b344d4ba0ee7.png)

**Additional context**
matplotlib                3.2.1

[2020-05-11 03:07] canyon289 commented on #1181
Alright some more context. `colorcet` has to be installed and imported. Then it works. i don't know if this is occurring because I'm loading the style sheet over the web install of installing it through ArviZ. Will leave this issue open in the meanwhile until certain that grayscale "easily" works

![image](https://user-images.githubusercontent.com/7213793/81520686-d7028500-92f9-11ea-8af3-329cf4ab1

[2020-05-11 04:38] ahartikainen commented on #1181
Why does it need colorcet to be installed?

[2020-05-11 05:04] OriolAbril commented on #1181
For the style to work, colormap `cet_grey` has to be available to matplotlib, this is done in ArviZ init iirc to make the style work once ArviZ has been imported, otherwise you have to manually make the colormap available or use colorcet to make the colormap known to matplotlib

[2020-05-11 11:27] #1159 closed

[2020-05-11 11:34] aloctavodia commented on #1181
@OriolAbril is right. if you install arviz from master `cet_grey` and `cet_grey_r` will be available without needing to install colorcet.

[2020-05-11 11:34] #1181 closed

[2020-05-12 20:08] oscarbranson opened #1182 "Incorporate categorical labels in plots/summary"
I'm using arviz in conjunction with pymc3 fitting a model with categorical variables. When using arviz to view/plot variables the names associated with the categories are replaced by their integer values, making information harder to interpret. It would be nice if there were a way to restore meaningful category names, perhaps during creation of the InferenceData object?

For example, `plot_forest`

[2020-05-12 20:33] OriolAbril commented on #1182
Hi, you can use the `dims` and `coords` arguments when creating the inference data object. There are some examples in the [cookbook](https://arviz-devs.github.io/arviz/notebooks/InferenceDataCookbook.html#From-pymc3), one of them using `from_pymc3`. In your case, I think it will look similar to the following:

[code]

This will show the labels like it happens in `plot_forest` [API examples](https:

[2020-05-12 21:55] #1169 closed

[2020-05-13 11:06] oscarbranson commented on #1182
Thanks @OriolAbril - all working now, though in my example it was `coords={"gender": gender.categories}` because it expects an iterable with len(it) = n_categories.

My issue here was finding out *how* to do this. As far as I can tell this functionality only appears in that one cookbook example because most examples are based on an arviz dataset where all the labels are already correct. It would b

[2020-05-13 16:15] OriolAbril commented on #1182
We would like to have a notebook for every converter function to cover these aspects, however this will probably take some time. In the meantime, how does adding a link to the cookbook in the API section of each converter sound? Also in InferenceData docs.

I would not add it directly to InferenceData docs, because it is not recommended to create InferenceData objects directly using the `Inference

[2020-05-13 21:37] oscarbranson commented on #1182
The notebook sounds like a good idea, but I appreciate this is a lot of time and work. I agree that this doesn't really belong in the `InferenceData` docs, and think that adding a link to the cookbook in the API section (I assume to the [from_pymc3](https://arviz-devs.github.io/arviz/generated/arviz.from_pymc3.html#arviz.from_pymc3) doc) would be a very useful stopgap.

Thanks for taking the comme

[2020-05-14 21:08] OriolAbril commented on #1182
I have been doing some tweaks to the docs, [`from_pymc3`](https://oriolabril.github.io/arviz/generated/arviz.from_pymc3.html#arviz.from_pymc3) will have a link to the cookbook and the [cookbook](https://oriolabril.github.io/arviz/notebooks/InferenceDataCookbook.html) will have a table of contents to ease navigation. Links point to the updated docs (hosted in my fork until merged in #1184)

[2020-05-15 15:34] golmschenk commented on #1177
A workaround for the time being is to explicitly force `output_notebook`'s docstring to be a value before importing `arviz`. For example, the following code allows `arviz` to import without error.
[code]

[2020-05-15 15:37] ahartikainen commented on #1177
Thanks for the temporary solution. Let's fix that docstring function to handle None.

[2020-05-15 22:38] canyon289 opened #1186 "Change `plot_hpd` to `plot_hdi` (with a deprecation warning)"
I think we should also change this to `plot_hdi` (with a deprecation warning). It is OK with me if we do it in another PR, but before the next release.

_Originally posted by @aloctavodia in https://github.com/arviz-devs/arviz/pull/1176_

[2020-05-15 23:05] murphyk opened #1187 "plot_trace hangs when var_names is omitted"
**Describe the bug**
A clear and concise description of what the bug is.

az.plot_trace(trace) hangs unless var_names is specified

Output:
[code]

**To Reproduce**

[code]

**Expected behavior**

Should plot trace of w0 and w1

**Additional context**

az.__version__  '0.7.0'

pm.__version__  '3.8'

[2020-05-15 23:49] ColCarroll commented on #1187
Hey Kevin --
The default changed to draw different variable dimensions in their own axes, so `mu` is a 100 dimensional variable, and the kernel likely freezes trying to create a large enough plot.

The next release (coming soon!) will bravely fail and give a useful warning about this. To get the previous behavior, use `compact=True`:
![image](https://user-images.githubusercontent.com/2295568/82104

[2020-05-18 08:37] OriolAbril opened #1188 "Progressively update docs references"
Add links to related functions in docstrings (applies to both links to internal and external functions), also add See also sections where relevant. Follow up of #1184. Places where references are of particular importance are: `kwargs` description to ease consulting of the documentation relevant to the kwargs so users know what keys are supported; and functions that take as input the output of a pr

[2020-05-18 13:18] oscarbranson commented on #1182
Great, Thanks @OriolAbril. Think this can probably be closed now?

[2020-05-18 13:57] canyon289 opened #1191 "Add additional tests for ridgeplot in matplotlib, and some for boken"
## Tell us about it
Add additional tests for quantiles in matplotlib, and add test suite for Bokeh to test all functionality in this PR
https://github.com/arviz-devs/arviz/pull/1185

[2020-05-18 14:48] #1186 closed

[2020-05-18 14:56] #1182 closed

[2020-05-18 15:52] canyon289 opened #1193 "Inconsistent capitalization in `plot_hdi` docstring"
**Describe the bug**
Docs have inconsistent capitalization
![image](https://user-images.githubusercontent.com/7213793/82233398-d020d700-98e4-11ea-812c-588628ed753e.png)

**To Reproduce**
https://arviz-devs.github.io/arviz/generated/arviz.plot_hdi.html#arviz.plot_hdi

**Expected behavior**
Consistency across arg docstrings

[2020-05-18 16:12] #1175 closed

[2020-05-18 16:59] #1177 closed

[2020-05-18 20:20] oscarbranson opened #1195 "Pairwise `arviz.compare`"
When using `arviz.compare` all models are referenced to a single 'best' model. It would be nice if it were possible to output a matrix comparing a metric of all models to every other model

For example, a hacky implementation developed for the [PyMC3 port of Statistical Rethinking (2nd Edition, Chapter 7)](https://github.com/pymc-devs/resources/pull/86#pullrequestreview-413901756):

[code]

[2020-05-18 21:01] ahartikainen commented on #1195
That sounds one option we could have

[2020-05-18 21:04] OriolAbril commented on #1195
I [commented](https://github.com/pymc-devs/resources/pull/86#discussion_r423972588) in the PR linked above, I am having trouble following the code, but I think it does not do pairwise comparisons

[2020-05-18 21:52] oscarbranson commented on #1195
I replied to your comment on the PR, @OriolAbril. I'm pretty sure it's producing pairwise comparisons *as long as the metric that's being compared is symmetric*. It works because the `compare` functions compares all models to a 'best' model, then I remove that 'best' model and re-run `compare` on the remaining models. When only 2 models remain, all pairs have been compared!

The function above pro

[2020-05-18 22:26] OriolAbril commented on #1195
I am possibly not understanding properly the goal to begin with, sorry. I basically see 2 situations, not sure what I am missing :sweat:

* for most of the parameters (ic, ic_se, dse) computing `loo`/`waic` (pointwise=True) once and then compare pairwise should be enough right? thus, this approach will call the ic functions `(n-1)!` times more than needed
* for weights, it gets tricky when it come

[2020-05-18 23:58] oscarbranson commented on #1195
Ah yes - I see my misunderstanding. I think my implementation is more coding and less thinking!

To check I've understood, when you say 'compare pairwise', is it valid to just calculate the difference between all pairs? i.e. for a case where you have three models A, B and C, you would use `compare` once, and then for pairwise comparison just manually calculate `A - B`, `A - C`, `B - C` to get the

[2020-05-19 02:43] aloctavodia commented on #1195
@OriolAbril is right that this could be computed moretomography efficiently. Probably the only interesting thing to compute is the dse pairwise matrix, not the other pairwise quantities, but not sure they are that useful either, other than to reproduce the example in statistical rethinking.

[2020-05-19 02:52] #1153 closed

[2020-05-19 09:24] AlexAndorra commented on #1195
Yeah I'm wondering that too: is there a use case for this in a realistic modeling workflow?
I _think_ we already get this info with the original dse and, most of all, with the `plot_compare`. So I don't see a clear use case right now, but maybe you guys do?

[2020-05-19 12:03] oscarbranson opened #1196 "Mismatch between docs and conda install"
**Describe the bug**

I have installed `arviz` using `conda forge`. The output of `conda list arviz` is:

[code]

However, a number of capabilities that are listed in the [API docs](https://arviz-devs.github.io/arviz/api.html) for 0.7.0 do not seem to be present.

**Examples**

[**plot_trace**](https://arviz-devs.github.io/arviz/generated/arviz.plot_trace) lists `kind` as a valid argument, but:

[

[2020-05-19 12:26] OriolAbril commented on #1196
Docs are built on the master branch, not on latest release, I'll close as it is the same as #896, it would be great to have docs for both stable and dev versions

[2020-05-19 12:26] #1196 closed

[2020-05-19 12:49] oscarbranson commented on #896
Following on from #1196:

The docs currently have '0.7.0' written at the top of the page and in the page title, implying that they relate to the latest release.

Until this is resolved, would it be possible to append '-dev' to the docs label to make it clear that it relates to the dev branch and not the latest release?

[2020-05-19 17:41] OriolAbril commented on #1066
more ideas:
* a context so that all `idata.fun` inside it take the same groups as input (i.e. if groups=None, check context, if ouside context use all groups, otherwise use groups in context)? should not be too hard to implement, I think modifying `_group_names` should be enough
* maybe some functions will need both groups and var_names input? i.e. if we were to extend `astype`, not all variables

[2020-05-20 09:40] astoeriko opened #1197 "Passing axes to plot_density fails with several datasets"
**Describe the bug**
I would like to pass existing axes to plot_density with the `ax` keyword. This works fine if I plot data from a single dataset. But I get an error when I try to plot several datasets at once (I think the error arises when it tries to produce a legend).
Plotting several datasets without providing axes also works fine.

**To Reproduce**
[code]

This is the error I get:
[code]

*

[2020-05-20 12:01] aloctavodia commented on #1197
Thanks for reporting the issue. I will take a look at it.

[2020-05-21 15:19] #1197 closed

[2020-05-21 17:17] astoeriko commented on #1197
Thanks for the fix. :-)

[2020-05-23 13:43] yannikschaelte opened #1202 "NoneType error with standard pymc3 workflow"
**Describe the bug**

In a standard pymc3 sampling workflow (see below, simplified from [here](https://docs.pymc.io/notebooks/BEST.html)), an error occurs. This happens only with arviz 0.8.0, works with 0.7.0.

I was not sure whether this is pymc3 or arviz related.

**To Reproduce**

[code]

gives:
[code]

The error does not occur with `chains=1`.

**Expected behavior**

No error :)

**Additional

[2020-05-23 14:11] OriolAbril commented on #1202
Yeah, sorry about that, we have been working to better integrate ArviZ with PyMC3, the end of sampling report has been delegated to ArviZ for a while but there were some issues when storing warmup and with memory usage.

There have been some changes in `from_pymc` which now require the development version of PyMC3 or version 3.9 which will be coming very soon (and will at the same time require Arv

[2020-05-23 14:21] yannikschaelte commented on #1202
Thanks for the fast response! That clarifies it. No, one chain is not useful, that was just to pinpoint the error.

[2020-05-23 15:11] OriolAbril commented on #1202
My memory failed me above, we initially planned on requiring 3.9 but eventually decided on supporting old but recent versions too and there was a bug. I have had a flash and double checked the code :sweat_smile:

I have also added a warning triggered only if `save_warmup=True`.

[2020-05-23 16:05] erickmartinez commented on #988
I installed pymc3 using miniconda's distribution (conda install pymc3) and I reproduced the same error when calling

pm.traceplot(trace)

"Argument backend_kwargs has not effect in matplotlib.plot_dist"
/path/to/miniconda3/lib/python3.7/site-packages/arviz/plots/backends/matplotlib/distplot.py:38: UserWarning: Argument backend_kwargs has not effect in matplotlib.plot_distSupplied value won't be us

[2020-05-23 17:33] AlexAndorra commented on #988
Hi,
Thanks for the report. Do you know which version of ArviZ is on your virtual env?
It should be fixed of you update to >= 0.7.0.

[2020-05-23 17:40] #1202 closed

[2020-05-24 14:45] OriolAbril commented on #1187
There was a bug in enforcing the rcParam `plot.max_subplots`, instead of generating 40 plots at max, it allowed up to 80 plots, which is generally too high to prevent freezing (which is the reason to be of this rcParam). This has been fixed in #1205 so I'll close the issue.

If the issue persists, an `arvizrc` file can be used to modify the default for `plot.max_subplots` to a more restrictive val

[2020-05-24 14:45] #1187 closed

[2020-05-24 14:50] OriolAbril commented on #896
For the time being, `dev` is used as version indicator in online docs (see #1204). Docs generated locally should still use the correct version number.

Docs generated from a tag instead of master branch CI will also show the correct tag in hopes that could help in getting both releases and dev documentation in the website

[2020-05-25 08:43] michaelosthege opened #1208 "from_pymc3 fails on manually sliced traces"
**Describe the bug**
When the trace is sliced manually, the  `n_draws` in the sampler report are `None`, breaking `from_pymc3`.

**Expected behavior**
`from_pymc3` should just revert to the old strategy.

**Additional context**
* latest arviz from master
* latest pymc3 from master

[2020-05-25 13:00] erickmartinez commented on #988
Thanks Alexandre,

I had the following version installed:
-------------------------------------------------------
arviz                     0.6.1                      py_0

I just updated to 0.8.1 from conda-forge and the issue resolved.

Erick

On Sat, 23 May 2020 at 10:34, Alexandre ANDORRA <notifications@github.com>
wrote:

[2020-05-25 14:41] #1208 closed

[2020-05-26 12:14] michaelosthege opened #1210 "from_pymc3(save_warmup=True) puts tuning samples into posterior if draws=0"
**Describe the bug**
When a trace given to `az.from_pymc3(trace, save_warmup=True)` contains tuning samples, but no draws, the tuning samples end up in the posterior group and the warmup group remains empty.

**To Reproduce**
[code]
**Expected behavior**
Tuning samples should end up in the warmup group - even if there are no further draws.

**Additional context**
ArviZ master
PyMC3 master

[2020-05-26 12:15] michaelosthege commented on #1210
The existing test can be parametrized to detect it:

Line 403 in `test_data_pymc.py`
[code]

[2020-05-26 12:20] michaelosthege commented on #1210
It's a slicing problem.. Doing a PR...

[2020-05-28 13:38] #1210 closed

[2020-05-28 22:40] sethaxen opened #1213 "Add plot_ecdf"
## Tell us about it

It would be nice to have an empirical CDF (ECDF) plot function that isn't tied to `plot_ppc`. As far as information a `plot_ecdf` might display, I'm thinking it would behave pretty similarly to `plot_density`, but with an ECDF. One extra thing you might want to do is specify some quantiles that would be drawn on the plot. The most common style for ECDF is the line visualizatio

[2020-06-04 15:37] neha-shah99 commented on #1193
Hey, I'm new to Open Source and would like to contribute and work on this issue. How can I help?

[2020-06-04 19:41] #1193 closed

[2020-06-04 22:32] fairka commented on #1188
Hey can I have this project?

[2020-06-04 22:50] OriolAbril commented on #1188
Yes, thanks!

There are many functions to update, so it is probably better to divide the issue into several pull requests. Does this sound good? What functions were you planning to update first?

[2020-06-05 07:44] nanditakhetan commented on #395
Hi, I am using PyMC3 3.8 and arviz 0.6.1. I am new to pymc3.  I want to calculate WAIC for a hierarchical model but using pm.waic(trace) gives me the following error:
`---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-33-c72c4ebad635> in <module>
     18 logp = trace['model_logp']

[2020-06-05 11:35] michaelosthege opened #1224 "Show progress bar for long-running log-likelihood evaluations"
With most recent ArviZ and PyMC3, the log-likelihoods are automatically computed when `return_inferencedata=True`.

I just wondered why the notebook cell ran the sampling for 2 hours and then took another hour or so to return.. Turns out I forgot to pass `idata_kwargs=dict(log_likelihood=False)`, causing `from_pymc3` to re-evaluate my model on all posterior samples, which for an ODE model _is not

[2020-06-06 03:41] nanditakhetan commented on #395
Hi @OriolAbril ,
Thanks for your answer.  I have two observed variables. Below is my code:
`# X1, X2, X3, mod = observed features/data for the  sample 1
# eX1, eX2, eX3, emod = their observed errors
# Y1, Y2, Y3 = same data fields as Xs observed for the sample 2
# eY1, eY2, eY3 = their observed errors
# mB1 (e1), mB2(e2) = also observed data(errors) for sample 1 and sample 2 respectively
# P0, P1,

[2020-06-06 10:31] OriolAbril opened #1225 "plot_density has no filter_vars argument"
I think it should have the argument. It may be a little more complicated given the multiple idata input but is should still be feasible.

[2020-06-07 13:06] #384 closed

[2020-06-07 14:02] OriolAbril commented on #491
I think this can be closed.

Only methods missing example in docstring are `from_xyz` but they do redirect to the cookbook. We could add an issue to extend the cookbook to a notebook per library to explain the nits of each converter.

[2020-06-07 14:17] OriolAbril commented on #796
Closing as `from_tfp` needs a thorough rewrite. I have made sure using `log_likelihood` group is explicitly stated in #812

[2020-06-07 14:17] #796 closed

[2020-06-07 14:19] OriolAbril commented on #869
I think this is done?

[2020-06-07 14:25] OriolAbril commented on #974
Any updates on this?

[2020-06-07 14:26] #1157 closed

[2020-06-08 06:47] #491 closed

[2020-06-10 15:50] Sayam753 opened #1232 "Rendering InferenceDataCookbook notebook failed"
**Describe the bug**
The webpage for [InferenceDataCookbook](https://arviz-devs.github.io/arviz/notebooks/InferenceDataCookbook.html) has not been rendered as expected. The title of the page corresponds to a merge conflict.

**To Reproduce**
Checkout this [link](https://arviz-devs.github.io/arviz/notebooks/InferenceDataCookbook.html).

[2020-06-10 15:50] aakhmetz opened #1233 "Parameter names change too often"
First of all, thank you for great package! However, would you be kind to consider of not changing the parameter names in the functions too often? For example, "credible_insterval" was changed from somthing, then the default value for "credible_interval" was changed, now the name became "hdi_prob". It breaks the code everytime, and because of different instances, it is difficult to change.

I am no

[2020-06-10 16:31] #1232 closed, assigned to nobody

[2020-06-10 19:00] tuchandra opened #1235 "[FR] Allow plot_forest to not include variable names"
## Tell us about it
I regularly use az.plot_forest to compare posterior intervals for some RV, both across models and across coordinates. I've found that the default of including the variable name can get cluttered and repetitive when doing this for a lot of models or coordinates.

Here's one example where I was comparing a random variable `p_comp` across four posteriors across coordinates.

![ima

[2020-06-11 14:43] aakhmetz commented on #1233
Thank you for clarifying – I will be patient :)

[2020-06-11 14:43] #1233 closed

[2020-06-11 19:50] #749 closed

[2020-06-13 05:10] k-sys opened #1237 "InferenceData.to_netcdf and Arviz.from_netcdf be able to take file objects or buffers"
Most libraries that allow writing or reading files also allow reading and writing to a python file object or an IO file-like object (eg. BytesIO). Currently Arviz requires writing these files to disk which creates an awkward dance if one simply wants to upload to s3, for instance. This may not seem like a big deal, but the files can be large, you have to remember to delete them off disk after you'

[2020-06-13 05:21] canyon289 commented on #1237
Some extra notes.

* Usefulness of this will increase as our InferenceData objects get bigger. Was already struggling last year with InferenceData objects being too big for git so storing them somewhere else would be nice
* @aloctavodia mentioned having a netcdf store somewhere. This method would make it easier to InferenceData objs there

[2020-06-13 10:33] rlloretb opened #1238 "Subprocess error for any arviz plot, pymc3 context"
**Describe the bug**
I cannot plot any plot which involves arviz (pymc3 context)

**To Reproduce**
az.plot_trace(trace)
Traceback (most recent call last):

  File "<ipython-input-4-f1462efd3db0>", line 1, in <module>
    az.plot_trace(trace)

  File "/Users/lloretroger/opt/miniconda3/envs/default/lib/python3.7/site-packages/arviz/plots/traceplot.py", line 300, in plot_trace
    plot = get_plotting

[2020-06-13 11:16] OriolAbril commented on #1238
Hi, thanks for reporting.

From the traceback it looks like there is some issue with imports. Could you try executing:

    from matplotlib import animation, get_backend

I think it will raise basically the same error and therefore identify this line as the culprit.

If this were the issue, the solution would be to move this import to runtime and only if plot_ppc and animated so we'll be able to m

[2020-06-13 12:39] rlloretb commented on #1238
Same error!

from matplotlib import animation, get_backend
Traceback (most recent call last):

  File "<ipython-input-5-147c33e5e58b>", line 1, in <module>
    from matplotlib import animation, get_backend

  File "/Users/lloretroger/opt/miniconda3/envs/default/lib/python3.7/site-packages/matplotlib/animation.py", line 737, in <module>
    class ImageMagickWriter(ImageMagickBase, MovieWriter):

[2020-06-13 12:41] rlloretb commented on #1238
The problem is importing _animation_. The other one works well.

[2020-06-13 14:20] rlloretb commented on #1238
Problem solved by installing matplotlib 3.2.1

[2020-06-13 14:20] #1238 closed

[2020-06-13 16:26] OriolAbril commented on #1132
@smit-s How is work going? We have to do some work on the PyMC3 side that will force us to update the sources for radon and rubgy cases and could also take the chance to update ArviZ datasets

[2020-06-13 16:42] OriolAbril commented on #1237
I think this could be added upstream to xarray (not sure to what extent it is possible and docs are missing and to what extent it is not possible), https://github.com/pydata/xarray/issues/4122 issue seems related. After all, we are basically [calling `xarray.Dataseto_netcdf`](https://github.com/arviz-devs/arviz/blob/master/arviz/data/inference_data.py#L236) to do all the magic.

This other issue h

[2020-06-13 21:09] OriolAbril opened #1239 "add merge/add group function"
## Tell us about it
`az.concat` currently raises an error if there are repeated groups which is perfectly fine, however, there are situations where one wants to add the different groups to the original idata object and discard the repeated groups.

related to #1066

## Thoughts on implementation

several options, some of them complementary:

1. add an `idata.merge` function so that idata wiht grou

[2020-06-13 23:35] OriolAbril commented on #1235
I think we have to rethink the labeling strategy to try and match some list of desired features.

In the case of foresplot, and dreaming big, I think we could abandon completely ticklabels and create an extra axes for the labels. Given the order var_name, coord1, coord_2..., model_name we can write var_name centered and only once, then coord1 once per variable...

[2020-06-14 08:04] smit-s commented on #1132
@OriolAbril actually got caught up with internship work. I'll be able to resume contribution after August 1st only. Can you please pick up this issue. I learned PyMC3 but can't address this urgently. Sorry for the trouble.

[2020-06-14 11:50] OriolAbril commented on #1132
Okey, I will update these two then. The issue will be far from closed though afterwards, I'd comment here again if I were to work on more datasets.

[2020-06-14 19:04] percygautam opened #1242 "Add bokeh backend for distcomparison plot"
## Tell us about it

`plot_distcomparison` currently have the only matplotlib backend (added in #1148 ). This is a reminder.

[2020-06-14 20:51] canyon289 commented on #562
We're off docker and ontto azure so assuming this one is unneeded anymore. Reopen if im wrong!

[2020-06-14 20:51] #562 closed

[2020-06-15 02:47] canyon289 opened #1243 "ArviZ Council Nominees 2020"
This is our issue to nominate candidates for ArviZ Council. Nominations will be open for 1 week, after which this issue will be closed and we move to the first election phase. The council will be consist of either 5 or 7 seats, the number will be determined in the election.

For nominations please comment with one name per comment to make things easier to track. Nominations must be accepted by nom

[2020-06-15 03:11] canyon289 commented on #1243
I nominate @sethaxen, who built the julia integration!

[2020-06-15 08:16] AlexAndorra commented on #1243
I nominate @OriolAbril, for his amazing work -- and his unique way of explaining Spanish politics and way of life

[2020-06-15 08:18] AlexAndorra commented on #1243
I nominate @ahartikainen, for his amazing work -- and his beautiful pictures of the Finnish countryside!

[2020-06-15 08:20] AlexAndorra commented on #1243
I nominate @canyon289, for his amazing work -- and his mind-blowing joyful efficiency !

[2020-06-15 08:21] AlexAndorra commented on #1243
And finally, I nominate @aloctavodia, for his amazing work -- and his skilfulness at slow-cooking meat!

[2020-06-15 19:42] OriolAbril commented on #1243
I nominate @ColCarroll

[2020-06-15 19:42] OriolAbril commented on #1243
and I also nominate @AlexAndorra

[2020-06-15 20:07] ahartikainen commented on #1243
I nominate @mitzimorris

[2020-06-15 20:11] aloctavodia commented on #1243
I nominate @rpgoldman

[2020-06-15 20:11] aloctavodia commented on #1243
I nominate @fehiepsi

[2020-06-15 21:38] fehiepsi commented on #1243
I nominate @ahartikainen

[2020-06-15 21:38] fehiepsi commented on #1243
and also nominate @OriolAbril

[2020-06-16 01:22] OriolAbril commented on #1243
Thank you so much @fehiepsi !

@canyon289 already commented but I wanted to extend the explanation just in case. The election process is divided into two steps:
1. Council nominations. We decided they would be public and happen in this issue. Any Core Contributor can be nominated (or self-nominated) and then has to accept by liking the comment with their nomination. Everyone who accepts is then a

[2020-06-16 03:33] canyon289 commented on #1243
Thanks @OriolAbril. Since everyone is nominated I'll close the acceptances at approximately at 6/20 7pm PST so NumFOCUS can handle the election from there

[2020-06-17 14:32] elijose55 commented on #1155
Should I delete the commented line?

[2020-06-17 15:59] OriolAbril commented on #956
`plot_hdi` is a great candidate to take advantage of this: bokeh code already uses matplotlib cycle: https://github.com/arviz-devs/arviz/blob/master/arviz/plots/backends/bokeh/hdiplot.py#L25-L31

Plenty (if not all) functions could also take advantage of this

[2020-06-17 21:52] percygautam opened #1248 "Long group names are shown in next line in html_repr"
The `html_repr` for `InferenceData` needs following modifications:

- Long group names like `predictions_constant_data` and warmup group names are shown in line to the marker
- If the `InferenceData` object has only one group, show the group in expanded form.

Nothing urgent. Just to remind myself later.

[2020-06-18 13:46] canyon289 commented on #1243
Just to bluntly ask the question. Is anyone else planning on confirming their nomination? Asking because if we have 6 nominees, I'm going to propose a change to next steps in the process but want to confirm the count of nominees first :)

[2020-06-18 13:48] avehtari commented on #1243
I feel my contribution has been so small that I would prefer other nominated persons to be prioritized and thus haven't accepted my nomination.

[2020-06-18 15:09] canyon289 commented on #1243
I would disagree that your contribution is "small". A lot of arviz is ideas programmed straight from papers and work, rank plots for instance! And for myself reading your work gives me the fundamental understanding. But appreciate the quick response as it helps reduce my uncertainty on what to propose for election next steps. Will wait for a couple more responses :)

[2020-06-18 15:33] mitzimorris commented on #1243
like Aki,  I feel my contribution has been minimal and thus thanks, but no thanks, I don't feel qualified to be on the council.

[2020-06-19 00:04] canyon289 commented on #1243
Since we have 7 confirmed nominee and, 2 people that will not become nominees and either 5 or 7 slots for council seats I have the following proposal.

***If its the case by Sunday that no one else wants to be a nominee for the a council seat*** would anyone be opposed to forgoing the election and just confirming all 7 people to the council? While we could run an election it seems like the likely

[2020-06-19 08:03] AlexAndorra commented on #1243
Thanks @canyon289, I agree with you: unless someone has a strong preference for a 5-member Council or really dislikes a nominee, I think we can forego the election and proceed with a 7-member Council.

[2020-06-19 15:04] StanczakDominik opened #1250 "Use PyMC3 3.9 `dims`, `Model(coords)` arguments from the `Model` context manager instead of manually adding `dims` for `az.from_pymc3`?"
## Short Description

I'm tinkering with the awesome new `dims` functionality in PyMC3, but when trying to use it in InferenceData, I run into having to write very verbose code...

## Code example

I have this example of Starcraft data analysis ([shameless self-plug :D](https://stanczakdominik.github.io/posts/bayes-sc2-part-1/)):

<details>
<summary>Setup, for reproducibility's sake </summary>

[c

[2020-06-19 15:28] canyon289 commented on #1243
We had a discussion in slack. We'll be faithful to the election process, because even if it leads to the same outcome we can be certain it was the group decision

[2020-06-19 15:45] StanczakDominik commented on #1250
I'm not sure if this wouldn't be a bit related to https://github.com/pymc-devs/pymc3/issues/3953 ?

[2020-06-19 16:40] OriolAbril commented on #1250
Hi, thanks for the report!

This issue should have been fixed in #1240, it's definitely a bug. Can you confirm everything is working on ArviZ latest dev version? I have been testing it on a couple models but I'll probably have still missed some edgecases :)

[2020-06-19 17:06] StanczakDominik commented on #1250
Always nice to see a negative bugfix ETA :laughing: That completely fixed it. Thanks a ton!

I think it might be a good idea to get 0.8.4 out, in that case, for compatibility with the new `sample` functionality - that works too! :)

[2020-06-19 17:06] #1250 closed

[2020-06-19 23:50] canyon289 commented on #1155
Hi that would be good. If you can think of any other examples too that'd be great!

[2020-06-20 17:39] percygautam commented on #1242
Also, add `distcomparison` plot to examples.

[2020-06-20 18:28] kyleabeauchamp opened #1251 "InferenceData.map docstring examples are broken in docs"
See https://arviz-devs.github.io/arviz/generated/arviz.InferenceData.map.html#arviz.InferenceData.map

[code]

[2020-06-20 18:33] canyon289 commented on #1243
This issue will close in approximately ~32 hours, at which point I'll send NumFOCUS the list of nominees and emails of folks that can vote.

The specific timing of the voting will depend on when NumFOCUS gets around to it but would expect the form to go on Monday or Tuesday (CST time zone) and voting to be open for a week.

[2020-06-20 18:51] kyleabeauchamp opened #1252 "Improve documentation on InferenceData.map"
1.  Is InferenceData.map always done elementwise or is some sort of reduction applied?
2.  What is the function signature (particularly input shape and output shape) expected for a function passed to map?  Currently, the docs just say "fun: callable / Function to be applied to each group."

For example, suppose you want to evaluate a new function of the model parameters (iterated for each step in

[2020-06-20 19:11] ahartikainen commented on #1251
Hi, yeah, there is a typo

    observed_RVs --> observed_data

[2020-06-20 19:17] OriolAbril commented on #1251
I'll fix this straight away, thanks! I'll also try to tackle some of the questions in #1252

[2020-06-20 19:17] kyleabeauchamp commented on #1251
Thanks for the quick response!

[2020-06-20 19:29] kyleabeauchamp commented on #1252
In particular, I have two concrete examples of what you might want to do with `map`:

1.  Suppose you have a model that uniformly samples (x, y) points in the unit square.  A nice application of map might be to transform the posterior samples into polar coordinates, giving you (r, theta)
2.  Suppose you have a bayesian regression model.  Another application of map might be to apply a different sco

[2020-06-20 20:36] kyleabeauchamp commented on #1252
Here's my current working code for what I'm trying to do.  Even after reading #1255, I'm still not sure if that falls under `map`, another arviz function that needs to be written, or possibly just code that belongs in user-space:

[code]

[2020-06-20 20:36] OriolAbril commented on #1252
I have extended docs a little, map basically loops over groups to apply the function to all groups (the same way that `array.Dataset.map` loops over data variables and therefore there is no `xarray.DataArray.map`. This means that data from other groups is not available unless manually passed as an argument or kwarg.

I think map would be a perfect fit for 1. if the transformation had to be done to

[2020-06-20 21:50] ahartikainen commented on #1252
I have thinking about this too lately.

We would basically need to create a function, then having some simple way to combine InferenceData groups + external data where function arguments could be inferred / manually defined.

Something similar as in `wrap_xarray_ufunc` we have, but user friendly with some predetermined options.

And this would pull out wanted output.

[2020-06-20 22:09] kyleabeauchamp commented on #1252
OK, I put together a really simple example of (1), which after your suggestions seems to be working well:

[code]

I'll try to think about example (2) now.

[2020-06-20 22:57] kyleabeauchamp commented on #1252
Here's my code for example (2).  I can't get the sklearn <> map stuff working because of the need for an implicit broadcast / aggregation across one dimension.  I think making that commented out line work in an easily comprehensible way might be a win for usability.

[code]

[2020-06-20 22:59] kyleabeauchamp commented on #1252
PS: the reason I'm pushing for this functionality is that I think it would be great to be able do have a clean separation between "model training" and "model evaluation", where we use the InferenceData interface to do model evaluation (using available metrics in, e.g., sklearn) after the model was sampled.

[2020-06-20 23:59] #1251 closed

[2020-06-21 10:02] avehtari commented on #1243
Thanks for the kind words. This encourages me to to be more active in the future.

[2020-06-21 16:04] OriolAbril commented on #1252
`map` seems like an overkill for these two cases in my opinion. There is not a grupowise component to these calculations.

I'd recommend reading the updated radon notebook from https://github.com/pymc-devs/pymc3/pull/3963 to see examples of postprocessing calculations, you can access the different variables as `idata.posterior.x` and do anything you'd do with xarray objects (which is more or less

[2020-06-21 18:47] kyleabeauchamp commented on #1252
Thanks, the new features (coords in pm.Model() and pm.Data) seem extremely useful for ensuring good bookkeeping and reproducibility in these situations.

I still don't actually see how to solve the issue in (2).  Basically, the issue there is that I specifically want to avoid re-writing the metric and instead leverage a unit-tested, open-source version from sklearn.  To me, the only way to use tha

[2020-06-21 20:32] OriolAbril commented on #1252
Oh, my bad, I assumed sklearn function would work, xarray preserves coords and broadcasts automatically with most numpy functions. It looks like you'll have to use `xarray.apply_ufunc` or `arviz.wrap_xarray_ufunc`, I am afraid of both functions need some improvements I hope they are clear enough, if not, maybe this [SO answer can help](https://stackoverflow.com/questions/58719696/how-to-apply-a-xa

[2020-06-21 20:35] rpgoldman opened #1257 "Displayed inference library version is wrong in InferenceData from PyMC3"
**Describe the bug**

I was running PyMC3 version 3.9.1, and returned an `InferenceData` object from `pymc3.sample()`.  The resulting `InferenceData` shows this:

[code]

But that is *not* the PyMC3 version reported by PyMC3:

[code]

**To Reproduce**

I ran this script (trying to replicate an issue in PyMC3):

[code]

**Expected behavior**

Two reported versions of PyMC3 version should agree.

**

[2020-06-21 21:06] canyon289 commented on #1243
I missed a two key words here. A lot of ArviZ is *your* ideas, programmed straight from *your* papers and work. Not just anybody's.

For bookkeeping closing this in ~6 hours and sending to Nicole. So far we have confirmed candidates

* @sethaxen
* @ahartikainen
* @aloctavodia
* @AlexAndorra
* @ColCarroll
* @OriolAbril
* @canyon289

If anyone else wants to confirm or I missed anyone please comment

[2020-06-22 04:17] canyon289 commented on #1243
Nominees confirmed as above.  The template ballot has been sent to Numfocus. They'll make a copy and send out the official version soon (I hope)!

https://forms.gle/NsYAgWFjeDqXwZwo8

[2020-06-22 04:18] #1243 closed

[2020-06-22 15:04] canyon289 opened #1260 "ArviZ 2020 Election: Initial Voting"
ArviZ is continuing through its process of establishing governance with the intent to become a NumFOCUS sponsored project.

Nominations process closed ~12 hours ago. We are now in the election phase which has three parts.

1. Wait for NumFOCUS to send election ballot to all core contributors emails
2. Vote with ballot which will be open 7 24 hour periods from email receipt
3. Await results
4. Anno

[2020-06-23 15:03] AlexAndorra commented on #1252
Closing, as the doc improvement has been merged and released in 0.9.0, but feel free to reopen if needed 😉

[2020-06-23 15:03] #1252 closed

[2020-06-23 21:15] drachimera opened #1262 "HPD plot shows values over each other"
Hey All,

I am trying to figure out how to change the plot_posterior function to show the actual values.  In one of my plots, where it is small, I get numbers writing over each other.  Any help/advice?

![image](https://user-images.githubusercontent.com/605973/85463990-c71ec780-b56c-11ea-95f6-3706e6ef72a1.png)

[2020-06-23 22:10] aloctavodia commented on #1262
Hi  @drachimera , thanks for taking the time to report this problem. I am not sure there is a good solution from your side. Let me try to fix it.

[2020-06-24 12:25] ahartikainen commented on #1262
For a quick fix, I think one can move those labels in interactive (qt4?) window. Not sure if this is true, and we have a fix on the way.

[2020-06-24 13:56] drachimera commented on #1262
Thanks so much!  Love the toolkit!

[2020-06-24 14:54] #1262 closed

[2020-06-25 14:59] canyon289 commented on #1260
Hi everyone,
Quick reminder Be sure to vote if you have not done so already!

[2020-06-25 18:02] michaelosthege commented on #1257
I observe the same problem after installing with `pip install -e`.
It looks like `pip` thinks version 3.8 is installed. No idea why though.

[2020-06-25 19:03] OriolAbril commented on #1257
Looks like here is where things go wrong: https://github.com/arviz-devs/arviz/blob/master/arviz/data/base.py#L227 no idea why though, just leaving this here im case it could help

[2020-06-27 18:18] nitishp25 commented on #1225
Given that `var_names` already supports multiple idata inputs, are we looking to separate the filtering for each input dataset?

[2020-06-27 22:38] canyon289 opened #1268 "High Dimensional Examples of ArviZ"
Using this issue ticket as a forum to connect @michaelosthege  and @sethaxen

@michaelosthege Seth is looking for examples of ArviZ use on high dimensional models. I remember you posting that large pairplot in the PyMC slack the other way so wanted to connect you two :)

[2020-06-27 22:40] canyon289 commented on #1260
Hello! NumFOCUS let me know 9 people voted which is great! Voting will be open for 48 more hours or so, don't lose your chance to participate!

[2020-06-28 09:08] michaelosthege commented on #1268
Hi @sethaxen,
Yes, I use ArviZ to plot_pair with 20-30 dims from time to time. Mostly to understand correlations...
What are you interested in specifically?

[2020-06-28 19:39] canyon289 commented on #1260
Approximately another 24 hours of voting left! Tomorrow NumFOCUS will let us know results, and we will see if a follow up tie breaker election is needed.

Thank you everyone for participating thus far!

[2020-06-28 21:29] OriolAbril opened #1269 "check codecov uploader fix"
We are currently adding the commit manually for codecov to work from Azure without token as a workaround due to a bug in the codecov uploader. Said bug should be [fixed by now](https://community.codecov.io/t/codecov-uploads-from-azure-pipelines-are-failing-with-build-numbers-do-not-match/1100/26?u=oriolabril).

This is a remainder for myself or encouragement for anyone else who feels like it to un

[2020-06-29 08:20] GWeindel opened #1270 "InferenceData from a numpy matrix"
Hi all,

I have posterior traces that I would like to use with the arviz package, the back-end is pymc (1 I think) but generated from another package (HDDM, http://ski.clps.brown.edu/hddm_docs/index.html).

When I try the ```az.from_pymc3()``` module I get an error message ```AttributeError: 'DataFrame' object has no attribute '_straces'```
I am assuming either that the top level package did chang

[2020-06-29 11:02] OriolAbril commented on #1270
Hi,

I am not sure if HDDM uses pymc 2 or 3, it looks like it should be compatible with both. From the error message, it looks like the returned object is a DataFrame, not a `pymc3.MultiTrace` (not totally unexpected given the pymc2 compatibility). You should therefore not expect `from_pymc3` to work as it only works with `pymc3.MultiTrace` objects.

I have never used the HDDM package and therefor

[2020-06-29 12:44] GWeindel commented on #1270
Hi thanks for your answer. From your response I see that there is already a solution so I will close the issue and I will try it with my data.

[2020-06-29 12:44] #1270 closed

[2020-06-29 15:13] OriolAbril commented on #1225
I think `_var_names` must always be a list of strings and it's datasets what can be a list of xarray datasets or a single dataset. Therefore, it does not seem really useful to try and apply different filtering schemes to each dataset given that the var_names will be the same (strings in var_names will not generally be compatible with all filtering schemes).

I would therefore pass `filter_vars` fr

[2020-06-29 20:24] nitishp25 commented on #1225
Yeah, it should work. The "complicated" got me thinking about the requirement of separating the filtering and I started thinking about a `dict` based revamp for `_var_names` 😅

[2020-06-30 00:30] canyon289 commented on #1260
NumFOCUS has elections votes and will process them for us shortly, perhaps in next day or so

[2020-07-01 03:59] canyon289 commented on #1260
Elections results have been posted. ArviZ will have a 7 member council. The council members are

* @OriolAbril
* @aloctavodia
* @ColCarroll
* @ahartikainen
* @OriolAbril
* @AlexAndorra
* @canyon289

Thank you everyone for participating in this process. It is much appreciated
![image](https://user-images.githubusercontent.com/7213793/86201435-66673000-bb14-11ea-91ff-07b235dca5c7.png)

[2020-07-01 19:18] canyon289 commented on #1260
Reopening because I was reminded by of the rules where anyone can contest election results for 24 hours. Restarting the timer by reopening

[2020-07-03 16:32] canyon289 commented on #1260
Its been over 24 hours now and no challenges so merging!

[2020-07-03 16:32] #1260 closed

[2020-07-03 22:55] canyon289 opened #1277 "Automatic conversion of list type to ndarray"
## Tell us about it
It would be nice if list types were automatically converted to ndarray in `az.plot_dist`

![image](https://user-images.githubusercontent.com/7213793/86500410-a2cda280-bd45-11ea-9c31-ebb94ece695c.png)

[2020-07-03 23:15] OriolAbril opened #1278 "Remove technical debt in `from_pymc3` and move to pymc3 repo"
PyMC3 already depends on ArviZ and is moving towards a seamless integration between the two packages (i.e. autocoords and dims, returning `InferenceData` from `pm.sample`, having `from_pymc3` retrieve and use the model context...). Similarly to PyMC4, we thought it would make development of both packages easier to move `from_pymc3` to PyMC3 codebase at some point. This would allow to simplify the

[2020-07-04 06:51] andyfaff opened #1279 "problem while processing pymc3 data"
I'm unable to sample a blackbox likelihood in pymc3. There is an exception raised when arviz is asked to process the trace. Based on the stacktrace I think the issue is on the arviz side.

Python 3.8.3
pymc3 3.9.2
arviz 0.9.0
theano 1.0.4
macOS

all packages installed via pip into a clean conda env. The MWE is:

[code]
gives the stack trace:
[code]

[2020-07-04 09:31] OriolAbril commented on #1279
Thanks for reporting, I have to admit I am completely at a loss as to why the "observed data" (in this case due to the structure of the DensityDist I think `theta` is understood as observed_data from ArviZ side) has `eval` method but can't be evaluated, maybe @rpgoldman has some idea on this? Maybe it's due to `theta`/`v` being "sampled" and thus having a different values for each draw and chain?

[2020-07-04 17:32] Shreyaansh-darkside commented on #1277
Sir, can you guide me how can i  get access to the plot library so that i can resolve this issue... Thanks!!

[2020-07-04 17:45] OriolAbril commented on #1277
Hi @Shreyaansh-darkside, thanks for your interest in ArviZ!

We have a detailed contributing guide that should guide you through all the [steps](https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md#steps) to successfully send a pull request to ArviZ. It includes both reference links and the commands to run in the terminal for everything to work. If there is anything not clear enough ple

[2020-07-04 19:08] canyon289 commented on #1277
@Shreyaansh-darkside Excited to see that you want to contribute! What @OriolAbril posted is the best guide! Looking forward to the PR.

I'll assign this one to you here so it's clear you're attempting it.

Thanks again

[2020-07-04 22:48] kyleabeauchamp commented on #1268
I've hit issues with plot_forest where it's basically impossible to show all the data for that dimension, so instead I ended up sorting the trace by the mean value of that parameter, then showing the top 10 and bottom 10 rows, as well as 10 randomly select values from the middle.

[2020-07-04 22:50] kyleabeauchamp commented on #1268
Not sure if that's what's being implied in this ticket, but those are some of the tricks I've had to do for high dimensional data.

FWIW, the human genome has 23 chromosomes and ~20,000 genes, while modern cancer sequencing panels include ~500 genes, so those are some of the numbers I'm talking about.

[2020-07-04 23:50] michaelosthege commented on #1268
Well with 20_000 subplots, or even 20_000 kde plots you might be "hitting" the limits of Matplotlib.
The CPU time for the kdes could be a problem too.

[2020-07-04 23:53] kyleabeauchamp commented on #1268
Yeah, I would want to merge them onto a single figure (e.g., https://arviz-devs.github.io/arviz/generated/arviz.plot_forest) but needing to reduce the number of rows on the figure.

[2020-07-04 23:55] kyleabeauchamp commented on #1268
E.g., what would we plot in the 8 schools example if instead we had 500 schools---IMHO, we would want to plot the theta distribution for `k` largest values, `k` smallest values, and `k` intermediate values, where `k` is something like 5 or so.

[2020-07-05 00:05] canyon289 commented on #1237
@percygautam Not implying that you need to implement this as part of your GSOC, or go out of your way, but as you're looking around InferenceData would appreciate any thoughts or advice you have around this issue

[2020-07-05 01:36] kyleabeauchamp commented on #1252
FYI, I was able to figure out my use case combining arviz + xarray + sklearn metrics.  I spent several hours staring at the docs for `wrap_xarray_ufunc` and eventually was able to identify the following pattern:

[code]

[2020-07-05 01:47] Shreyaansh-darkside commented on #1277
Sir PR has been given... waiting to be merged..

[2020-07-05 10:51] michaelosthege commented on #1268
A heat map? Probability density as color/intensity instead of a 2D polygon.

[2020-07-05 15:26] rpgoldman commented on #1279
This is interesting to me -- when sampling starts, I see this, which I have never seen before:

[code]

@OriolAbril Are you familiar with this? Any idea whether this could be related to the later problem (which I am investigating now)?

[2020-07-05 15:32] rpgoldman commented on #1279
This may have to do with groveling over the Theano graph to decide how to categorize variables...

[2020-07-05 15:40] OriolAbril commented on #1279
Yes, I also got this message which I had never seen before so I don't really know if it could have any relation with the `eval` problem

[2020-07-05 19:06] rpgoldman commented on #1279
Actually... isn't the answer to this simple? We have a variable whose "observed" values are not constant.  So we shouldn't expect this to work, should we?

I'm pretty sure that PyMC3 expects observations _not_ to be random variables, right?

I should mention that the Quickstart notebook for PyMC3 says:

"`observed` supports lists, `numpy.ndarray`, `theano` and pandas data structures."

The inclusi

[2020-07-05 22:33] andyfaff commented on #1279
Thank you for the detective work on this so far. `pm.Potential` works in the meantime.

I should've pointed out that the example comes from a [pymc3 tutorial itself](https://github.com/pymc-devs/pymc3/blob/master/docs/source/notebooks/blackbox_external_likelihood.ipynb). I've been looking for exactly this kind of tutorial notebook for a long time, black box likelihoods are quite common in the area

[2020-07-06 16:44] kyleabeauchamp opened #1282 "Loading PPC data into arviz in pymc3"
Currently, the easiest way to get data from pymc3 into arviz is via `pm.sample(return_inferencedata=True)`, which gives back an arviz InferenceData object.  However, `pm.sample_posterior_predictive()` only supports dictionary returns.

It's unclear what the right approach is, as at this point the InferenceData object is already created.  I guess we either need an easy, dimension-aware way to add t

[2020-07-06 19:35] kyleabeauchamp commented on #1282
I think one more thing to add here: in my use case, I am using `pm.set_data()` and `pm.sample_posterior_predictive()` to run PPC calculations on new data that was not present during the original parameter sampling, so it's important that I be able to do this work post-hoc.

[2020-07-07 02:37] kyleabeauchamp opened #1283 "from_pymc3_predictions does not support arviz trace input"
[code]

FWIW, I've also tried passing along the `tr.posterior` object rather than the full InferenceData object, but AFAIK the issue is that all `from_pymc3_predictions` code paths expect a pymc3 object, rather than an arviz trace.

[2020-07-07 02:37] kyleabeauchamp commented on #1283
[code]

[2020-07-07 02:40] #1283 closed

[2020-07-07 02:41] kyleabeauchamp commented on #1283
Actually, the `idata_orig` arg might do this, but I'm hitting an issue with dimensions, which I think is due to something I reported over in pymc3 (`ValueError: conflicting sizes for dimension) https://github.com/pymc-devs/pymc3/issues/4004

[2020-07-07 10:42] OriolAbril commented on #1282
To add posterior predictive samples to an inference data object with pymc3, I think the best approach is:

[code]

There is also #1239 to make this less convoluted.

As Robert pointed out, to add predictions (out of sample posterior predictive samples) the way to go should be `from_pymc3_predictions` as this will add the samples returned by `sample_posterior_predictive` to `predictions` groups as

[2020-07-07 17:55] OriolAbril commented on #1239
tagging @percygautam

[2020-07-09 14:45] rpgoldman commented on #1257
Another possible issue, I see this error from mypy in sampling:

    v = packaging.version.parse(pm.__version__)

According to mypy, `packaging` is a `Module`, and has no `version` property, and it suggests I change it to `__version__`.  This might be a false positive, but I mention it for what it is worth.

[2020-07-10 11:36] michaelosthege commented on #1257
`packaging.version` is created upon import. VS code is also confused by this.

To solve this issue however, the question is: Should/can we fix the problem of `pip` not recognizing the version correctly? Or should ArviZ just use the `__version__` attribute if available?

[2020-07-10 12:48] OriolAbril commented on #1257
ArviZ uses __version__ if `pkg_resources.get_distribution` errors out, I guess we could invert the behaviour to check for __version__ first, but something feels fishy :shrug:

[2020-07-10 15:21] michaelosthege commented on #1257
The `__version__` attribute is the ultimate source of truth, right?

I can't reliably reproduce the fishyness of incorrect pip version reports. Maybe it's just a rare issue, specific to Robert and me?

[2020-07-10 17:37] mberaha opened #1285 "Multiple "stacked" density plots"
Is there an easy way to produce a plot similar to the one shown in this stackoverflow question https://stackoverflow.com/questions/58899156/plotly-violin-plot-add-trace-cannot-add-names ?

I saw in the example gallery that it is possible to have several density plots in the same axis, but none shows if it's possible to translate the different plots on the y axis

[2020-07-10 17:47] OriolAbril commented on #1285
Does this [example](https://arviz-devs.github.io/arviz/examples/matplotlib/mpl_plot_forest_ridge.html) work for what you had in mind? Maybe with a lower alpha to get more transparency

[2020-07-11 07:45] mberaha commented on #1285
Yes, that was I was looking for, thank you!

However, when using my own algorithm to generate the samples and then using `az.convert_to_inference_data`, I get the following error:

     56         existent_vars = np.isin(var_names, all_vars)
     57         if not np.all(existent_vars):
---> 58             raise KeyError(
     59                 "{} var names are not present in dataset".format(

[2020-07-11 17:11] kyleabeauchamp commented on #1282
Thanks, the az.concat idea is working, and I'm testing out the PR branch of pymc3 that fixes the keep_size issue.  So I think I'm now on track again :).

[2020-07-12 23:32] rpgoldman opened #1287 "Error in numeric utils"
**Describe the bug**

(Line 191 in numeric utils)[https://github.com/arviz-devs/arviz/blob/c5edec458316501b6a9b22a718e09aa06c7fd0ff/arviz/numeric_utils.py#L191] is as follows:

    width = np.round(np.max([1, bins_sturges, bins_fd])).astype(int)

When I ran this as part of running the PyMC3 getting started notebook,

    round(np.max([1, bins_sturges, bins_fd]))

evaluated to 1, and, apparently `1

[2020-07-12 23:44] OriolAbril commented on #1287
I remember things breaking with a new release of numpy due to ArviZ having `round` but changing to `np.round` fixed it, it is weird this is coming up again :thinking:

[2020-07-13 10:04] ari-hacks commented on #1155
@canyon289 is this still available to update?

[2020-07-13 15:11] OriolAbril commented on #641
From a conversation in slack and wanted to suggest using `idata.posterior = idata.posterior.assign(...)` also, in addition to `idata.posterior["new_var"] = ...`, as assign allows to add multiple variables at the same time. Moreover, it could also be interesting to add some examples on using [`idata.map`](https://arviz-devs.github.io/arviz/generated/arviz.InferenceData.map.html#arviz.InferenceData.

[2020-07-13 17:41] dstauffer11 opened #1288 "plot_compare issue with pWAIC"
The plot_compare method seems to add the pWAIC values to the in-sample deviance to get WAIC values regardless of scale (deviance or log). Shouldn't the pWAIC be subtracted in the log scale, where a higher score is better? Otherwise, for example with two models m1 and m2 with the same in-sample deviance of 20: if m1 has pWAIC of 10, m2 has pWAIC of 5 then m1 WAIC is 30 and m2 WAIC is 25 so m1 is pr

[2020-07-13 20:50] canyon289 commented on #1155
I believe so. @elijose55 were you still planning on working on this? If not in ~24 hours I'll give @ari-hacks the go ahead to give it a try :)

[2020-07-14 18:29] aloctavodia commented on #1287
Super weird. Is the error in the PyMC3 getting started notebook reproducible?

[2020-07-14 18:41] rpgoldman commented on #1287
My attempt to create a MWE by copying the values of `bins_sturges` and `bins_fd` out of the debugger, assigning them, and making a standalone python script does _not_ replicate the error:

[code]

So I'm not sure -- is there some setting that could cause `np.round` to return a native python float instead of a numpy value? That's definitely what is going wrong here, but I have no idea why I get thi

[2020-07-14 18:42] rpgoldman commented on #1287
... but it does happen to me every time I try to run the notebook.

[2020-07-14 19:07] aloctavodia commented on #1287
So we can just learn to live with the doubt and change the code to:

`int(round(max([1, bins_sturges, bins_fd])))`

[2020-07-14 19:09] aloctavodia commented on #1287
BTW I tried to reproduce it, running the notebook with two numpy versions. no luck.

[2020-07-15 18:08] OriolAbril opened #1291 "Add linear regression code to examples repo"
Add the code used to generate `regression1d` and `regression10d` examples available with `load_arviz_data` to https://github.com/arviz-devs/arviz_example_data

[2020-07-15 18:10] OriolAbril opened #1292 "Add classification examples to examples repo"
Add the code used to generate `classification1d` and `classification10d` examples available with `load_arviz_data` to https://github.com/arviz-devs/arviz_example_data

[2020-07-15 18:14] OriolAbril opened #1293 "Add radon code to examples repo"
Add the code used to generate the radon dataset to https://github.com/arviz-devs/arviz_example_data.

The radon example is taken from [this notebook](https://github.com/pymc-devs/pymc3/blob/master/docs/source/notebooks/multilevel_modeling.ipynb), the `hierarchical_intercept` model with the group level predictors.

[2020-07-15 18:16] OriolAbril opened #1294 "Add code for rugby example to examples repo"
Add the code used to generate the rugby dataset to https://github.com/arviz-devs/arviz_example_data.

The rugby example is taken from [this notebook](https://github.com/pymc-devs/pymc3/blob/master/docs/source/notebooks/rugby_analytics.ipynb).

[2020-07-15 18:20] OriolAbril opened #1295 "Add code for school examples to examples repo"
Add code used to generate the `centered_eight` and `non_centered_eight` examples to https://github.com/arviz-devs/arviz_example_data.

The code is available at https://arviz-devs.github.io/arviz/notebooks/Introduction.html#Plotting-with-PyMC3-objects and at https://arviz-devs.github.io/arviz/notebooks/InferenceDataCookbook.html#From-PyMC3

[2020-07-15 18:24] OriolAbril opened #1296 "Add glycan_torsion_angles code to examples repo"
If possible, add the code used to generate `glycan_torsion_angles` to https://github.com/arviz-devs/arviz_example_data. @agustinaarroyuelo

[2020-07-16 03:45] canyon289 opened #1298 "Add helper methods for azsummary"
## Tell us about it
Adding median and median absolute deviation would be to ArviZ summary would be nice, particular as in Regression and Other Stories those are the two summary statistics used most often.

See this ticket from Bambi
https://github.com/bambinos/bambi/issues/223

https://github.com/bambinos/bambi/issues/223
![image](https://user-images.githubusercontent.com/7213793/87624032-8e8d8c00

[2020-07-16 09:08] ahartikainen commented on #1298
We could add some predefined but optional stats.

Have you tried `stat_funcs` kw?

But for example mad is already defined for ess / mcse then we could have option to spit out mad stats only

We could have options for the following

    mean stats --> mean, sd, ess_mean, ess_sd, mcse...
    quantile stats --> quantiles (list input), ess_quantiles, mcse_q...
    mad stats --> median, mad, (iqr?)...

[2020-07-16 13:56] AlexAndorra commented on #1298
Adding the median seems nice, especially to easily spot potentially skewed distribution.
I'm not sure about adding MAD though, as the HDI is already in `summary` IIRC, and the latter is more robust to distributional assumptions and interpretable even when we're not working with Normal distributions -- unlike MAD estimates, IIUC

[2020-07-17 04:40] ari-hacks commented on #1155
hey @canyon289 , I'd love to know the best way to run this project locally? I tried the [docs](https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md) on Docker but the build errors out.

[2020-07-17 06:43] grburgess opened #1301 "More intuitive chain extraction methods"
## Short Description

I'm happy to work on this myself, but before going down that path, is there a simple way to extract samples combined across multiple chains? I know how to do it programmatically, but it would be have this upfront for the user

## Code Example or link

something like

[code]

Also include the ArviZ version and version of any other relevant packages.

## Relevant documentation

[2020-07-17 09:56] OriolAbril commented on #1155
I think #1297 should fix the issue with building docs in docker.

[2020-07-17 15:27] OriolAbril commented on #1301
We were planning on adding an example about this somewhere, maybe xarray_examples to begin with.

Currently the way to go is one of:

[code]

will generate a xarray dataset object, adding `.parameter` will get a dataarray which is generally interchangeable with numpy arrays which could be directly retrieved adding `.values` too. Depends on the use at hand. The shape of the retrieved array will be

[2020-07-17 15:45] ahartikainen commented on #1301
I think split (or groupby) could take same specific array / variable and split idata to multiple idata.

So `idata.groupby('sample_stats/divergence')` would group by divergence. There is extra logic needed for coords.

[2020-07-17 15:48] OriolAbril commented on #1301
group by divergence as in generating a groupby with 2 groups, one with all samples with `diverging=False` and the other with `True`?

[2020-07-17 15:54] ahartikainen commented on #1301
For example in boolean case

[2020-07-17 16:09] OriolAbril commented on #1301
@percygautam can you try something like the code below on #1254?

[code]

given that patterns like this are probably common, would it make sense to add a `idata_args` to `idata.map` so that the code below can be simplified to:

[code]

`idata.map` would then first retrieve and store `idata_args` and assume that the call signature of the function is `func(ds, *(*args, *idata_args), **kwargs)`. `ida

[2020-07-17 23:46] ari-hacks commented on #1155
hey @OriolAbril , thanks for the update. It looks like all the docker commands are working now except for
`./scripts/container.sh --docs` which throws an Extension error.

Alternatively, I don't mind running locally be but I don't see a step to spin up docs locally.

[2020-07-18 08:05] OriolAbril commented on #1155
It is quite hidden, see the paragraph right below [step 4](https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md#steps). To build docs locally you will need to install all dependencies in `requirements` and `requirements-docs` plus some [extra non pip dependencies](https://docs.bokeh.org/en/latest/docs/user_guide/export.html#exporting-plots).

What is the traceback of the Extension error

[2020-07-18 17:43] percygautam commented on #1301
I tried the code. It's working fine and returns a `DatasetGroupBy` object for `idata.posterior`.

[2020-07-18 20:34] fonnesbeck opened #1302 "plot_forest only plots first element of parameter vector"
Running the baseball example in PyMC3, I am encountering a bug in `plot_trace` whereby only the first element of a vector-valued variable is plotted. Specifically, the `thetas` variable is of shape (18,), and the trace is 1000 x 18. However, the following arises when `plot_forest` is called.

![image](https://user-images.githubusercontent.com/81476/87861436-d4c93200-c90b-11ea-871c-901245c8090c.png

[2020-07-18 20:39] fonnesbeck commented on #1302
OK, looks like using a very old version of ArViZ is to blame. Updating to 0.9.0 cures the problem.

[2020-07-18 20:39] #1302 closed

[2020-07-18 21:25] canyon289 commented on #1155
@ari-hacks Looks like you're getting help from Oriol but wanted to apologize for the docs erroring out on docker. I'll take a look and fix that so you or whoever else has a better experience next time

[2020-07-18 21:30] canyon289 opened #1303 "Docker Container build is failing"
Run `./scripts/container.sh --build` per instructions. Got result below

![image](https://user-images.githubusercontent.com/7213793/87862274-1acdc800-c903-11ea-9b5f-2394e5009206.png)

[2020-07-18 21:46] #1303 closed

[2020-07-18 21:47] canyon289 commented on #1155
@ari-hacks I fixed the container issue and successfully got the docs to build. You're welcome to use that method, or install the libraries locally. Whatever you prefer!

Thank you immensely for commenting back here with the error and letting us know, and thank you in advance for your help with the docs!

[2020-07-19 06:05] ari-hacks commented on #1155
@OriolAbril and @canyon289 thanks for all the help here!

This is what I get after running `./scripts/container.sh --docs`:
`Extension error:
Handler <function main at 0x7ff419d7da70> for event 'builder-inited' threw an exception
skipping /opt/arviz/examples/matplotlib/mpl_plot_autocorr.py
skipping /opt/arviz/examples/matplotlib/mpl_plot_bpv.py
skipping /opt/arviz/examples/matplotlib/mpl_plot_bpv_

[2020-07-19 15:10] canyon289 commented on #1155
Oh boy this one is real cryptic. @ari-hacks this might require some back and forth but I promise we'll help you get through it if you have the time. We'll both learn something along the way.

That error does look "weird" but lets see if we can ignore it. Can you go to your `doc/build/_html` folder and see if you see an `index.html`. If you do would you mind double clicking on it and seeing if it o

[2020-07-19 15:12] canyon289 commented on #1155
@ari-hacks, another thing. If its easier and youre comfortable I would be happy to live debug with you over google meet or whatever. Just let us know what fits your needs best and I can try and help. The good news is once we figure this out you should be able to work on any part of ArviZ :). It's just the first couple of times where this issues arise

[2020-07-19 16:41] OriolAbril commented on #1155
With current info my guess is that docs are being built but some of the code is erroring out due to matplotlib 3m3 which is also breaking our tests. That would mean that index.html can be opened but some images or even pages will be missing

[2020-07-19 19:12] canyon289 commented on #1301
General note. Going to start tagging this with xarray label for things that fall under "Would be nice if we could do this". Ive got a couple from bambi as well

[2020-07-19 20:32] ari-hacks commented on #1155
Thanks, guys, this is helpful! I think perhaps I am missing a step?

I am synced with ArviZ's master in my forked repo (I even deleted my local clone and re-cloned just in case there is some weirdness there).

These are the steps I am taking:
1.  clear cache `./scripts/container.sh --clear-cache`
2. build `/scripts/container.sh --build`
3. run test `./scripts/container.sh --test`
4. build docs ` .

[2020-07-19 22:00] canyon289 opened #1306 "az.plot_dist(kind=hist) and bins arg raises exception"
Following code raises an exception

[code]

![image](https://user-images.githubusercontent.com/7213793/87886258-5edace80-c9d0-11ea-862f-33f601792400.png)

Matplotlib version does not
[code]
![image](https://user-images.githubusercontent.com/7213793/87886279-83cf4180-c9d0-11ea-82f0-a4955b9cab34.png)

[2020-07-19 22:00] canyon289 commented on #1282
Do we still need to keep this issue open?

[2020-07-19 22:13] ahartikainen commented on #1306
Yes, there is an error. We probably should grab the bins returned from the plot call.

https://github.com/arviz-devs/arviz/blob/d046cea6d2847c63f9207826d8e478e429ae2374/arviz/plots/backends/matplotlib/distplot.py#L126

from

`n, _, _ = ax.hist(np.asarray(values).flatten(), bins=bins, **hist_kwargs)`

to

`n, bins, _ = ax.hist(np.asarray(values).flatten(), bins=bins, **hist_kwargs)`

[2020-07-19 22:25] rpgoldman commented on #1282
I wonder if we should make automating this an option in the PyMC3 predictive samplings.  E.g., add an `add_to_inference_data` argument as a kwarg to those functions (which would require that they be invoked with an inference data argument).

@OriolAbril 's method is definitely the right one, but it seems inconvenient to make the user have to know to use `concat` and `from_dict`.  Also, TBH, this s

[2020-07-19 22:31] canyon289 opened #1308 "ppc_stat from bayesplot looks pretty nice"
## Tell us about it
`ppc_stat` from bayesplot looks pretty fancy! Would be great of ArviZ had something similar

![image](https://user-images.githubusercontent.com/7213793/87886808-b11dee80-c9d4-11ea-8f2b-d21d0b4e5870.png)
https://mc-stan.org/bayesplot/reference/PPC-test-statistics.html

## Thoughts on implementation
Add another plotting method called `plot_ppc_stat` most likely

[2020-07-19 22:43] OriolAbril commented on #1282
It would probably be helpful to have PyMC3 add the results to idata directly.

Regarding `az.concat` it does several tasks, some more aligned with concat than others. Its main use (to me) is combining two different inference data objects with strictly different groups, hence the concatenation, the groups from one and from the other are concatenated and nothing else. It can then also be used to `co

[2020-07-19 22:48] OriolAbril commented on #1308
I think `plot_bpv` can be used to plot this: https://arviz-devs.github.io/arviz/examples/matplotlib/mpl_plot_bpv_tstat.html. Not sure about it though, because I like to live dangerously and have not read bayesplot docs :no_mouth:

Tangentially related issue, `plot_bpv` has no api section.

[2020-07-19 23:18] kyleabeauchamp commented on #1282
I'm fine to close this ticket for now.  I was able to get a script running to do PPC analysis in arviz with the currently available functions.  I'll open new tickets if I see any new gaps.

[2020-07-19 23:18] #1282 closed

[2020-07-19 23:41] Samasth commented on #1306
Hi @canyon289 I am a beginner to open source can I please work on this?

[2020-07-19 23:46] rpgoldman commented on #1282
I’m likely to open a merge request on PyMC3 for this.

[2020-07-20 00:43] rpgoldman commented on #1282
Here's a start: https://github.com/pymc-devs/pymc3/pull/4021 -- has only been applied to `fast_sample_posterior_predictive` so far.

kwarg used is `add_to_inference_data` rather than `return_inference_data`.  Perhaps the latter would be better. Please comment on that MR.

[2020-07-20 03:36] sudip-padhye commented on #1295
If it is still available shall I pick this up?

[2020-07-20 04:00] canyon289 commented on #1306
@Samasth of course!

A couple of pointers.

1. The contributing guide has a lot of information on how to get started
2. Testing is important with ArviZ so expect to fix the issue in code, but also add tests to our test suite to ensure no one breaks the shiny new functionality moving forward.
3. Feel free to ask questions!

[2020-07-20 04:23] canyon289 commented on #1155
First off your terminal is beautiful. If I can ask what you using it looks amazing?

As for the issue on hand now I'm baffled. Turns out the `_build` directory was an old one. I started fresh and running the `--docs` command generated a `arviz/doc/build` directory with an `index.html` for me, but now I'm baffled with what's going on your computer.

I noticed that in your doc generation there seems

[2020-07-20 05:55] ari-hacks commented on #1155
@canyon289 , I am up and running it looks like it was an issue with matplotlib.
@OriolAbril put in a fix for it earlier in the day! 🎉

Thanks again for all the help here, I'm looking forward to contributing more to this project.

Thanks! The terminal is a mix of iTerm2 + Oh My Zsh + powerlevel10k(on top of 9) + some custom powerleve10k config🙂

[2020-07-20 06:43] OriolAbril commented on #1295
It is still available, I have assigned it to you.

The [contributing guide](https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md) and the readme in https://github.com/arviz-devs/arviz_example_data should guide you through the process and always feel free to ask questions :)

[2020-07-20 07:17] grburgess commented on #1301
Thanks for the update. I'm not at all familiar with xarray and will have to get used to it. I will play around with some fits and perhaps make some notebooks/docs for a PR from my own experience.

[2020-07-20 11:51] aloctavodia commented on #1308
Exactly, `plot_bpv` is intended for this type of plot and two more, including a loo-pit-like plot, but without using loo.
Notice that `plot_bpv` still needs some more love.

[2020-07-20 11:51] #1308 closed

[2020-07-20 12:08] aloctavodia commented on #1296
@agustinaarroyuelo Did you use bomeba to generate the `glycan_torsion_angles` example, right? In that case I am a little bit worried about long term maintainability of the example. May be we could switch to a simpler to reproduce example.

[2020-07-20 12:12] agustinaarroyuelo commented on #1296
Yes, I did use Bomeba and the example is quite long. I have the same concerns as you

[2020-07-20 12:22] aloctavodia commented on #1296
ok then, let's think about a simpler example.

[2020-07-20 14:15] ahartikainen commented on #1308
Conditional or unconditional?

[2020-07-20 21:30] sudip-padhye commented on #1294
Hey Oriol,

I am new to the arviz. I was a little curious about what exactly you mean by "add the code used to generate the radon dataset" because the notebook link contains all the code already.

Thank You!

[2020-07-21 03:50] canyon289 commented on #1155
Closed by https://github.com/arviz-devs/arviz/pull/1309

[2020-07-21 03:50] #1155 closed

[2020-07-21 04:50] Samasth commented on #1306
@canyon289 can you please elaborate a bit on the second step. I see the test suite which has tests in base_tests and external_tests. How would you want me to test this part, as we need to plot a graph and make sure that no exception is thrown.
Thanks.

[2020-07-21 10:44] OriolAbril commented on #1306
The idea would be something like [this test](https://github.com/arviz-devs/arviz/blob/master/arviz/tests/base_tests/test_plots_bokeh.py#L214) where instead of using `continuous_model["y"]` as data a list was passed as data. Similar [test](https://github.com/arviz-devs/arviz/blob/master/arviz/tests/base_tests/test_plots_matplotlib.py#L392) with matplotlib here too in case it helps.

We want to make

[2020-07-21 11:00] OriolAbril commented on #1294
We want to have all the code used to generate the examples in `load_arviz_data` for both pedagogical reasons and to ease updating these examples if necessary. It is true the notebook has the whole model and data, however the notebook serves a different purpose to explain how to build the model, analyze its results even predict results. The goal here is only to generate the inference data object. T

[2020-07-21 11:05] ari-hacks opened #1311 "Broken link in CONTRIBUTION.md"
**Describe the bug**
I noticed on step 4 the virtualenvs link is broken here: https://python-guide-pt-br.readthedocs.io/en/latest/dev/virtualenvs/

I believe this is the correct link: https://python-guide-cn.readthedocs.io/en/latest/dev/virtualenvs.html

With the go-ahead, I can put a quick PR in for that 🙂

[2020-07-22 00:30] canyon289 commented on #1155
@ari-hacks if you have a second do you have any feedback for the new developer process? What worked, what didn't? How can we make your next experience better, and the experience of next person who tries to contribute to ArviZ?

[2020-07-22 09:33] ari-hacks commented on #1155
@canyon289 , working on this project was a great experience! I really appreciated all the help with getting up and running. After Docker was building correctly is was a smooth experience and navigating around the code was pretty easy. 🙂

The only thing that might be more helpful is updating the instructions a bit under **Building documentation with Docker** to let contributors know they have to re

[2020-07-22 19:20] canyon289 opened #1314 "Add better documentation for how to build hosted documentation"
Copying from another issue ticket, we can improve our static documentation for how to build our generated documentation

The only thing that might be more helpful is updating the instructions a bit under **Building documentation with Docker** to let contributors know they have to rebuild with the `--docs` command after changes and the index.html file has to be dragged and dropped into the browser.

[2020-07-22 19:20] canyon289 commented on #1155
Thank you for the feedback! Added a new issue ticket to help track

[2020-07-22 20:15] OriolAbril commented on #1314
Also instrucctions on building docs locally can be improved.

[2020-07-23 05:26] grburgess commented on #1301
Just to update, the above specified instructions work very well and give me the access I wanted.

[2020-07-23 14:19] tomicapretto opened #1316 "Update functions using KDE to pass optional arguments"
The new `kde()` function implemented in the PR #1284 has many optional arguments that affect how the estimation is produced.
The defaults are the same than the ones in the old `_fast_kde()` but it would be good to update functions such as `plot_kde()` to pass optional arguments to `kde()` so the user as a more control over the density estimate.

[2020-07-23 23:43] sudip-padhye commented on #1294
Hey Oriol,

Can I take this if it is still unassigned to anyone?

Thank You!

[2020-07-24 10:30] OriolAbril commented on #1294
that would be great, thanks @sudip-padhye

[2020-07-24 11:31] OriolAbril commented on #1248
I think we can use two classes to get everything to work, currently group names are class `xr-section-summary`, we can add an `arviz-group` class to override the `grid-template-columns` and define the group names as

[code]

[2020-07-24 14:47] Samasth commented on #1277
@canyon289 @OriolAbril Can I please work on this if it is not yet completed. This is similar to my previous commit.

[2020-07-24 15:27] Shreyaansh-darkside commented on #1277
This is completed.. You can look for other issues.

On Fri, Jul 24, 2020, 8:17 PM Samasth N A <notifications@github.com> wrote:

[2020-07-24 16:13] OriolAbril commented on #1277
@Samasth there is no rush in getting this done, @Shreyaansh-darkside has already submmited a pull request and only has to address a couple comments. Therefore it can not be considered _old_ nor _abandoned_ which are the conditions for someone else to start working on the issue as explained in the [contributing guide](https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md#steps-before-star

[2020-07-24 16:22] Samasth commented on #1277
@OriolAbril @Shreyaansh-darkside Sorry for the misunderstanding, I am new here. @OriolAbril Thanks for letting me know I will look into it.

[2020-07-24 17:40] tomicapretto opened #1318 "Use conditional_jit in utilities used by `kde()`"
The new `kde()` function implemented in the PR #1284 depends on several utilities that could use numba to speed-up.

[2020-07-24 18:04] OriolAbril commented on #1293
[code]

[2020-07-24 18:20] OriolAbril commented on #1293
https://figshare.com/articles/dataset/radon_hierarchical_model_inferencedata/12711695

[2020-07-24 18:42] OriolAbril opened #1319 "Update radon model to use update schema specificaton"

[2020-07-24 19:14] canyon289 commented on #1298
Only proposing MAD because its the main metric used in ROS to characterize variation in parameters, but am not strongly tied to it myself

[2020-07-24 19:37] #1295 closed

[2020-07-25 18:17] percygautam commented on #1239
The methods `add_groups` and `merge`(tbd) has been implemented in #1300 . I think that will solve this issue. DO we still have to update `concat`(3rd option)? Maybe, we could edit the error message in concat to use merge method in case of repeated groups.

[2020-07-25 18:22] OriolAbril commented on #1239
I think editing the error message would be great and more than enough to close issue. Unless anyone has more improvements in mind I think we can close the issue. cc @ahartikainen maybe?

[2020-07-25 18:32] #1319 closed

[2020-07-26 20:12] ahartikainen commented on #1239
Yes let's close this.

[2020-07-26 20:40] #1239 closed

[2020-07-27 11:05] aloctavodia commented on #1298
I like @ahartikainen proposal.

[2020-07-27 20:13] canyon289 opened #1322 "Make contributing guide much more prominent on website"
NumFOCUS provided feedback that making contributions link much more prominent is something that is desired. Logging issue ticket to keep track of ask

![image](https://user-images.githubusercontent.com/7213793/88587497-e1840f00-d00a-11ea-8eb4-95b00715b4c5.png)

[2020-07-27 22:30] canyon289 commented on #1322
Change by https://github.com/arviz-devs/arviz/pull/1323

[2020-07-27 22:30] #1322 closed

[2020-07-28 04:53] collinsuzebu commented on #1314
If this issue haven't been taken, I'd like to resolve it.

[2020-07-29 05:12] canyon289 commented on #1311
Go ahead!

[2020-07-29 05:12] canyon289 commented on #1314
Not taken! Please go ahead

[2020-07-29 05:14] canyon289 opened #1324 "Pytest 6.0 seems to have broken pylint checks"
The pytest devs suggested using pytest-pylint as a possible fix. If that doesn't work might just add a bunch of ignores everywhere

![image](https://user-images.githubusercontent.com/7213793/88759413-97d91880-d11f-11ea-9cfa-b5a7057f616c.png)

https://dev.azure.com/ArviZ/ArviZ/_build/results?buildId=3023&view=logs&j=e6a7683b-6131-58a8-ef68-5f3a9120796c&t=b52e026f-cc99-5e74-288f-e4d4024efc71

[2020-07-29 05:20] canyon289 commented on #1277
@Shreyaansh-darkside I must point out this is *started* but not done. If you get a second can you look at Ari's comment and address, as well as add a test? That will ensure the code is maintainable and flexible in many situations!

[2020-07-30 18:04] seantalts opened #1328 "How do you plot just some dimensions of a variable?"
## Short Description

e.g. az.plot_trace(fit, var_names=["z.2.73", "z.2.84"]) to get traceplots for two particular elements of a z matrix. I tried that and "z[2,73]" and couldn't get anything to work. "like" and "regex" filter_vars options also don't seem to know about the individual elements of z.

[2020-07-30 18:10] ahartikainen commented on #1328
Hi, good question.

I'm not sure if we currently have a good way to do that. We certainly should have that option.

@OriolAbril maybe isel could handle this before we have a better way to do it?

[2020-07-30 18:17] seantalts commented on #1328
Hi! Thanks for the quick response :)

Dang. Anyone have a quick workaround for CmdStanPy?

[2020-07-30 18:33] ahartikainen commented on #1328
For quick (and small example) assuming 1-based indexing.

You can insert a dictionary if you want. First two dims are `chain` and `draw`

    az.plot_trace({
        "z.2.73" : idata.posterior.a[:, :, 2-1, 73-1],
        "z.2.84" : idata.posterior.a[:, :, 2-1, 84-1],
    })

[2020-07-30 18:34] seantalts commented on #1328
oh nice! Thank you :)

[2020-07-30 18:45] OriolAbril commented on #1328
I think `coords` argument (or `sel`/`isel` which generally behave the same) can be used too. Assuming that no costume dimension names are provided when creating the inferencedata, something like this may work:

    az.plot_trace(idata, var_names="z", coords={"z_dim=0": 2-1, "z_dim_1": [73-1, 84-1]})

[2020-07-30 18:53] ahartikainen commented on #1328
that works

[2020-08-01 08:13] OriolAbril opened #1331 "Documentation reorganization"
I have been playing around with [pydata-sphinx-theme](https://github.com/pandas-dev/pydata-sphinx-theme), and without too many changes, generated [this version of the docs](https://oriolabril.github.io/arviz/index.html). I think it would be good to change the theme used for our docs for several reasons:
* The current theme has no support for multiple versions, thus #896 cannot be solved by serving

[2020-08-01 08:37] OriolAbril commented on #1188
@JeevaJyothiSundaram I have just noticed you downvoted the previous comment, were you planning on working on this issue? There are plenty of functions to update.

[2020-08-01 08:48] OriolAbril commented on #516
with #1331 maybe this could be added to the `testing arviz code` of the restructured docs?

[2020-08-03 14:48] Hvass-Labs opened #1332 "Code of Conduct"
Before I write my issue here, I just wanted to make sure that I am protected in case of harassment and violence from the other forum users. Because words are violence, and silence is violence, it is very important that I feel protected and safe when posting here. So I read your [Code of Conduct](https://github.com/arviz-devs/arviz/blob/master/CODE_OF_CONDUCT.md) which states that: **"If you feel y

[2020-08-03 23:09] ColCarroll commented on #1332
ArviZ adopts the NumFOCUS code of conduct. Feel free to open PR there if you think you can improve it.

[2020-08-03 23:09] #1332 closed

[2020-08-04 04:39] canyon289 commented on #1324
This has been fixed

[2020-08-04 04:39] #1324 closed

[2020-08-04 04:39] canyon289 commented on #1328
This issue looks resolved. If its not we can reopen

[2020-08-04 04:39] #1328 closed

[2020-08-04 04:39] canyon289 commented on #1311
Fixed. Thanks @ari-hacks!

[2020-08-04 04:39] #1311 closed

[2020-08-04 08:44] ahartikainen opened #1333 "Fix negative values in std"
edit. There is an error in the numeric_utils.

This is a wrong order of operations

    std_devs = np.diag(cov ** 0.5)

Correct order is

     std_devs = np.diag(cov) ** 0.5

[2020-08-04 16:42] #1333 closed

[2020-08-07 18:52] percygautam commented on #1237
@canyon289 Sorry, I must have missed this tag. I'll definitely give it a try and help in any way I can.

[2020-08-07 19:05] OriolAbril commented on #1237
https://twitter.com/dopplershift/status/1286415993347047425 this could be helpful, in addition to the issues linked above

[2020-08-07 22:52] orbidder opened #1339 "plot_forest; HPD not visible with kind="ridgeplot""
Not sure if a bug or just not a feature that's available, but in using plot_forest() I'm able to see the HPD when using kind="forestplot" but not with kind="ridgeplot". One of the things I liked about bayesplot in R was being able to see the the HPD of the marginal posteriors with the mcmc_areas() function. Is that possible with plot_forest(kind="ridgeplot")? Specifying hdi_prob seems to have no e

[2020-08-07 23:38] aloctavodia commented on #1339
Thanks for taking the time to report this. I had the impression this was implemented, even more I remember working on this. It seems I never push the changes, haha. I will do it.

And glad to hear you find ArviZ useful!

[2020-08-09 16:51] canyon289 opened #1340 "Doc builds are failing on master"
Seems like something in khat bokeh is causing issues. Will look into it if no one beats me to it. Adding a better picture

![image](https://user-images.githubusercontent.com/7213793/89737459-fbb7e700-da25-11ea-8967-4c415408092d.png)

https://dev.azure.com/ArviZ/ArviZ/_build/results?buildId=3176&view=logs&j=5e60a62b-366f-55f7-ec2d-5209191ccb17&t=d329c065-fdc0-50e4-eb39-ac3f74121b84&l=1099

[2020-08-09 17:52] ahartikainen commented on #1340
My monster or fixes this.

[2020-08-09 18:41] OriolAbril commented on #896
I think https://github.com/c-w/ghp-import/issues/74 could be used to solve that by storing the builds from `master` branch in `dev` folder and then modify azure to build docs from tags too and store them in the version (i.e. `0.9.0`) folder. There may be a couple of extra details to take care of like a new `index.html` automatically pointing to `stable` folder, having stable as a symlink of the la

[2020-08-10 14:23] OriolAbril commented on #1331
Another alternative is creating a `arviz-devs.github.io` repository to host a high level website for ArviZ. It would contain an overview of the capabilities, maybe the schema specification, how to sponsor, support (most things in the community column above)... and also link to the python and julia docs.

This has the advantage of modularizing the docs, with this, the user guide column for example

[2020-08-10 17:38] percygautam opened #1341 "Add pred_coords to from_pyro"
## Tell us about it

Currently, `from_pyro` only supports `pred_dims`. It should also support `pred_coords`.

## Thoughts on implementation

`pred_coords` has been implemented in dict-converter in #1223 . A similar implementation can be done in `from_pyro`.

[2020-08-10 18:45] ahartikainen commented on #1340
Nope, it did not fix it, only part of it.

[2020-08-11 00:17] #1340 closed

[2020-08-11 16:03] #1294 closed

[2020-08-13 04:22] canyon289 commented on #1277
@Samasth If you are still interested this issue is open again. No worries if not but just wanted to let you know

[2020-08-13 04:44] Samasth commented on #1277
@canyon289 Thank you. Please assign it to me. i'll start working on it.

[2020-08-17 19:11] #1339 closed

[2020-08-21 15:02] rpgoldman opened #1360 "Improve layout of plots with DateTimeIndex"
## Tell us about it

Plots with dates on their x axis can be typeset poorly.  Here is an example from https://docs.pymc.io/notebooks/getting_started.html

<img width="524" alt="image" src="https://user-images.githubusercontent.com/3274/90904396-d798c600-e394-11ea-8867-9d5c69f97db4.png">

The x coordinate here is a `DateTimeIndex`:

[code]

Looking at the web, I see that there are techniques for be

[2020-08-24 22:19] canyon289 opened #1363 "Axes with Pystan model is "wrong" even though it's right with PyMC3 model"
**Describe the bug**
The axes for a simple model in pystan seem to be "off" where as whereas in PyMC3 they seem to work as intended. I would expect that ArviZ posterior plot would center `beta_1` plot on 2

![image](https://user-images.githubusercontent.com/7213793/91102027-3bcdbb00-e61d-11ea-8941-f9a264df49ee.png)

![image](https://user-images.githubusercontent.com/7213793/91102001-2bb5db80-e61d-

[2020-08-24 22:35] canyon289 commented on #1363
@ahartikainen helped me out. Turns out using stupid priors with no noise causes issue. Fixed by adding noise below

![image](https://user-images.githubusercontent.com/7213793/91103042-615bc400-e61f-11ea-82e7-b68cf1efc5b5.png)

[2020-08-24 22:36] #1363 closed

[2020-08-27 05:24] OriolAbril commented on #1360
Hi @abhisht51! Are you searching for matplotlib related issues? Or more general plotting issues? ArviZ has both matplotlib and bokeh backends. If you prefer we can also talk in [Gitter](https://gitter.im/arviz-devs/community).

[2020-09-02 12:52] avehtari opened #1367 "Add R* convergence diagnostic"
Add R* diagnostic as described in
 - Ben Lambert and Aki Vehtari (2020). R*: A robust MCMC convergence diagnostic with uncertainty using gradient-boosted machines. [arXiv preprint arXiv:2003.07900](https://arxiv.org/abs/2003.07900)

The reference R code available at
- https://github.com/ben18785/ml-mcmc-convergence

[2020-09-03 11:05] reznida opened #1368 "loading cmdstanpy csv output"
Hello,
I am trying to load a pretty big (1.1GB) cmdstanpy csv output file using arviz with:
data = az.from_cmdstan(posterior="path-to-csv")
or with
data = az.from_cmdstan(posterior=["path-to-csv", "parameter-name"])
both ways take more than an hour and use many GB of memory (at this point even 20gb is not enough and python process crushes).
Is there a more efficient way to load the sampling output

[2020-09-03 11:36] ahartikainen commented on #1368
Hi, thanks for the issue, yes we should have a tooling to read huge csv files.

Hi, how long does it take to download 1 csv with pandas

    df = pd.read_cvs("path_here")

Do you have multidimensional outputs?

First hack that comes to mind, is to read csv to dataframe --> convert to dictionary --> `from_dict` for each chain.

Then use `az.concat` to concat idata against chains.

Your data would s

[2020-09-03 11:36] ahartikainen commented on #1368
I think in arviz we should have a `dask` based procedure for reading and converting input to inference data.

[2020-09-03 11:52] reznida commented on #1368
Thanks for answering!
I tried loading the file with pandas as well, but got the following error:
`pandas.errors.ParserError: Error tokenizing data. C error: Expected 1 fields in line 40, saw 1053202`

I am not sure what you mean multidimensional -- I am fitting multiple subjects over 12 time points with some missing data.

[2020-09-03 11:59] ahartikainen commented on #1368
Sorry, typo in the read_csv, add `comment`

    df = pd.read_cvs("path_here", comment="#")

[2020-09-03 12:49] reznida commented on #1368
I am getting the same thing as with `arviz` - it loads the file until memory limit is reached (now is 20GB) and then it crushes.

[2020-09-03 12:51] reznida commented on #1368
I will increase the memory limit to 45GB now to see if this helps. But still I feel like these must be a better way of doing it.

[2020-09-03 13:59] nitishp25 commented on #1368
I think dask replicates pandas functions like `read_csv` which can useful for this case

[2020-09-03 14:07] ahartikainen commented on #1368
@nitishp25  that sounds great

[2020-09-03 15:17] reznida commented on #1368
Update - 45GB limit failed as well. Could you point please to the other interfaces you have in mind?

[2020-09-03 15:18] ahartikainen commented on #1368
Could you share your csv details?

How many columns, how many rows (how many csv do you have?)

[2020-09-03 16:37] reznida commented on #1368
It's size is 1.08GB, it has 449 rows and for some reason I am unable to calculate the number of columns. But I have ~25k parameters. It is one csv file.

[2020-09-03 17:39] ahartikainen commented on #1368
with open(path, "rb") as f:
    for line in f:
        if line.startswith("#"):
            continue
        print(len(line.split(",")))
        break

[2020-09-03 18:02] reznida commented on #1368
Thanks! The file was opening in a byte mode by default, I guess this is why I couldn't calculate before.
Running your code gives me `1053202`.

[2020-09-03 18:04] reznida commented on #1368
Also I am not sure if it helps, but the Stan model was run with `reduce_sum`

[2020-09-03 18:17] ahartikainen commented on #1368
Yes, bytemode needs bytes when checking line.

reduce_sum should not affect this at all (only that you were able to get results faster)

[2020-09-03 18:38] reznida commented on #1368
Thanks! I increased the memory limit even more and it still crushes....

[2020-09-03 18:57] ahartikainen commented on #1368
How many decimals do you have in the numbers?

I tested with similar dimension with 18digits --> 11gb

[2020-09-03 19:13] reznida commented on #1368
Some values have 6 decimals, some have 9.

[2020-09-03 19:16] ahartikainen commented on #1368
I'm now testing with that 11gb file.

Can you try to read your file with this

    df = pd.read_cvs("path_here", comment="#", dtype=np.float64)

If that doesn't help there is always option to read your file in parts. Let me see a code for it.

[2020-09-03 19:55] ahartikainen commented on #1368
Ok, here is one example, I hope you can read your output with this.

[code]

After the dataframe is read, please save it with parquet (test saving dataframe with parquet first), because you probably don't want to do that another time.

After df is created, we can start to think how to create inference data. Notice that our codes work with numpy array, so you can call `az.rhat` for individual colum

[2020-09-03 19:56] ahartikainen commented on #1368
That took my computer 8 mins to read 11gb file with 500 draws, 100k parameters

[2020-09-03 22:14] reznida commented on #1368
Yes! Thanks so much. This code reads my file in a few mins.
I saved the df as parquet file with pyarrow.
But is there a straightforward way to convert it back to `arviz` to get the posterior data?

[2020-09-03 22:36] ahartikainen commented on #1368
If you can manage to use only a subset of columns, I think you could save that subset back to csv and try to read it in as cmdstan.

You might want to add the comment field from the start of the file, but I think they are optional (if not, I will need to make them optional).

For future, I think dask based solution is optimal.

[2020-09-03 22:39] ahartikainen commented on #1368
Also, if you can create a subset of data, then you could manually split your table to multiple csv and read each part in to idata and finally concat/merge different parts.

cc @OriolAbril @percygautam know a bit more about merging

[2020-09-03 22:44] reznida commented on #1368
Thanks! Is this dask based solution something I can use?

[2020-09-04 14:16] reznida commented on #1368
Update - I got what you meant about using only a subset of columns and looks like it works just fine. Thanks! For the future, I think it might be helpful to have in `arviz` the functionality of reading large csv files.

[2020-09-04 14:50] ahartikainen commented on #1368
Sounds great. Yes, we definitely need a way to read huge CSV in future.

[2020-09-04 16:18] junpenglao opened #1369 "InferenceData conversion does not work with multivariate observation that contains missing value"
**To Reproduce**
[code]

returns:
[code]

[2020-09-04 16:23] ahartikainen commented on #1369
Yes, we really should support this.

Any ideas for a good interface for this?

[2020-09-04 16:24] ahartikainen commented on #1369
Would this be related to sparse matrices?

[2020-09-04 16:35] junpenglao commented on #1369
No it is related to Multivariate logp are rank-1 of the observed.

[2020-09-05 06:55] #1369 closed

[2020-09-06 22:56] #1368 closed

[2020-09-10 02:56] canyon289 commented on #1314
@collinsuzebu Any interest? If not I'll remove your assignment to this issue so someone else can work on it

[2020-09-10 02:58] canyon289 opened #1376 "Nominating Agustina for Core Contributor"
Hi,
I'd like to nominate @agustinaarroyuelo to be a core contributor of ArviZ

Per our rules in the [governance doc](https://github.com/arviz-devs/arviz/blob/master/GOVERNANCE.md#core-contributor-nominations-and-confirmation-process) @agustinaarroyuelo let us know if you accept this nomination. Assuming acceptance there will be a [council vote](https://github.com/arviz-devs/arviz/blob/master/GOVER

[2020-09-10 02:59] canyon289 opened #1377 "Nominating at Piyush to be a core contributor"
Hi,
I'd like to nominate @percygautam  to be a core contributor of ArviZ

Per our rules in the [governance doc](https://github.com/arviz-devs/arviz/blob/master/GOVERNANCE.md#core-contributor-nominations-and-confirmation-process) @percygautam let us know if you accept this nomination. Assuming acceptance there will be a [council vote](https://github.com/arviz-devs/arviz/blob/master/GOVERNANCE.md#vo

[2020-09-10 12:34] agustinaarroyuelo commented on #1376
Thank you @canyon289 I accept this nomination :)

[2020-09-10 16:26] canyon289 commented on #1376
@agustinaarroyuelo So excited you accepted!!! Our rules say were supposed to vote at the start of each month so dont worry if nothing is happening for a bit :)

[2020-09-11 11:38] collinsuzebu commented on #1314
@canyon289 apologies for the delay in getting this done. I was unable to get the project running on my windows machine. My initial intention was to set it up once my Linux machine is restored by following @ari-hacks steps and properly documenting the sections that were not clear.  I'm still interested in fixing this issue. Would it be advisable to get it done without first running the project loca

[2020-09-11 11:40] collinsuzebu commented on #1314
@canyon289 apologies for the delay in getting this done. I was unable to get the project running on my windows machine. My initial intention was to set it up once my Linux machine is restored by following @ari-hacks steps and properly documenting the sections that were not clear.  I'm still interested in fixing this issue. Would it be advisable to get it done without first running the project loca

[2020-09-12 17:29] percygautam commented on #1377
Thanks, @canyon289 for the role. I gladly accept the nomination.

[2020-09-15 00:17] canyon289 commented on #1377
Yessss!!!!

[2020-09-15 12:02] sperezconesa opened #1381 "Forest plot order by coords and not variables."
## Short Description

Hello everyone!
In my model I have to variables that I want to compare each of them has several coords. I would like to plot them with a forest plot. With this code:
[code]
 I get this:
![image](https://user-images.githubusercontent.com/27727343/93207743-b6d94b80-f75b-11ea-8cd7-25ba792b2a3d.png)
But actually I would like them to be ordered as mu_o_c 0, mu_fo_c 0, mu_o_c 1, mu

[2020-09-15 12:55] sperezconesa opened #1382 "Is it possible to have a different rope for every variable dimension"
Hello,

I have been looking at the forest_plot documentation and examples and it seems pretty clear to me that you can have a different rope for each variable. But say I have a different rope for each dimension of a variable say mu 0, mu 1... which all correspond to the same:
[code]
Thank you all very much and keep up the good work!
Sergio

[2020-09-15 19:10] OriolAbril commented on #1381
It is not possible to mix the order between variables and coordinates. In most cases, different variables have completely different dimensions and it would not make much sense either. In cases such as this, where a different ordering does make sense, it is possible to combine the two variables into a single one and once both 0-36 and o-fo are both coordinates, modify the ordering.

Assuming the 0-

[2020-09-15 19:18] OriolAbril commented on #1382
There may be a bug in the `rope` code. There are examples of the usage you ask for in the documentation of `plot_posterior`, and I have been able to use it with:

    rope={"mu": [{"mu_dim": 2, "rope": (-1, 1)}, {"mu_dim": 4, "rope": (0, 3)}]}

![image](https://user-images.githubusercontent.com/23738400/93254624-eb1f2d00-f798-11ea-90e3-ad5af34c600b.png)

but it does not work for `plot_forest` cc @

[2020-09-16 22:55] lisamartin72 opened #1384 "NumFOCUS donation link"
Hi Arviz project!

Attached is the URL and the code for your NF donation button. Most of our sponsored projects have one on their websites for donations.

Please reach out if you have any questions. Have a great day.

https://numfocus.salsalabs.org/donate-to-arviz

[code]

[2020-09-16 23:47] OriolAbril commented on #1384
Thanks!

I have added it to the `.github` repo: https://github.com/arviz-devs/.github/pull/1 will add it to the docs and the readme tomorrow if I have time unless someone gets to it before.

[2020-09-17 04:36] canyon289 commented on #1377
Per rules we'll vote on October 1st! Just want to give you a heads up so youre not worried between then and now

[2020-09-17 13:23] #1384 closed

[2020-09-17 14:29] sperezconesa commented on #1381
Great!  It worked! now I have another small problem, the labels overlap a bit:
![image](https://user-images.githubusercontent.com/27727343/93485008-dfe81080-f902-11ea-911c-25af77f30c3f.png)

[2020-09-17 14:39] OriolAbril commented on #1381
I think for this you'll either have to make the figure size taller or reduce the text size.

[2020-09-17 14:56] sperezconesa commented on #1381
Increasing the figsize doesn't seem to work. Reducing the text size does aliviate. Is there a way to increase the padding maybe through matplotlib commands?

[2020-09-17 15:01] sperezconesa commented on #1382
Following on the other issue #1381 . I have created this forestplot:
[code]
If I add a rope like the one you suggested:
[code]
I get this error:
[code]
Really appreciate your help

[2020-09-17 18:30] OriolAbril commented on #1381
Not sure, maybe `plt.tight_layout`?

[2020-09-17 18:54] OriolAbril commented on #1382
I am quite sure this is a bug. Given that plot_posterior accepts the rope dict, we should see where they differ and fix the forest plot version so it works and behaves like the one in `plot_posterior`.

It may also be a good idea once this is done to add a link in the description of `rope` argument in forest plot to plot_posterior to help understand the rope scalar/list/dict possibilities

[2020-09-18 18:40] sperezconesa commented on #1382
Yes, the documentation is a bit confusing.

What would you like me to do? Can you reproduce this unexpected behaviour in a simple test-case?

[2020-09-18 18:44] sperezconesa commented on #1381
It seems like tight_layout+figsize+textsize seems to do the trick!
Muchas gracias! 🙏

[2020-09-18 20:49] OriolAbril commented on #1382
I think the first step would be creating a minimal example to reproduce the bug. If my intuition is correct, using the same data and rope argument as in [`plot_posterior`](https://arviz-devs.github.io/arviz/generated/arviz.plot_posterior.html#arviz.plot_posterior) docs should serve this goal. This example in particular looks like the one that will show this issue:

[code]

The next step should pro

[2020-09-20 21:20] kiudee opened #1387 "xarray 0.16.1 breaks compatibility"
**Describe the bug**
`arviz.utils.HtmlTemplate` depends on `xarray.core.formatting_html.CSS_STYLE`:
https://github.com/arviz-devs/arviz/blob/aab82191677c0ead4cceee3a0198f0afcd7313a4/arviz/utils.py#L700
This was just removed in 0.16.1 of xarray. Here is the corresponding pull request:
https://github.com/pydata/xarray/pull/4297

**To Reproduce**

1. Install `arviz==0.9.0` and `xarray==0.16.1`.
2. `i

[2020-09-21 06:38] sperezconesa commented on #1382
I am affraid I don't have much knowledge to work on this... If there is anything I can help you with let me know.

[2020-09-21 14:26] dcherian opened #1388 "test against xarray master branch"
## Tell us about it

Can Arviz test against xarray's master branch? We do something similar with pandas+numpy+etc to catch issues prior to release.
(https://github.com/pydata/xarray/blob/1155f5646e07100e4acda18db074b148f1213b5d/ci/azure/install.yml#L15-L55)
## Thoughts on implementation

This would've caught #1387 more than a month ago when https://github.com/pydata/xarray/pull/4297 was merged

Th

[2020-09-21 14:50] ahartikainen commented on #1388
Hi, thanks for the tip.

I think we could add one runner with the gh master.

[2020-09-21 15:09] ahartikainen commented on #1387
We are going to make a new release soon, so this is probably going to be only a small annoyance until we have release ready.

[2020-09-21 21:47] ahartikainen commented on #1387
fixed by #1389

[2020-09-21 21:47] #1387 closed

[2020-09-21 22:54] #1382 closed

[2020-09-23 04:54] aramakus opened #1393 "import arviz throws an error in dependency "xarray""
After installing arviz on Ubuntu 18.04 using either pip or conda an error is thrown in an attempt to `import arviz`:

[code]
`xarray` is installed with `arviz` as a dependency, so my system did not have any other version of the package.

[2020-09-23 05:02] aramakus commented on #1393
**UPDATE** : latest version, available on Github works fine.

[2020-09-23 12:35] nicospinu commented on #1387
Hi, the issue still persists on macOS Catalina v.10.15.6 giving the same message as described by kiudee. Shall I create a new issue?

[2020-09-23 12:37] kiudee commented on #1387
@nicospinu the fix is not yet on PyPI (still v0.9.0) there.

[2020-09-23 12:55] nicospinu commented on #1387
I have installed Pymc3 that depends on Arviz. I want to use the latest version of Pymc3 and hence, any suggestions will be highly appreciated

[2020-09-23 13:04] nicospinu commented on #1387
Thank you!
The Arviz gets installed together with Pymc3 v3.9.3 and gives the error. Shall I wait until the fix is on PyPI?

[2020-09-23 13:08] michaelosthege commented on #1393
linking the related PR https://github.com/arviz-devs/arviz/pull/1389 that fixed this on master (for now)

[2020-09-23 13:13] ahartikainen commented on #1387
then you can do

    pip install xarray==0.16.0 -U

[2020-09-23 13:35] nicospinu commented on #1387
Thank you so much! It works

[2020-09-23 14:04] #1393 closed

[2020-09-23 17:21] just-linux commented on #1188
I this is not assigned to anyone, if not I would like to work on this.

[2020-09-23 17:25] OriolAbril commented on #1188
@just-linux you can work on this, thanks!

Comment here the functions you are planning to work on so work is not duplicated and that's about it, once updated I'll take care of updating the checklist in the issue description.

[2020-09-23 17:30] just-linux commented on #1188
Ok, I will start on the ***_InferenceData.sel/InferenceData.isel_*** part.

[2020-09-23 18:11] OriolAbril commented on #1188
Great! Feel free to ask any question here or on gitter

[2020-09-25 07:32] ahartikainen commented on #1388
Fixed by #1391

[2020-09-25 07:32] #1388 closed

[2020-09-26 01:14] jsevo opened #1396 "plot_rank ignores backend_kwargs"
Using `plot_rank` on many a trace with many coefficients can require changing the line widths and marker sizes (e.g. when using `kind="vlines"`).

This usage however has no effect:

`az.plot_rank(many_coefficient_trace, backend_kwargs={'linewidth':0.5, 'markersize':1, 's':1})`

The docstring says

, which seems to suggest passing this dictionary is the correct usage. How can this be changed to acc

[2020-09-27 12:50] OriolAbril commented on #1396
Hi, `backend_kwargs` are related to figure/axes generation. They are passed to https://docs.bokeh.org/en/latest/docs/reference/plotting.html#bokeh.plotting.figure or to https://matplotlib.org/api/_as_gen/matplotlib.pyplot.subplots.html. The kwargs used to customize the drawing are generally passed as `plot_kwargs`, `line_kwargs`... in `plot_rank` however, these do not seem to be available.

If it'

[2020-09-28 20:39] ahartikainen opened #1399 "Pair plot with multiple groups"
## Tell us about it

We should have possibility to plot between different groups (e.g. posterior vs sample_stats / posterior predictive). Currently that needs a bit more extra coding than I would like to do.

## Thoughts on implementation

This assumes that the samples have 1:1 correspondence, but I think we would just want to check dimensions are the same.

We could either enable groups to be a l

[2020-09-30 23:47] canyon289 opened #1400 "Add input core dims to plot_hdi doc strings"
**Describe the bug**
`input_core_dims` doc string is missing even though its documented below in the examples in both `az.hdi` and `az.plot_hdi`

https://arviz-devs.github.io/arviz/generated/arviz.plot_hdi.html#arviz.plot_hdi
https://arviz-devs.github.io/arviz/generated/arviz.hdi.html#arviz.hdi

**Suggested fix**
Add to both documentation strings

[2020-10-01 00:19] OriolAbril commented on #1400
It's a keyword argument passed as `**kwargs`, it's not only `input_core_dims` that can be used but any of the arguments accepted by `wrap_xarray_ufunc` which is referenced and linked in the dosctring.

I think it would be better to extend the explanation in the example that uses it to make this clear.

[2020-10-01 06:35] sethaxen opened #1401 "Error plotting a single variable with plot_density and bokeh backend"
**Describe the bug**
Over in ArviZ.jl, we use the Julia equivalent to the below snippet to test Bokeh integration for `plot_density`. It worked fine until recently, where we now get an error with bokeh only but not matplotlib, though I'm not certain whether a change in arviz or bokeh is responsible.

**To Reproduce**
[code]
<img src=https://user-images.githubusercontent.com/8673634/94775414-9bce24

[2020-10-01 14:14] canyon289 commented on #1376
@agustinaarroyuelo Super excited to announce youre an ArviZ Core Contributor! You should put that into your PyMCon bio :D

[2020-10-01 14:14] canyon289 commented on #1377
@percygautam Youre confirmed as a core contributor! Congratulations!

[2020-10-01 18:29] #1401 closed

[2020-10-01 18:52] mservantufc opened #1404 "Model comparison issue: "Found several log likelihood arrays var_name cannot be None""
Hi community,
I have two models that I would like to compare using LOO and WAIC.

Model 1:
[code]

Model_2:
[code]

I thus tried to compute:
[code]
and got the following error:
[code]

Could you please help me solve this issue ? I am confused because I could compute LOO and WAIC using a previous version of arviz.

[2020-10-01 19:47] OriolAbril commented on #1404
Hi, when there are several likelihoods present there are generally several _technically correct_ ways of calculating loo/waic, and choosing the right one considering the problem and modeling question at hand can't be done automatically.

We have an in progress guide on [ArviZ resources](https://nbviewer.jupyter.org/github/OriolAbril/Exploratory-Analysis-of-Bayesian-Models/blob/multi_obs_ic/content

[2020-10-01 19:57] abhisht51 commented on #1400
Can you provide some example of what needs to be added here.

[2020-10-01 20:25] OriolAbril commented on #1400
## hdi
in `hdi` doc, we could change the

[code]

like with something like

[code]

and also change the code right below from `az.hdi(data, input_core_dims = [["chain"]])` to

[code]

## plot_hdi
Change

[code]

to

[code]

What do you think @canyon289 ?

@abhisht51 if this were clear now, would you like to work on this issue?

[2020-10-01 20:36] mservantufc commented on #1404
Hi,
Thanks for the answer. Your notebook is very clear but I am still a little confused about model selection, and the best strategy to solve the question I am trying to answer.. Let me briefly explain what I would like to do.
Each of the 5 subplots below represents the development of a particular brain process as a function of age:

![Model_1](https://user-images.githubusercontent.com/45162680/94

[2020-10-01 20:49] OriolAbril commented on #1404
I understand that in this case _one observation_ would be having a value for each of these 5 variables?

[2020-10-01 20:50] abhisht51 commented on #1400
I have understood what needs to be modified in the docs. I would be issuing a pull request soon!!

[2020-10-01 21:06] mservantufc commented on #1404
Yes that is correct.

[2020-10-01 21:31] OriolAbril commented on #1404
Then you would have to do something similar to the "Predicting the outcome of a match" section. Your observations are 5d values (like they are 2d values in the match section).

[code]

I am not sure how well will the PSIS approximation work in a 5d case though.

[2020-10-02 13:01] mservantufc commented on #1404
Alright, so I have a few issues here.
1) I updated pymc3 and arviz to be able to use 'return_inferencedata=True' and get the log likelihood. I am then trying to save the trace:
[code]
but I get the following error:
`AttributeError: 'InferenceData' object has no attribute '_straces'`

I then provided a directory:
[code]
and got the following error:
`OSError: Cautiously refusing to overwrite the alr

[2020-10-02 13:09] OriolAbril commented on #1404
You should use [`to_netcdf`](https://arviz-devs.github.io/arviz/generated/arviz.InferenceData.to_netcdf.html#arviz.InferenceData.to_netcdf) to store InferenceData objects, `pm.save_trace` expects a `pm.MultiTrace` object. InferenceData follows the netCDF convention with its groups, variables and coords which is quite common and popular in many areas and has interfaces available in most programming

[2020-10-05 10:44] abhisht51 commented on #1400
Hi,
I think I have made the necessary PR however I would like to point out that the "Hacktoberfest" label added by @percygautam does not counts as a valid one as hacktoberfest has made my PR ineligible. I believe the topic should have been "hacktoberfest" instead. I am new to this so I don't really know.

[2020-10-05 13:25] percygautam commented on #1400
Hi @abhisht51, Thanks for the PR. We have decided to opt-out of the #hacktoberfest after their [announcement](https://twitter.com/digitalocean/status/1312220884665536512?s=20) on Oct 3rd. I believe that's why this PR is ineligible. Sorry, I forgot to remove the labels.
As for the PR, someone will review it soon(It usually takes around a week). Thanks for showing interest in ArviZ.

[2020-10-05 13:27] abhisht51 commented on #1400
No worries!!

[2020-10-05 14:20] jburos opened #1411 "Workflow for recovering true values from simulated data"
## Short Description

I am wondering if you have a suggested workflow for the scenario where one is testing a model using simulated data. Specifically, where I want to store the true parameter values used to simulate the data in the `az.InferenceData` object, and use or develop standard methods for testing recovery of said parameter values.

My first attempt was to treat these true values as multi

[2020-10-05 16:23] mservantufc commented on #1404
Hi,
I am still facing a few remaining technical issues regarding this model comparison project, and would appreciate some help/guidance. I have now fit the two exponential models to each individual dataset.
PPC from Model 1, with the exponential rate parameter constrained to be similar across the 5 brain processes:
![image](https://user-images.githubusercontent.com/45162680/95104667-617ad380-0736-

[2020-10-05 17:26] OriolAbril commented on #1404
MemoryError: Unable to allocate 128. GiB for an array with shape (4, 2000, 129, 129, 129) and data type float64
Any idea how to solve it ?

Your log likelihood should have shape `4, 2000, 129`, the 2 extra 129 are probably due to not having the correct dimensions in the variables of the log likelihood group. xarray broadcasts automatically based on the dimension names, thus, if you have 2 DataArra

[2020-10-05 17:28] jburos commented on #1411
Thanks for the feedback - I will look into the `data_pairs` keyword. That may help structure the workflow.

It sounds like I should start by using `observed_data` where there is a direct analog between the value used to simulate & the posterior parameter and `constant_data` otherwise. I'll set up a few tests with this paradigm and report back on how they go.

[2020-10-05 18:29] OriolAbril commented on #1411
I have not worked on that yet, but I would like to at some point use the sampling wrappers to implement SBC in ArviZ. Related to https://github.com/arviz-devs/arviz/pull/1373

[2020-10-05 18:35] canyon289 commented on #1411
Hi, my colleagues answered better than I could, but I do want to stop by and say how much I appreciate your well worded issue with a link to a small reproducible example. Really appreciate you time and effort doing that

[2020-10-05 18:53] mservantufc commented on #1404
Oh ok, that makes sense! I solved the issue by doing:
[code]
and did the same for model_2. I then computed loo for each model:
[code]
and got this warning:
[code]

Looking at the results, it seems that the two models cannot be dissociated on the basis of these data:
Model_1:
[code]
Model_2:
[code]
Given the posterior predictive checks, I don't understand why the two models have a very similar LOO,

[2020-10-05 20:17] #1400 closed

[2020-10-05 20:27] OriolAbril commented on #1404
How many points have bad shape parameter?

You can use `LOO_model_1 = az.loo(trace, var_name="y", pointwise=True)` to get a more informative repr. If there are only a handful it could make sense to use `reloo`, but being 5d observations there will probably be many bad shape parameters present. I think this is the part that is still not finished on the doc I shared in one of my first comments. PSIS

[2020-10-06 09:01] mservantufc commented on #1404
Thanks, your feedback is very useful. Please find below the results:
Model 1:
[code]

Model 2:
[code]
Based on these results, it seems to me that (please correct me if I am wrong):
-Pareto k diagnostics are good for both models, which indicates reliable PSIS LOO estimates. Why do you recommend using reloo? Do you still suspect a problem  with the PSIS LOO estimates?
-PSIS LOO estimates are very cl

[2020-10-06 09:23] ahartikainen commented on #1404
You have on influential point, so you should do reloo.

Why would overlapping results be surprising?

[2020-10-06 09:29] mservantufc commented on #1404
The ppc look very similar between the 2 models, which suggests a win from Model 1. Of course it is just a graphical representation, but it gives a sense of the relative performance of each model no?
I have a problem with the reloo function. I tried:
`exact_LOO_model_1 = az.reloo(trace)`
which returns:
`AttributeError: 'InferenceData' object has no attribute 'check_implemented_methods'`
Looks like

[2020-10-07 02:05] OriolAbril commented on #1404
You should take a look at the notebooks in https://github.com/arviz-devs/arviz/pull/1373 to get an idea about how to use reloo.

[2020-10-07 07:34] ahartikainen commented on #1367
Adding some initial tests here

https://gist.github.com/ahartikainen/b892b487df9c067d8e91cdd4d986d3af

I'm not sure what library we should use. And if we select some, then I think it should be "optional".

I think we should also do a comparison test between different libs to see how they perform (time vs accuracy).

[2020-10-07 07:36] #1376 closed

[2020-10-07 07:36] #1377 closed

[2020-10-07 08:36] mservantufc commented on #1404
Thanks. First problem, with the function that recompiles the model when it's called:
[code]
which returns this error:
`NameError: name 'adapt_diag' is not defined`
I need to use adapt_diag for this specific problem (otherwise the sampling crashes). Should I pass it outside of  sample_kwargs ?

[2020-10-07 15:56] OriolAbril commented on #1404
The `init` key is missing the `"` so this should not work, not sure I completely understand how this relates to the error message you shared though.

[code]

Two comments here: 1) you can use `np.exp` (I think pymc will still work, but not completely sure so wanted to be extra sure), and 2) here you are using `mu` as the mean of the normal, but in the model it is `μ_v`, and the same for the other

[2020-10-07 18:15] sethaxen commented on #1367
In case it's useful, here's an example calling MCMCChains.jl's implementation of R* on the same data: https://gist.github.com/sethaxen/b22d9a9ca70530d8f0bce1687a09633f.

[2020-10-07 18:42] mservantufc commented on #1404
The variable ["indiv"] is an arbitrary name for the dimensions right? I tried:
[code]
Which returns:
`KeyError: 'indiv'`
so I am a bit confused. In addition, to avoid issues with the dimension names, I guess I should give the same dimension name to all model variables, am I correct?

[2020-10-07 20:20] mservantufc commented on #1404
Alright, thanks, I think I am very close. I just have a problem regarding the implementation of the final SamplingWrapper.
So far I 've done the following:

[code]
Note that I now use `pm.Data` for my age (x) variable.

[code]

Given that I have several dependent variables (observed_data), I then did:
[code]
Am I correct?
The issue now concerns the final phase i.e the definition of the SamplingWra

[2020-10-07 22:27] OriolAbril commented on #1404
Up until here everything looks good

Both `sample` and `get_inference_data` should not be modified, only `sel_observations` which is the model dependent part of the wrapper, depending on both the model and the predictive question at hand it will vary. I think something similar to this will work, but some work on the shapes/stacks may be required:

Note that `data__i` will be passed as is to `wrapp

[2020-10-08 10:18] mservantufc commented on #1404
I see,  thanks. In your notebook example, you then call:
[code]
I am confused about log_lik_fun, which is not defined in your class (and thus returns an error in my case:
`__init__() got an unexpected keyword argument 'log_lik_fun'`

[2020-10-08 12:47] OriolAbril commented on #1404
The class has no init method defined at all so it inherits the init method of the base class. The updated base class is only available in the PR, it has not been merged yet which is why it won't work unless you install the branch of the refitting PR.

I'd recommend making sure that the example notebook runs to make sure you correctpy installed the branch instead of pypi or github master versions.

[2020-10-08 20:40] mservantufc commented on #1404
I did:
`pip install git+git://github.com/arviz-devs/arviz.git@refitting`
but your example notebook returns the very same error:

[code]

[2020-10-08 21:05] OriolAbril commented on #1404
This is probably because it's not being installed (i.e. the version number is the same as the latest release so pip thinks it the same code). Try a `--force-reinstall` or downgrading and then installing from the branch

[2020-10-09 08:13] mservantufc commented on #1404
Alright thanks, this issue is solved. I think we are very close.
Running:
`loo_relooed_Model_1 = az.reloo(pymc3_wrapper, loo_orig=loo_Model_1)`
returns the following error:

[code]

[2020-10-09 11:13] OriolAbril commented on #1404
All the `(y_v,y_a,y_max_ampl,y_tau,y_ter)` tuples have to be tuples of strings, you have to add the " to each variable name for it to work

[2020-10-09 14:48] canyon289 opened #1413 "Typo in plot_dist"
**Describe the bug**
One of the errors in `plot_dist`  says use `xarray.Dateset.` Should be dataset
https://github.com/arviz-devs/arviz/blob/master/arviz/plots/distplot.py#L166

**Expected behavior**
Should read as as `xarray.Dataset`

[2020-10-09 18:08] mservantufc commented on #1404
Good point, but there is still a problem:
[code]

[2020-10-09 18:21] JoanRosell commented on #1413
Hi, could I pick this one up?

[2020-10-09 18:31] ahartikainen commented on #1413
Yes.

[2020-10-09 18:34] ahartikainen commented on #1404
Hi, can you print both the inputs on that line and also `type(...)` for inputs?

I wonder if there is an empty selection which goes to float?

[2020-10-09 19:00] mservantufc commented on #1404
Hi, do you mean line 18?
I did:
[code]
which returns:
[code]

[2020-10-09 19:08] OriolAbril commented on #1404
These

[code]

should be

[code]

we want to subset the actual arrays, not their names

[2020-10-09 19:43] OriolAbril commented on #1413
I no dubtis en preguntar aquí o a [gitter](https://gitter.im/arviz-devs/community) si tens cap dubte!

[2020-10-09 20:08] OriolAbril commented on #1404
Have you tried changing the `hstack` with `vstack`?

[2020-10-09 20:10] mservantufc commented on #1404
Yes, in this case I get a different error:

[code]

[2020-10-09 20:14] OriolAbril commented on #1404
Stacking should convert five 128 arrays into a 2d array with shape `128, 5` array (same shape as params_indiv) but if the stacking could also generate a 1d array with shape `640` or even a 2d array with shape `5, 128` which won't work either.

I'd recommend playing around with five 1d aranges or arrays of ones, the content is not relevant and see how to stack them into the right shape so you get a

[2020-10-09 20:56] mservantufc commented on #1404
Yes, I tried to transpose, printing the shape of y__i, data__i, and data_ex:
    def sel_observations(self, idx):
        x = self.idata_orig.constant_data["x"]
        y_list = [self.idata_orig.observed_data[var_name] for var_name in ("y_v","y_a","y_max_ampl","y_tau","y_ter")] # add "
        mask = np.isin(np.arange(len(x)), idx)
        y__i = [ary[~mask] for ary in y_list]
        y_ex = [ary[

[2020-10-10 13:06] mservantufc commented on #1404
Ok, we are now very close. I solved the shape issue doing using np.stack(y__i,axis = 1):
[code]
I then ran
`loo_relooed_Model_1 = az.reloo(pymc3_wrapper, loo_orig=loo_Model_1)`
which gave:
[code]

It looks like my calculate_log_lik() function (below) is missing an argument, but I don't understand what is expected here.

[code]

[2020-10-10 14:59] virajone commented on #1413
Hey, has this one been fixed yet ?

[2020-10-10 15:12] virajone commented on #1298
Hey, I'd like to know if I can pickup this issue ?

[2020-10-10 16:46] ahartikainen commented on #1404
Maybe try with this

    def calculate_log_lik(*args, *kwargs):
        print(args)
        print(kwargs)

And see if you notice something special (e.g. a model handle etc)

[2020-10-10 16:57] mservantufc commented on #1404
Are you suggesting to replace my calculate_log_lik with the one above? If so, I get this message:
T```
ypeError                                 Traceback (most recent call last)
<ipython-input-46-dcd11ffc8f30> in <module>
----> 1 loo_relooed_Model_1 = az.reloo(pymc3_wrapper, loo_orig=loo_Model_1)

~\Anaconda3\lib\site-packages\arviz\stats\stats_refitting.py in reloo(wrapper, loo_orig, k_thresh, sc

[2020-10-10 16:59] OriolAbril commented on #1404
The error message is telling you that the log lik function expects 22 arguments: 5 y + 5 alpha + 5 gamma + 5 sigma + x + beta but it it actually getting 23 inputs instead, there is one extra input, probably repeated.

In previous stages I remember seeing that data_ex is a list of length 6 (x + the 5 y) so this should be fine unless modified.

I would start double checking the posterior vars argume

[2020-10-10 17:12] OriolAbril commented on #1413
Hi @virajone, thanks for your interest in ArviZ!

The issue has not been fixed yet, but work on it has already started. Therefore, as stated in our [contributing guide](https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md#steps-before-starting-work) in order to prevent duplicated work, you should find other contributions to work on.

I see you have already commented on a second issue bu

[2020-10-10 17:44] virajone commented on #1413
@OriolAbril , thanks a lot for your response. I would surely like to contribute and I appreciate your help. I am looking for an issue that's beginner friendly and relatively easy given that I'm new to the project.  Would be great if you can assign / assist me finding one. :)

[2020-10-10 18:29] mservantufc commented on #1404
Alright guys,  thank you! The results are  interesting. The original arviz.loo for Model_1 and Model_2 gave the following results:

Model_1:
[code]

Model_2:
[code]

The reloo function gave the following results:
Model_1:
[code]

Model_2:
[code]
A couple of issues:
1) I still see a warning with reloo. Do you guys know why?
2) I don't understand the large p_loo for Model_1 (230.76). In addition, th

[2020-10-10 21:13] OriolAbril commented on #1298
I think the goal here would be to add a new argument to `az.summary` to set which statistics and diagnostics to use.

Users can already use the `stats_funcs` like in the code from the first comment to do this, but some of the combinations are common enough that having a more convenient way to get a custom summary would be a valuable feature.

I think that there is still some loose ends to tie befo

[2020-10-10 21:17] #1277 closed

[2020-10-10 21:20] #1306 closed

[2020-10-11 08:38] virajone commented on #1298
@OriolAbril Thanks a lot for the details. As there are still some items related to the issue that need to be discussed, I shall start working considering @ahartikainen 's proposal above as the base idea. In the meantime, maybe we have the combinations and the argument name finalized ?

[2020-10-11 10:19] OriolAbril commented on #1413
In my opinion, the lowest hanging fruits currently are #1188 and #956 (the issue description may be very clear but I can work on that). They affect multiple files but I woule encourage to tackle them 1-2 files per PR. #681 could also be a good candidate.

I also consider #1318 to be low hanging fruit but it requires knowing about benckmarking, something similar to [numba's notebook](https://arviz-

[2020-10-11 15:38] JoanRosell commented on #1413
Sorry for the late reply, I opened #1414 that will close this issue. I'm new to open source so I don't know if I should link the issue to the PR in this way 😕

[2020-10-11 21:45] OriolAbril commented on #1413
#1414 is great. Provided that like in this case a PR aims to close an open issue, the recommended way to link PR and issue is mentioning the issue from the PR description with [one of these keywords](https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords#about-issue-references), `fixes` is one of them so you can already see above the

Than

[2020-10-11 22:33] OriolAbril commented on #1404
The loo object stores if there has been a warning during the calculations as a boolean (i't not checked every time it's printed), my guess is that reloo does not set the `warning` field to false.

Ignore the `p_loo` parameter, I am quite sure it's wrong.

This one is not so surprising but it is somewhat strange. [`plot_elpd`](https://arviz-devs.github.io/arviz/generated/arviz.plot_elpd.html#arviz.

[2020-10-12 11:12] #1413 closed

[2020-10-12 11:15] aloctavodia commented on #1298
HI @virajone, you can start working on ahartikainen' proposal.

[2020-10-15 14:42] #1293 closed

[2020-10-16 00:43] avivajpeyi opened #1420 "to_dataframe release timeframe"
Thanks for this awesome piece of software!

`InferenceData.to_dataframe()` is present in the docs but I think is currently unreleased. I was wondering, is there a tentative timeframe planned for a new `arviz`?

Thanks!

[2020-10-16 18:54] michaelosthege opened #1424 "from_pymc3(prior=...) fails when model uses coords"
**Describe the bug**
Making an InferenceData from a prior predictive dictionary in the context of a model fails when the model uses `coords`.

**To Reproduce**
The following code works fine:
[code]

Output:
[code]

And this one has the same dimensions, just *with coords*, but fails:
[code]

Output:
[code]

**Expected behavior**
In both cases, an InferenceData object containing the prior predictive

[2020-10-16 22:37] ahartikainen commented on #1420
Hi, we have some things still needing a bit of fixing, but I would say we are probably going to create a new release in the following weeks.

[2020-10-18 08:03] zh-12345 opened #1425 "import pymc3 throws an error 'Dataset' has no attribute 'unify_chunks'"
when i import import pymcs .it occurred an error that   unify_chunks = _extend_xr_method(xr.Dataset.unify_chunks)
AttributeError: type object 'Dataset' has no attribute 'unify_chunks'

Traceback (most recent call last):
  File "E:/yanyanyanyan/knowledgegraph/BYESIAN_TEST/1013test.py", line 4, in <module>
    import pymc3 as pm
  File "D:\anadota\lib\site-packages\pymc3\__init__.py", line 41, in <m

[2020-10-18 12:21] zh-12345 commented on #1425
help ! help ! help!

[2020-10-18 16:05] jankaWIS commented on #512
Speaking of which, I was wondering is there currently in arviz something like [regplot](https://seaborn.pydata.org/generated/seaborn.regplot.html) in seaborn? That would be great and that could also give a beginning to what has been asked here.

[2020-10-19 14:37] OriolAbril commented on #1425
Have you tried calling `unify_chunks` on a xarray Dataset? I am not sure which one is the first xarray version with the method, but 0.16.1 must have it, even if dask is not installed (in which case it does nothing, see source: https://github.com/pydata/xarray/blob/master/xarray/core/dataset.py#L5797).

Could it be that Python is actually importing an old xarray version instead of 0.16.1 like it sh

[2020-10-19 15:10] OriolAbril commented on #1424
The issue here is with the `(1234,)` shape. ArviZ expects the arrays in `prior` argument of `from_pymc3` to have shape `draw, *shape` (it knows there is no chain dimension and it adds it to comply with the `chain, draw, *shape` convention).

This array has only the `draw` dimension, it should be `1234, 1` for the dim/coordinate to be accepted, currently when `lothar_dim` is passed, ArviZ gets a 2d

[2020-10-20 02:41] zh-12345 commented on #1425
Thank you for your reply.I have solved the problem .I tried to uninstall the the package of "xarray and pymc3",and reinstall xarray 0.16.0. .I don't know why, but luckily it worked out.

[2020-10-20 02:41] #1425 closed

[2020-10-20 13:21] ari-hacks commented on #1314
Hey @collinsuzebu , are you still interested in taking this on? I can tackle it if you are unavailable.

Under [building docs](https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md#building-documentation-with-docker) I would just make a note about the changes listed above.

[2020-10-20 14:41] canyon289 commented on #1314
@ari-hacks its yours.

 @collinsuzebu Apologies I missed your original message

[2020-10-20 15:12] ahartikainen commented on #1314
If user add `[docs]` to PR title, then CI will upload the docs, which can be downloaded to user computer.

It can be found under `artifacts` in the main CI page

e.g. https://dev.azure.com/ArviZ/ArviZ/_build/results?buildId=3560&view=results <-- this CI run did not create docs

[2020-10-20 15:28] ari-hacks commented on #1314
Hey, @ahartikainen should this be a separate issue?

[2020-10-20 15:35] ahartikainen commented on #1314
I think it is already documented. I just wanted to share the info, so you are aware of this.

[2020-10-22 14:03] ari-hacks commented on #1314
@canyon289 and @ahartikainen I've made this update but I'm also unable to build the docs (nothing generates under `docs/build` dir). The above CI run indicates a possible linting issue?

When I attempt to build this is the error I'm getting:
<img width="934" alt="Screen Shot 2020-10-22 at 2 16 28 PM" src="https://user-images.githubusercontent.com/36749814/96882105-dceabd80-1476-11eb-8400-782e1e7b2

[2020-10-22 14:57] ahartikainen commented on #1314
Interesting, maybe there is a problem with sharing your local folder.

[2020-10-22 15:29] OriolAbril commented on #1314
Maybe its due to the doc reorganizations :thinking: I'll check

[2020-10-22 20:03] michaelosthege commented on #1424
Yes, shape `(1,)` is treated the same as `()`:
[code]

Not sure how we should deal with this..
We have model coords that are automatically determined - they might be a vector of length 1 too and treating these differently is a real headache..

Also this issue may need to move over to pymc3..

[2020-10-22 23:20] OriolAbril commented on #1314
Indeed, https://github.com/arviz-devs/arviz/blob/master/scripts/container.sh#L38 should be:

    "if [ -d ./doc/build ]; then python -msphinx -M clean doc/source doc/build; fi && sphinx-build doc/source doc/build -b html"

The conf.py file used to be on `doc/` but was moved to `doc/source` so now it's not found anymore by the script because it's still looking at the old location.

Azure CI script

[2020-10-23 00:11] ari-hacks commented on #1314
@OriolAbril - ah I see , thanks! Should I go ahead and update that line with this PR or should that be a separate issue?

[2020-10-23 00:12] OriolAbril commented on #1314
I think we can do it in the same PR, but I don't have strong preferences on this

[2020-10-23 14:34] #1396 closed

[2020-11-02 23:44] canyon289 opened #1436 "Add an examples of coords argument in documentation"
**Describe the bug**
There's this fancy coords argument but not a great explanation on how to use it in the code examples below
https://arviz-devs.github.io/arviz/api/generated/arviz.plot_posterior.html

![image](https://user-images.githubusercontent.com/7213793/97931298-2adaad80-1d22-11eb-9e97-3e46ed2f9650.png)

**To Reproduce**
Look at the doc, notice the lack of coords documentation in the code

[2020-11-05 20:31] Spandyie commented on #1436
@canyon289 I would like to take on this issue, do you mind assigning it to me ?

[2020-11-08 18:18] michaelosthege commented on #1424
This issue is caused by https://github.com/pymc-devs/pymc3/issues/4206

[2020-11-09 11:20] #1288 closed

[2020-11-09 11:39] #339 closed

[2020-11-10 10:39] rlouf opened #1439 "Automatically set `divergences=False` when trace does not contain dvergences"
## Short Description

I am trying to plot the trace obtained with a Metropolis Hastings sampler. Since `divergence` is a notion that only exists for the HMC family, I initialize `InferenceData` with `diverging = None`. However, when I plot the trace I have to specify `divergences = None` which can cumbersome.

Maybe I am doing something wrong. Otherwise, would it be possible to disable this option

[2020-11-10 10:46] ahartikainen commented on #1439
It should do that already.

What is it saying when with default settings?

[2020-11-10 10:50] rlouf commented on #1439
[code]

[2020-11-10 12:22] ahartikainen commented on #1439
So you have `idata.sample_stats.diverging` `None` or array with None?

I don't think you should have it like that.

[2020-11-10 12:33] rlouf commented on #1439
It is set to `None`. What do you suggest instead?

[2020-11-10 12:37] ahartikainen commented on #1439
You should not have that there.

I don't think setting attributes to None in `xarray.Dataset` is the correct way to handle missing values.

[2020-11-10 12:38] ahartikainen commented on #1439
So, when you create the InferenceData, you shouldn't set variables to None. Of if you do that, then filter them out before you create the xarray.Dataset.

[2020-11-10 12:40] rlouf commented on #1439
How do you handle missing value? What's the alternative?

[2020-11-10 14:43] ahartikainen commented on #1439
Not creating that attribute.

[2020-11-11 15:32] #1287 closed

[2020-11-11 15:33] #1285 closed

[2020-11-11 18:45] NA-Dev opened #1440 "How to change rcParams"
## Short Description

I am trying to increase max_subplots for az.plot_trace() from 15 to 30, but I can't get it to use my override settings. When I print the setting it has been updated, but the plot still cuts off at 15 and gives me the warning. "python3.8/site-packages/arviz/plots/traceplot.py:191: UserWarning: rcParams['plot.max_subplots'] (15) is smaller than the number of variables to plot (

[2020-11-12 11:48] aloctavodia commented on #1440
Hi @NA-Dev I am not able to reproduce your problem. This is what  I get.

a = np.random.normal(0, 1, 100)
trace = {"a":a, "b":a,"c":a,"d":a,"e":a,"f":a}

az.rcParams['plot.max_subplots'] = 2
az.plot_trace(trace)

![index](https://user-images.githubusercontent.com/1338958/98936394-aaefd880-24c3-11eb-9232-06a1a165b0db.png)

az.rcParams['plot.max_subplots'] = 30
az.plot_trace(trace)
![index2](https:/

[2020-11-12 11:52] aloctavodia commented on #1440
Ohh I see now, If you have 30 variables then you need to set `az.rcParams['plot.max_subplots'] = 60` as `plot_trace` uses 2 subplots per variable.

[2020-11-12 18:17] NA-Dev commented on #1440
Oh that is easy enough, thank you so much!

[2020-11-12 18:17] #1440 closed

[2020-11-15 07:27] twiecki opened #1441 "Repeated warning in summary() when only one chain is sampled"
Sometimes I sample just one chain (yeah I know, call the Bayesian police on me). When then calling `az.summary()` I get tons of: `arviz.stats.stats_utils - WARNING - Shape validation failed: input_shape: (1, 2000), minimum_shape: (chains=2, draws=4)` one for each RV, which can be a lot. I think that warning could just be dropped, if only one chain is present I would for example not assume an Rhat

[2020-11-15 11:52] aloctavodia commented on #1441
Chain on you Thomas! ;-)
I agree it can be very annoying. It should be reported just one.

[2020-11-15 20:16] aloctavodia commented on #197
Any update on this?

[2020-11-15 20:29] aloctavodia commented on #662
any update on this?

[2020-11-16 11:30] #1420 closed

[2020-11-16 11:32] #1381 closed

[2020-11-16 11:36] #1404 closed