[2019-04-03 00:31] ColCarroll opened #633 "Change text on front page of docs"
## Tell us about it

I want to change **ArviZ is under heavy development** to **ArviZ is ready for general use**

![image](https://user-images.githubusercontent.com/2295568/55444818-3a15da00-5586-11e9-8ae4-7efdf439d6a7.png)

[2019-04-03 12:59] #633 closed

[2019-04-06 14:21] junpenglao opened #639 "DensityDist in PyMC3 model breaks io_pymc3"
[code]
returns error:
[code]

[2019-04-09 03:34] #409 closed

[2019-04-10 13:28] #607 closed

[2019-04-10 13:29] #629 closed

[2019-04-10 17:33] Ban-zee commented on #517
Has this issue been resolved?

[2019-04-11 13:12] aloctavodia commented on #517
I guess no, @ahartikainen?

[2019-04-11 14:09] ahartikainen commented on #517
No.

[2019-04-12 15:57] aloctavodia opened #641 "add example about transforming and/or creating variables"
We should have at least one example about modifying, transforming and/or creating a variable before plotting, something like

`data.posterior['log_temperature'] = np.log(data.posterior.temperature)`

`data.posterior['diff_temperature'] = data.posterior.temperature1 - data.posterior.temperature2`

[2019-04-15 13:01] Ban-zee opened #643 "Color scheme not displayed in plot_energy."
The color scheme is not displayed in the legend for a default energy plot.
![arviz-plot_energy-1](https://user-images.githubusercontent.com/29407246/56133923-223d4d80-5fab-11e9-99e3-0e60637d234c.png)

This behavior is not observed when we set `kind='hist'`.
![arviz-plot_energy-2](https://user-images.githubusercontent.com/29407246/56133688-a9d68c80-5faa-11e9-9195-ab7aa2c743a4.png)

[2019-04-16 19:31] #602 closed

[2019-04-16 19:34] #419 closed

[2019-04-16 19:47] ahartikainen commented on #419
Oh: uniform --> ecdf(x)[x] <-- inverse_ecdf_x(x) --> is named as `rank`

[2019-04-17 00:31] OriolAbril commented on #643
Good catch! I checked the code a little, and this is a problem of `plot_kde`. The label is set in `ax.plot`, therefore, when `alpha=0` (or `linewidth`=0) in `plot_kwargs` the legend is empty. Here is another example:

    # equivalent to
    # az.plot_kde(np.random.normal(size=1000), label="Gaussian", plot_kwargs={"linewidth":0}, fill_kwargs={"alpha":.7})

Outputs:

![plot_kde_wrong_legend](https:

[2019-04-17 00:47] OriolAbril commented on #517
Do you mean in a `try ... except ...` block or before a `raise` statement?

[2019-04-17 08:44] Ban-zee commented on #643
In this case, I'll start working on this issue and you can help me in the process.

[2019-04-17 11:04] OriolAbril commented on #643
Great! Feel free to ask anything via gitter. I will also send you some reference that may be useful. I have one starting comment though, which is interesting for everyone too. The docs say _use fill_kwargs={‘alpha’: 0} to disable fill_. And the same approach is used in `plot_energy` to disable the line plot. However, I think it may be a better idea to use `linewidth=0` to disable line plots, which

[2019-04-17 11:26] Ban-zee commented on #643
Amazing. I'll start work on this soon.

[2019-04-17 17:15] #497 closed

[2019-04-17 17:17] #470 closed

[2019-04-17 17:19] #349 closed

[2019-04-17 17:19] #350 closed

[2019-04-17 17:20] #351 closed

[2019-04-17 17:20] #352 closed

[2019-04-17 17:20] #353 closed

[2019-04-17 21:42] OriolAbril commented on #421
I will restart work on this issue soon with the goal of definitely closing it. Here is the list of changes I have in mind, feel free to add some more to the list:

* Change the option of `container.sh` from `--clear_cache` to `--clear-cache`: I think it is much more intuitively like this, as it follows the usual style for this kind of commands. I still have to decide between leaving the current op

[2019-04-20 06:26] ChampionZP commented on #2
helpful !

[2019-04-21 21:06] #354 closed

[2019-04-22 16:46] fonnesbeck opened #649 "Incorrect calculation of weight in `compare`"
There appears to be an issue when comparing models that have similar loo or waic values. The top two should have similar weights, but the slightly smaller one ends up with zero.

<img width="506" alt="Screenshot 2019-04-22 11 42 33" src="https://user-images.githubusercontent.com/81476/56512065-eb5bc000-64f3-11e9-8126-a697a2711ff5.png">

I can't share this example, but will try to put together a re

[2019-04-22 16:53] fonnesbeck commented on #649
OK, [here is a simple reproducible example](https://gist.github.com/f8b6d485b67436cbd08ed46e35bb22bb
). The models are almost identical, but the weight for the better one goes to one. If you change the second model to be a little more different (eg. change the sd to 2 instead of 1.1), it gets a more reasonable weight.

[2019-04-22 20:07] fonnesbeck commented on #649
Easiest short-term solution is to make BB-pseudo-BMA the default; I think that's the most common approach anyhow.

[2019-04-22 20:26] aloctavodia commented on #649
I always use "BB-pseudo-BMA" because "stacking" tends to add too much weight to a single model. Nevertheless, this example seems quite dramatic. I agree about making "BB-pseudo-BMA" the default, But I am also going to check if there is some error with the stacking implementation...

[2019-04-22 20:57] fonnesbeck commented on #649
My example is dramatic because I intentionally made it that way. It occurs pretty routinely for me with real data (e.g. the screen shot above).

I assume the problem has to do with numerical issues in `minimize`(?)

[2019-04-23 14:56] ColCarroll commented on #94
Rebumping this after it came up in PyMC3: I think there is interest in
1. Global config limit on the number of axes arviz will create (say, 50?)
2. A `kind={'facet' | 'compact'}` option for traceplot. See [cell 23](https://docs.pymc.io/notebooks/bayesian_neural_network_advi.html) in this notebook for an example that could reasonably call for a `'compact'` option.

[2019-04-24 06:46] michaelosthege commented on #94
One difficulty with combined plots (I prefer them in most cases) is the overlay of the chains on the right. Maybe, they should get `alpha=1/ndim` or so.

[2019-04-24 14:42] canyon289 commented on #641
@aloctavodia I'll add an example in the xarray section of tutorial in the meanwhile

[2019-04-25 14:29] #560 closed

[2019-04-25 14:30] #421 closed

[2019-04-25 14:32] canyon289 commented on #649
@fonnesbeck Give it a try now and see if Osvaldo made your day :)

[2019-04-25 20:35] #393 closed

[2019-04-26 14:59] rpgoldman opened #654 "Is there some way to plot individual chains (from PyMC3 data)?"
## Short Description

I have a data set with four chains where one of them is going badly wrong:

<img width="408" alt="image" src="https://user-images.githubusercontent.com/3274/56816333-f327a700-6808-11e9-9810-682587256fb7.png">

It would be nice if I could plot the individual chains separately (i.e., in subplots), and if the plots would display the index of the chain in the plot legend (i.e., a

[2019-04-26 15:25] ColCarroll commented on #654
Gosh, the code is _very_ close to letting you do this. I should be able to make a quick p.r. in the next few days to add a `label={chain_idx}` to each line, so that
[code]

will put a legend in the top left subplot (note there's no labels yet, so this gives an empty legend right now).

This also _almost_ works, but throws an `IndexError` when it tries to get the divergences from chains 3 and 4:

[

[2019-05-01 04:55] arabidopsis opened #656 "`from_pymc3` fails when dims and coords are given"
**Describe the bug**

`az.from_pymc3` fails with exception on multidimensional data when coordinates
are given.
Exception is `ValueError: conflicting sizes for dimension 'exp': length 30 on the data but length 15 on coordinate 'exp'`

**To Reproduce**

[code]

**Expected behavior**

A valid inference_data object.

**Additional context**

`(az.__version__, pm.__version__,np.__version__,xr.__version

[2019-05-02 19:53] hectormz opened #659 "Default credible_interval clarification"
This isn't exactly a proper issue, but wasn't sure where to put it. (Is there a place for discussion for Arviz like PyMC3's discourse?)

Is there a documented place on the Arviz site or documentation that details the default `credible_interval` of 0.94? I was confused about this until I read in @aloctavodia 's book that, "This is a friendly reminder of the arbitrary nature of the 95% value."

It w

[2019-05-03 14:46] aloctavodia commented on #659
Hi @HectorM14 thanks for reporting this issue. We consider documentation an important part of a project, thus this a proper issue for us. We will address this issue.

[2019-05-04 03:57] HectorM14 commented on #659
Great, thanks!

[2019-05-04 15:34] aloctavodia opened #660 "plot pointwise WAIC/LOO"
ArviZ is missing function to compare models in terms of pointwise ELPD. See [figure 10](https://arxiv.org/abs/1709.01449).

Such a function could work for 2 models (like figure 10) or for more than 2 and return a grid of non-redundant subplots, like `plot_pair`.

[2019-05-06 14:09] canyon289 opened #661 "Set Numpy Random Seed in one place for tests"
## Tell us about it
For test suite put `np.random.seed` in conftest.py so its available in all tests, eliminating duplication across various different tests

![image](https://user-images.githubusercontent.com/7213793/57230716-d8ee8580-6fcd-11e9-8ec1-b79c36cbf597.png)

## Thoughts on implementation
See above

[2019-05-06 14:35] ahartikainen commented on #661
`np.seed` or `np.RandomState`?

Seed is probably safer option.

[2019-05-06 16:42] HectorM14 opened #662 "Easily plot and compare multiple marginal posteriors"
I wanted a way to efficiently compare multiple marginal posteriors in PyMC3/ArviZ like in **Figure 9.10** from Kruschke's book:
![image](https://user-images.githubusercontent.com/23343812/57238880-4fe04a00-6fdf-11e9-9a56-e70cdd44b892.png)

This is especially the case when using vectorized parameters in a model, and I'd like to compare many/all of them. If I have two, creating a `pm.Deterministic`

[2019-05-06 21:56] rpgoldman opened #663 "Issue with plot_posterior and pymc3"
**Describe the bug**
I get only empty plots when I try to plot a posterior predictive for more than one variable from an arviz data object created from pymc3.
**To Reproduce**
See [this gist](https://gist.github.com/rpgoldman/79286f8298fcffb9d790867a38ce6043)

**Expected behavior**
Expected to see plots of posterior predictive trace samples, but got empty axes.

**Additional context**

I have a co

[2019-05-07 00:32] ahartikainen commented on #663
This sounds like a weird bug.

(We need to add more testing with nD structures)

[2019-05-07 00:52] rpgoldman commented on #663
@ahartikainen TBQH, it's not clear to me from the documentation which plotting functions are compatible with/interact with which bits of the data object that are created by translation from pymc3.

I wonder if Arviz is having trouble because this is a dictionary produced by `sample_posterior_predictive` instead of a `MultiTrace` from the normal sampling process?

[2019-05-07 00:53] rpgoldman commented on #663
Whoops. I'm sorry -- the backtrace is from me attempting to recreate the plotting "by hand".  Sorry. I will remove it.

[2019-05-07 01:00] rpgoldman commented on #663
I'm going to close this issue: I think I mis-managed the interaction between matplotlib and arviz.  Sorry to bother you all.

[2019-05-07 01:00] #663 closed

[2019-05-07 04:12] ahartikainen commented on #663
No worries, I was sleeping this time.

Good that it works. Maybe we could add some more documentation / tutorial to make it easier to use our package.

[2019-05-08 15:22] aloctavodia commented on #662
Hi @HectorM14 thanks for this contribution, the plot looks really nice. It will be really great if you send a PR with this new plot. Please use our existing plots as a reference, maybe [pair_plot](https://github.com/arviz-devs/arviz/blob/master/arviz/plots/pairplot.py) is a good place to check.

[2019-05-08 15:36] #649 closed

[2019-05-08 16:11] HectorM14 commented on #662
@aloctavodia I'll work on a PR that follows the current format as existing plots. Thanks! I'll check in if I have questions.

[2019-05-08 22:24] OriolAbril commented on #662
I volunteer to help with the PR. In fact this issue has given me the idea of extending plot pair using customizable functions.

There would be 3 input functions, each with its own kwargs:
* lower triangular function
* upper triangular function
* diagonal function

The triangular functions should have as arguments `values1, values2, ax`, and the diagonal one `values1, ax`. If one of these functions

[2019-05-09 03:47] HectorM14 commented on #662
Hi @OriolAbril , I agree, this could be very clean and simple since it mostly relies on existing plotting functions in arviZ.

In my first draft of my function that I included, I was only interested in plotting kde/histograms, and I wanted to make all the arguments explicit for the user (me), instead of capturing everything as `**kwargs` and passing them to `plot_posterior`. Adding another triangl

[2019-05-09 13:05] OriolAbril commented on #662
About the arguments I would start with:

[code]

The `coords` will allow to select some of the items in var_names. In addition however, it may be useful to compare different chains instead of all draws.

As for the name, I could not think of anything else other than `pair_plot_extended`. But I would not worry about it too much about it yet.

[2019-05-09 22:09] OriolAbril commented on #662
I was thinking that changing the arguments of the triangle functions to `values, ax` like in the diagonal case, with the difference of values being 2D instead of 1D will probably ease the default values and creating (or even better avoid creating) wrappers. For instance, `plot_pair` itself could be used as lower triangular function default. This would allow more freedom in the kind of pairplot use

[2019-05-10 01:24] HectorM14 commented on #662
If I follow you correctly:
- the diagonal will always be default `plot_posterior` (if shown), and the user can still pass along specific `kwargs`
- one triangle will always be default `plot_posterior` (if shown), and the user can still pass along specific `kwargs`
- the other triangle will always be default `plot_pair` (if shown), and the user can still pass along specific `kwargs`

I think that i

[2019-05-10 01:31] HectorM14 commented on #662
Will `coords` allow the user to select particular (or all) chains to compare, or that is another matter that you were bringing up?

[2019-05-10 09:45] OriolAbril commented on #662
I had in mind to use functions as parameters, therefore, the diagonal and both triangular plotting functions can be any function defined by the user. That is why in the definition of `plot_pair_extended` nor `plot_kde` nor `plot_posterior` are strings. Therefore, a typical use case would be:

[code]

There are no quotes around `difference_hist` in order to pass the function to `plot_pair_extended`

[2019-05-11 16:58] ahartikainen commented on #643
Do we really need the patch here? Could we just pop the label kw out from `plot_kwargs` and add it to `fill_kwargs` iff `lw=0`? Then maybe remove its alpha? Or atleast make sure it is not close to 0?

[2019-05-11 20:14] OriolAbril commented on #643
This is also an option, however the results when both line and fill are present could be weird. I am not sure if this would actually be less work to the patch in plot_kde. However, this approach will probably make solving the problems in plot_energy easier.

[2019-05-11 23:33] canyon289 opened #666 "Add method to delete groups from InferenceData"
## Tell us about it
Add a method to delete groups from InferenceData

With many groups InferenceData can get quite large, making it hard to add to VCS or email. Things like sample_stats might not be needed for all results sharing.

## Thoughts on implementation
1. Delete the object from `az.InferenceData` with `del` method in python
2. Remove string in `az.InferenceData._groups`

[2019-05-11 23:34] canyon289 commented on #661
Do those methods exist? I can only find this one ?
https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.seed.html

[2019-05-11 23:35] canyon289 commented on #656
Is this issue fixed? Looks like a PR was merged that addressed it

[2019-05-12 23:21] HectorM14 commented on #662
Hi @OriolAbril , the functions as parameters makes sense. I was thinking of creating the the function that subtracts and plots the two posteriors in a way that we still pass it `data, var_names, coords`, and it figures out what to plot, so that it can be interchangeable with all the other types of plots that might be used throughout the grid.

Following your advice, here is a rough attempt. It's m

[2019-05-14 01:18] OriolAbril commented on #662
Yes, this definitely follows my line of thought. I will keep playing around with it, to get the most of pairplot and this proposal. It is really good work. I do like the idea of passing xarray datasets, var_names and coords because it will probably allow more options than simply passing the data and the axes. However, it may make the creation of custom plotting functions harder, as it will require

[2019-05-14 18:25] OriolAbril commented on #415
I vote for numpy style docstrings and leaving the issue open to encourage anybody who might feel like it to use type hinting in the function arguments. It would have some advantages, mainly when using IDEs as far as I know.

[2019-05-15 00:45] nesanders opened #668 "log_likelihood missing from sample_stats error for loo and pystan?"
Hello,

I have an issue that may be a simple question about usage of the arviz loo function on pystan fit objects.  I receive the following TypError when running the loo function on the output of a PyStan sampling call with the current version of each package.

Here's a minimal case:

[code]

Am I applying the loo function correctly?  Thank you for any guidance!

[2019-05-15 03:09] ahartikainen commented on #668
You need to calculate the elementwise loglikelihood for each datapoint.

In `generated quantities`

[code]

And then you need to create first InferenceData object first (I think this step could change in future).

[code]

Check `az.loo` docstring for other options (e.g. `scale="log"`)

[2019-05-15 05:34] HectorM14 commented on #662
This is very nice @OriolAbril ! 👌 So you would be proposing adding both `plot_func_posterior` and `plot_pair_extended` to `arviZ`? I see how `plot_func_posterior` is being sent a dictionary of the two schools in this case. Could you also show if `plot_func_posterior` was used alone to create a single difference of posteriors (in this case)?

The customization of `labels` is very nice. Is there any

[2019-05-15 09:53] OriolAbril commented on #662
Yes, I think that these two could be useful. The `plot_name` was only for the example. I ended up deciding to pass a dictionary because it can be converted to inference data, which allows to use ArviZ plots, and it is easy to work with, there is only the key which is the label and the item which is the array.

I gave no thought at all to use `plot_func_posterior` outside pair plot extended, it is

[2019-05-15 12:54] nesanders commented on #668
Thank you, Ari!

[2019-05-15 12:54] #668 closed

[2019-05-15 13:45] #656 closed

[2019-05-15 13:47] aloctavodia commented on #661
@canyon289 see here https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.RandomState.html

[2019-05-15 15:26] HectorM14 commented on #662
The dictionary is definitely a clean usage from within `pair_plot_extended`. Maybe `plot_func_posterior` could be updated to also receive data like:

`data.posterior['theta'].sel({"school":['Choate', 'Deerfield']})`

This could be done by modifying `plot_func_posterior` a little bit:

[code]

So:
[code]

Do you have an idea what other types of functions might be useful to pass to `plot_func_poster

[2019-05-15 15:44] OriolAbril commented on #662
I have used the ratio of the inferred variables in some cases.

This is starting to look quite defined! :) Thanks for all the work. I think that now we can start paying attention to presentation and performance. So many conversion from dict to dataset and so on worry me a little.

[2019-05-15 22:05] HectorM14 commented on #662
Okay great.

Further regarding the axes, there are different ways to share/unshare the axes. The problem is quickly/cleanly knowing which ones to share. `plot_pair` and `plot_posterior` will be very standard usage, so we can check for their usage and share appropriate plots using those, but not assume anything else about other passed functions, or try to share any other axes.

[2019-05-17 20:59] rpgoldman opened #672 "Plot posterior gives anomalous results for small values"
**Describe the bug**
I have a model with a small parameter, and on plot posterior the variable is displayed (incorrectly) as having a mean of "0.0" and an HPD between 0.0 and 0.0.

Here's a snippet of the picture:
![image](https://user-images.githubusercontent.com/3274/57955617-f835be80-78bb-11e9-921d-6d710719354f.png)

**To Reproduce**

Attached a Jupyter notebook sufficient to reproduce the issu

[2019-05-18 18:05] ahartikainen opened #673 "CmdStanPy tests"
Add tests for CmdStanPy. See if we can read cmdstan output csv to PosterierSample which then can be tested.

[2019-05-18 21:29] aloctavodia commented on #672
Hi @rpgoldman. By default `plot_posterior` will round up the point_estimate and HPD bounds to the first decimal point. You can change that using the `round_to` argument.

[2019-05-18 21:32] ahartikainen commented on #672
Should we add some rules there? Like if values are less than x use scientific notation?

[2019-05-19 20:47] #495 closed

[2019-05-20 13:42] Ban-zee commented on #643
Issue's been resolved. I'll close it now.

[2019-05-20 13:42] #643 closed

[2019-05-21 03:03] rpgoldman commented on #597
Related to the above, it's not obvious from the documentation how one goes about plotting samples from the prior distribution. There aren't examples in the cookbook or get started guide (or I missed them), and the API summary table is so terse that the reader can't tell which of the plotting functions take `group` as an argument.  It looks like I should be able to do this with `plot_density`, but

[2019-05-21 08:13] ahartikainen commented on #597
I think many of our plots are missing `group` kw.

[2019-05-21 20:59] OriolAbril commented on #660
I will start working on this. Here is the main idea to make sure we are on the same page.

    def plot_compare_pointwise(idata_dict, ic="waic", color=None, ...):
        """Graphical comparison of multiple models in terms of pointwise ELPD.

        idata_dict : mapping (str -> InferenceData)
            Dictionary mapping the name of each model to compare to its corresponding InfereceData

[2019-05-21 21:28] OriolAbril commented on #662
Maybe it is best to forget about sharing axis. It should not be too difficult to set the limits manually to the same values afterwards if it is really important to maintain this.

[2019-05-21 22:57] smoh opened #675 "from_pystan fails when there is empty dimension?"
**Describe the bug**
`arviz.from_pystan` fails with IndexError when there is an empty-dimension parameter.

[code]
What I mean by empty-dimension parameter is:
[code]

I think this is related to that I have this trick in my stan code:
[code]
I did this in order to add an optional parameter following [this](https://dev.to/martinmodrak/optional-parametersdata-in-stan-4o33).

**To Reproduce**
Sorry I

[2019-05-21 23:10] ahartikainen commented on #675
Hi, thanks for the info. I was sure that I have fixed this, but apparently not.

[2019-05-22 07:31] ahartikainen commented on #675
Ok, my mistake

I have added

    np.prod(dim) == 0

But

    np.prod([]) == 1.0

So I will fix this.

[2019-05-22 08:33] ahartikainen commented on #675
hmm, actually it might ve something else.

[2019-05-22 16:20] rpgoldman commented on #672
@aloctavodia Is this something that could be controlled somehow using the `dims`?
The documentation on `dims` in xarray is very sparse.  The `dims` somehow are always a list of discrete values, and there's little guidance about what that will mean when the variable with the dimension is continuous.  Should we be controlling the default plotting of our variables by putting ranges on these dimension

[2019-05-22 16:22] rpgoldman commented on #672
@aloctavodia One more, if you don't mind -- if we are plotting a number of variables using `plot_posterior`, and they are on different scales, how should we be using `round_to`?  It seems like it is applied uniformly across all subplots, yes?

[2019-05-22 16:23] rpgoldman commented on #672
@ahartikainen

Could this be done by comparing the min and max computed for the HPD, and choosing a scale accordingly?

[2019-05-22 16:48] OriolAbril commented on #672
What about allowing a custom format string? We could change the [`hpd[0].round(round_to)`](https://github.com/arviz-devs/arviz/blob/b6007685f985f20823e21edce945a883aa0fc24f/arviz/plots/posteriorplot.py#L323) to `format_str.format(hpd[0])` if `format_string` is present, otherwise, the round_to argument would be used. It could also allow the option of using a list instead of a string to use differen

[2019-05-22 16:49] OriolAbril commented on #672
Yes, round_to must be an integer, and this same value is used in all plots.

[2019-05-22 18:44] rpgoldman commented on #329
Seconded -- I couldn't figure out how to use arviz when I was doing prior sampling from a regression model, because I ended up with a variable that was a vector of length approximately 1200, which blew everything up.  Not understanding this, I had to revert to turning it into a data frame so I could group and subset it intelligently, and then used pandas to plot.

Another thing that would be nice

[2019-05-22 20:21] ahartikainen commented on #675
Yes, I found it.

It was this blunder (actually there was one other mistake)

    min((dim, i) for i, dim in enumerate(fit.sim["dims_oi"]) if dim)[1]

or in more simple terms

    min(dim for dim in fit.sim["dims_oi"] if dim)
which in your case resulted to `[0]` and then rest of the code fails.

I also needed to update one `if`-statement before that part, so everything should be fixed after I crea

[2019-05-22 20:24] smoh commented on #675
Thanks for looking into it! I will wait for that.

[2019-05-22 22:09] #675 closed

[2019-05-23 09:21] twiecki commented on #94
Advocating for returning to the pymc3 way by default. It is much worse UX to take forever and then break, rather than displaying a crowded plot which might trigger a user to look at the docs to find that option.

[2019-05-23 09:26] junpenglao commented on #94
Or having an option to do pymc3 type of plot so we can use that style in pymc3.
In general, I think it is better style in Arviz as overlaying lots of plots does not really makes sense, but myself also prefer to lazily just plot everything so I can at least eyeball the obviously wrong quickly.

[2019-05-23 09:32] twiecki commented on #94
I would argue that even for arviz it doesn't make sense. Usually if a plot is too crowded it will also be too large to be plotted flattened. One results in a crowded plot the other in a hanging kernel.

[2019-05-23 18:51] #631 closed

[2019-05-23 22:41] OriolAbril commented on #662
@HectorM14 what about using the `.sel()` method with `inplace=False` to pass to the plotting functions (lower, diag...) a whole inference data that contains only 2 variables and the desired coords? Do you have time to work on a PR? Otherwise I will try to do it and I'll let you know once it is good for review, it would be great if you could test it.

[2019-05-24 14:29] HectorM14 commented on #662
Hi @OriolAbril I can hopefully work on the PR this weekend if that works for you. I can try using `.sel()` as you suggest. Thanks!

[2019-05-24 15:52] OriolAbril commented on #662
I don't know if the PR adding the `.sel()` method will be merged though. Check it beforehand.

[2019-05-25 17:46] HectorM14 commented on #662
Got it, when do you think it might be merged? I'll do everything else and wait for that change and try it out.

[2019-05-25 18:00] OriolAbril commented on #662
Probably less than a week

[2019-05-26 09:05] NicolaBernini opened #680 "Confidence Level in plot_forest() - A bit confusing label"
Hi everybody,

I'm a bit confused by the az.plot_forest() result : the default label is "94% Credible Interval" hence I was expecting this to be the confidence interval for the mean, like the one returned by [`scipy.stats.bayes_mvs()`](https://docs.scipy.org/doc/scipy-0.13.0/reference/generated/scipy.stats.bayes_mvs.html) whose size scales as the inverse square root of `N` (number of samples) and

[2019-05-26 09:36] ahartikainen commented on #680
It's (marginal) credible interval for the sample.

You can calculate Markov Chain Standard Error with `az.mcse` with `method="mean"`.

[2019-05-26 13:24] aloctavodia commented on #680
In this example `data` is distributed as a normal with mean 0 and standard deviation 1, a 94% credible interval is approximatelly 2 standard deviation (around the mean), and that's exactly what you are observing here.

Your confusion arise because you are expecting to get the hpd of the **distribution of the mean** of `data`, but you are computing the hpd of **the distribution of `data`**.

[2019-05-27 23:31] OriolAbril commented on #501
I checked this a little further, and even though the code may look cleaner, the xarray version runs around 10 times slower in my computer.So I don't think it is worth it. I leave the xarray version (the previous post is already outdated) here just in case:

    log_likelihood = inference_data.sample_stats.log_likelihood
    log_likelihood = log_likelihood.stack(n_samples=('chain','draw'), data_poi

[2019-05-28 01:09] ahartikainen commented on #501
Interesting insight.

I do think maybe the cleanest approach is to implement "unit" functions that take in `(chain, draw)`-shape  or `(chain*draw)`-shape objects, do the function with numpy and then call xarray with ufunc wrapper.

[2019-05-29 01:10] rpgoldman opened #681 "Extensions to the `to_netcdf` docstring"
## Tell us about it

Saving an arviz `inferenceData` object to a file, I was looking at the docstring (on the website) for guidance.  Here are some questions I think would be good to answer in that docstring:

1. The docstring says

   I don't understand what "idempotent" means in this context.  This function should not change the `InferenceData` argument, so what does it mean for it to be idempot

[2019-05-29 03:34] OriolAbril commented on #681
I will try to solve some of the issues, however, it should be clarified when possible in the docstring. I believe the key is to realize that this function has "two" ways of working.

The first and ideal one is to call it on an InferenceData object. In this case, all optional arguments are not taken into account, and the InferenceData object is stored.

The second case is to call it on a numpy arra

[2019-05-29 16:01] rpgoldman opened #682 "to_netcdf fails with error writing PyMC3 trace containing pm.Data as observed"
**Describe the bug**
If one creates a model that has an observed RV, and the observations for that RV are a `pm.Data` object, and one tries to invoke `to_netcdf()` on the resulting arviz `InferenceData` object, you get an error in `ensure_dtype_not_object()`.  Inspection of the backtrace shows that the `InferenceData` object has the *name of the `pm.Data()`* in the observation array, instead of th

[2019-05-29 16:27] ahartikainen commented on #682
Interesting. It should be xarray.

[2019-05-29 16:35] rpgoldman commented on #682
It occurs to me, as I was saying on Slack, that this might be a *symptom* of an underlying bug.  In particular, should these `Data` objects be expanded by `to_pymc3()`? So maybe it's not `to_netcdf()` that needs fixing.

[2019-05-29 16:38] ahartikainen commented on #682
There should not be anything left from pymc in idata

[code]

[2019-05-29 21:00] ahartikainen commented on #682
Nope, I couldn't reproduce this on Windows.

[2019-05-29 21:17] ahartikainen commented on #682
Yes I could reproduce this.

This fails:

    np.array(obs)

This works

    np.asarray(obs.get_value())

[2019-05-30 13:42] #680 closed

[2019-05-30 13:43] aloctavodia commented on #680
closing this but @NicolaBernini feel free to ask more questions if you want.

[2019-05-30 20:55] #654 closed

[2019-05-30 20:56] aloctavodia commented on #94
This have been solved by  #679

[2019-05-30 20:56] #94 closed

[2019-05-30 21:00] aloctavodia commented on #609
Notice that #679 addressed this for the particular case of traceplots

[2019-05-30 21:27] #682 closed

[2019-06-02 12:25] drbenvincent opened #689 "request for Bayes Factor plot"
I wonder whether it would be useful to have a Bayes Factor type plot, like this?
![IMG_4444](https://user-images.githubusercontent.com/6765047/58761225-c23e3e80-8539-11e9-8d9d-176db13e09b5.JPG)

[2019-06-02 14:55] ColCarroll commented on #689
It sounds like there is at least one person who would find it useful, and my impression is that they are standard (if somewhat controversial?)

We can leave this issue open for discussion, or for potential contributors to mention that they are working on it?

As an aside, this is the first time I've seen a sketch as a PR, and I love it.

[2019-06-02 15:45] drbenvincent commented on #689
It's not impossible that I might attempt it. But only after I've actually submitted a bunch of papers, late in the summer.

There's a bit of debate between estimation and CI's vs Bayesian hypothesis testing. I've not really dug into it, but good examples of the pro-estimation approach are:
- Kruschke, J. K. (2011). Bayesian Assessment of Null Values Via Parameter Estimation and Model Comparison. P

[2019-06-03 20:30] fonnesbeck opened #690 "Plots fail when variables added to model post-fitting"
When variables are added to a model post-fitting, plots fail even when the requested plot does not include the additional variable. This is relevant for plotting GP parameters, as the predictive mean is typically added to the model just prior to posterior predictive sampling, since it is not needed until then.

For example,

[code]

But when I try to plot another variable in the model, it looks fo

[2019-06-03 21:38] ahartikainen commented on #690
This is a bug in `from_pymc`.

@ColCarroll @aloctavodia @canyon289 what should be the correct way to handle "missing" data?

[2019-06-04 23:13] OriolAbril commented on #501
I gave some more though to this, because I am using the coords information in pointwise elpd plots, thus I need them to be dataarray objects. Therefore there are 2 options, either leave the calculation with arrays like it is done now and once finished convert it back to dataarray, or do the calculations with dataarrays the whole time (either via apply_ufunc or via xarray internals, preferably appl

[2019-06-05 05:44] canyon289 opened #692 "from_pymc3 fails in certain circumstances"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
[code]

**Expected behavior**
An Inferencedata object should be created
**Additional context**

[2019-06-05 06:15] ahartikainen commented on #692
In this func
[code]

`log_like(point)` returns a 0-dim array (`np.array(num)`), which can't be concatenated.

One option is to wrap that to `np.atleast_1d(log_like(point))`

[2019-06-05 13:34] canyon289 commented on #692
Fix makes sense, but moreso how this started appearing in the scipy tutorial when the env was frozen. Maybe it'll just be a mystery :)

[2019-06-05 14:01] ahartikainen commented on #692
This change comes from pymc, not arviz (?)

[2019-06-05 14:15] canyon289 commented on #692
Tutorial has pinned version? No matter, I'll just fix and move on with life. Thanks @ahartikainen

[2019-06-05 14:31] canyon289 commented on #692
Came from ArviZ. I'll wrap like you suggested

https://github.com/arviz-devs/arviz/commit/95c988839db9791b4c8869cc0e7bf7704c488cb3

[2019-06-05 14:46] ahartikainen commented on #692
True. Ravel makes 0d -> 1d?

[2019-06-08 03:18] ColCarroll commented on #692
Closing since it seems fixed.

[2019-06-08 03:18] #692 closed

[2019-06-09 21:38] #496 closed

[2019-06-09 21:38] #660 closed

[2019-06-11 18:57] rpgoldman opened #703 "Clarify dimensions issues in generate_dims_coords"
In `data/base.py` in `generate_dims_coords()` this warning may be emitted:
[code]

This is problematic because
1. It's only a warning, so we can't get into the debugger to see what's wrong
2. The warning information is insufficient.  At the very least, the `var_name` argument should be added to the warning string, but I think the `dims` should be supplied as well.

One more thing if you are lookin

[2019-06-12 20:02] pindapuj opened #704 "compact is unexpected key word in traceplot"
When I run: `arviz.plot_trace(data,compact=True)`, I receive the following error `plot_trace() got an unexpected keyword argument 'compact'`. However, this argument is clearly listed in the docs and source code.

Would appreciate some insight. Thanks!

[2019-06-12 20:26] ahartikainen commented on #704
Hi, what version do you have? Try updating your version.

    pip install arviz -U

or

    conda update arviz -c conda-forge

[2019-06-13 19:28] rpgoldman commented on #672
Should we use significant digits instead of rounding?

[2019-06-13 23:40] OriolAbril opened #706 "ArviZ global level options"
## Feature Description

There are many options in ArviZ which would be easier to handle as global options. Moreover, having global options in a style similar to matplotlib or pandas can make the experience of using ArviZ easier and better tailored to the end users. These options go from the maximum number of plots (#609) to text formatting options or even the default information criterion.

I beli

[2019-06-18 14:44] pindapuj commented on #704
Updated version and fine! The project's requirements.txt referenced a previous version. Thanks!

[2019-06-18 14:44] #704 closed

[2019-06-18 14:52] aloctavodia commented on #706
I agree with the matplotlib-like version.

[2019-06-19 04:28] OriolAbril opened #711 "Add InferenceData class to docs"
Add the InferenceData class to the docs (in addition to the jupyter notebook tutorials on xarray, concatenation and variable transformation).

This will allow to easily access the docs of InferenceData related methods like `sel` or `concat` and it could also contain examples on common InferenceData object operations (i.e. concatenation of results from multiple runs of the same model, deleting a gr

[2019-06-19 14:25] canyon289 opened #712 "Add skip to animation tests if ffmpeg is not installed"
**Describe the bug**
Running test suite without ffmpeg in environment will raise numerous failures

**To Reproduce**
Steps to reproduce the behavior. Ideally a self-contained snippet of code, or link to a notebook or external code. Please include screenshots/images produced with ArviZ here, or the stacktrace including `arviz` code to help.

<img width="1038" alt="image" src="https://user-images.gi

[2019-06-21 20:53] ahartikainen commented on #553
Closed by https://github.com/arviz-devs/arviz/pull/691

[2019-06-21 20:53] #553 closed

[2019-06-21 20:59] ahartikainen commented on #519
Partially closed by https://github.com/arviz-devs/arviz/pull/709

Other cases are "too hard" to have general solution.

For example, how should variables behave if they are missing the selected axis.

In future, if there is demand, we can create a convenience function to handle concat, where user supplied function is applied against all groups ::: not sure if this is really doable.

[2019-06-21 20:59] #519 closed

[2019-06-21 21:00] #501 closed

[2019-06-21 21:07] #331 closed

[2019-06-21 21:11] ahartikainen commented on #289
Fixed by https://github.com/arviz-devs/arviz/pull/623

[2019-06-21 21:11] #289 closed

[2019-06-21 21:14] #139 closed

[2019-06-21 21:18] ahartikainen commented on #226
I have the same question?

But there are things where we need actually need to add some logic

    lw, linewidth, linewidths

[2019-06-21 21:18] ahartikainen commented on #395
Is this still an issue?

[2019-06-21 21:19] ahartikainen commented on #390
Fixed by #624

[2019-06-21 21:19] #390 closed

[2019-06-21 21:25] ahartikainen commented on #603
We already have khat calculation, but I think the method needs refitting the model multiple times.

So we would need to add `loo`-kind function, that does not do refit, but outputs information for the conditions how to select data? And then some other function that summarises the procedure?

Is there a way to create function wrapper that does this automatically with all the libraries we have?

[2019-06-21 21:28] ahartikainen commented on #595
We need a more flexible selection for the variables, but not sure what would be our best option for the API.

@OriolAbril did we have any update on this issue?

[2019-06-21 21:29] ahartikainen commented on #580
This needs more flexibility, some "hidden" kwarg or global kw that defines what information should go with the variable.

[2019-06-21 21:36] OriolAbril commented on #603
I think that the algorithm linked is approximate LFO-CV, using PSIS. It is similar to PSIS LOO-CV, but it takes into account the time dependency. Figure 3 in the paper is probably a good summary.

[2019-06-21 21:43] ahartikainen commented on #603
Yes, but it still needs refitting right?

[2019-06-21 22:12] OriolAbril commented on #595
This issue is actually due to indexing properties of xarray. Simple ArviZ unrelated example below:

[code]

To actually select a subset of a DataArray or Dataset based on a coordinate with repeated index values, `where` must be used.

[code]

We could discuss on how to implement this into ArviZ, but I don't really see how. For now it must be done by the user before calling ArviZ functions. I guess

[2019-06-21 22:29] OriolAbril commented on #603
Yes, I missed the initial refit reading in diagonel. We can look a little into it and make some experiments though, to see to which extent is refitting necessary. In the paper they say that in many cases one refit (using only the first L points can be enough), thus, if this covers a wide enough range of cases, it may be useful to implement, and require 2 inference data objects as input, the fit on

[2019-06-22 05:21] mitzimorris commented on #673
CmdStanPy is very beta, alas.  PR https://github.com/stan-dev/cmdstanpy/pull/43 was a refactor which eliminated object `PosteriorSample` and made some of its member functions into first-class functions.  Instead of a `PosteriorSample` object, function `sample` returns a `RunSet` object.    Need to update `from_cmdstanpy` accordingly.

[2019-06-22 06:16] ahartikainen commented on #673
Yes, I can make the changes.

Did cmdstanpy have functionality to read csv to Runset?

[2019-06-22 13:41] mitzimorris commented on #673
Yes, the RunSet object parses the csv and populates the following properties:

+ `draws` - number of draws per chain  (sampling iterations)
+ `columns` - total number of columns in the csv output - includes sampler state as well as model parameters, transformed parameter and generated quantities variables
+ `column_names` - csv column headers
+ `sample` - a 3-D numpy ndarray which contains all dra

[2019-06-22 14:34] #336 closed

[2019-06-22 15:03] mitzimorris commented on #673
Reading through `arviz/data/converters.py` -
I think that you only need to change `PosteriorSample` to `RunSet` in the the following 2 lines:
[code]

[2019-06-22 19:03] mitzimorris commented on #673
tried this out locally and then ran the CmdStanPy tutorial notebook, adding the following - it just works!
<img width="1248" alt="arviz_from_cmdstanpy" src="https://user-images.githubusercontent.com/5466612/59967878-dbb22500-94fe-11e9-9c0d-e88fa817d297.png">

[2019-06-22 19:05] ahartikainen commented on #673
Yes, I tried it too, we only need to change `PosteriorSample` to `RunSet`.

[2019-06-25 18:31] OriolAbril opened #719 "Testing of interactive plotting features"
PR #700 introduced the option `hover_label`, which shows the label of a datapoint when the user hovers over it with the mouse. For now, this feature is not tested in CI, because it requires an interactive backend.

## Thoughts on implementation

Add one extra job skipping all tests except the interactive ones? It would require to somehow fake the hover action too, as part of the code is only execu

[2019-06-26 18:15] jeffpollock9 commented on #456
@ahartikainen any updates on this? Here is an example of running 1 chain vs 3 chains which hopefully answers your question.

I'm not 100% sure about this but I think it might be hard to automatically tell which dimension represents chains with TFP, I think it depends on how the user has chosen to run multiple chains via extra dimensions in `initial_state`.

In the very least, the first dimension r

[2019-06-26 18:24] ahartikainen commented on #456
Nothing new yet.

The current master branch has `az.concat` that can be used againts `draw` or `chain` dim to concat multiple InferenceData objects.

For tfp we could add extra kw (chain_idx) which by default could be None or 1 or something suitable. Then users could manually change it. It could even eat dictionary with varnames as keys.

[2019-06-26 18:29] jeffpollock9 commented on #456
Thanks for the quick reply! I'll check out `az.concat`. Let me know if there is anything I can do to help (not that familiar with `arviz` but I could probably provide some TFP help).

[2019-06-26 19:02] ahartikainen commented on #456
It would be interesting to see a few different examples with nD (n=2, 3) variable and how increasing chains  (in different positions).

Also is there any heuristics that could be used to solve the location and num of chains.

If you want, you could try to fix this with a PR. I think together with arviz team we can make it work.

[2019-06-27 15:46] canyon289 commented on #226
This is fixed

[2019-06-27 15:46] #226 closed

[2019-07-04 01:27] #2 closed

[2019-07-04 01:30] ColCarroll commented on #2
I'm leaving this closed as out of date, but feel free to reopen if there is interest in taking it up.

Also of interest, it closed because of
![image](https://user-images.githubusercontent.com/2295568/60633645-aef0ee00-9dd9-11e9-980b-0c99a7b744e7.png)
:joy:

[2019-07-04 21:27] ColCarroll opened #726 "Geweke and numba problems"
**Describe the bug**
It looks like this is two problems:
1. Calling `az.geweke` throws a bunch of numba warnings
2. Even if numba is disabled, the warnings get thrown, which makes me think it is not respecting the numba flag

**To Reproduce**
[code]

Here's the warning:
[code]

**Expected behavior**
I think *with* numba enabled, no warning should be emitted (that might be my installation, and a nu

[2019-07-04 21:27] ColCarroll commented on #726
(tagging @Ban-zee, who might have thoughts on this)

[2019-07-04 22:27] ahartikainen commented on #726
What numba version do you have?

[2019-07-04 22:32] ColCarroll commented on #726
0.44.1

[2019-07-04 22:36] ahartikainen commented on #726
I had 0.42 and there were no warnings. After update, I see many warnings :)

[2019-07-04 22:45] ahartikainen commented on #726
Ok, at least warnings are fixable, just some typing wrapping apparently

https://numba.pydata.org/numba-doc/dev/proposals/type-inference.html

Now the leakage... let's see

[2019-07-04 22:55] ahartikainen commented on #726
[code]

Conditional jit should have numba check before wrapper is called? Or called? Now it returns numba function if it's installed.

[2019-07-05 18:22] Ban-zee commented on #726
Working on it.

[2019-07-07 09:24] ahartikainen commented on #599
Is this fixed?

[2019-07-07 09:25] ahartikainen commented on #609
Is this fixed?

[2019-07-07 09:26] ahartikainen commented on #666
Was this fixed?

[2019-07-07 10:21] OriolAbril commented on #609
Not really, it is only fixed for `plot_trace` and should be done with all plots and with global options, not function specific.

[2019-07-08 21:02] ahartikainen opened #732 "Older pymc3 compatibility"
Is current master (git) compatible with latest released pymc3? Due to posterior predictive sampling and `keepsize` parameter.

Can we add manually fix this, e.g. transforming posterior predictive shape for older pymc3?

[2019-07-08 21:05] ahartikainen opened #733 "Add rank in compare dataframe"
Compare dataframe should contain rank column, which would make the order or models explicit.

Deviance vs log -scales have a different sign and it can be confusing to remember which one is the best. And even harder if user resorts the rows.

[2019-07-08 21:08] OriolAbril commented on #732
The handling of posterior predictive samples in `from_pymc` considers 3 cases:
* ideal "old" pymc: if the first dimension is equal to `nchains*ndraws` it reshapes the array, to fit ArviZ way.
* "new" pymc: if the first dimensions are `chain, draw` it converts to dataset right away.
* non ideal case: otherwise, it sends a warning and all posterior predictive samples are stored as `chain=0`

As the

[2019-07-08 21:28] ahartikainen commented on #732
Ok, this is great news.

My tests were failing locally.

Closing this one.

[2019-07-08 21:28] #732 closed

[2019-07-08 21:32] ColCarroll commented on #732
For what it is worth, I updated the posterior predictive sampling in PyMC3. The "new" behavior by default gives you posterior predictive samples in the exact order as your posterior samples, so you can do joint/marginal plots.

[2019-07-08 21:37] OriolAbril commented on #732
Could it be you had an old pymc version? If I remember correctly I added no skipif so it probably tried to use keepsize and raised an error due to nonexisting parameter.

@ColCarroll Yes! I saw that, otherwise it would not have made any sense to assign posterior predictive samples to a given chain and draw. Made my life much easier, thanks!

[2019-07-08 22:19] ahartikainen commented on #732
My pymc3 is from pip

[2019-07-10 22:03] #599 closed

[2019-07-11 03:11] canyon289 commented on #666
This is not fixed

[2019-07-11 21:29] #80 closed

[2019-07-11 22:31] #621 closed

[2019-07-12 01:01] ColCarroll commented on #726
Fixed by #728

[2019-07-12 01:02] #726 closed

[2019-07-12 15:53] canyon289 opened #740 "az.compare fails for pymc3 mixture models"
**Describe the bug**
<img width="840" alt="image" src="https://user-images.githubusercontent.com/7213793/61141152-c5eeaa80-a481-11e9-87f3-03eedfc23b78.png">

I believe it's because of the extra coord in ic
<img width="587" alt="image" src="https://user-images.githubusercontent.com/7213793/61141476-8aa0ab80-a482-11e9-8ad5-6441f7d514e9.png">
**To Reproduce**
[code]

**Expected behavior**
Comparison

[2019-07-12 23:27] #733 closed

[2019-07-13 00:01] StevenLi-DS opened #745 "AttributeError: module 'arviz' has no attribute 'plot_mcse'"
`version: '0.4.1'`

The following code:
[code]
Returns:
[code]

I checked `dir(az)`, and it seems like there's no `plot_mcse` function.

[2019-07-13 00:49] OriolAbril commented on #745
For now, `plot_mcse` is only present in the development version, it is not yet in the stable version.

There are instruccions on how to install the development version in the [README](https://github.com/arviz-devs/arviz/blob/master/README.md#development)

[2019-07-13 01:27] #745 closed

[2019-07-13 13:15] #242 closed

[2019-07-13 13:42] Ban-zee opened #747 "Regarding plot_violin and numba"
## Short Description

Should we be using `normed=True` in `cat_hist` of `plot_violin` given that it has been deprecated already?

Plus, numba is compatible with only the first three arguments of `np.histogram`, namely `data`, `bins` and `range`.

[2019-07-13 20:09] ColCarroll opened #749 "Prior-Posterior Plot"
Worked on an example with @raulpl to display how the prior changes after running inference. Here is an example with code!

[code]
![image](https://user-images.githubusercontent.com/2295568/61176070-27953e80-a580-11e9-952e-b5c4bc568760.png)

[2019-07-13 20:16] ColCarroll commented on #749
Note this also might be used for something like prior/posterior predictive/observed. Here we see that the Cauchy prior for number of goals scored might be inappropriate!

![image](https://user-images.githubusercontent.com/2295568/61176152-34666200-a581-11e9-8124-b76be09f4266.png)

[2019-07-13 21:51] RaulPL opened #751 "Strange plotting behavior in the plot_ppc function"
**Describe the bug**
I'm trying to plot the posterior predictive of the rugby dataset against the observed data but I get a strange plot that looks like this:

![image](https://user-images.githubusercontent.com/3116652/61176682-9aa3b280-a58a-11e9-826e-a45a2d4c4359.png)

**To Reproduce**
I use the following code to generate the image:
[code]

**Expected behavior**
I think I should get a a plot simi

[2019-07-13 23:06] RaulPL commented on #751
I think I found the source of the problem, in this [line](https://github.com/arviz-devs/arviz/blob/master/arviz/plots/ppcplot.py#L328) the number of bins (nbins) is a function of the number of samples in the chains (which is usually big), I think it should be a function of the number of observations (obs_vals)  like in the rest of the function. This change fixed the previous plot
[code]
![image](h

[2019-07-14 13:13] #740 closed

[2019-07-14 15:58] ColCarroll opened #754 "Use `njit` instead of `jit` for numba functions"
Numba devs suggested using `numba.njit` (which is shorthand for `numba.jit(nopython=True)`), especially if we are only optionally activating numba.  @Ban-zee, not sure if you have looked at this?

[2019-07-14 17:00] Ban-zee commented on #754
The conditional jit uses it by default.

[2019-07-14 17:14] ColCarroll commented on #754
https://github.com/arviz-devs/arviz/blob/master/arviz/utils.py#L88

Maybe I broke it then? Looks like it is regular jit.

[2019-07-14 17:28] Ban-zee commented on #754
We should leave it as such as I use object mode to lift the loops. I'll just pass `no-python=True` in the required places.(This is also not needed as Numba defautls to `no-python` mode and throws a warning if it falls back on object mode).

[2019-07-14 17:50] ColCarroll commented on #754
:+1: i'll close this then -- thanks for looking at it.

[2019-07-14 17:50] #754 closed

[2019-07-15 11:03] #666 closed

[2019-07-15 11:18] ahartikainen commented on #220
I think we should have some special group that contains model specific information.

{library, version, algorithm, init settings}

This is to make sampled data "reproducible" or at least in mcmc sense. So we could have "generic" kw and then special kw for library specific settings.

For Stan this could include stan model + cppcode, init info, warm-up info (inv_metric, stepsize, starting location f

[2019-07-15 11:57] ahartikainen commented on #329
Fixed by https://github.com/arviz-devs/arviz/pull/746

[2019-07-15 11:57] #329 closed

[2019-07-15 17:56] jsevo opened #756 "plot_forest extension to allow plot_kde with quantiles"
Hi,

Thanks for your great work on this. I am happy to help in the future. I think a great addition to the plot_forest function using ridge plot would be to allow plotting KDEs with quantiles indicated.

With any simple trace, this code would get at it but is not polished:

[code]

[2019-07-17 17:46] OriolAbril commented on #740
@canyon289 I was thinking today, and do we really want `from_xyz` methods to return datasets with length 1 dimensions? We could add a squeeze in `from_pymc3` before converting to dataset.

[2019-07-21 04:30] #673 closed

[2019-07-21 08:32] mitzimorris opened #760 "outdated docstring for io_cmdstanpy.from_cmdstanpy"
**Describe the bug**

The docstring comments need to be updated to current (and relatively stable) version
of CmdStanPy -  comments on lines 294 - 303 refer to PyCmdStan

The code itself is correct and tested by PRs https://github.com/arviz-devs/arviz/pull/758 and https://github.com/arviz-devs/arviz/pull/759

[2019-07-21 08:34] ahartikainen commented on #760
Hi, thanks for noticing. Let's fix these.

[2019-07-21 15:05] #747 closed

[2019-07-21 15:06] #760 closed

[2019-07-24 16:25] aakhmetz opened #766 "pm.compareplot gives error "KeyError: 'pwaic'" while creating axis labels"
**Describe the bug**
Using recent update by conda I have got an unexpected error from compareplot.

**To Reproduce**
the code
[code]
shows the plot but gives an error while trying to display the axis labels
[code]

**Expected behavior**
I haven't had such problem before

**Additional context**
[code]
installed by conda (python 3.7.3, macOS)

[2019-07-24 16:31] OriolAbril commented on #766
It looks like this issue is due to plots having already been delegated to ArviZ whereas stats and diagnostics have not been delegated yet. Have you tried `az.compare` instead of `pm.compare`? (using `az.plot_compare` and `pm.compareplot` is equivalent so there should be no need to modify that).

[2019-07-24 16:35] aakhmetz commented on #766
@OriolAbril Yes, I think you are in the right directioin of thinking.

If I use arviz directly as
[code]
ir gives another error
[code]

[2019-07-24 16:37] OriolAbril commented on #766
And the other way around? `az.compare` and `pm.compareplot`?

[2019-07-24 16:42] aakhmetz commented on #766
Another way around works, but (i) a previously used parameter ```ic='WAIC'``` is not accepted anymore, and (ii) the resulting ```summary``` and ```compareplot``` have something wrong with their labels (e.g. **<pymc3.model.Model object at 0x1c4176d438>** is shown instead of a model name)

[2019-07-24 16:46] OriolAbril commented on #766
I am checking the source code for both libraries, and it looks like updating ArviZ would solve your problem. This should be fixed starting from ArviZ 0.3.3

[2019-07-24 16:52] OriolAbril opened #767 "Summary shows coordinates without dims as data_vars"
**Describe the bug**
xarray allows to include coordinates without dimensions, which are treated incorrectly as variables by summary when converting to dataframe.

**To Reproduce**
[code]

which prints:

[code]

**Expected behavior**
Both datasets yield the same summary dataframe.

**Additional context**
Working on development version ArviZ.

[2019-07-25 00:32] aakhmetz commented on #766
@OriolAbril Thanks for checking and for your time! I will be waiting for the next update then

[2019-07-25 00:32] #766 closed

[2019-07-25 11:35] aakhmetz commented on #766
@OriolAbril Yes, I checked with ArviZ 0.4.1 today, and it worked smoothly. Thank you again

[2019-07-29 17:48] fonnesbeck opened #772 "summary throws error on missing variables while plots do not"
There is an inconsistency across functions as to how ArviZ handles `var_names` that don't exist in the model. Plots simply ignore them; the following model actually has no `s_γ' variable, but `plot_trace` simply ignores it and plots the rest:

    az.plot_trace(trace, var_names=['m_μ', 'm_β', 's_μ', 's_β', 's_γ', 'σ', 'ν']);

whereas, the same arguments passed to `summary` throws a `KeyError`:

[2019-07-30 21:31] ahartikainen commented on #391
I think this is fixed by #490

[2019-07-30 21:31] #391 closed

[2019-07-31 14:28] OriolAbril commented on #220
I think there are 2 different kinds of data involved whose possible names could be `model_parameters` and `sampling_parameters`/`sampler_parameters` (or maybe params to make it shorter). In my opinion, both additions to the InferenceData object would be really valuable.

### Model parameters
These would be parameters of the model which is not actually observed data but they are needed to run the m

[2019-07-31 16:05] ahartikainen commented on #220
For merging, let's just decide a good way to do it (e.g. iloc 0 to 1000 ... pystan infom 1000 to 2000 pymc info if combining pystan + pymc. Then just keep on updating this depending how we concat. Slicing adds some extra complexity)

[2019-07-31 17:56] #767 closed

[2019-07-31 23:42] OriolAbril commented on #751
@RaulPL fixed this in #752!

[2019-08-01 16:34] Ban-zee opened #782 "A better way to benchmark the speed tests"
The benchmark tests which are in use now can be improved much more. Importing arviz into the benchmark tests throws the following error:

![Screenshot from 2019-08-01 21-45-25](https://user-images.githubusercontent.com/29407246/62310652-9858b800-b4a7-11e9-8af1-1d4692b6a096.png)

The workaround right now is to include only the jitted methods in `benchmarks.py`. It is indicative of the extent of the

[2019-08-02 07:39] #609 closed

[2019-08-02 07:39] #706 closed

[2019-08-02 17:54] #772 closed

[2019-08-04 20:09] #751 closed

[2019-08-07 10:20] sameshl commented on #703
I would like to work on this. Even I am a bit confused on how I should go ahead with this. Can someone clarify on this?

[2019-08-07 11:41] OriolAbril commented on #703
I think the warning issue was solved in #707. The docstring clarification is still pending though (@rpgoldman please confirm). I agree that the function argument names are not very intuitive and the docstring is not 100% clear, we can discuss here on different names and explanation and then modify the docstring and or arguments.

If it helps, I will try to explain the role of `default_dims`. This

[2019-08-07 17:24] OriolAbril opened #786 "Parallelizing ArviZ: Dask compatibility"
Currently, ArviZ does not try to parallelize its functions in order to improve performance. It would be great to combine the speed-ups from using Numba with parallel computation using Dask _if desired_. Citing [xarray docs](http://xarray.pydata.org/en/stable/dask.html):

Both arguments about parallelization and about arrays not fitting in memory are relevant to ArviZ. Moreover, Dask may become a r

[2019-08-07 17:50] OriolAbril commented on #220
@aloctavodia proposed `constants` for what I described as `model_parameters` and it sounds better to me.

[2019-08-07 18:14] ahartikainen commented on #786
rcParam for dask?

Some function to translate idata to dask

Some function to set dask rcParam -> also set if return dask graph or evaluate

Also, see summary func, it already contains the main calculations in one func.

For rhat, ess etc, we can add .compute based on rcparams

[2019-08-09 05:37] #661 closed

[2019-08-09 10:25] evitaka opened #789 "plot_ppc - ax argument not recognised"
**Describe the bug**
When I use the plot_ppc() method and I want to set the axes object as an argument of the method, I get an error that this argument is not recognised. However, the [API reference](https://arviz-devs.github.io/arviz/generated/arviz.plot_ppc.html#arviz.plot_ppc) for this method clearly states that this argument is supposed to be there for this plot method.

**To Reproduce**
`impo

[2019-08-09 10:33] OriolAbril commented on #789
Hi, thanks for the issue!

The `ax` argument in `plot_ppc` was added recently (in #773) and is not present yet in any release. It is in the docs because the docs refer to the development version. You can install the development version with `pip install git+git://github.com/arviz-devs/arviz.git` which should solve the problem.

If you have any other issue or this does not fix the problem, please c

[2019-08-12 14:43] OriolAbril opened #792 "Integrate new parameters as az.rcParams"
## Extend `az.rcParams`

Global options were recently added to ArviZ (see #734) following matplotlib's implementation. Currently though, only 3 parameters are integrated with ArviZ code. This issue can serve two purposes, first to list and keep track of possible rcParams ideas, and second point out that many of them are up for the grabs and to give some basic directions on implementation of new rc

[2019-08-12 15:00] ahartikainen commented on #792
`data.stan_log_likelihood` -> `data.elementwise_log_likelihood`/ `data.elem_log_likelihood`

Also other future methods with dictionary input could use it. Should the default be None

[2019-08-13 12:56] aloctavodia commented on #789
I will close this issue, but @evitaka feel free to keep posting

[2019-08-13 12:56] #789 closed

[2019-08-13 18:09] rpgoldman commented on #703
Yes, that is correct.  But, again, shouldn't this be an error, instead of a warning?  Maybe a `ValueError`? I guess since we can muscle our way through, but give uglier output, a warning is OK?

Yes, confirmed.

I agree that the function argument names are not very intuitive and the docstring is not 100% clear, we can discuss here on different names and explanation and then modify the docstring an

[2019-08-13 20:05] ahartikainen commented on #662
Hi, when we have some time, I think this is something we probably need.

Some functional form to use (at least predefined settings)

    lower | diag | upper

[2019-08-13 20:13] hectormz commented on #662
I think this fell off my radar after waiting for `.sel()` mentioned above. I can revisit where I left it, or @OriolAbril can finish it too if interested

[2019-08-13 20:17] ahartikainen commented on #662
yeah, no hurry, but I think this is one plot type we are missing.

Basically I would be happy with

lower = scatter
diag = posterior
upper = stats (cross correlation, mean (vector), sd (vector))

[2019-08-16 21:09] OriolAbril opened #796 "Move pointwise log likelihood data to log_likelihood group"
Following #794,  log likelihood data should be moved to the new `log_likelihood` group of the inference data objects. PyStan, PyMC3, emcee and dict have been updated in the PR, cmdstan, cmdstanpy, pyro and numpyro are still pending. For users familiar with the libraries it should be an achievable issue.

[2019-08-16 21:16] ahartikainen commented on #796
I can probably fix cmdstanpy / cmdstan after 794 is merged

[2019-08-16 22:22] OriolAbril commented on #609
For future reference, this issue was actually fixed in #787.

[2019-08-18 08:53] treszkai commented on #689
We should keep in mind that this ArviZ not only allows people to plot the things they want to, but it also shapes how people think about statistical plotting (or it will in the future). So the question is if we think Bayesian hypothesis testing against a point parameter value is useful. Some arguments against this method are:
 - BF is quite sensitive to the prior on the parameter.
 - Testing again

[2019-08-23 04:09] aakhmetz opened #799 "pm.compare seems not compatible with az.plot_compare"
If I try to run two following commands
[code]
I get the error:
[code]

Both pymc3 and arviz are the latest from github (using pip command)

[2019-08-23 04:57] aakhmetz opened #800 "shape problem while calculating WAIC values by arviz.compare command"
There is something wrong with shape while calculating WAIC values. The code works when I use ```pm.compare``` command from pymc3, but it does not if use arviz package.

The error happens because the considered models contain a parameter that is different in dimmensions between models (e.g. it has a changepoint, so for some models with one changepoint that parameter is with shape (,2), for some mod

[2019-08-23 14:35] OriolAbril commented on #800
I am reading from my mobile so I am not really sure, but it looks like the same issue as #740. Have you tried executing this on the development version of ArviZ?

[2019-08-23 15:28] aakhmetz commented on #800
@OriolAbril Thank you - I will check tomorrow (I thought that I had the developmental version, and the error disappeared at one moment, but then re-appeared. However, today I had kind of mess with my packages at work).

#740 looks quite relevant

[2019-08-25 21:47] canyon289 commented on #799
Just to double check can you check what columns exist in `df_comp_WAIC` to see if somehow waic or loo are being omitted?

[2019-08-26 20:46] drbenvincent commented on #689
Well I guess this just highlights that there is a debate between parameter estimation vs treating specific values as special. I was previously very much in the parameter estimation camp, but then got convinced that there is some usefulness in evaluating point hypotheses with Bayes Factors sometimes. I am not a statistician, so I can't really contribute to that debate as such. But Bayes Factors do

[2019-09-01 08:10] MiloVentimiglia opened #802 "TypeError: convolve() got an unexpected keyword argument 'method'"
When I try to plot a traceplot with arviz I get an error. I have updated all packages and dependencies but to no avail.

For example, if I run the following script:
-----------------------------------------------------------------------------------------------------------------------
import numpy as np
import pymc3 as pm
import matplotlib.pyplot as plt
from scipy.stats import norm
import arviz as

[2019-09-01 08:21] ahartikainen commented on #802
What scipy version do you have?

    import scipy
    print(scipy.__version__)

[2019-09-01 08:22] MiloVentimiglia commented on #802
print(scipy.__version__)

0.18.1

[2019-09-01 08:24] MiloVentimiglia commented on #802
pymc3 version: 3.7
arviz version: 0.4.1

[2019-09-01 08:42] AlexAndorra commented on #802
Hi! I think @ahartikainen is spot on: I just tried your code with scipy 1.2.1 and it runs smoothly. Does it work for you when you update scipy?

Also, I'm not sure you need the `start = pm.sample()` and `step = pm.NUTS()` lines: I think the first one is already runing MCMC a first time, and the second one is redundant in the sense that NUTS is PyMC's default sampler. So I'd say just `trace = pm.sa

[2019-09-01 08:53] MiloVentimiglia commented on #802
It works! Many thanks!

[2019-09-01 08:53] #802 closed

[2019-09-01 09:10] ahartikainen opened #803 "Update requirements"
Update minimum requirements

- scipy: `convolve(..., method)`

Add optional options for pip
- test
- all (?)

Do we have optional dependencies? Numba?

[2019-09-02 13:51] Ban-zee commented on #803
Numba can be added as an optional depedency.

[2019-09-02 15:31] aakhmetz commented on #800
Yes, it looks working fine after the update. @OriolAbril, thank you for checking!

[2019-09-02 15:31] #800 closed

[2019-09-02 16:04] OriolAbril commented on #800
Happy to help!

[2019-09-04 18:20] mfansler commented on #395
@ahartikainen, yes. As of PyMC 3.7 and ArviZ 0.4.1, the same errors are thrown.

[2019-09-06 13:56] canyon289 commented on #456
From @junpenglao in regards to batch shape

[2019-09-07 21:51] fehiepsi opened #810 "[FR] Support data from NumPyro"
## Tell us about it

Currently, we developed [numpyro](https://github.com/pyro-ppl/numpyro) as an alternative back-end to Pyro. The output of MCMC in numpyro is a numpy array so we can use `from_dict` api to convert to arviz inference data. However, we also allow users collect other fields such as `potential_energy`, `step_size`, `num_steps`,... which have different names in arviz. So it would be

[2019-09-08 05:33] ahartikainen commented on #810
Yes, this sounds great.

[2019-09-10 08:31] junpenglao opened #812 "Clean up TFP io"
- [ ] Update `io_tfp` to TF2.
- [ ] Use official TFP API like jointdistribution* and move Edward to `io_edward2`
- [ ] Ordering of chain and sample (see also https://github.com/arviz-devs/arviz/issues/456)
- [ ] Mapping of sample/diagnostics to a dict, currently it is possible with user code like https://gist.github.com/junpenglao/51cd25c6372f8d2ab3490d4af8f97401, however, the difficult here is th

[2019-09-10 08:39] junpenglao commented on #639
close by #780

[2019-09-10 08:49] #639 closed

[2019-09-10 16:27] tuchandra opened #813 "[FR] Add ax argument to plot_forest"
## Tell us about it
I've seen a couple of pull requests adding an `ax` argument to various `plot_X` functions (#773, #653, #162). This enables plotting on existing axes, giving users greater control of the plots (e.g., putting multiple plots in the same figure). Would it be possible to do this for `plot_forest` as well?

## Thoughts on implementation
I don't have much here. I don't think that I wo

[2019-09-12 05:45] fehiepsi commented on #810
Update TODO tasks from #811

- [ ] compute obs's log_likelihood from posterior
- [ ] get observed data from posterior
- [ ] improve the schools test (the fix is available at https://github.com/pyro-ppl/numpyro/pull/332)

All of these are blocked by the next NumPyro release.

[2019-09-16 17:19] rpgoldman opened #821 "Clarify usage of `plot_joint`"
## Short Description

The description of how to use `plot_joint` is not very clear about the use and meaning of parameters.

This is partly a usage question and partly a request for documentation improvement.

## Code Example or link

Looking at the docs for `arviz.plot_joint`, I see this:
[code]
But then when I look at the example, I see this:
[code]
So … what is an “iter of 2”? `['theta']` is no

[2019-09-17 21:51] rpgoldman opened #822 "from_pymc3 errors out when given no trace"
**Describe the bug**

If I invoke `az.from_pymc3(None, prior=prior_trace)` arviz raises an error.

**To Reproduce**
Here's a simple way to reproduce this:
[code]

Here's the backtrace:
[code]

**Expected behavior**
Arviz should have created and returned an `InferenceData` object with only a `prior` group in it.

**Additional context**
Arviz 0.5.1

[2019-09-17 21:57] rpgoldman commented on #822
Also note: I tried to see if I could create the `InferenceData` by passing the prior in *as if it were the posterior*.  This also fails, seemingly because arviz assumes that the first argument will be either a `pm.MultiTrace`, or a list thereof:
[code]

[2019-09-17 22:03] OriolAbril commented on #822
My bad, I will try to fix it right away.

[2019-09-18 21:17] rpgoldman opened #826 "How should we use constant_data, specifically from PyMC3?"
## Short Description

The latest version of arviz has `constant_data` in the `InferenceData` object.  I assume that this is intended to support plotting regressions by allowing us to add predictors to `InferenceData`.

As far as I can tell from reading the data, the only thing that will show up in this group is the set of variables in the model that are **not** contained in the set of default varn

[2019-09-18 21:57] rpgoldman opened #827 "Please add the ability to specify the grid for plots"
## Tell us about it

I have a set of *n* variables that all have a single dimension of size four.  I would *really* like to plot them on an *n x 4* grid.  But In plot density, I see that it's hard-coded in `plot_density` that the maximum number of columns is 3:
[code]
It would be great if we could specify the grid for this.

The more specific the better. You can assume you have access to any combi

[2019-09-19 07:36] OriolAbril commented on #826
Yes, the logic behind this is that if there are `pm.Data` variables which are not observed variables, they will probably be predictors, so they are automatically loaded into `constant_data` group. Therefore, _iff_ you want the predictors to be loaded directly into the `InferenceData` object using only `from_pymc3` they should all be `pm.Data`.

In order to store **any** set of predictors whether t

[2019-09-19 18:04] rpgoldman opened #829 "Can't change predictors in posterior_predictive trace"
**Describe the bug**
A common thing to want to do is to train a model, and then use posterior predictive sampling to predict responses to new predictor values.
As far as I can tell, this cannot be done with the present version of Arviz.

Why is this?  Because when one builds an `InferenceData` object with a posterior trace and a posterior predictive trace that has a different set of predictors, th

[2019-09-19 19:44] ahartikainen commented on #829
Can you give an example?

What I think, is that there should be 1to1 relation between `posterior` draws and `posterior_predictive` "draws".

And similar thing applies to `prior` and `prior_predictive`

Currently we also have "1to1" relation with `posterior_predictive` and `observed_data`.

What you want is to also have other "unseen" `posterior_predictive` values --> yes I think we are missing thi

[2019-09-19 19:54] rpgoldman commented on #829
Sure, here's my exact example:

I have data from synthetic bio experiments where different strains of cells are grown under different growth conditions.  The output measure is fluorescence, measured by flow cytometry.

So the predictors/independent variables are strain, growth conditions (temperature, growth medium, and population density).

I train on a large set of samples/rows, so I have a set

[2019-09-19 20:01] rpgoldman commented on #829
Here's a graphviz diagram of the model.
[model.dot.txt](https://github.com/arviz-devs/arviz/files/3632976/model.dot.txt)

[2019-09-19 20:56] rpgoldman commented on #826
Actually, I think that PyMC3's `pm.Data` objects are specifically designed to enable programmers to change the predictors and re-run the model.

If we are doing posterior predictive sampling with different predictors to, for example, generalize to conditions we have not seen, we cannot simply make a new, different model, or a new `InferenceData` (since the structure of the `InferenceData` object d

[2019-09-19 22:28] OriolAbril commented on #829
I took the liberty of generating a somehow simpler example to help with my views on the topic. To begin with, I do like the 1to1 relation @ahartikainen was talking about and I would like to keep it and enforce it, that it is difficult (or not even possible) to store predictions on different predictors than the ones used when calculating the posterior is indeed good. What is not good is ArviZ not h

[2019-09-25 19:42] aloctavodia commented on #513
pymc-devs/pymc3#3498

[2019-09-26 11:57] #513 closed

[2019-09-30 14:08] julian-pani opened #837 "plot_trace with `combined=True` to have alternating colors and labels"
## Tell us about it

I'm very new at this, so not sure how much this problem is relevant for other users.
When using `plot_trace` with `combined=True`:
[code]
the lines come up in the same color and without labels, so it's hard to differenciate between them
![Screenshot from 2019-09-30 17-06-18](https://user-images.githubusercontent.com/8047789/65886247-aa21e300-e3a4-11e9-9e59-4194e5fcb6dd.png)

I

[2019-10-03 04:35] canyon289 commented on #782
@Ban-zee Is this still an open issue?

[2019-10-03 04:37] canyon289 commented on #672
@aloctavodia or @rpgoldman
Is this still an issue?

[2019-10-03 11:21] #672 closed

[2019-10-03 15:29] OriolAbril commented on #803
I think this was already solved in #804 actually. @ahartikainen

[2019-10-03 16:01] ahartikainen commented on #803
Still need fix here

https://github.com/arviz-devs/arviz/blob/master/setup.py

[2019-10-04 08:24] Ban-zee commented on #782
Yes

[2019-10-04 23:03] andy6975 commented on #301
Is this issue open for work? I would like to work on it. Thanks!

[2019-10-04 23:04] andy6975 commented on #339
Is this issue open for work? I would like to work on this. Thanks!

[2019-10-04 23:11] ColCarroll commented on #301
Thanks for checking -- I just reran the initial code, and it now works with a little tweak:

[code]

![image](https://user-images.githubusercontent.com/2295568/66245273-9f778e80-e6c1-11e9-8349-016a48aaa285.png)

[2019-10-04 23:11] #301 closed

[2019-10-05 00:38] aloctavodia commented on #339
Yeah, this is still an issue. Thanks for your offer.

[2019-10-09 02:56] fehiepsi opened #841 "Effective sample size computation"
## Short Description

The effective sample size in ArviZ is quite different from the reported one in Stan.

## Code Example or link

This [gist](https://nbviewer.jupyter.org/gist/fehiepsi/fe5fc248c3bfd0b1337b0b053f1245dc) shows this inconsistency, where n_eff in Stan is 2-3 times greater than ArviZ.

We are not sure if it is expected and which number we should report. Could someone provide us some

[2019-10-09 03:38] ahartikainen commented on #841
PyStan has the old Jeff, ArviZ uses the latest recommended (rank based) procedure.

https://arxiv.org/abs/1903.08008

https://github.com/stan-dev/rstan/blob/develop/rstan/rstan/R/monitor.R

[2019-10-09 04:16] fehiepsi commented on #841
Thanks, @ahartikainen ! I just noticed that PyStan `stan_fit.extract()` permutes samples by default. I should set `permute=False` to get a comparable result.

[2019-10-09 04:16] #841 closed

[2019-10-09 07:56] junpenglao commented on #812
Updating the TODOs.

[2019-10-09 13:19] aloctavodia opened #842 "plot_posterior: add support for circular variables"
Currently hpd intervals and mean/median computation assume variables are not circular. This is conceptually related to #339

[2019-10-10 12:08] #711 closed

[2019-10-13 20:24] corriebar commented on #641
Hey, I recently went through a few xarray tutorials to understand how to best modify and transform my posterior, so I would love to take this issue on to make it easier for the next one.
I can write something transformations such as @aloctavodia mentioned above, but also how to stack dimensions, group by dimension + aggregate, e.g. mean/median per group.

Where would be a good start for this? Just

[2019-10-13 20:37] ahartikainen commented on #641
Hi, sound great

Maybe a new notebook? e.g. "Working with the InferenceData" or something similar?

[2019-10-14 08:01] corriebar commented on #641
Okay good, will do :)

[2019-10-16 10:50] adamhaber-atidot opened #843 "plot_ppc - KeyError: "['y'] var names are not present in dataset""
Hi, I've had troubles using `plot_ppc` in a project I'm working on, so I tried to reproduce it using the quickstart pystan example. This is the code I'm using:

[code]

This raises:

[code]

which is exactly the kind of error I got in my own project... I guess I'm doing something wrong, here, but I can't figure out what it is.

Any help would be appreciated... thanks!

[2019-10-16 11:06] ahartikainen commented on #843
In docstring

[code]

[2019-10-16 11:25] adamhaber-atidot commented on #843
Thanks!

Just a suggestion - perhaps it's worth adding this to the example:
https://arviz-devs.github.io/arviz/examples/plot_ppc.html

I guess most users will start from looking at the example, and since the y/y_pred scenario is probably pretty common, it might help...

[2019-10-16 11:44] ahartikainen commented on #843
Thanks for the suggestion. I think it is a good idea!

[2019-10-21 21:01] #822 closed

[2019-10-24 13:06] OriolAbril opened #845 "ArviZ incompatible with pyro 0.5"
**Describe the bug**
The most recent CI builds fail when using pyro 0.5. Here is what I think is the relevant part of the code to run the model for testing:

[code]

I have seen that in the latest release `.run` does not return anything, however, moving it to the next line in the form of `posterior.run()` does not solve the issue as `exec_traces` is not an attribute of MCMC objects. Moreover, `exe

[2019-10-25 02:48] fehiepsi commented on #845
@OriolAbril The new version of MCMC does not hold `exec_traces` anymore. Instead, all posterior samples can be obtained with [get_samples](http://docs.pyro.ai/en/stable/mcmc.html#pyro.infer.mcmc.api.MCMC.get_samples) method. So the `posterior_to_xarray` method will be simpler than before. But we will not be able to access `observed_data` using the latest Pyro version (because no trace is stored).

[2019-10-25 12:09] OriolAbril commented on #845
I don't have much time right now, so feel free to make a PR if you do, I will try to review it as soon as possible.

Moreover, given that `io_pyro` has to be modified, it is probably time to set a minimum pyro version and make ArviZ only support recent ones? It may be too much work and not very useful to try to support everything given the differences in retrieving the data.

Also it we should upd

[2019-10-27 11:40] OriolAbril commented on #456
@junpenglao @jeffpollock9 What about adding 2 arguments: `chain_dim` and `draw_dim`, then, if `chain_dim` is `None`, a new dimension is added at the beggining of the array, otherwise, `chain_dim` is moved to be the first one and `draw_dim` the second.

This could even be reduced to only one new argument dropping `draw_dim` if the first dimension of tensorflow results always corresponds to draws.

[2019-10-27 19:43] junpenglao commented on #456
That should work if nobody is doing funny thing like chain_shape=(2,5).

[2019-10-27 20:42] OriolAbril commented on #456
Should we support multiple chain dims? We could stack them before conversion to dataset

[2019-10-27 20:46] junpenglao commented on #456
I am intend to say not supporting, I haven't really seen any valid use case.

[2019-10-28 14:30] fehiepsi commented on #845
Yeah, I'll make a PR soon. :)

[2019-10-29 05:15] sdaxen commented on #499
I'm currently implementing a Julia wrapper for ArviZ called [Arviz.jl](https://github.com/sdaxen/ArviZ.jl). It includes a `from_mcmcchains` function to convert an `MCMCChains.Chains` object into an `InferenceData`. That's the output type returned by a number of PPLs in Julia, including [Turing.jl](https://turing.ml). It still needs tests, documentation, and more support for ArviZ’s API, but I’d ap

[2019-10-30 00:36] sdaxen commented on #499
Julia has a `missing` value similar to a `nan` that explicitly annotates a value that is missing. Variables in [Infinite mixture models in Turing](https://turing.ml/dev/tutorials/6-infinitemixturemodel/#infinite-mixture-model) sometimes take on this value. Do other packages you provide converters for have something similar? Should these kinds of values just be represented with `nan`s in arviz?

[2019-10-30 06:03] sdaxen commented on #499
Also, is there a place where all of the recommended conventions for `sample_stats` names are documented?

[2019-10-30 06:06] ahartikainen commented on #499
Hi, I think nan is currently used for missing data, but I don't think we have tested it.

I'm not sure if we have updated list.

Maybe we could create a wiki for the common names (`divergent` etc)

[2019-10-31 17:16] narendramukherjee opened #855 "Unexpected behavior when using `pm.hpd` with multidimensional (ndim>2)posterior arrays"
**Describe the bug**
I am using `hpd` on multi-dimensional posteriors with larger than 2 dimensions. One example of where this can come up is if I use a 2D array to represent the coefficients for the interaction between levels of 2 different predictors. The output trace of this 2D array of coefficients from PyMC3 will now be 3D, with the 0th dimension representing the MCMC samples.

I find that wi

[2019-10-31 18:09] ahartikainen commented on #855
Possible solution:

First dimension = chains
Second dimension = draws
3rd --> = parameter dimensions.

You need to add one dimension to you data.

Or use pymc3 trace object with `vars` info?

[2019-10-31 18:30] AlexAndorra commented on #855
Ah yes [I had to do that](https://github.com/aloctavodia/BAP/blob/master/extras/multinomial_ppcs.ipynb) the other day. My solution was to slice the array you give to `az.hpd`: `az.hpd(a[:, :, 0]).shape` should give you (10, 2) -- I'm using `az` instead of `pm` here as PyMC is based on ArviZ for diagnostics.

So, if the `3`in the shape corresponds to categories for instance, you do `az.hpd(a[:, :,

[2019-10-31 18:37] narendramukherjee commented on #855
@AlexAndorra Yeah, I used the concatenation and transposition idea that you outlined for my use-case, but wondering if its good to have some sort of general structure in arviz that clears up the confusion that might be caused by multiple array dimensions.

[2019-10-31 18:42] AlexAndorra commented on #855
Glad it worked out!
As for adding a general structure to ArviZ, I find it a good idea but I'll defer to the core devs -- in particular, I don't know how widespread the use case is, and how painful it would be to add this functionnality to ArviZ.

[2019-11-01 22:51] jtrakk opened #856 "Condense forestplot display"
I have a categorical variable with lots of values. The amount of space between each value makes the `plot_forest()` output hard to read on one screen. For example, this plot is getting large with even just five values shown.

![image](https://user-images.githubusercontent.com/43392409/68060666-94168380-fcbe-11e9-857c-e5b4a8ca283c.png)

Could there be a condensed output format so plots with many va

[2019-11-01 23:15] jtrakk commented on #856
The `figsize` argument does the trick.

[2019-11-01 23:15] #856 closed

[2019-11-02 01:22] fehiepsi commented on #845
I think we can close this issue.

[2019-11-02 04:03] #845 closed

[2019-11-04 03:42] sethaxen opened #858 "Incorrect denominator in bfmi"
The original equation for `bfmi` is at the bottom of page 7 in [this paper](https://arxiv.org/pdf/1604.00695v1.pdf). The numerator in numpy for a vector `E` is `(length(E) - 1) * np.mean(np.square(np.diff(E)))`. The denominator is `(length(E) - 1) * np.var(E, ddof = 1)`. The two scaling factors cancel and we get
[code]
The current implementation uses `ddof=0`, so it's off from the equation in the

[2019-11-10 00:20] #813 closed

[2019-11-10 00:23] #456 closed

[2019-11-13 15:44] canyon289 opened #869 "Create bokeh backend plots from test_plots"
Ari: future backend test (excluding mpl) should create a new file and run at least the mpl tests (maybe more)

[2019-11-13 15:44] canyon289 opened #870 "Create matplotlib backend tests from test_plots"
Ari: default plot tests should use mpl implicitly

[2019-11-13 15:45] canyon289 commented on #869
@ahartikainen This one is a bit different. Eventually `test_plots` should be deprecated and replaced with `test_bokeh` and `test_matplotlib` that just test private interface and not public interface. I can create examples to highlight what I mean

[2019-11-13 15:45] canyon289 opened #871 "Create plot "router" that consolidates logic used to pick appropriate backend"

[2019-11-13 15:46] canyon289 opened #872 "Update developer guide to explain how backend architecture works"

[2019-11-13 15:46] canyon289 opened #873 "Split violinplot into backend architecture"

[2019-11-13 15:46] canyon289 opened #874 "Split rankplot into backend architecture"

[2019-11-13 15:46] canyon289 opened #875 "Split traceplot into backend architecture"

[2019-11-13 15:46] canyon289 opened #876 "Split ppcplot into backend architecture"

[2019-11-13 15:46] canyon289 opened #877 "Add backend plot defaulting into rcparams"

[2019-11-13 15:46] canyon289 opened #878 "Split posterior plot into backend architecture"

[2019-11-13 15:46] canyon289 opened #879 "Split parallel plot into backend architecture"

[2019-11-13 15:46] canyon289 opened #880 "Split pairplot into backend architecture"

[2019-11-13 15:46] canyon289 opened #881 "Split msce into backend architecture"

[2019-11-13 15:46] canyon289 opened #882 "Split loopit into backend architecture"

[2019-11-13 15:47] canyon289 opened #883 "Split khatplot into backend architecture"

[2019-11-13 15:47] canyon289 opened #884 "Split jointplot into backend architecture"

[2019-11-13 15:47] canyon289 opened #885 "Split hpdplot into backend architecture"

[2019-11-13 15:47] canyon289 opened #886 "Split forestplot into backend architecture"

[2019-11-13 15:47] canyon289 opened #887 "Split ess into backend architecture"

[2019-11-13 15:47] canyon289 opened #888 "Split energy plot into backend architecture"

[2019-11-13 15:47] canyon289 opened #889 "Split elpd into backend architecture"

[2019-11-13 15:47] canyon289 opened #890 "Split Compare Plot into backend architecture"

[2019-11-13 15:47] canyon289 opened #891 "Split autocorr into backend architecture"

[2019-11-13 15:47] canyon289 opened #892 "Create calculation tests from test_plots. Test methods by mocking mpl backend and verifying kwargs values passed to mocked method"

[2019-11-16 00:37] mfansler commented on #395
@canyon289 Should this issue be migrated to PyMC3? To me it seems like `pymc3.sample()` should just make sure to not exclude internal trace variables.

[2019-11-16 13:29] eigenfoo opened #896 "ArviZ docs should be built off latest release, not master"
**Describe the bug**
As in the title.

**To Reproduce**
For example, currently [the `plot_forest` doc page](https://arviz-devs.github.io/arviz/generated/arviz.plot_forest.html#arviz.plot_forest) lists the `plot_forest` function to take the `coords` argument, and the little `0.5.1` in the navigation bar immediately made me think it was a released feature in `0.5.1`. However, this was only merged in

[2019-11-17 16:08] canyon289 commented on #896
My suggestion for this is that in the CI build there is an env var that has the branch name. If the branch name contains release then deploy docs.

[2019-11-18 04:05] aakhmetz opened #901 "Trace plot from cmdstan results in IndexError: arrays used as indices must be of integer (or boolean) type"
I can't plot the trace plot from cmdstan
[code]
which results in
[code]
I can get density_plot with no problems, but trace plot does not work. It shows the first subplot for R0, but then displays the error.

**Additional context**
Stable version 0.5.1 installed via pip-command

[2019-11-18 04:30] aakhmetz commented on #901
After reboot, I have got another error, but not that one :(

[2019-11-18 04:40] aakhmetz commented on #901
With dev version from github, I have another error
[code]

[2019-11-18 04:48] ahartikainen commented on #901
Dev version is currently a bit wip.

What does your R0 and kappa look (e.g. `data.posterior.R0`)

What does `data.posterior.draw` and `data.posterior.chain` say?
I can't say what is going on, but I suspect that there might be some kind of error in from_cmdstan or your data is ragged (there are some nan in some chains)

[2019-11-18 04:56] aakhmetz commented on #901
I see - good to know.

My code is here: https://gist.github.com/aakhmetz/d726e9bc362b399ed6494f4144d65141
I would say nothing special about samples-file. It is a usual format for cmdstan I think.

[2019-11-18 05:05] aakhmetz commented on #901
I just updated my gist with the output from the stable version of arviz. Thank you for checking in advance.

```cmdstan_data.posterior.draw``` gives:
[code]

```cmdstan_data.posterior.chain``` gives:
[code]

[2019-11-18 05:29] canyon289 opened #902 "Plot_PPC not showing histogram when it should"
**Describe the bug**
Plot PPC should default to histogram when given integer numbers

**To Reproduce**

[code]

**Expected behavior**
Histogram should appear not KDE plot

**Additional context**

ArviZ Master 699e0acdc88fa2927d7c47f47ec79d5f39fb2800
PyMC3 Version 3.7
Xarray Version 0.12.3

[2019-11-18 06:07] ahartikainen commented on #902
Is `data.posterior.sales` an `int`?

[2019-11-18 07:43] ahartikainen commented on #901
Yes, there is an error in `from_cmdstan` where part of the sample_stats items are `float` (they should be `int` or `bool`).

The quick fix to plot your results is

    az.plot_trace(cmdstan_data,var_names=pars, divergences=False)

[2019-11-18 08:29] ahartikainen opened #904 "Remove parallel from `arviz.utils.full`?"
**Describe the bug**
There is nothing to be parallelized.

**To Reproduce**

[code]

On Windows
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Versions of `arviz` and other libraries used, operating system used, and anything else that may be useful.

[2019-11-18 08:36] #901 closed

[2019-11-18 10:24] aakhmetz commented on #901
Thanks!

[2019-11-18 11:28] ahartikainen commented on #904
@Ban-zee what is your opinion?

[2019-11-18 12:14] aloctavodia commented on #902
`pm.sample_posterior_predictive` is returning floats.

[2019-11-18 12:39] aloctavodia commented on #902
I will try to fix this on pymc3

[2019-11-18 13:14] aloctavodia commented on #902
This pymc-devs/pymc3#3683 should fix this issue

[2019-11-18 13:35] aloctavodia commented on #896
On PyMC3 we have this, https://github.com/pymc-devs/pymc3/blob/master/build_and_deploy_docs.sh, that needs to be run manually I guess

[2019-11-18 14:15] Ban-zee commented on #904
Yes, we can do that

[2019-11-21 01:12] sethaxen opened #907 "Concat fails with empty InferenceData"
**Describe the bug**
`arviz.concat` produces incorrect outputs when one of the arguments is an `InferenceData` with no groups.

**To Reproduce**
[code]

**Expected behavior**
Both `concat` commands should have produced an `InferenceData` with the same groups and data as `idata`.

**Additional context**
Using master branch on OS X.

[2019-11-21 01:14] sethaxen commented on #907
I suspect the issue is that these 2 lines need to be indented

https://github.com/arviz-devs/arviz/blob/41279495780f2a3a6f0a8908253753078565c490/arviz/data/inference_data.py#L307-L308

[2019-11-21 18:30] OriolAbril commented on #220
I want to leave a link to the current specification on InferenceData schema here: https://arviz-devs.github.io/arviz/schema/schema.html

Moreover, I realized that @tyarkoni will probably has useful insight on sampler parameters/backend parameters and the like. Anything you would like to share will be more than welcome.

[2019-11-21 21:26] sethaxen commented on #896
Why not deploy both release and dev documentation builds? We're doing this in [ArviZ.jl](https://github.com/arviz-devs/ArviZ.jl).

But I also am a big fan of continuous delivery, making frequent patch releases so that if one is installing the latest release using pip, it's unlikely that there's any discrepancy between that version and even the dev docs.

[2019-11-24 22:43] OriolAbril commented on #829
#916 could be a solution to this issue.

[2019-11-25 00:11] OmnipotentEntity opened #918 "Tag releases on github please"
## Tell us about it

Hi, I'm a NixOS maintainer, and I am [attempting to package Arviz for distribution via the nixpkgs repository.](https://github.com/NixOS/nixpkgs/pull/73988)

As a part of this, I'm setting up an automated build process; however, the tests do not run because the `saved_models` directory is missing from the PyPi distribution.  Seeing as this seems to be the only tagged release,

[2019-11-25 00:13] OmnipotentEntity commented on #918
Actually, I'm an idiot.  You simply changed the tagging scheme at v0.3.2 to lose the v.  I'm going to close this.

[2019-11-25 00:13] #918 closed

[2019-11-25 04:47] ahartikainen commented on #918
Thanks for using our package.

What is nixOS?

[2019-11-26 03:25] OmnipotentEntity commented on #918
NixOS is a linux distribution that focuses on declarative system setup and deterministic behavior of packages.  You can see more details at https://nixos.org/nixos/about.html

[2019-11-26 17:45] drbenvincent opened #920 "error with pymc3.compareplot"
When trying to plot results of model comparison with PyMC3's `pm.compareplot` I get an error...

[code]

Any empty plot figure is returned, but the expected compare plot figure is not produced.

Am using arviz 0.5.1

[2019-11-26 18:00] aloctavodia commented on #920
Thanks for reporting this issue. As a workaround could you see if using `az.compare()` and  `az.plot_compare()` work as expected.

[2019-11-26 18:02] ahartikainen commented on #920
Hi, thanks for the big report.

Does this work?

[code]

[2019-11-26 18:05] drbenvincent commented on #920
Responding to @aloctavodia... Thanks for the quick reply. Yes. That does work, although the model names are not reflected in the y-axis labels (see pic).
![Screenshot 2019-11-26 at 18 01 45](https://user-images.githubusercontent.com/6765047/69659796-df7e4080-1076-11ea-857c-7c511c95f3ca.png)

@ahartikainen Tried your code snippet, but `AttributeError: module 'arviz' has no attribute 'from_pymc'`

[2019-11-26 18:07] aloctavodia commented on #920
try something like this

[code]

[2019-11-26 18:09] ahartikainen commented on #920
Oh, there was a missing 3

[2019-11-26 18:11] aloctavodia commented on #920
The problem I think is that the current stable version of PyMC3 uses arviz by default for the plots but not for other functions, creating potential inconsistencies like the one you reported. This have been solved on PyMC3's master, and it will be solved for the next release (that hopefully is almost here).

My recommendation is to explicitly use ArviZ functions, and keep the `pm.()` alias just as

[2019-11-26 18:11] drbenvincent commented on #920
@aloctavodia That works...

[code]
![Screenshot 2019-11-26 at 18 10 03](https://user-images.githubusercontent.com/6765047/69660329-fffaca80-1077-11ea-8ebc-7acad5cb7399.png)

So maybe it's just something problematic in how `pm.compareplot()` calls arviz ?
Either way, this solves my immediate problem. Thanks!

[2019-11-26 18:12] aloctavodia commented on #920
Yeah, see my previous comment. Sorry for the inconvenience and glad you are back on track!

[2019-11-26 18:12] #920 closed

[2019-11-26 18:14] drbenvincent commented on #920
This did not work...

[code]
with error...
[code]

[2019-11-26 18:32] ahartikainen commented on #920
Thanks, yeah I think we have a bug in there (then @aloctavodia code should work (or moving the dict from az.compare to az.plot_compare)

[2019-11-26 19:46] OriolAbril commented on #920
@drbenvincent could the issue be in this line? Looks like a typo:

    comp_df = az.compare({'hyperbolic' : h_free_trace, 'modified Rachlin' : mr_free})

Have you tried `mr_free_trace`? What is failing is actually `convert_to_inference_data` even though you have called `from_pymc3` so tge objects should already be of inference data type.

[2019-11-27 14:11] #891 closed

[2019-11-27 14:11] #890 closed

[2019-11-27 14:11] #889 closed

[2019-11-27 14:12] #888 closed

[2019-11-27 14:12] #887 closed

[2019-11-27 14:12] #875 closed

[2019-11-28 08:34] #886 closed

[2019-11-28 08:34] #885 closed

[2019-11-28 08:34] #884 closed

[2019-11-30 13:28] aakhmetz opened #924 "Unnecessary warning while running SMC via pymc3"
When I do SMC on pymc3 with the command:
[code]
I receive the warning:
[code]
Although, as it was adviced by @aloctavodia in https://github.com/pymc-devs/pymc3/issues/3697, it could be just one chain in SMC

(PyMC ver 3.8, arviz ver is latest from github)

[2019-11-30 13:44] ColCarroll commented on #924
This is tough to track down - I would _guess_ the fix will be applied to PyMC3, since it looks like the warning is correct, and something in PyMC3 is being too eager at running convergence checks.

We can leave the issue open here, though.

[2019-11-30 13:48] aakhmetz opened #925 "sample_posterior_predictive interferes into the summary of the previous sample"
For example, if I use the following code:
[code]
and require
[code]
I would get an error:
[code]
(see the gist [here](https://gist.github.com/aakhmetz/44ce6b44184e79009dd0d060ff168c67))

**Expected behavior**
It worked as expected with previous pymc version 3.7

[2019-11-30 14:08] ColCarroll commented on #925
Hmm... I get the same behavior in version 3.7.

I would actually argue that the correct behavior here might be to throw an error on `sample_posterior_predictive`, since you are using a different model from the one that produced the trace, but some sort of error is certainly called for here: `Y_` and `Y` are both parameters in your model, but you did not sample from them, so they are not in your tr

[2019-11-30 14:17] aakhmetz commented on #925
Hm.. strange, I didn't have that error up to now :-)

Yes, the second variant worked for me w/o problems. My idea was that Y-variables are not needed for the model inference, so I wanted them to be generated later (I put them after ```pm.sample``` because they calculation can be computationally heave and may slow down ```pm.sample```).

I may agree that I do as you proposed in stan using ```genera

[2019-11-30 15:33] OriolAbril commented on #925
It also looks related to https://github.com/pymc-devs/pymc3/issues/3640 where sampling posterior predictive has some unexpected effects on the pymc3 trace object.

Also, given that `'like'` and `Y` are actually both normals with the same mean and variance, wouldn't it be the same to running the following code?

[code]

[2019-11-30 15:45] OriolAbril commented on #925
I am not sure I completely understand the question but here goes nothing. I think the confusion comes from being able to call `az.summary(trace)` being `trace` a pymc3 multitrace object. What this is doing is converting `trace` to an inference data object (ArviZ base object, you can read more on inference data [here](https://arviz-devs.github.io/arviz/notebooks/XarrayforArviZ.html)) and then uses

[2019-11-30 17:07] aloctavodia commented on #924
This is superweird as `pm.sample_smc` does not run any convergence checks. Also I am unable to reproduce this warning message

[2019-11-30 17:43] aakhmetz commented on #924
@aloctavodia and @ColCarroll, please excuse me, I think I missed that the error arises when I do ```az.summary``` (I was a bit too quick)

[2019-11-30 17:46] aakhmetz commented on #925
@OriolAbril Thank you for checking and clarying many aspects! It looks like it is more related to pymc3, so I will try to open an issue there.

`Also, given that 'like' and Y are actually both normals with the same mean and variance, wouldn't it be the same to running the following code?`
Unfortunately I have that error in more complicated code, and here I put just a simpler example.

[2019-11-30 18:11] aloctavodia commented on #924
Hi @aakhmetz, that's OK, nos this error sounds more reasonable. Although is still a little bit annoying when using SMC.

At this point ArviZ is more focused on working with samples coming from MCMC samplers, and this error is a reflection of that. In the near future we have plans to introduce diagnostics specifically tailored for other methods like SMC and Variational Inference. In the meantime yo

[2019-11-30 19:30] OriolAbril commented on #925
@aakhmetz I had some time to look into this. And the issue is actually not related to the one I thought, it is basically that this usecase is not supported by ArviZ.

In `from_pymc3`, ArviZ tries to extract all the information from the trace object and store it a multidimensional labeled arrays. One of the information it tries to extract is the log likelihood, which in pymc3 it can be computed by

[2019-12-01 15:58] aakhmetz commented on #925
@OriolAbril  Thank you very much for your time! Yes, it looks reasonable. The command ```az.from_pymc3``` is something new for me, so I will try to read more.

After your reply I realized that I also used separated blocks before:
[code]
which, I believe, should also work. But some time ago, I adopted *my previous shortcut*.

Thank you again for checking

[2019-12-01 15:58] #925 closed

[2019-12-01 16:01] aakhmetz commented on #924
Dear @aloctavodia, thanks! It looks good, so I will wait for some update!

ps: today I checked my previous code which had an error https://discourse.pymc.io/t/pm-smc-how-to-deal-with-numpy-linalg-linalgerror-xx-th-leading-minor-of-the-array-is-not-positive-definite/3643/6, and it worked smoothly with the latest version. Let's see how it goes :-)

[2019-12-01 16:01] #924 closed

[2019-12-01 18:07] yurivict opened #927 "Gallery examples don't pop up the window with the plot"
For example, https://arviz-devs.github.io/arviz/examples/plot_pair.html just exits silently.

[2019-12-01 18:35] OriolAbril commented on #927
When using matplotlib backend, depending on the context you will need to `import matplotlib.pyplot as plt` and run `plt.show()`.

[2019-12-01 19:10] yurivict commented on #927
This works, thanks!

Maybe you can mention this somewhere on the Gallery page.

[2019-12-02 03:11] JackCaster opened #929 "plot_trace lines is unclear and it may yield unexpected results"
**Describe the bug**
The argument `lines` for the function `plot_trace` can give unexpected results. Moreover, the documentation is a bit nebulous.

**To Reproduce**
A toy example is defined
[code]
As per [documentation](https://arviz-devs.github.io/arviz/generated/arviz.plot_trace.html#arviz.plot_trace), the argument `lines` accepts a tuple in the form `(var_name, {‘coord’: selection}, [line, pos

[2019-12-03 08:28] ahartikainen commented on #929
Thanks for the feedback.

We are on our way to update the interface a bit so I hope we can fix this issue at the same time and the usage would be intuitive.

[2019-12-03 08:29] ahartikainen commented on #927
For now, we should probably add `plt.show` for the plots, but in future, we could call plt.show inside the function (as we do for the bokeh).

[2019-12-03 15:30] JackCaster commented on #929
Thank you for your good work 🙌

[2019-12-03 23:05] anzelpwj commented on #907
I've replicated the problem on my MacOSX computer, and it appears @sethaxen 's solution will fix. Will submit a PR.

[2019-12-04 00:39] anzelpwj opened #936 "Docker image is missing some important packages"
Hi all,

I'm trying to open a Jupyter notebook in the Docker image as per `CONTRIBUTING.md`, and when running from a (relatively new) Docker image I am finding that I cannot run `import arviz as az` without finding that we are missing the following packages:
- `scipy`
- `xarray`
- `matplotlib`
- `netCDF4`

Once I installed these for packages, I was finally able to import the package.

**To Reprodu

[2019-12-04 00:44] anzelpwj commented on #936
I did see that all of these packages are in the `requirements.txt` - is this not getting properly installed?

[2019-12-04 00:46] OriolAbril commented on #936
How did you download the Docker image? Could you share the commands?

I am currently trying to reproduce the issue, as I _think_ i used Docker out of the box the first time.

[2019-12-04 00:49] anzelpwj commented on #936
I ran `./scripts/container.sh --build` to create the image (I did not run the `--clear_cache` command, FWIW). I did some testing for PR #934  (which did work without any trouble), but when I tried to open a Jupyter notebook to test things I ran into trouble.

Currently trying to trash my current Docker image and rebuild to see if I can reproduce.

[2019-12-04 00:52] anzelpwj commented on #936
Alternately, is this more a problem with `jupyter-dock`? (`CONTRIBUTING.md:Developing in Docker`). Apologies, my understanding of docker is a little weak.

[2019-12-04 01:10] anzelpwj commented on #936
So:
- Deleted old `arviz` image.
- Ran `./scripts/container.sh --clear_cache` and `./scripts/container.sh --build`
- Saw all the `requirements.txt` packages get installed.
- Ran `docker run --mount type=bind,source="$(pwd)",target=/opt/arviz/ -it arviz bash` and ran `pip freeze`. Noted that the `requirements.txt` packages are listed.
- Ran:
[code]
- Opened up Jupyter browser in computer.
- Opened

[2019-12-04 01:15] OriolAbril commented on #936
what packages are listed if you do a `!pip freeze` from the jupyter notebook?

[2019-12-04 02:02] OriolAbril commented on #936
I managed to reproduce the issue and I am completely lost. It looks like containers built with the detach flag `-d` (to create a started container) only has a very limited subset of the packages. @canyon289

Creating a container and executing pip freeze inside the container results in only a handful of packages:

[code]

Whereas running bash on a new container (not detached) and there running `pip

[2019-12-04 02:09] OriolAbril commented on #936
I will update the contributing guide. I don't really understand why (I am guessing the default container interpreter behaves mysteriously) but this seems to do the trick.

[code]

Can you confirm @anzelpwj ?

[2019-12-04 02:24] anzelpwj commented on #936
That resolves it @OriolAbril , thanks for figuring it out!

[2019-12-04 02:31] OriolAbril commented on #936
Great, I'll leave the issue open as a remainder to update the contributing guide. Unless someone does it first, I will probably have time to do it in some days.

[2019-12-04 02:41] anzelpwj commented on #936
I mean, I'm trying to contribute as part of PyDataLA, so I'm happy to swap out the commands.

[2019-12-04 02:46] OriolAbril commented on #936
That would be great! Thanks!

[2019-12-04 04:38] ahartikainen commented on #936
Do we have multiple python installations on the docker?

[2019-12-04 10:34] OriolAbril commented on #936
It turns out we do.

[code]

Running commands using `dash` (which is the default where `/bin/sh` points) runs them outside the conda environment created where all packages are installed.

[2019-12-04 14:26] #907 closed

[2019-12-04 14:26] #936 closed

[2019-12-04 16:14] rpgoldman opened #939 "Use of pymc3 _model pointer will cause future problems"
**Describe the bug**
In `data/io_pymc3/` the `PyMC3Converter` finds the PyMC3 model -- which it needs to interpret the trace, through a pointer hidden in the `pm.MultiTrace` object.

This use will not be compatible with out-of-sample prediction, which in PyMC3 requires using a thinned trace in a *different* model (in general, one with different predictors and different dimensions).

See https://gi

[2019-12-05 09:09] ahartikainen opened #941 "Numpyro pickle error"
Tests are failing with pickle error

in tests/helpers

    E                   AttributeError: Can't pickle local object 'hmc.<locals>.init_kernel'

https://travis-ci.org/arviz-devs/arviz/jobs/621006910?utm_medium=notification&utm_source=github_status

cc @fehiepsi

[2019-12-05 09:10] ahartikainen commented on #941
Is there some lambda somewhere in numpyro code?

[2019-12-05 10:12] ahartikainen commented on #941
Ok, there are functions inside functions

https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/mcmc.py

So, either hmc should be a class with `__call__` implemented or then we need to do something clever.

[2019-12-05 16:24] fehiepsi commented on #941
Hi @ahartikainen, thanks for the help diagnosing!

I agree that making hmc a class can solve the error. However, we want to keep the functional nature of JAX as much as possible while still provides some convenient classes for the user interface. This is helpful for reducing unexpected behaviors when using JAX tracing mechanism with classes. Recently, we add a caching mechanism to avoid recompilin

[2019-12-06 15:55] rpgoldman opened #947 "Improve assignment of pm.Deterministic to InferenceData groups"
## Tell us about it

In PyMC3 `pm.Deterministic` can be used either to compute a quantity that varies over the trace, or to store or compute the value of a predictor variable (independent variable).  In this case, when `from_pymc3` encounters such a variable, it will try to prepend `chains` and `draws` to its dimensions, and then error out.

A reasonable thing to do when interpreting a `pm.Determi

[2019-12-06 17:09] ahartikainen commented on #947
Maybe assume something and add option to overwrite this assumption

[2019-12-08 04:50] canyon289 commented on #941
@fehiepsi Was this problem fixed? Just tidying things up :)

[2019-12-08 04:50] canyon289 commented on #902
This is fixed

[2019-12-08 04:50] #902 closed

[2019-12-08 04:53] fehiepsi commented on #941
Yup! :)

[2019-12-08 05:58] #941 closed

[2019-12-08 22:21] #883 closed

[2019-12-08 22:21] #882 closed

[2019-12-08 22:21] #881 closed

[2019-12-08 22:21] #880 closed

[2019-12-08 22:21] #879 closed

[2019-12-08 22:21] #878 closed

[2019-12-08 22:27] ahartikainen commented on #877
Did we already implement this or do we need to update the plotting code? Maybe some util function

    def sanitize_backend(backend=None):
        if backend is None:
            backend  = rcParams["backend"]
        elif backend not in supported_backends:
            raise TypeError('Backend not supported {}. Select backend from {{"matplotlib", "bokeh"}}'.format(str(backend))
        return back

[2019-12-08 22:27] #876 closed

[2019-12-08 22:27] #874 closed

[2019-12-08 22:27] #873 closed

[2019-12-08 22:30] ahartikainen commented on #870
Before we can do these, we need to "sanitize" the input for these mpl / bokeh functions. Currently they just contain all the stuff they need to work correctly. (that is the reason for the "ugly" mentions in the PRs)

[2019-12-08 22:38] ahartikainen opened #950 "Bokeh marker options"
Each plot needs a marker option implemented for the bokeh backend.

http://docs.bokeh.org/en/1.3.2/docs/reference/models/markers.html

Ideally, we have a marker option somewhere and helper function that takes in {marker as a string, marker name, marker function, custom js for marker} and outputs correct function.

These markers should also be added to docstrings or at least give some link for supp

[2019-12-08 22:42] ahartikainen opened #951 "User given ColumnDataSource"
To enable linked brushing, we need an option for a user to input ColumnDataSource object which contains the needed data. This will also enable to combine different plot types.

We need to be explicit what different kinds of ColumnDataSources we need. At least we have

- mcmc sample
- density (from mcmc sample)
- observed (no chain, draw)

Ideally we would like to have some default fields for good

[2019-12-08 22:46] ahartikainen opened #952 "Bokeh hover tooltip"
We need to implement better default hover settings.

https://docs.bokeh.org/en/1.4.0/docs/reference/models/tools.html#bokeh.models.tools.HoverTool

[2019-12-08 22:49] ahartikainen opened #953 "Bokeh legends"
Add (interactivate) legend (intuitive interactivity)

https://docs.bokeh.org/en/1.4.0/docs/reference/models/annotations.html#bokeh.models.annotations.Legend

https://docs.bokeh.org/en/1.4.0/docs/user_guide/interaction/legends.html

[2019-12-08 22:51] ahartikainen opened #954 "Bokeh Selection with subgroups"
Add interactivity to select subgroups (divergences) and somehow show / hidden this or other groups. Maybe some bokeh widget or interactive legend?

https://docs.bokeh.org/en/1.4.0/docs/user_guide/interaction/widgets.html

[2019-12-08 22:53] ahartikainen opened #955 "Bokeh: Add possibility for bokeh server"
Speedup large datasets and their interactivity.

[2019-12-08 22:54] ahartikainen opened #956 "Bokeh, transform all colors to hex"
Input all colors to bokeh functions as hex.

We can use matplotlib helper functions to transform special syntax

    color="C0"

etc

[2019-12-08 23:11] OriolAbril commented on #877
I think @canyon289 was working on this in #949

[2019-12-08 23:36] ahartikainen commented on #877
Yes,  of course :laughing:

[2019-12-09 10:46] OriolAbril opened #957 "plot_rank error with ax=None"
**Describe the bug**
`plot_rank` with `ax` different than `None` does not work.

**To Reproduce**
Code in 3rd inline example in [docs](https://arviz-devs.github.io/arviz/generated/arviz.plot_rank.html#arviz.plot_rank):

[code]

`rows` is only defined when `ax` is `None`, however it is passed always to the backend function.

**Expected behavior**
The rankplot is produced.

**Additional context**
Ar

[2019-12-09 20:06] OriolAbril commented on #957
Closing the issue as it was fixed in #958.

[2019-12-09 20:06] #957 closed

[2019-12-09 21:54] ahartikainen opened #959 "Add (pan/zoom) limits for Bokeh"
Some plots might need suitable panning / zoom limits.

Also we can restrict movement on an axis. (Move only on x axis)

I'm not sure can we limit zooming.

[2019-12-11 00:43] ahartikainen opened #962 "Bokeh text"
Make sure that bokeh texts are either from columndatasource or are inside lists

    ax.text(x='x', y='y', text='text'

or

    ax.text(x=[...], y=[...], text=[...]

[2019-12-14 01:42] canyon289 commented on #810
I think this one has been addressed. Thanks @fehiepsi

[2019-12-14 01:42] #810 closed

[2019-12-14 01:43] canyon289 commented on #803
I think were good on this now? If no one corrects me in 48 hours will close

[2019-12-14 01:47] canyon289 commented on #837
@julian-pani Apologies on missing this issue for the last couple months.

The traceplot lines should show up in different colors now. I checked the latest example to verify. Are you still having this issue?

https://arviz-devs.github.io/arviz/examples/matplotlib/mpl_plot_trace.html

[2019-12-14 04:06] OriolAbril commented on #837
I think it is still an issue, because `plot_trace` accepts both `combined` and `compact` argument. Thus, there are 4 cases to take into account:
1. `combined = compact = False` (default case). Multidimensional variables are plotted on different subplots, and chains are not combined, thus, each kde subplot has `nchains` lines. This is the case of the example, where each line has a different color.

[2019-12-17 19:31] #803 closed

[2019-12-19 08:12] ahartikainen opened #965 "CI test fail"
Tests in CI are failing (Segmentation fault). I think this is due to `jax` (`numpyro`)

@fehiepsi do you have any ideas what could cause this?

[code]

[2019-12-19 08:43] fehiepsi commented on #965
@ahartikainen I don't have any idea on the top of my head but will dive into this issue tomorrow. Sorry for this breakage!

[2019-12-21 02:06] ahartikainen commented on #965
fail was due to other reason (mpl + bokeh)

[2019-12-21 02:06] #965 closed

[2019-12-21 16:32] canyon289 commented on #877
I think this is good now between Aris PR and mine.

[2019-12-21 16:32] #877 closed

[2019-12-21 22:43] #962 closed

[2019-12-25 20:39] rpgoldman opened #974 "WIP: Error in WAIC computation from PyMC3"
**Describe the bug**
I have a script comparing a bunch of slightly different models that I was running overnight, and this morning I came back to see the following error message:

[code]
Full backtrace is attached.  [backtrace.txt](https://github.com/arviz-devs/arviz/files/4000804/backtrace.txt) This *may* be a bug in `xarray`, rather than in Arviz proper.

It will take me some time to try to figu

[2019-12-25 20:47] rpgoldman commented on #974
Still working on this -- ran with pdb and... when I tried to examine the data that, according to xarray, is not a numpy ndarray, but supplies `__array_function__`, I got a segfault. 😢

[2019-12-25 20:55] ColCarroll commented on #974
What version of numpy and xarray? `NEP18` refers [to this](https://numpy.org/neps/nep-0018-array-function-protocol.html), and I know at least the first two authors are involved in xarray/dask.

[2019-12-25 21:05] rpgoldman commented on #974
[code]

I'm not sure that this is relevant, but I find it suspicious that `htop` shows this server having allocated 27 cores (if I'm understanding the output correctly), but all but four are idle while I'm using `pm.sample`.  This makes me wonder if the numpy operations are being properly vectorized.

I suspect, in turn, that I botched things by putting in both `intel-numpy` and `numpy`, but am no

[2019-12-25 22:08] ahartikainen commented on #974
Sounds like something from pymc is not transformed to numpy array? We had similar problem with pm.Data?

[2019-12-25 23:24] rpgoldman commented on #974
I'm not sure what's wrong, because the call in Arviz is:

    vars_lpd = log_likelihood.var(dim="sample")

where `log_likelihood` is an `xarray` `DataArray`.

Here is the context:
[code]

In this we call a `wrapped_func` where the `func` is `<function _create_nan_agg_method.<locals>.f at 0x7f68b05e9d90>` (I guess `_logsumexp`?).

What's confusing is that I'm getting an error that claims to be beca

[2019-12-27 17:38] fbartolic opened #977 "Trying to understand quantile ESS plot for emcee chains"
Thank you for building this excellent library!

I'm using Arviz to plot quantile ESS plots in order to check convergence properties of different samplers in the tails of the target distribution. When I make the plot  for emcee output I get the opposite behaviour from what I'd expect, namely, the ESS is lowest in the bulk of the posterior and highest in the tails as seen here:
![image](https://user

[2019-12-28 19:06] OriolAbril commented on #977
I have a hunch on what is happening, but I don't currently have time to check this is actually what is happening.

The ESS estimates rely on the chains being independent, which is not really the case for emcee's walkers. However, for long chains, the estimate generally ends up converging to the real ESS value, hence the recommendation in [emcee docs](https://emcee.readthedocs.io/en/latest/tutorial

[2019-12-29 23:39] michaelosthege opened #980 "Keeping a Changelog"
## Tell us about it

I just wanted to check if a bug (ess did not ignore tuned samples)  that we recently chatted about in the pymc Slack is already fixed.

I'm just on my phone, ~~but couldn't find a changelog or release notes~~ and didn't find the release notes that are attached to the releases right away. .

## Thoughts on implementation
In addition to having release notes on the releases, the

[2019-12-29 23:45] ahartikainen commented on #980
This is something we need. How would keepachangelog work?

[2019-12-29 23:49] michaelosthege commented on #980
They give solid advice. Just like https://semver.org/

[2019-12-30 16:09] fbartolic commented on #977
Thanks for the link to the Stan discourse discussion, I missed that.

I made the same plot including tail ESS estimates ([code](https://gist.github.com/fbartolic/9a18f8c0e12de4b42332ae81188ac031) here)
![image](https://user-images.githubusercontent.com/18243408/71588974-990f7c00-2b23-11ea-91cc-130142194c36.png)

Solid lines are Arviz estimates of the autocorrelation time assuming walkers are indep

[2019-12-30 16:23] nathanbraun opened #982 "plot_ppc doesn't work with missing data"
Hi there, per one of the exercises in Osvaldo's book, I went back and played around with the Coal Mining disaster problem referenced here: https://docs.pymc.io/notebooks/getting_started.html#Case-study-2:-Coal-mining-disasters.

Everything went fine, except when I tried to sample the posterior predictive distribution and plot the results using plot_ppc.  I kept getting the error:

ValueError: x an

[2019-12-30 17:37] OriolAbril commented on #977
Wow, this looks very good, and is quite surprising but not totally unexpected. As emcee walkers are not independent, there is no guarantee that ess estimates will converge to the real value.

[2020-01-05 13:30] OriolAbril commented on #855
I think the most coherent approach here would be to use `make_ufunc` and `wrap_xarray_ufunc`, similarly to what is done with `ess` or `rhat`

[2020-01-05 13:46] OriolAbril commented on #712
Maybe a skipif after having checked [`is_available`](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.animation.MovieWriterRegistry.html#matplotlib.animation.MovieWriterRegistry.is_available)?

[2020-01-05 13:48] OriolAbril commented on #703
Has this been solved already? @rpgoldman

[2020-01-05 13:55] OriolAbril commented on #690
The issue looks like it is triggered when getting log likelihood data as it tries to evaluate the `logp_elemwise` after modifying the model which results in this error. A possible workaround would be what I described in [this other issue](https://github.com/arviz-devs/arviz/issues/925#issuecomment-560014504).

The solution should probably involve making sure `logp_elemwise` can be evaluated before

[2020-01-05 14:00] OriolAbril commented on #662
I did [some experiments](https://github.com/OriolAbril/arviz/blob/pair_plot_extended/arviz/plots/extendedpairplot.py) at some point that may help.

[2020-01-05 14:01] OriolAbril commented on #980
Related to #604

[2020-01-05 14:02] OriolAbril commented on #603
LFO was started in #771

[2020-01-05 14:03] OriolAbril commented on #597
#909 implemented a partial fix that divides prior and prior predictive into their respective groups whenever possible.

[2020-01-05 14:20] OriolAbril opened #984 "integrate index_origin rcParam"
## Tell us about it
In some cases, users may prefer to visualize the results using 1 indexed values instead of python's 0 indexed ones. Part of #792.

## Thoughts on implementation

The `summary` function already has an `index_origin` argument, but does not use the rcParam value as default. Moreover, the labels used for plots should also be updated to allow 1 indexed visualization (they all call `

[2020-01-05 14:25] OriolAbril opened #985 "Integrate ic_scale rcParam"
## Tell us about it

`stats.ic_scale` has a default value in rcParams which is not yet used.

Part of #792

## Thoughts on implementation

`compare`, `waic` and `loo` should have `None` as default for `ic_scale` and use the default set in rcParams. The implementation should be very similar to
 `stats.information_criterion` integration with `ic` argument

[2020-01-05 14:30] OriolAbril opened #986 "integrate credible_interval rcParam"
## Tell us about it

`stats.credible_interval` has a default value in rcParams which is not yet used.

Part of #792

## Thoughts on implementation

All `credible_interval` arguments should default to the value in rcParams. This affects both stats functions like `hpd` or `summary` and plotting functions. However, as most of them call `hpd` eventually, it may be possible to use `None` as default and

[2020-01-05 19:12] Anjali167-sopho commented on #986
Can I start working on it?

[2020-01-05 20:09] OriolAbril commented on #986
Yes! That would be great. When you create the PR link to this issue so other people reading the issue can see work on this is being done

Also, if there is anything not clear enough in the issues or in the contributing guide ask on gitter.

[2020-01-06 15:13] VincentBt opened #987 "WAIC/LOO for models with multiple observed variables"
(Related issue: #794 - cc @rpgoldman)

First, thank you for this great library!

I was told by @ahartikainen [here](https://github.com/arviz-devs/arviz/commit/a45e901d9f4076da40e63213eb9c28bdc671e10d#commitcomment-36660404) that multiple observations were not supported in arviz (at least for numpyro and pyro, but I guess for other libraries like PyMC3 as well).

My question is: to go from 1 observ

[2020-01-06 16:23] avehtari commented on #987
Some useful material answering this and related questions

https://statmodeling.stat.columbia.edu/2018/08/03/loo-cross-validation-approaches-valid/
https://avehtari.github.io/modelselection/rats_kcv.html
https://arxiv.org/abs/1802.04452
https://aalto.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=d7849131-0afd-4ae6-ad64-aafb00da36f4
https://aalto.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=50b2e7

[2020-01-06 17:08] rpgoldman commented on #987
I'd very much like to help get this fixed, if possible, since I have models with multiple observation variables.  I'm working in PyMC3, not pyro.

Am I correct in thinking that for multiple observations, we need to find the log likelihood of observations that are *tuples of* individual observed RVs?  I don't believe that this operation would be supported natively by PyMC3, but it should be able to

[2020-01-06 17:16] avehtari commented on #987
I did not get from your description whether you want to leave out $y_i^k$ or $y_i^1, \dots, y_i^m$?

If latter, then note that if each $i$ has it's own parameter WAIC and PSIS are likely to fail and adding marginalization as in https://arxiv.org/abs/1802.04452 would be needed but is more difficult to implement.

[2020-01-06 18:17] VincentBt commented on #987
@rpgoldman Indeed:
<a href="https://www.codecogs.com/eqnedit.php?latex=\inline&space;$$lppd(y,\theta)&space;=&space;\sum_i&space;\log(\frac{1}{S}&space;\sum_{\theta_s}&space;p(y_i|\theta_s))&space;=&space;\sum_i&space;\log(\frac{1}{S}&space;\sum_{\theta_s}&space;p(y_i|\theta_s))&space;$$" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\inline&space;$$lppd(y,\theta)&space;=&space;\s

[2020-01-06 18:30] avehtari commented on #987
It's bit difficult that you are using different words than what is common in statistics. For me $y_i^k$ is one datapoint and one observations, $i$ is indexing group of observations, and each group has $m$ observations. You did not say anything about the model you are going to use, but this kind of data is often modelled with a model having group specific parameter(s) for each i. So it's not the nu

[2020-01-06 21:12] rpgoldman commented on #703
I think we can call it fixed in the warning above.  We can potentially return to it later.

[2020-01-06 21:12] #703 closed

[2020-01-06 21:14] rpgoldman commented on #597
What's the prior in the context of PyMC3?  I think the prior is implicit in the model, right?

[2020-01-06 21:21] aflaxman commented on #597
I haven't followed this PyMC development of this method carefully, but this PR could potentially help you sort it out: https://github.com/pymc-devs/pymc3/pull/2983

[2020-01-06 21:34] rpgoldman commented on #597
I read over that, but I still don't see a clear explanation of the prior/prior predictive distinction (indeed, I'm tempted to call it a "putative distinction").

In that discussion @ColCarroll says he has been having trouble formulating the distinction clearly.   Allen Downey says that perhaps all we need is prior predictive and not both pp and prior.  AFAICT there is no "prior sample" function in

[2020-01-06 23:25] OriolAbril commented on #597
The prior predictive is to the prior what the posterior predictive is to the posterior. Even though both quantities are obtained with pymc's `sample_prior_predictive` they are conceptually different. Let's take as examples the prototype plots from #749, the first one uses prior and posterior samples and the second uses prior predictive, posterior predictive and also observed values.

When the trac

[2020-01-07 04:06] rpgoldman commented on #597
I'm afraid I  don't understand your analogy (sorry!)

For the posterior/posterior predictive comparison we have in PyMC3 `sample`/`sample_posterior_predictive`.  For prior/prior predictive we have ????/`sample_prior_predictive`.  I don't see what fills the role of ???? here.  The example in #749 does not exhibit the four different possibilities in your comment, so it doesn't really help me.  In pa

[2020-01-07 17:51] VincentBt commented on #987
Here is an example of a simple model. For an input $x_i$ and parameters sigma, beta1, and beta2. There are two observations $y1_i$ and $y2_i$ for each input $x_i$. The sigmoid is just here for the Bernoulli probability to be between 0 and 1.
This model is not dealt with by arviz (because of y1 and y2 instead of simply y1).
[code]
To compute WAIC/PSIS-LOO for this model, we need all the <a href="ht

[2020-01-08 02:22] fonnesbeck opened #988 "Spurious argument warning in plot_trace"
**Describe the bug**

Using `plot_trace` in arviz 0.6.2 generates the following warning:

[code]

This happens repeatedly, but here is one example of the call:

[code]

As you can see, there are no `backend_kwargs` being passed, so the warning should not be shown.

As a minor additional issue, it should say "no effect" rather than "not effect".

[2020-01-08 04:49] ahartikainen commented on #988
Error is in lines 274 & 290

https://github.com/arviz-devs/arviz/blob/master/arviz/plots/backends/matplotlib/traceplot.py

[2020-01-08 13:54] OriolAbril commented on #597
Don't worry, I'll try to explain myself better. And provide a kind of conceptual analogy, one example and a link to their proper definitions.

I think I should start by noting that when I make analogies between diferent quantities I talk at a conceptual level, I know that in PyMC some analogies do not translate to the implementation, hence the confusion. [This proposal](https://github.com/pymc-dev

[2020-01-08 15:52] rpgoldman commented on #947
Brandon Willard offered me enough information to get the PyMC3 deterministics allocated properly. See #983 (temporarily messed up by upstream bug in PyMC3 that has been fixed and merged, but not released).

[2020-01-08 17:47] rpgoldman commented on #597
OK, that helps a lot.

I think that if I was to translate the distinction into PyMC3 terms, we could say:

1. The `prior` is samples over all of the variables in the graph.  This would be implemented by using PyMC3's `sample_prior_predictive` but asking it to return values for *all* the variables (i.e., the full list of variables would be in the `var_names` argument).

2. In PyMC3 terms, the `prio

[2020-01-08 22:29] OriolAbril commented on #597
I currently cannot comment on the internals of the sampling process in `sample_prior_predictive`, only about the variables it samples. I kind of remember stumbling into an issue using ArviZ with the `sample_prior_predictive` including variables it was not supposed to and trying to fix it (I am quite sure I actually sent a PR about this) and the default was `sample_prior_predictive` sampling both p

[2020-01-08 23:10] rpgoldman commented on #597
The thing my PR fixes is that you can't determine what is constant and what is not based on the trace that `sample_prior_predictive` returns (or really, the return of *any* PyMC3 sampling function).  The reason is that PyMC3 allows the user to control what variables do and do not appear in the traces that the sampler returns.
That is why, as far as I can tell, we *must* give `from_pymc3` the PyMC3

[2020-01-08 23:18] OriolAbril commented on #597
Maybe there should also be some check in PyMC part? There should be nothing constant in the return values of `sample_prior_predictive`, all variables should have dims `sample, *shape` and have a different value per sample right?

Kind of like the posterior with `chain, draw, *shape`. Would it be possible to have the same value for every chain and draw?

[2020-01-08 23:29] rpgoldman commented on #597
What I have done instead (with the help of Brandon) is to check any nodes that are deterministic functions to see if they have only constants in their input subgraph.  IF they do, then they go into the predictions constant data, else they go into the predictions.

The deterministic nodes are the only named entities that are difficult to allocate between constant and varying, and Brandon's analysis

[2020-01-09 15:54] avehtari commented on #987
It's more clear now.

WAIC/PSIS-LOO can be computed with either $$p(y_i|\theta_s))$$ or $$p(y1_i|\theta_s))$$ and $$p(y2_i|\theta_s))$$. They just have different focus.

Correct, if you want to focus on $$p(y_i | \theta_s)$$

Yes. There can be computational problem if you have `hidden_i` parameter and you remove all observations related to $$i$$.

Yes. Depending on the focus you may consider leave

[2020-01-09 16:01] ahartikainen commented on #987
I think we should have multiple options for different methods. LFO needs also possibility to resample (there are code to do this in pystan, but we really need to refine InferenceData class to enable this).

We should have same default as in loo2.

[2020-01-09 17:58] VincentBt commented on #987
Why? Would the computational problem appear during the computation of the WAIC/PSIS-LOO based on <a href="https://www.codecogs.com/eqnedit.php?latex=\inline&space;$$p(y_i&space;|&space;\theta_s)$$" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\inline&space;$$p(y_i&space;|&space;\theta_s)$$" title="$$p(y_i | \theta_s)$$" /></a>, or before in the computation of <a href="https://www

[2020-01-09 18:04] VincentBt commented on #987
Anyway, all this means that in the case of multiple observation sites, then we can compute WAIC or PSIS-LOO by initially summing the log_likelihood of all observation sites, as proposed [here](https://github.com/arviz-devs/arviz/commit/a45e901d9f4076da40e63213eb9c28bdc671e10d#commitcomment-36677168). In my opinion, it should be the default, rather than having a WAIC/PSIS-LOO for each observation s

[2020-01-10 13:18] nitishp25 commented on #988
I think this issue has been resolved in PR #989 right?

[2020-01-10 13:20] #988 closed

[2020-01-11 20:56] Shashankjain12 commented on #985
@OriolAbril Can you assign me this issue I would be happy to work on that

[2020-01-11 20:58] Shashankjain12 commented on #984
@OriolAbril  Can I work on this issue?

[2020-01-12 21:00] OriolAbril commented on #985
@Shashankjain12 you can work on that, there is no need to be assigned. It is great that you comment on the issue you plan to work on.

One useful piece of advise in order to make sure you are not working on the same topic as somebody else (this is especially useful now that many of you are working on ArviZ to familiarize yourselves with it before GSoC), is to start by commenting on the issue just

[2020-01-12 21:04] OriolAbril commented on #984
@Shashankjain12 Definitely!

[2020-01-12 21:55] ahartikainen commented on #984
I'm not sure if `make_label` can be fixed currently. And summary has been fixed.

The selection function still needs this.

[2020-01-13 02:09] mrinalnilotpal commented on #956
@OriolAbril can I try fixing it?

[2020-01-13 03:49] Shashankjain12 commented on #985
Sure @OriolAbril Thanks for sorting that out I will start working on this issue..👍

[2020-01-13 05:20] nitishp25 commented on #904
Can I work on this issue if no one else is?

[2020-01-13 05:26] nitishp25 commented on #959
Is this resource helpful? https://stackoverflow.com/questions/23277066/limit-bokeh-plot-pan-to-defined-range

[2020-01-13 06:06] nitishp25 commented on #858
Hi, can I work on this issue?

[2020-01-13 06:23] sethaxen commented on #858
That would be nice! There's was an offline discussion that it would be good to check with the Rstan team and post on Stan's discourse to see if there's a reason for the discrepancy from the paper. I filed https://github.com/stan-dev/rstan/issues/712, but that's as far as I got.

[2020-01-13 07:42] ahartikainen commented on #959
Yes, that is one way to do it.

We should probably list the plots that needs these limits (either x-axis, y-axis or both).

Some plots don't need these limits (pair_plot for example)

[2020-01-13 11:25] OriolAbril commented on #956
@mrinalnilotpal Definitely!

[2020-01-13 17:45] percygautam commented on #986
Hey @OriolAbril , I am working on this issue as there is no response from @Anjali167-sopho yet !
Can you please provide more description of issue?

[2020-01-13 18:07] OriolAbril opened #992 "integrate point_estimate rcParam"
## Tell us about it

`plot.point_estimate` has a default value in rcParams which is not yet used. Some plotting functions include a `point_estimate` kwarg to summarize the distribution and help its interpretation. `point_estimate` can take 4 possible values: mean, median, mode or `None`.

Part of #792

## Thoughts on implementation

`point_estimate` is currently hardcoded to have mean as its defau

[2020-01-13 18:19] OriolAbril commented on #986
rcParams allow ArviZ to have user customizable defaults like matplotlib. A more in depth description on how are they implemented in ArviZ can be found in #792. This issue indicates that `stats.credible_interval` is half-way of being usable. rcParams already contains a default value for it, but this value is only stored there. No plotting nor stats functions use it yet.

The aim of this issue is to

[2020-01-13 18:21] OriolAbril commented on #986
Regarding @Anjali167-sopho, maybe it is best to wait some days before taking over in case she already started working on it. #992 is a very similar issue with nobody assigned for now.

[2020-01-13 18:44] nitishp25 commented on #992
I would like to work on this :)

[2020-01-13 18:50] percygautam commented on #992
I'll like to work on this issue

[2020-01-13 18:56] percygautam commented on #986
Thanks @OriolAbril , I have started working on #992 . I have also partially completed this issue. Let's see if @Anjali167-sopho is working or not. After some weeks I'll come back to this issue.

[2020-01-13 19:14] nitishp25 commented on #992
Oh I wasn't aware of that. Please go ahead.

[2020-01-13 19:21] Shashankjain12 commented on #985
@OriolAbril I am not able to understand why my Travis CLI fails with
Bash exited with code '1'. Could you please help me what I can do to remove this error and pass all the checks

[2020-01-13 19:39] percygautam commented on #992
Hey @OriolAbril , I only found  densityplot() and posteriorplot() functions to have plot.point_estimate kwarg. Are there other plotting function that need to be changed?

[2020-01-13 19:54] nitishp25 commented on #858
I've fixed this in PR #991. Ready to merge :)

[2020-01-13 22:05] percygautam commented on #821
@OriolAbril I'd like to complete this task. I'd worked with jointplot before and am familiar with its params. Do I need to only update docstring or also add extra examples? I personally think examples are good enough, we just need to provide an explanation.

[2020-01-13 22:07] percygautam commented on #812
@junpenglao @OriolAbril Do we just need to upgrade TF1 to TF2 in first task? Can we follow this [guide?](https://www.tensorflow.org/guide/migrate)

[2020-01-13 22:10] OriolAbril commented on #821
Only docstring needs to be updated

[2020-01-13 22:13] OriolAbril commented on #812
Yes, this guide is great reference

[2020-01-13 22:16] percygautam commented on #821
Okay I'll update it as soon as I can.

[2020-01-13 22:16] percygautam commented on #812
Okay, thanks

[2020-01-13 22:39] ahartikainen opened #995 "Bokeh 2D kde, extra lines for contours"
In plot_kde with 2D output, there might be extralines.

Also it would need an option to either output contour lines only or the filled version. Similar as mpl case.

See lines in

https://arviz-devs.github.io/arviz/examples/bokeh/bokeh_plot_kde_2d.html

Not sure why they are there, but maybe the mpl contour function outputs the point order in some funny order or there are multiple same order lines

[2020-01-14 07:18] amukh18 commented on #843
Hello. I'd like to work on this issue!

[2020-01-14 11:46] nitishp25 commented on #959
Which plots do you think need this feature?

[2020-01-14 12:15] #858 closed

[2020-01-14 16:14] amukh18 commented on #843
@OriolAbril I am a bit confused about what I should do. When modifying the documentation for plot_ppc, as per this issue, do I directly add the code from the PyStan quickstart(with a citation) and display the error?Do I also add any additional information?

[2020-01-14 16:44] rpgoldman opened #998 "Question: Massage InferenceData for multi-variable model comparison?"
## Short Description

I have a PyMC3 model that is partitioned into 6 sub-models.  The observations are also partitioned into 6 subsets. This lets me apply different parameters based on the values of independent variables without complex indexing. I can't use mixing because there is no distribution over the independent variables.

I know model comparison only works for models with a single observe

[2020-01-14 16:45] rpgoldman commented on #987
#998 is a simple sub-problem here.

[2020-01-14 16:46] OriolAbril commented on #843
I would simply use the argument `data_pairs` in one of the examples of the example gallery and in one of the examples in the docstring.

With the inference data used to generate the docs it is not really necessary to use this argument, but it being shown can help the usage of `plot_ppc` with pystan objects (where `data_pairs` is needed).

[2020-01-14 17:03] OriolAbril commented on #998
I think it is, but for now it will be convoluted and unnecessarily much more complicated than it needs to be.

The first issue is getting the log_likelihood data from the PyMC3 model, for this you have to use the code in #794 (I can probably rebase and upload in some hours) or write/copy some function to get the log likelihood.

The second issue is ArviZ not accepting multiple log likelihood insta

[2020-01-14 17:27] ahartikainen commented on #998
Do you want to sum them together or compare invidually.

If you can extract each cell (use `arviz.utils.flat_inference_data_to_dict`) and then either create a new `InferenceData` with `from_dict` (log_likelihood as a vector) or create a new `InferenceData` for each variable.

Then compare pair(s).

[2020-01-14 17:28] ahartikainen opened #999 "Rename flat_inference_data_to_dict"
Rename `flat_inference_data_to_dict` to `flatten_inference_data_to_dict`.

Any opinions?

[2020-01-14 17:30] rpgoldman commented on #998
@ahartikainen I would like to compare the models as a whole (rather than comparing the submodels), so I think I want to do what @OriolAbril suggests: effectively concatenate all the observed random variables into one big random variable.  This is reasonable, because the observations are interchangeable by the model.

[2020-01-14 17:45] amukh18 commented on #843
Ok thank you for the clarification!

[2020-01-14 17:50] nitishp25 commented on #999
I would like to work on it, if it's fine :)

[2020-01-14 17:55] OriolAbril opened #1000 "Show API link en examples"
## Tell us about it

Currently each example in the gallery contains: an image, the code used to generate it, and a link to download the code. It would be great to add a link to the API section of the docs corresponding to the function used.

## Thoughts on implementation

This should happen automatically. A new feature should be added to `gallery_generator.py` using a reular expression to get the

[2020-01-14 18:05] #904 closed

[2020-01-15 01:13] OriolAbril commented on #86
Should this be closed?

[2020-01-15 01:18] OriolAbril commented on #246
I think this is mostly fixed using `make_ufunc` and `wrap_xarray_ufunc`, only `hpd` is missing (related to #855

[2020-01-15 01:28] OriolAbril commented on #395
Modifying the variables in the trace should result in no log likelihood data (because `logp_elemwise` cannot be called) and a warning instead of raising an error like happens now.

[2020-01-15 01:29] OriolAbril commented on #415
Should probably be added to #798 so it is clear what should be followed.

[2020-01-15 01:31] OriolAbril commented on #416
Is this still an issue?

[2020-01-15 01:32] OriolAbril commented on #420
Is this still an issue @aseyboldt ?

[2020-01-15 01:36] OriolAbril commented on #437
I'm closing this as it was fixed in #783

[2020-01-15 01:36] #437 closed

[2020-01-15 01:40] OriolAbril commented on #488
Is this still an issue?

[2020-01-15 01:57] OriolAbril opened #1002 "Add group keyword to plot_ppc"
In addition to posterior predictive checks, prior predictive checks are also a way to check if the desired regions of the parameter space are explored. Adding a group keyword (taking as values either `posterior` or `prior`) would allow to use data from the posterior predictive or prior predictive without much changes to the plotting code.

[2020-01-15 08:02] ahartikainen commented on #488
Kind of. Not sure how to fix this.

[2020-01-15 08:04] #86 closed

[2020-01-15 09:37] nitishp25 commented on #1002
Hi @OriolAbril, do you mean to say that we add a ```group``` argument in ```plot_ppc``` which can accept ```posterior``` or ```prior``` and then inside ```plot_ppc``` we check for the value of group in an if block and just assign the values to data accordingly? Or is there something else to be done?

[2020-01-15 09:46] OriolAbril commented on #1002
Exactly, the xarray dataset which is currenty named `posterior_predictive` and hardcoded to be the `posterior_predictive` group should be renamed to be `predictive_dataset` and contain the data from either prior predictive or posterior predictive depending on the group argument

[2020-01-15 09:53] nitishp25 commented on #1002
Alright, I'll start working on it.

[2020-01-15 11:44] #999 closed

[2020-01-15 12:32] amukh18 commented on #843
@OriolAbril I was trying to work with the first example. I understand that I have to extract data from the `observed_data` and `predictive_posterior` `xarray.Dataset` objects in the `InferenceData` object but I am not sure which attribute I should use. Could you please help me?

[2020-01-15 12:42] OriolAbril commented on #843
The code in the example gallery [plot_ppc example](https://arviz-devs.github.io/arviz/examples/matplotlib/mpl_plot_ppc.html) calls it using `az.plot_ppc(data, alpha=0.03, figsize=(12, 6), textsize=14)`, this can be changed to `az.plot_ppc(data, data_pairs={"obs": "obs"}, alpha=0.03, figsize=(12, 6), textsize=14)` because in this case the variables in observed data and posterior predictive have the

[2020-01-15 14:13] #821 closed

[2020-01-15 14:45] OriolAbril opened #1004 "Add group argument to plot_joint"
## Tell us about it

Add group argument (like the one present in plot density or plot posterior) to plot_joint

[2020-01-15 14:46] OriolAbril opened #1005 "Add group argument to plot pair"
## Tell us about it
Add a group argument (like the one in plot density) to plot pair.

Handling on divergences in this case may require extra modifications to plotting code.

[2020-01-15 14:54] amukh18 commented on #1004
I'd like to work on this issue!

[2020-01-15 15:16] amukh18 commented on #843
I understand. I will make the changes accordingly.

[2020-01-15 15:50] percygautam commented on #1005
@OriolAbril I'd like to work on this issue. Kindly guide me through it. Can you explain more about the divergence param.

[2020-01-15 16:12] ahartikainen commented on #1005
`posterior` --> `sample_stats`

`prior` --> `sample_stats_prior`

[2020-01-15 16:38] percygautam commented on #1005
@ahartikainen Thanks.

[2020-01-16 09:59] nitishp25 commented on #959
I'll be happy to solve if you can assist me @ahartikainen @OriolAbril :)

[2020-01-16 10:37] ahartikainen commented on #959
min-max for x and y:
- autocorrplot
- forestplot
- parallelplot
- traceplot (second axis)

Maybe others, but let's start with those.

Also there should be option to use limits or not to use.

@OriolAbril should we use `backend_config` or something similar as a keyword?

[2020-01-16 15:35] ColCarroll commented on #246
I'm going to close this, then, since it is an old issue. Feel free to reopen!

[2020-01-16 15:35] #246 closed

[2020-01-16 15:39] ColCarroll commented on #416
I _think_ it is, but I also think without checking:
- Docs are built on merge
- There is no rollback logic when building docs

In PyMC3 we do not build on merge, and someone just remembers to build and push docs every once in a while (like, after a release). You could imagine automating this, though!

[2020-01-16 20:18] percygautam commented on #415
@OriolAbril So, we have to extend the contribution guide about new links suggested by @canyon289 . This can also be added to the new PR template being added. Also, are you suggesting to change all docstrings to `mypy` format?

[2020-01-16 21:55] OriolAbril commented on #959
Sounds good

[2020-01-16 23:38] OriolAbril commented on #415
`mypy` is to be used in the code itself, not in the docstrings. See example below.

[code]

[2020-01-17 11:54] #1002 closed

[2020-01-17 16:25] nitishp25 commented on #959
So for autocorrplot, if we set ```axes[0, 0].x_range = DataRange1d(bounds="auto")``` and ```axes[0, 0].y_range = DataRange1d(bounds="auto")``` in line 62 [here](https://github.com/arviz-devs/arviz/blob/master/arviz/plots/backends/bokeh/autocorrplot.py#L62), will this be applicable to all the plots in the gridplot?

[2020-01-17 20:52] #992 closed

[2020-01-17 22:21] percygautam commented on #415
@OriolAbril Thanks for the clarification. I'll come back to this issue in some days. I'll first like to fully explore all the data types ( like 'InferenceData') as I seem to be lacking.

[2020-01-17 23:02] OriolAbril commented on #980
Changelog added in #1011

[2020-01-17 23:02] #980 closed

[2020-01-17 23:02] OriolAbril commented on #604
Changelog as a markdown file was added in #1011

[2020-01-17 23:02] #604 closed

[2020-01-18 12:33] Shashankjain12 commented on #984
So, @ahartikainen  is the ```make_label``` is fixed can I work on this issue now or is this issue dependant on some certain other function which needs to be fixed first?

[2020-01-18 12:55] ahartikainen commented on #984
You can work to fix `.sel` method. I think we need to rewrite the whole `make_label` function so you don't need to worry about it yet.

[2020-01-18 13:34] Shashankjain12 commented on #984
Ok thanks @ahartikainen :+1:

[2020-01-18 17:03] percygautam commented on #681
As I was studying about `inferenceData`, I also got confused here. I'd like to rectify this one.

[2020-01-18 17:38] #1005 closed

[2020-01-18 19:10] percygautam commented on #1000
@OriolAbril  I'd like to work on this issue.

[2020-01-18 20:56] percygautam commented on #812
@OriolAbril @junpenglao I have some doubts. Since there is no concept of placeholders in TF2. How are we going to work with data having placeholders?  We can simply convert a tensor object to ndarray using `tf.make_ndarray` if it do not contain any placeholders. Kindly guide me through it.

[2020-01-19 09:24] amukh18 commented on #982
I would like to work on this issue!

[2020-01-19 20:41] rpgoldman commented on #998
@OriolAbril I tried this, but it didn't work, because the code for `PyMC3Converter. _extract_log_likelihood()` does not populate this group if there is more than one observed RV:
[code]

I *think* it might be possible to build multiple `InferenceData` objects, one for each observed RV, by modifying the trace before saving it.  I'll report back if this works.

[2020-01-19 21:29] OriolAbril commented on #998
This is why I recommended using the code in #794

[2020-01-20 03:06] rpgoldman commented on #998
@OriolAbril Thanks for the reminder.  I will have a careful look at #794 tomorrow.

[2020-01-20 20:42] gimbo opened #1014 "SyntaxWarnings which should be UserWarnings (?)"
(I'm not sure if this is a bug _per se_, but it feels wrong to me — and I'm open to being wrong about that. I'm hesitant to report it as I'm a new user of arviz, but OTOH I'm an experienced enough python programmer that I thought perhaps I might have something to add. And if I don't, that's OK.)

In short, it seems to me that arviz is using `SyntaxWarning` in a bunch of places that have nothing to

[2020-01-20 20:54] ahartikainen commented on #1014
I think you are right. Do you want to create a PR?

[2020-01-20 21:11] #1004 closed

[2020-01-20 21:13] #985 closed

[2020-01-21 12:17] gimbo commented on #1014
OK, done: [PR 106](https://github.com/arviz-devs/arviz/pull/1016).

[2020-01-21 15:30] animesh-007 commented on #956
can anybody tell me which files I should look at in order to solve the issue?

[2020-01-21 16:47] amukh18 commented on #982
@nathanbraun May I please have a look at the code snippet in which you attempted to sample the posterior predictive distribution?

[2020-01-21 16:51] ahartikainen commented on #956
I think you would need to create a function that transforms certain colors (rgb, 'C{i}' syntax etc to hex)

These are for bokeh plots

[2020-01-21 17:10] aloctavodia opened #1018 "Add transform argument"
A transform argument will allow users to pass a function that will be applied to one or more variables. This is related to pymc-devs/pymc3#3420 and pymc-devs/pymc3#3626

[2020-01-21 17:22] amukh18 commented on #1018
I would like to work on this issue

[2020-01-21 18:13] #843 closed

[2020-01-21 18:25] aloctavodia commented on #956
matplotlib have some functions for color conversion. https://matplotlib.org/api/colors_api.html#functions

[2020-01-22 12:14] #986 closed

[2020-01-22 13:29] #1014 closed

[2020-01-22 13:36] percygautam commented on #954
@ahartikainen I have started learning about the bokeh plots. Point me if I'm wrong, If we take the example of densityplot, we have eight subplots for different schools. So, we have make only single plot by using interactive legends or bokeh widget( I think dropdown menu works best in this case) to alternate between school choices.
What exactly do you mean by subgroups? Can you explain further the

[2020-01-23 16:19] michaelosthege opened #1022 "Tuning samples are included in effective sample size"
**Describe the bug**
When a PyMC3 trace containing tuning samples (`pm.sample(…, discard_tuned_samples=False)`), and the effective sample size is calculated, the tuning samples are not excluded from that calculation.

All PyMC3 samplers record a sampler stat `"tune"` indicating if a sample is from the tuning phase or not.

**To Reproduce**

[code]

**Expected behavior**
Tuning samples should not b

[2020-01-23 17:47] fonnesbeck opened #1023 "plot_forest only plots first element"
I'm using ArviZ 0.6.1 on Debian Linux and Python 3.7, attempting to plot the trace of a vector of parameters derived from sampling a VI approximation. However, only the first element of the parameter vector is plotted:

![image](https://user-images.githubusercontent.com/81476/73009278-dd660300-3dd5-11ea-8d25-f69e296cbc90.png)

I can confirm that beta is indeed vector-valued:

![image](https://user

[2020-01-23 18:26] fonnesbeck commented on #1023
I can confirm that this also occurs on the current master.

[2020-01-23 18:42] ahartikainen commented on #1023
How do you transform your samples to inferencedata? We usually assume `chain,draw,*shape` for the input (or 1D, which is then just `draw` (maybe))

[2020-01-23 18:52] fonnesbeck commented on #1023
I'm just passing the result of `approx.sample()` to `plot_forest`, and that object is:

    <MultiTrace: 1 chains, 500 iterations, 8 variables>

[2020-01-23 18:53] fonnesbeck commented on #1023
Doing an explicit cast via `az.from_pymc3(vi_trace)` does not fix the problem.

[2020-01-23 19:18] aloctavodia commented on #1023
I can confirm this. It is also affecting other plots (but not summary). I can work on this, but not until tomorrow.

[2020-01-23 19:34] fonnesbeck commented on #1023
OK, cool--no rush. Glad its not just me.

[2020-01-23 19:36] percygautam commented on #950
@ahartikainen Should the new marker param takes only string as value(like `*` for asterisk and so on) or other values also like marker_name etc?
 I thinking of using switch call to different marker functions, as they all have same params, in `function_generator` helper function. Is my approach viable or is there any other method of doing it?

[2020-01-23 20:17] OriolAbril commented on #1023
Are all the variables in the `InferenceData`? What is the output of `az.from_pymc3(vi_trace).posterior`?

This seems to indicate the issue is in `plot_forest`, I just want to confirm `from_pymc3` is working fine.

[2020-01-23 20:50] ahartikainen commented on #950
We are currently using methods from `bokeh.plotting.figure` to plot different markers.

I think we could change our way of plotting so we would use explicitly `bokeh.models.markers`

https://docs.bokeh.org/en/latest/docs/reference/models/markers.html

So I think switch (btw, in python just use dictionary with `.get` method adding a default value) could work. We would have a function that takes in

[2020-01-23 21:06] fonnesbeck commented on #1023
Passing the trace to summary generates a table of all values, so since `from_pymc3` is being called there as well, it shouldn't be an issue with that function.

[2020-01-24 02:38] Dpananos opened #1026 "arviz.plot_joint does not accept group argument"
**Describe the bug**
When attempting to pass the `group` argument to `arviz.plot_joint`, an error is given

[code]

This despite the fact the docs list `group` as a keyword argument.

**To Reproduce**
Using python 3.7

[code]

**Expected behavior**
Plot the joint distribution from the given InferenceData group.

[2020-01-24 02:40] Dpananos commented on #1026
Oh, don't tell me this functionality was *just* committed three days ago...

[2020-01-24 07:45] OriolAbril commented on #1026
Yes, it has not been released yet, and currenty docs are built only for development version. Sorry about the misunderstanding

[2020-01-24 07:47] #1026 closed

[2020-01-24 13:54] aloctavodia commented on #1022
Hi @michaelosthege

After an internal discussion we think we should not address this issue and intead we should let the user to directly selects the samples she/he pass to ArviZ. While we can auto-remove the tuned samples (from PyMC3) for diagnostics only this will be inconsistent. Also AFAIK, PyStan and emcee always return samples after tuning, thus this should be a PyMC3-exclusive feature also c

[2020-01-24 15:28] michaelosthege commented on #1022
Hi @aloctavodia,
Good point that they are not present by default.
What do you think about slicing the tuning samples into their own group in `InferenceData` when `arviz.from_pymc3()` is used?

e.g.

[code]

Then they would be excluded from the diagnostics (default behavior) but they won't get lost.

[2020-01-24 18:49] ahartikainen commented on #1022
Then we would also need to add

[2020-01-24 18:58] michaelosthege commented on #1022
Hm. That doesn't look nice either.
The thing is that I definitely have to save the tuning iterations for later debugging, but having to find out the number of tuning steps & slicing the `InferenceData` contents is also super inconvenient.

Is there a recommended way to attach additional metadata? (Package version, duration of sampling, ...)

[2020-01-24 19:00] aloctavodia commented on #1022
I think it is better to use xarray selection options.

[code]

Or something like

[code]

We have a GSoC [project](https://github.com/arviz-devs/arviz/wiki/GSoC-2020-projects#extend-InferenceData-capabilities) that will potentially make these type of selections easier and/or more powerful.

[2020-01-24 19:14] michaelosthege commented on #1022
Thanks, I'll see how far I can get with this.

[2020-01-24 19:14] #1022 closed

[2020-01-25 16:25] amukh18 commented on #982
@OriolAbril I am not able to introduce the posterior_predictive group to the `InferenceData` object required for `plot_ppc`. Could you please give me some suggestions?

[2020-01-25 20:12] OriolAbril commented on #982
The [cookbook example](https://arviz-devs.github.io/arviz/notebooks/InferenceDataCookbook.html#From-pymc3) will probably help you. Note that to obtain posterior predictive samples, `pm.sample_posterior_predictive` must be called.

[2020-01-26 02:31] #1000 closed

[2020-01-26 07:06] amukh18 commented on #982
@OriolAbril I was able to reproduce the error with the help of the resource you linked me to. Thank you!

[2020-01-26 19:59] OriolAbril opened #1030 "New predictions group!"
## Tell us about it

Two new groups were recently added to the `InferenceData` schema: [`predictions`](https://arviz-devs.github.io/arviz/schema/schema.html#predictions) and [`predictions_constant_data`](https://arviz-devs.github.io/arviz/schema/schema.html#predictions-constant-data). #983 added them in `from_pymc3`, however it is still pending for the other libraries.

Current status:

* [x] from

[2020-01-26 20:03] OriolAbril opened #1031 "plot_posterior writes auto instead of point estimate name"
**Describe the bug**
`plot_posterior` should write the name of the point estimate, however it currently writes `auto` if `auto` is passed as point estimate. This can be seen in the [docs example](https://arviz-devs.github.io/arviz/examples/matplotlib/mpl_plot_posterior.html)

**Expected behavior**
It should write the name of the point estimate used (taken from rcParams).

**Additional context**
Ar

[2020-01-26 20:15] ahartikainen commented on #1030
I think following `posterior_predictive` should be the correct

[2020-01-26 20:17] ahartikainen commented on #1030
For future, we need to think about how do we handle post-run generated_quantities.

[2020-01-26 20:30] nitishp25 commented on #1031
Hi @OriolAbril, I would like to work on this.

[2020-01-27 17:52] amukh18 commented on #982
@OriolAbril Would imputing the missing data in some way minimally affect the data and solve the problem or would it greatly affect the data and worsen the problem?

[2020-01-27 18:13] OriolAbril commented on #982
Sorry, I don't understand the question

[2020-01-27 18:17] ahartikainen commented on #982
Imputing data is big no-no :)

https://mc-stan.org/docs/2_21/stan-users-guide/missing-data.html

[2020-01-28 15:31] amukh18 commented on #1018
@aloctavodia Could you please give me a brief description of what "transformation of an MCMC sample" means?

[2020-01-28 16:38] amukh18 commented on #982
@OriolAbril I meant to ask if imputing the data would be of any help. @ahartikainen could you please tell me what "model is vectorised". I am also confused about how creating two different distribution variables for existing values and missing values helps here.

[2020-01-28 18:31] amukh18 commented on #1018
@aloctavodia I would also be grateful if you could link me to some resources that may give me an idea of what the transform function should do.

[2020-01-28 18:51] ahartikainen commented on #1018
Like `np.log` or `np.exp` done for the samples. So basically any transformation which might eat one more "variables" and outputs a new variable / variables.

[2020-01-28 21:37] percygautam commented on #950
@ahartikainen @OriolAbril I have implemented the Marker option for `eloped_plot` (type of scatter plot). I am getting something like this:
![Screenshot 2020-01-29 at 2 54 46 AM](https://user-images.githubusercontent.com/20489158/73307164-b11e0c80-4243-11ea-808e-624c7a0b64d9.png)
![Screenshot 2020-01-29 at 2 55 28 AM](https://user-images.githubusercontent.com/20489158/73307221-cd21ae00-4243-11ea-94

[2020-01-29 12:15] aloctavodia commented on #1018
@amukh18 check [this](https://github.com/arviz-devs/arviz/blob/e23665cbda1e9cfcbee87a5aa70b601eeb74031a/arviz/plots/traceplot.py) from an early version of arviz

[2020-01-29 14:07] amukh18 commented on #1018
@ahartikainen  I understand. Thank you!

[2020-01-29 14:08] amukh18 commented on #1018
@aloctavodia So for the new argument would I need to create something like a new `identity_transform` function?

[2020-01-29 14:38] ahartikainen commented on #1018
I think it could be None by default (==identity_transform) and not do any transformations.

[2020-01-29 15:29] aloctavodia commented on #1023
Closing as fixed by #1027

[2020-01-29 15:29] #1023 closed

[2020-01-29 17:31] amukh18 commented on #952
@ahartikainen I am unable to find the current default hover settings. I looked in the bokeh backend files but I wasn't able to find them. Do you know where I could find them?

[2020-01-29 18:43] percygautam commented on #552
@OriolAbril Picking up the work left by @Shashankjain12 . Hope that's okay.

[2020-01-29 20:18] percygautam commented on #927
@OriolAbril @ahartikainen Should we add `plt.show()` for the example matplotlib files for now?

[2020-01-29 20:44] ahartikainen commented on #927
@OriolAbril should we set `show=True` for the last arviz plot function or call `plt.show` if plots are further customized?

[2020-01-29 20:50] OriolAbril commented on #927
I think `plt.show` will be better. It would have to be removed when building docs so it is probably better to stick always to the same pattern.

[2020-01-30 13:17] #1031 closed

[2020-02-01 08:51] ahartikainen commented on #952
It uses default by bokeh. We would nedd to create a custom hover tooltip. I think it needs to use ColumnDataSource.

[2020-02-01 09:37] Shashankjain12 commented on #984
So, @OriolAbril and @ahartikainen we need to change summary function index_origin parameter to rc_params data.index_orign default parameter instead of None for now

[2020-02-01 17:53] OriolAbril commented on #984
`None` is used to indicate the value in rcParams must be used, it used to be hardcoded to 1. This was fixed by @ahartikainen while working on a related issue in summary:

Therefore summary does not need to be modified.

We want to keep 0 as the default, to follow Python indexation, and internally we will always used 0 indexed values. The option to use 1 as index origin is a visualization aid for u

[2020-02-03 17:04] OriolAbril opened #1041 "matplotlib kwarg de-aliasing helper function"
## Tell us about it

There are many kwarg arguments in matplotlib that accept an alias, which can get quite messy when ArviZ sets default values for them. I propose to pass the kwarg dicts through this helper function and then always work internally with the complete name.

## Thoughts on implementation

Use a matplotlib internal function if it exists? Otherwise we should create one (or several, s

[2020-02-03 17:25] percygautam commented on #1041
I'll like to work on this one!

[2020-02-03 17:49] nitishp25 commented on #1030
Can I work on this?

[2020-02-03 17:53] OriolAbril commented on #1030
Yes! #1032 added predictions and predictions constant data to `from_pystan` (we forgot to link here) but there are still converters missing it.

[2020-02-03 20:30] junpenglao opened #1042 "Error with PyMC3 model that contains Potential"
**Describe the bug**
For PyMC3 model that contains Potential, io_pymc3 is attempting to call `eval()` without graph dependence.

**To Reproduce**
[code]
returns:
[code]

[2020-02-03 20:52] junpenglao commented on #1042
FWIW, `pm.Potential` are factors added to the log_prob, we should not consider it in the trace and it is not observed. It is safe to exclude these.

[2020-02-03 21:01] OriolAbril commented on #786
Possible reference: http://xarray.pydata.org/en/stable/examples/apply_ufunc_vectorize_1d.html

[2020-02-04 09:09] OriolAbril commented on #1042
@junpenglao Do you mind if we reopen the issue as a remainder of including this to the changelog?

[2020-02-04 09:45] junpenglao commented on #1042
Sure.

[2020-02-04 11:53] aloctavodia commented on #1042
added to changelog

[2020-02-04 11:53] #1042 closed

[2020-02-04 12:08] aloctavodia commented on #197
Any update on this?

[2020-02-04 16:19] corriebar commented on #1002
I just tried to use the ppc plot for priors and running the following code, I get an error:

[code]

[2020-02-04 17:56] OriolAbril commented on #1002
There are actually two issues hidden here, one related to observed data and the other to prior predictive.

`plot_ppc` compares `{prior/posterior}_predictive` with `observed_data` group. Using `pm_data = az.from_pymc3(prior = priors)` you will get an InferenceData without observed data. This one should be easy to solve by using `pm_data = az.from_pymc3(prior = priors, model=model)` (or calling `fr

[2020-02-05 07:17] amukh18 commented on #952
Do you mean something like this ?: https://www.programcreek.com/python/example/106843/bokeh.models.HoverTool So I think I would have to add similar code to all the bokeh backend files

[2020-02-05 08:37] corriebar commented on #1002
I tried by adding the model, but the error stays the same.
It only works when adding the trace, then it also doesn't matter if the model was provided or not.

Also, the inference object only gets the prior_predictive object if I add a trace, having the model or not doesn't seem to make much of a difference.
Providing only the prior (with or without model) only adds the prior object to InferenceDat

[2020-02-05 13:41] amukh18 commented on #756
I would like to work on this issue

[2020-02-05 13:55] percygautam commented on #756
@amukh18  I am working on this issue for some days now, and have completed `matplotlib` implementation. I was waiting for my other PRs to be merged.
I deeply apologize for not specifying beforehand that I am working on this issue. I will be careful to not repeat this behavior in the future. Hope you understand.

[2020-02-05 14:02] amukh18 commented on #756
Alright

[2020-02-05 14:15] amukh18 commented on #951
I would like to work on this issue

[2020-02-05 14:47] VincentBt commented on #796
#1044 does it for numpyro and pyro

[2020-02-05 15:00] nitishp25 commented on #1030
@OriolAbril which converters are you referring to? The ```predictions_to_xarray``` and ```predictions_constant_data_to_xarray``` are already present

[2020-02-05 15:42] OriolAbril commented on #1030
Other converters such as `from_pyro`, `from_cmdstan` and other inference libraries allowing out-of- sample posterior predictive sampling.

[2020-02-05 18:46] VincentBt commented on #998
What do you suggest once you sent this concatenation of log_likelihood for all observed variables, to the waic function? Don't you need to sum the log_likelihoods at some point? See my comment [here](https://github.com/arviz-devs/arviz/pull/794#issuecomment-582551268).

[2020-02-05 19:02] OriolAbril commented on #998
After combining all the log_likelihood data into a single array (stored in `sample_stats.log_likelihood`), waic and loo will calculate the IC assuming all observations are conditionally independent (or independent, I am not completely sure, I have not found time to do the math), waic and loo already worked with n-dimensional arrays. If this is your case, then the results will be correct, otherwise

[2020-02-05 21:15] MooersLab opened #1048 "Cookbook entry for cmdstanpy outdated"
**Describe the bug**

The "Inference Data Cookbook" is outdated for CmdStanPy.

This no longer works:
[code]

Replace with

[code]
and then replace in the code below `Model` with `CmdStanModel`.

`StanFit` is no longer needed.

[2020-02-06 02:50] amukh18 commented on #1048
I would like to work on this!

[2020-02-06 11:58] #927 closed

[2020-02-06 20:01] #1018 closed

[2020-02-06 20:26] OriolAbril opened #1051 "Test numba algorithms"
Test numba implementation gives the same result as non-numba one. Most of the code between numba version and non numba version is common, but there are still details which may result in different results (see #1023 and  #1027 for a diverging behaviour example, another possible difference in behaviour is calculating variances with different ddof)

[2020-02-07 16:39] nitishp25 commented on #1030
Should the ```predictions``` implementation in ```from_pyro``` also follow the ```posterior_predictive``` implementation?

Also, it doesn't seem to have ```constant_data``` so ```predictions_constant_data``` and ```constant_data``` both are to be added?

[2020-02-07 22:52] #959 closed

[2020-02-07 23:10] OriolAbril opened #1053 "Explain naming convention in sample_stats"
The section on sample stats group in [InferenceData scheme](https://arviz-devs.github.io/arviz/schema/schema.html#sample-stats) is missing a description of the naming convention and what does every variable represents.

The bullet points should be extended with variables still missing and all explanations added/improved. After this is done, it may be interesting to have something like [`SUPPORTED_

[2020-02-07 23:14] OriolAbril commented on #1030
I don't really know the details of pyro well enough, I don't know if it is even possible or if this data is stored in pyro. A good start would be to replicate the model and workflow in the [examples](https://arviz-devs.github.io/arviz/schema/schema.html#examples) used to illustrate the schema specification. There is a version in PyStan and in PyMC3 implementing the same model and populating all th

[2020-02-08 05:26] sahajsk21 commented on #956
Is this issue still to be resolved?

[2020-02-08 13:29] amukh18 commented on #952
@ahartikainen I am also not sure about what sort of defaults I should add for each plot

[2020-02-08 14:29] ahartikainen commented on #952
I guess it depends on the plot.

At least draw, chain and value info for plots with "raw" data.

[2020-02-09 03:53] pawanakhil commented on #1048
Can I work on this ?

[2020-02-09 04:32] amukh18 commented on #1048
@pawanakhil I apologise but I have already been working on this issue. I was fixing some errors in my local repo before making a pull request.

[2020-02-09 04:44] pawanakhil commented on #1048
@amukh18  Hey buddy I accept  , but  I am new to this world of opensource and want to make by first contribution. So , this open issue found easy for me as it requires only change in InferenceDataCookbook.ipynb and check for errors if any. Can you please allow me to do so ?

[2020-02-09 04:54] amukh18 commented on #1048
@pawanakhil Ok. Please go ahead. And welcome to open source!

[2020-02-09 05:29] amukh18 commented on #951
@ahartikainen Could you please give me a brief overview of how the data would be entered?

[2020-02-09 11:58] rohitsanj opened #1055 "Tensorflow style guide link is broken in CONTRIBUTING.md"
The link for Tensorflow style guide in https://github.com/arviz-devs/arviz/blob/master/CONTRIBUTING.md is broken.

The updated link is https://www.tensorflow.org/community/contribute/code_style

[2020-02-09 15:49] canyon289 commented on #1048
@pawanakhil and @amukh18 We're excited that you both want to work on this PR, and @pawanakhil super excited you want to make your first contribution.

Typically though if someone claims and issue and has a PR open the issue has been claimed. @pawanakhil in this case I'm going to reopen @amukh18's pull request. Once his merged you're welcome to pull down master and add on your changes as well!

[2020-02-09 15:53] canyon289 commented on #1048
@pawanakhil A great issue you can work on is adding inline examples to to psislw. It is also a relatively straightforward contribution and I'd be happy to talk you through it. Will create an issue for you to claim if you like! https://arviz-devs.github.io/arviz/generated/arviz.psislw.html#arviz.psislw

[2020-02-09 15:55] canyon289 opened #1057 "Add inline example to psislw"
Add inline docs to psislw. @pawanakhil You're welcome to claim this one first!

https://arviz-devs.github.io/arviz/generated/arviz.psislw.html#arviz.psislw

[2020-02-09 17:05] OriolAbril commented on #956
@mrinalnilotpal @animesh-007 @sahajsk21 It is still pending. Just to make sure it is clear what this PR entails, I'll try to extend the description. The goal is to have some easy way to convert all kinds of colors used by matplotlib (such as `C0, C1` to refer to default colors in prop_cycle, named colors, single letter color abbreviations, rgb...) to hex in order to use them in bokeh. Then, modify

[2020-02-09 18:42] nitishp25 commented on #1053
Hi @OriolAbril, I found the [PyMC3 sample statistics](https://docs.pymc.io/notebooks/sampler-stats.html) description. Can I update the current descriptions with these ones?

[2020-02-09 20:01] OriolAbril commented on #1053
This is a good start! Good work, thanks

There are some things to be noted before starting: different libraries, different samplers and schema specification style.

First is to use ArviZ names, most will be the same, but some will differ (e.g. `model_logp -> lp`) it is currently not explained anywhere so you'll have to read `io_pymc3` and `io_pystan` to check the name used in ArviZ and that the na

[2020-02-10 00:53] sahajsk21 commented on #956
Thanks @OriolAbril I'll be working to solve this issue

[2020-02-10 01:36] pawanakhil commented on #1048
Oh thank you @canyon289. @amukh18 sorry for the inconvenience. Go ahead with it.

[2020-02-10 01:38] pawanakhil commented on #1057
Yeah  , I will work on this .

[2020-02-10 07:18] amukh18 commented on #1048
@pawanakhil Not at all!

[2020-02-10 09:07] rohitsanj commented on #197
@aloctavodia @OriolAbril
I'd like to look into this issue.

I think it is a great idea to use `lru_cache` to speed up repetitive func calls.

[2020-02-10 14:55] nitishp25 commented on #1053
@ahartikainen can you please explain what ```n_leapfrog``` describes?

[2020-02-10 15:10] OriolAbril opened #1060 "Build docs in Azure"
## Tell us about it

Move automatic generation of documentation to Azure. Related to #896, as explained there, the solution should ideally build development version docs and (given some condition, github tag...) build the release docs.

[2020-02-10 15:11] OriolAbril opened #1061 "Add coverage check in PRs"
## Tell us about it
Add coverage check for PRs via Azure (either Azure alone if it were to work, via coveralls or codecov).

[2020-02-10 15:40] ahartikainen commented on #1053
Hi, see https://mc-stan.org/docs/2_22/reference-manual/hmc-algorithm-parameters.html

NUTS and its Configuration
The no-U-turn sampler (NUTS) automatically selects an appropriate number of leapfrog steps in each iteration in order to allow the proposals to traverse the posterior without doing unnecessary work.

[2020-02-10 15:41] #1048 closed

[2020-02-10 17:54] nitishp25 commented on #1053
Thanks for the help!

[2020-02-10 19:24] #1055 closed

[2020-02-10 20:40] #552 closed

[2020-02-10 22:16] OriolAbril commented on #947
Was this solved eventually? @rpgoldman

[2020-02-11 01:47] canyon289 commented on #1057
Great! This PR is a really good example on how to add extra examples to docs. https://github.com/canyon289/cargo_analysis/pull/1

Instructions on how to compile the docs should be in `CONTRIBUTING.md` if you run into issues feel free to reach out!

[2020-02-11 21:49] rpgoldman commented on #947
@OriolAbril Yes, I believe so.  The key step was to employ the model object, at which point we could use the theano graph to answer this question.

I'll close this ticket.

[2020-02-11 21:49] #947 closed

[2020-02-12 14:32] percygautam commented on #1041
I  found the kwarg normalization in matplotlib [here](https://github.com/matplotlib/matplotlib/blob/85a96fb38b0facd824b52e2ff45899a6b0a071d7/lib/matplotlib/cbook/__init__.py#L1717). This function is then used like this [here](https://github.com/matplotlib/matplotlib/blob/85a96fb38b0facd824b52e2ff45899a6b0a071d7/lib/matplotlib/artist.py#L1077) to set properties.
Are we looking for something like th

[2020-02-12 15:06] ahartikainen commented on #1041
Yes, something similar.

[2020-02-12 22:20] OriolAbril opened #1066 "InferenceData extensions [Discussion]"
`InferenceData` objects are central to ArviZ, and even though a common subset of tasks using InferenceData can be done directly with ArviZ plotting and stats functions, any task that deviates from this becomes more and more convoluted and long.

The aim of this issue is to start a discussion about new capabilities to add to `InferenceData` and generate a proposal (which will be added to [xarray_ex

[2020-02-13 10:47] aakhmetz commented on #988
Sorry, but I still have this warning with the latest github-version of arviz
[code]
gives the warning:
[code]

[2020-02-13 11:13] ahartikainen commented on #988
How did you install latest github version?

[2020-02-13 11:14] aakhmetz commented on #988
by ```pip install git+https://github.com/arviz-devs/arviz```

[2020-02-13 12:08] ahartikainen commented on #988
Hmm what does this say?

    which pip

or can you try

    python -m pip install git+https://github.com/arviz-devs/arviz

[2020-02-13 12:35] aakhmetz commented on #988
```which pip``` gives ```/home/aakhmetz/anaconda3/bin/pip```

[2020-02-13 12:45] percygautam commented on #1041
Hey, I was working some examples in the [cookbook](https://github.com/percygautam/arviz-examples/blob/master/de-Aliasing%20helper%20function.ipynb). Can you please confirm this is what we are looking for.
Also, Should we create multiple `de-aliaser` dicts or just add all in one ? Even if user add some wrong kwarg, matplotlib can handle the errors.

[2020-02-13 12:55] ahartikainen commented on #988
Interesting. I can not reproduce your example.

[2020-02-13 14:28] ahartikainen commented on #1030
`from_cmdstan` and `from_cmdstanpy` are implemented in #1064

[2020-02-13 14:31] #756 closed

[2020-02-13 16:24] nitishp25 commented on #1030
Hi, I was trying to implement [this](https://arviz-devs.github.io/arviz/schema/PyMC3_schema_example.html) example in Pyro. I have come up with [this](https://github.com/nitishp25/arviz-playground/blob/master/arviz-pyro-example.ipynb) so far but as you can see I have incorrect dimensions in the InferenceData. Can you please help me understand what's the problem?

[2020-02-13 17:00] OriolAbril commented on #1030
The dimension looks ok (the extra dims are 1, the data contained there looks correct). Maybe it is an issue with a missing squeeze?

Also, it looks like you have no log_likelihood group, are you using latest pyro release and arviz master?

[2020-02-13 18:07] aakhmetz commented on #988
Yes, I was quite unsure whether I need to post, but I have had that message
on one of my ubuntu workstations, and it continued to re-appear even when I
reinstalled both pymc3 and arviz. It looks like there is something wrong
with my installation.

Thank you for checking!

On Thu, 13 Feb 2020 at 21:55, Ari Hartikainen <notifications@github.com>
wrote:

[2020-02-14 10:27] amukh18 commented on #952
@ahartikainen I was going to work on the plot_ppc function as a function to start with but I don't understand how to extract the coordinates for the InferenceData object since it already seems to be heavily processed when it gets to using the bokeh backend file(especially the xarray_var_iter part). Could you please help me?

[2020-02-14 14:50] nitishp25 commented on #1030
If you compare it with the [PyMC3 example](https://arviz-devs.github.io/arviz/schema/PyMC3_schema_example.html) then the ```prior``` and ```log_likelihood``` have different dimensions right? I don't understand how the parameters have entered the ```prior``` dimensions.

I had not updated arviz but now I have and you can [review again](https://github.com/nitishp25/arviz-playground/blob/master/arviz

[2020-02-14 15:01] OriolAbril commented on #1030
In the case of log_likelihood it looks like an error of dimension handling in io_pyro. In the case of the prior, all extra dimensions (b0_dim_o, c1_dim_0,...) have length 1 which is why I believe a squeeze may solve the "problem". The data is the same for both a shape `(2,)` array `[3, 4]` and a shape `(2,1)` array `[[3], [4]]`

[2020-02-14 15:49] OriolAbril commented on #1030
I was reading the code from my mobile on the train, so double check and it looks like log likelihood to xarray uses dims instead of self.dims, should be an easy fix.

I am a little bit puzzled by the extra dims in prior, a squeeze (before adding the chain dim) should solve the issue, but they probably shold not be there to begin with

[2020-02-14 16:24] nitishp25 commented on #1030
Got it.

Does it have anything to do with my implementation? I don't have much experience with Pyro.
I'll still keep looking for something in ```io_pyro```.

[2020-02-14 16:34] ahartikainen commented on #1030
Is posterior squeezing the input in io_pyro?

In Pyro 1D arrays are actually 2D with last dimension being 1. --> column vector

[2020-02-14 16:37] amukh18 commented on #951
So the output should be an InferenceData object which we pass to the plotting functions ?

[2020-02-14 16:58] amukh18 commented on #952
More specifically, I am unable to understand how the coordinates are stored after the iterator has been created and passed to the backend file

[2020-02-14 17:18] ahartikainen commented on #951
I will need to show you one example. I think I have that function somewhere (inferencedata to cds)

[2020-02-14 17:28] amukh18 commented on #951
This one ?:https://github.com/arviz-devs/arviz/pull/981 I am currently going through this

[2020-02-14 20:51] ahartikainen commented on #952
I would start from a function that already uses ColumnDataSource, and see how that can be used. First demo does not need chain and draw info first.

[2020-02-14 20:54] ahartikainen commented on #951
Yes, that one.

I think we could see if that could be used (or is it already used) in the bokeh plotting function.

If it is already used, we could add a possibility include cds in some dictionary/argument (probably in backend_kwargs) and if present, use it instead of CDS created in the function.

Let's think how to handle density-based plots later.

[2020-02-14 20:55] #950 closed

[2020-02-15 08:00] nitishp25 commented on #1030
There seems to be no squeeze for posterior.

Yes, I just checked the shape of ```prior``` that is passed to ```from_pyro``` and it is (400, 1). Calling ```expand_dims``` on this makes its shape (1, 400, 1). I think this is causing the extra dim right?

[2020-02-15 16:03] amukh18 commented on #951
I am a little confused. I was looking at the bokeh backend file for plot_trace and I think there are already some lines of code that convert the InferenceData object to ColumnDataSource in that file itself.

[2020-02-15 16:24] ahartikainen commented on #951
Yeah, this is probably much more involved thing that it seems at first, I think I will maybe implement this.

[2020-02-15 16:27] amukh18 commented on #951
@ahartikainen Okay

[2020-02-15 16:35] amukh18 commented on #951
@ahartikainen Or Is there any way I could implement at least part of this? I think it would help me learn about Arviz's backend system better

[2020-02-15 16:36] ahartikainen commented on #951
Yes, we can implement this together. Let me give you instructions where we start in a few hours

[2020-02-15 18:26] amukh18 commented on #952
Do you mean I should begin with special fields like $x and $y for the canvas coordinates?

[2020-02-15 18:28] amukh18 commented on #951
Thank you! I look forward to working on this issue

[2020-02-15 19:43] ahartikainen commented on #951
Ok, I did some inspection for our plotting code, and it is certainly not ready for this feature.

I think we really need to do some serious rewriting to enable this.

I think it is better to focus on other issues for now.

cc @OriolAbril

[2020-02-15 20:05] amukh18 commented on #951
I understand. I will continue my work on the other issues.

[2020-02-15 20:06] ahartikainen commented on #952
Ok, let's think about how we could implement this for `plot_pair` for (for scatter)

https://github.com/arviz-devs/arviz/blob/master/arviz/plots/backends/bokeh/pairplot.py

Currently hover just shows coordinate information, what is not optimal, in optimal case we want to see the value information + draw and chain info ( maybe some other info too)

So to start with point location against both varia

[2020-02-16 05:13] percygautam commented on #1041
@ahartikainen Should I make different functions for scatter plots and other plots, or use conditionals in one function?

[2020-02-16 07:08] percygautam commented on #929
@ahartikainen I don't understand, why we are plotting line if a string is passed `[lines, positions]`. Is this the required behavior? I understand that lines are used to check some behaviors (deviation of kde from one point (say mean, median, etc)), but for what cases, we'll need to pass the string for positions?

[2020-02-17 15:08] nitishp25 commented on #1030
Hi, I am now looking to get predictions on new data but what I get is the data has shape of ```posterior_predictive``` even though the new data has different shape than the one passed to get ```posterior```. I've even tried to remove ```pyro.plate``` or use ```for loop``` instead and also used ```guide``` but the results were same.

It seems like everytime you need new predictions you generate a n

[2020-02-17 17:47] OriolAbril commented on #1030
@nitishp25 I don't know how to fix this, as I said above I don't even know if it is possible to get out of sample posterior predictive samples (what we shortened to predictions) in Pyro. If you want to keep working on this maybe [their forum](https://forum.pyro.ai/) is good place to get some help.

Side comment: I was looking at `posterior_predictive` and `prior_predictive` groups and it looks lik

[2020-02-17 17:55] OriolAbril commented on #929
Sounds gook, one option for checking the list is to check the dtype of `line_values` after the atleast_1d to make sure the array contains numeric values. One possibility is to follow this [SO answer](https://stackoverflow.com/questions/29518923/numpy-asarray-how-to-check-up-that-its-result-dtype-is-numeric).

[2020-02-17 19:47] percygautam commented on #929
Okay, I'd go with that. Also, I'd add the warning for the case of variable or coordinate name that do not exist (as pointed in issue description)

[2020-02-17 23:32] percygautam commented on #855
I'll like to work on this.

[2020-02-17 23:33] percygautam commented on #749
I'll like to work on this.

[2020-02-17 23:42] ColCarroll commented on #749
Feel free to ping me if you want any help! I think the scales and the layout will be the hardest thing...

[2020-02-18 07:47] nitishp25 commented on #1030
I have asked [these questions](https://forum.pyro.ai/t/out-of-sample-predictions-in-pyro/1620) on their forum. I'll wait for the reply.

[2020-02-18 10:58] OriolAbril opened #1077 "Memory issues with log likelihood in io_pymc3"
In the presence of a large number of observations, the log likelihood array cannot be created due to memory limitations. This is partly due to the fact that the code to store log likelihood values in io_pymc3 relies on growing lists inside loops which is not memory efficient and it could even reach the point of the log likelihood not fitting in memory.

I propose a 2 part solution, which afterward

[2020-02-18 16:12] canyon289 opened #1078 "Automatic Wheel Build in CI for Releases"
## Tell us about it
When we cut a release branch it would be nice for CI to build us a fresh wheel that we can locally upload to pypi

## Thoughts on implementation
Modify the azure yml file to include a build pipeline that only triggers on release branch merge
Have that pipeline build a wheel that can be downloaded

cc @ahartikainen

[2020-02-18 17:57] amukh18 commented on #956
@OriolAbril  I think this issue has been inactive for a while. Could I work on it?

[2020-02-18 18:02] OriolAbril commented on #956
@sahajsk21 do you still plan to work on this?

[2020-02-19 00:29] sahajsk21 commented on #956
@amukh18 @OriolAbril I have been working on issue so he can take up the issue.Thanks

[2020-02-19 00:50] OriolAbril commented on #956
Could there be a typo so the message is this? @sahajsk21 There is no rush, work at your own pace, this is why we ask :).

Sorry if my previous wording sounded harsh, it wasn't the intention. Also, please let us know if you were to need any help

[2020-02-19 02:48] sahajsk21 commented on #956
@OriolAbril No it wasn't a typo. Don't worry, I didn't take the comment in the negative sense. Actually, I have been going through the code and making myself familiar first before working on the issue. That is why it is taking so long.
But I think @amukh18 can still take up this issue.

[2020-02-19 09:05] nitishp25 commented on #1077
Will this argument contain a list of variables for which we calculate log_likelihood?

[2020-02-19 15:03] OriolAbril commented on #1077
I am not sure about this, I think errors when present will affect all variables altogether, but it could make sense as a memory saving measure.

[2020-02-19 15:53] nitishp25 commented on #1077
Yes I mean keeping it None as default will avoid generating ```log_likelihood``` but the second part of memory pre-allocation will have some effect in preventing errors right? (when the user will input the variables for ```log_likelihood```) If not then we can use dask arrays instead of numpy?

[2020-02-19 16:16] amukh18 commented on #956
@sahajsk21 @OriolAbril Thank you. I'll begin working on it right away.

[2020-02-19 20:28] OriolAbril commented on #1077
I am not sure I follow, sorry, maybe I could have been more clear from the start. There are actually two issues in one here:

The first is with memory usage. From this side, the code does work, but it is not very efficient with memory usage. This could eventually end up raising a MemoryError, but in general what happens is that the computer freezes (one example [here](https://discourse.pymc.io/t/p

[2020-02-20 05:12] nitishp25 commented on #1077
Sorry now I understand. Actually I was going through the ```log_likelihood``` argument of ```from_pystan``` and I thought something similar would work here, wasn't aware of the issues ```log_likelihood``` created in PyMC3.

So you're saying that a small fix for now can be to have a boolean argument which defaults to True (compute log_likelihood for all vars) and when False (do not compute log_like

[2020-02-20 09:32] OriolAbril commented on #1077
Yep, we could extend the boolean to accepting boolean or list of var_names, but always defaulting to True or a truish thing. It is tricky though for me on how to not confuse users, in data functions, using None means no data in that group whereas using None in plots means all variables. :thinking:

[2020-02-20 09:34] #929 closed

[2020-02-20 11:25] nitishp25 commented on #1077
Maybe for plots set default of ```var_names``` to "all" and inside the code convert:
[code]
so that the user thinks all vars are plotting and our purpose is also solved? Though this can confuse developers I think

[2020-02-20 11:39] OriolAbril commented on #1077
The None is actually used for convenience (it is internally converted to the list of variable names with `_var_names(var_names, data)` most plots use this line at some point), I would not touch this it as things would get quite confusing, nobody seems to have any issue with var_names.

For this case it is probably better to use: `None` -> all vars; `list` -> vars in list, `False` -> skip log likel

[2020-02-20 15:16] OriolAbril commented on #953
I'll reopen in hopes of reminding myself some day to try interactive legend in `plot_trace`

[2020-02-20 15:22] OriolAbril commented on #796
#1064 did this for cmdstan and cmdstanpy. Only tensorflow_probability is missing